<!doctype html>
<html lang=ko>
<head>
<meta charset="UTF-8">
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width" />
<title>여수해상케이블카</title>
<link rel="stylesheet" href="http://static.cablecar.go.co.kr/css/reset.css" />
<link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css" />
</head>
<body>
	<div id="Wrapper">
		<img src="http://img.cablecar.go.co.kr/bg_intro.jpg" alt="섬과 육지를 연결하는 환상적인 전망의 여수해상케이블카" />
	</div>
</body>
</html>