<!doctype html>
<html lang=ko>
<head>
<meta charset="UTF-8">
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width" />
<title>덕구온천</title>
<link rel="stylesheet" href="http://static.cablecar.go.co.kr/css/reset.css" />
<link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css" />
<link rel="stylesheet" href="http://static.cablecar.go.co.kr/css/common.css" />
<link rel="stylesheet" href="http://static.cablecar.go.co.kr/css/login.css" />
<link rel="stylesheet" href="../../src/css/deokgu.css" />
<script type="text/javascript" src="http://static.cablecar.go.co.kr/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="http://static.cablecar.go.co.kr/js/common.js"></script>
</head>
<body>
	<div id="Wrapper">
		<header class="sub">
			<h1>로그인/예약확인</h1>
			<a href="#" class="btn_back">이전페이지</a>
			<a href="#" class="btn_close">닫기</a>
		</header>
		<div class="login">
			<ul class="login_list">
				<li class="facebook"><a href="#"><span>페이스북 아이디로 로그인</span></a></li>
				<li class="kakaotalk"><a href="#"><span>카카오톡 아이디로 로그인</span></a></li>
				<li class="daum"><a href="#"><span>다음 아이디로 로그인</span></a></li>
				<li class="naver"><a href="#"><span>네이버 아이디로 로그인</span></a></li>
				<li class="email"><a href="#"><span>이메일로 로그인</span></a></li>
			</ul>
			<div class="foot">
				<p>
					로그인/회원가입 시<br>
					<span class="line">이용약관</span>, <span class="line">개인정보처리방침</span>에 동의하게 됩니다.
				</p>
			</div>
			<div class="join">
				<a href="#">이메일로 가입하기</a>
			</div>
		</div>
		<div class="move_top">
			<a href="#"><img src="http://img.cablecar.go.co.kr/ico_move_top.png" alt="위로 가기" /></a>
		</div>
	</div>
</body>
</html>