<!doctype html>
<html lang=ko>
<head>
<meta charset="UTF-8">
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width" />
<title>온천엘리바덴</title>
<link rel="stylesheet" href="http://static.cablecar.go.co.kr/css/reset.css" />
<link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css" />
<link rel="stylesheet" href="http://static.cablecar.go.co.kr/css/common.css" />
<link rel="stylesheet" href="http://static.cablecar.go.co.kr/css/payment.css" />
<link rel="stylesheet" href="../../src/css/elybaden.css" />
<script type="text/javascript" src="http://static.cablecar.go.co.kr/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="http://static.cablecar.go.co.kr/js/common.js"></script>
</head>
<body>
	<div id="Wrapper" class="wrap">
		<header class="sub">
			<h1>결제하기</h1>
			<a href="#" class="btn_back">이전페이지</a>
			<a href="#" class="btn_close">닫기</a>
		</header>
		<div class="section">
			<div class="area">
				<div class="box card">
					<div class="caption">
						<p>상품정보</p>
					</div>
					<div class="cont">
						<dl class="goods">
							<dt><img src="../../src/img/img_goods01.jpg" alt="온천 엘리바덴 이용권" /></dt>
							<dd>
								<em>온천 엘리바덴 이용권</em>
								<ul>
									<li>
										주중/주말 종일권 | <strong>2매</strong>
										<ul>
											<li>2017.04.11 ~ 2017.05.31</li>
										</ul>
									</li>
								</ul>
							</dd>
						</dl>
					</div>
				</div>
				<div class="box card">
					<div class="caption">
						<p>예약자 정보</p>
						<span class="etc">이용하시는 분의 정보입력</span>
					</div>
					<div class="cont">
						<form action="">
							<fieldset>
								<legend>예약자 정보 입력</legend>
								<table class="board_write">
									<caption>예약자 정보</caption>
									<colgroup>
										<col style="width:80px;" />
										<col style="*;" />
									</colgroup>
									<tbody>
										<tr>
											<th scope="row"><label for="Name">예약자</label></th>
											<td><input type="text" title="예약자의 이름을 입력하세요" id="Name" class="txt_box" style="width:100%;" /></td>
										</tr>
										<tr>
											<th scope="row"><label for="Tell">연락처</label></th>
											<td><input type="text" title="연락처를 입력하세요" id="Tell" class="txt_box" style="width:100%;" /></td>
										</tr>
										<tr>
											<th scope="row"><label for="Email">이메일</label></th>
											<td><input type="text" title="이메일을 입력하세요" id="Email" class="txt_box" style="width:100%;" /></td>
										</tr>
										<tr>
											<th scope="row">예약날짜</th>
											<td>2017.04.30(토)</td>
										</tr>
									</tbody>
								</table>
							</fieldset>
						</form>
					</div>
				</div>
				<div class="box card">
					<div class="caption">
						<p>할인/결제정보</p>
					</div>
					<div class="cont">
						<table class="board_list">
							<caption>할인 및 결제정보</caption>
							<colgroup>
								<col style="width:80px;" />
								<col style="*;" />
							</colgroup>
							<tbody>
								<tr>
									<th scope="row">정상가</th>
									<td>21,000원</td>
								</tr>
								<tr>
									<th scope="row">즉시할인</th>
									<td>-1,500원</td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<th scope="row">총 결제금액</th>
									<td>20,500원</td>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>
				<div class="box card">
					<div class="caption">
						<p>결제수단 선택</p>
					</div>
					<div class="cont">
						<ul class="payment_list">
							<li class="ico01 on"><strong>신용카드 간편결제</strong>(개인,법인)</li>
							<li class="ico01"><strong>신용카드</strong>(개인 ISP인증,해외)</li>
							<li class="ico02"><strong>휴대폰 결제</strong></li>
							<li class="ico03"><strong>무통장입금</strong>(가상계좌)</li>
						</ul>
					</div>
				</div>
				<div class="btn_area">
					<a href="#" class="btn btn_type01">결제하기</a>
				</div>
			</div>
		</div>
		<footer>
			<a href="tel:1666-1243">고객센터 1666-1243</a>
			<p>운영시간 : 10시 ~ 18시(점심 12시 ~ 1시)</p>
		</footer>
		<ul class="quick">
			<li class="prev"><a href="#">이전</a></li>
			<li class="home"><a href="#">홈</a></li>
			<li class="list"><a href="#">예약내역</a></li>
			<li class="login"><a href="#">로그인</a></li>
		</ul>
		<div class="move_top">
			<a href="#"><img src="http://img.cablecar.go.co.kr/ico_move_top.png" alt="위로 가기" /></a>
		</div>
	</div>
</body>
</html>