@charset "utf-8";

.c-blue {color: #0051af;}

/* 디오션워터파크 디오션리조트배너 추가 170605 이현우 */
.bn_theocean { position:fixed; right:10px; top:20px; z-index:1000;}
.bn_theocean a {position:absolute; left:50%; top:64px; margin-left:-44px;}