<!doctype html>
<html lang=ko>
<head>
<meta charset="UTF-8">
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width" />
<title>여수해상케이블카</title>
<link rel="stylesheet" href="http://static.cablecar.go.co.kr/css/reset.css" />
<link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css" />
<link rel="stylesheet" href="http://static.cablecar.go.co.kr/css/common.css" />
<link rel="stylesheet" href="http://static.cablecar.go.co.kr/css/login.css" />
<script type="text/javascript" src="http://static.cablecar.go.co.kr/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="http://static.cablecar.go.co.kr/js/common.js"></script>
</head>
<body>
	<div id="Wrapper">
		<header class="sub">
			<h1>회원가입</h1>
			<a href="#" class="btn_back">이전페이지</a>
			<a href="#" class="btn_close">닫기</a>
		</header>
		<div class="login">
			<form action="">
				<fieldset>
					<legend>로그인 입력 영역</legend>
					<div class="input_form">
						<label for="Email">이메일</label>
						<input type="text" placeholder="이메일 주소를 입력해주세요" id="Email" class="txt_box" style="width:100%;" />
					</div>
					<div class="input_form">
						<div class="col2">
							<div>
								<label for="Password">비밀번호</label>
								<input type="password" placeholder="비밀번호 4자 이상" id="Password" class="txt_box" style="width:100%;" />
							</div>
							<div>
								<label for="Password_chk">비밀번호 확인</label>
								<input type="password" placeholder="비밀번호 4자 이상" id="Password_chk" class="txt_box" style="width:100%;" />
							</div>
						</div>
					</div>
					<div class="input_form">
						<label for="Name">이름</label>
						<input type="text" placeholder="필수입력(예약시 사용)" id="Name" class="txt_box" style="width:100%;" />
					</div>
					<div class="input_form">
						<label for="Phone">연락처</label>
						<input type="text" placeholder="필수입력(예약시 사용)" id="Phone" class="txt_box" style="width:100%;" />
					</div>
					<div class="foot">
						<p>이용약관, 개인정보처리방침 동의</p>
					</div>
					<div class="btn_area">
						<a href="#" class="btn btn_type01">동의하고 가입하기</a>
					</div>
				</fieldset>
			</form>
		</div>
		<div class="move_top">
			<a href="#"><img src="http://img.cablecar.go.co.kr/ico_move_top.png" alt="위로 가기" /></a>
		</div>
	</div>
</body>
</html>