<!DOCTYPE html>
<html lang="ko-KR">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0" />
	<title>문서 제목</title>

	<link rel="stylesheet" href="http://static.go.co.kr/css/swiper.min.css?ver=20170201154748" type="text/css"/>
	<link rel="stylesheet" href="http://static.go.co.kr/css/moblie_reset.css?ver=20170201154748" type="text/css"/>
	<!-- <link rel="stylesheet" href="http://static.go.co.kr/css/mobile_layout3.css?ver=20170201154748" type="text/css"/> -->
	<!-- <link rel="stylesheet" href="../../src/css/mobile_layout3_tmp.css" type="text/css"> -->
	<link rel="stylesheet" href="http://static.go.co.kr/css/mobile_layout3_tmp.css" type="text/css">

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

	<link rel="stylesheet" href="http://static.go.co.kr/css/jquery-ui.css" />
	<script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
	<!-- 달력 한글화 -->
	<script type="text/javascript" src="http://static.go.co.kr/js/datepicker_ko.js"></script>


</head>
<body>

<div id="search_titles">
		
		
		<!-- 리스트 노출영역 -->
		<div id="scroll_main" style="min-height:200px" class="hide_div"><script>$('#area_chk').val('no');</script><script>$('#total_count').text('6');</script><div id="search_list" style="padding-bottom:0"><table>
			<tbody><tr class="line">
				<td class="photo">
					<a href="/home/view/?p_no=GkpzFmk=&amp;sub_sdate=2017-02-01&amp;sub_edate=2017-02-02"><img width="90" height="80" src="http://file.go.co.kr/mobile/thumbnail/expedia_34357.jpg"></a><span class="recommend">추천상품</span>
				</td>
				<td class="info"><a href="/home/view/?p_no=GkpzFmk=&amp;sub_sdate=2017-02-01&amp;sub_edate=2017-02-02"><p class="title">앞산 비즈니스 호텔</p>
					<p class="text">대구 남구 대명동 1679-2 </p>
						<p class="wra" style="clear:right"><span class="icon"><img src="http://img.go.co.kr/mobile/icon_hotel.png" height="17px"> <img src="http://img.go.co.kr/mobile/icon_grade5.png" height="17px"></span>
						</p><div id="list_price01">					
							<ul>
								<li class="lowprice_list">63,200원  </li>
								<li class="type">숙박예약 </li>								
							</ul>				
						</div>
						<div class="summary" style="height:27px;width:98%"><p>Olleh Takgu Club 부근에 위치</p></div></a></td></tr>
			<tr class="line">
				<td class="photo">
					<a href="/home/view/?p_no=G0ZzE2kX&amp;sub_sdate=2017-02-01&amp;sub_edate=2017-02-02"><img width="90" height="80" src="http://cdn.pinspot.co.kr/place/10731/1440x1080/quL0XR7sh83c4FVQjtT5.jpg"></a><span class="recommend">추천상품</span>
				</td>
				<td class="info"><a href="/home/view/?p_no=G0ZzE2kX&amp;sub_sdate=2017-02-01&amp;sub_edate=2017-02-02"><p class="title">대구 영남</p>
					<p class="text">대구 남구 봉덕동 1302-3</p>
						<p class="wra" style="clear:right"><span class="icon"><img src="http://img.go.co.kr/mobile/icon_motel.png" height="17px"> </span>
							</p><div id="list_price01">					
								<ul>
									<li class="lowprice_list">15,300원 </li>
									<li class="type">대실예약 </li>					
								</ul>
							</div>
						<div id="list_price01">					
							<ul>
								<li class="lowprice_list">25,500원  </li>
								<li class="type">숙박예약 </li>								
							</ul>				
						</div>
						<div class="summary" style="height:27px;width:98%"><p>체크인 00:00:00 / 체크아웃 00:00:00</p><p></p></div></a></td></tr>
			<tr class="line">
				<td class="photo">
					<a href="/home/view/?p_no=G0ZzEWcX&amp;sub_sdate=2017-02-01&amp;sub_edate=2017-02-02"><img width="90" height="80" src="http://cdn.pinspot.co.kr/place/8697/1440x1080/WKXRfAOemCdMyrgvT6DB.jpg"></a><span class="recommend">추천상품</span>
				</td>
				<td class="info"><a href="/home/view/?p_no=G0ZzEWcX&amp;sub_sdate=2017-02-01&amp;sub_edate=2017-02-02"><p class="title">대구 봉덕동 S</p>
					<p class="text">대구 남구 봉덕동 1303-1</p>
						<p class="wra" style="clear:right"><span class="icon"><img src="http://img.go.co.kr/mobile/icon_motel.png" height="17px"> </span>
						</p><div id="list_price01">					
							<ul>
								<li class="lowprice_list">35,700원  </li>
								<li class="type">숙박예약 </li>								
							</ul>				
						</div>
						<div class="summary" style="height:27px;width:98%"><p>체크인 18:00:00 / 체크아웃 12:00:00</p><p></p></div></a></td></tr>
			<tr class="line">
				<td class="photo">
					<a href="/home/view/?p_no=HEt1&amp;sub_sdate=2017-02-01&amp;sub_edate=2017-02-02"><img width="90" height="80" src="http://file.go.co.kr/mobile/thumbnail/sub_0.06306900%201290133469.jpg"></a><span class="recommend">추천상품</span>
				</td>
				<td class="info"><a href="/home/view/?p_no=HEt1&amp;sub_sdate=2017-02-01&amp;sub_edate=2017-02-02"><p class="title">▶호텔더팔래스대구</p>
					<p class="text">대구 남구 봉덕3동 688-1</p>
						<p class="wra" style="clear:right"><span class="icon"><img src="http://img.go.co.kr/mobile/icon_hotel.png" height="17px"> <img src="http://img.go.co.kr/mobile/icon_grade3.png" height="17px"></span>
						</p><div id="list_price01">					
							<ul>
								<li class="lowprice_list">38,010원  </li>
								<li class="type">숙박예약 </li>								
							</ul>				
						</div>
						<div class="summary" style="height:27px;width:98%"><p>체크인 14:00 / 체크아웃 12:00</p><p>팔공산자연공원 : 26km&nbsp;&nbsp;&nbsp;&nbsp;앞산공원 : 3km&nbsp;&nbsp;&nbsp;&nbsp;</p></div></a></td></tr>
			<tr class="line">
				<td class="photo">
					<a href="/home/view/?p_no=G0ZzE2ge&amp;sub_sdate=2017-02-01&amp;sub_edate=2017-02-02"><img width="90" height="80" src="http://cdn.pinspot.co.kr/place/8703/1440x1080/WSVvOfeL2nrjDGw0QXab.jpg"></a><span class="recommend">추천상품</span>
				</td>
				<td class="info"><a href="/home/view/?p_no=G0ZzE2ge&amp;sub_sdate=2017-02-01&amp;sub_edate=2017-02-02"><p class="title">대구 대명동 ANNE</p>
					<p class="text">대구 남구 대명동 1593-59</p>
						<p class="wra" style="clear:right"><span class="icon"><img src="http://img.go.co.kr/mobile/icon_motel.png" height="17px"> </span>
						</p><div id="list_price01">					
							<ul>
								<li class="lowprice_list">51,000원  </li>
								<li class="type">숙박예약 </li>								
							</ul>				
						</div>
						<div class="summary" style="height:27px;width:98%"><p>체크인 21:00:00 / 체크아웃 12:00:00</p><p></p></div></a></td></tr>
			<tr class="line">
				<td class="photo">
					<a href="/home/view/?p_no=G0ZzEWcU&amp;sub_sdate=2017-02-01&amp;sub_edate=2017-02-02"><img width="90" height="80" src="http://cdn.pinspot.co.kr/place/10739/1440x1080/bpZTlRjcJr4iN8w6yAWo.jpg"></a>
				</td>
				<td class="info"><a href="/home/view/?p_no=G0ZzEWcU&amp;sub_sdate=2017-02-01&amp;sub_edate=2017-02-02"><p class="title">봉덕 스타</p>
					<p class="text">대구 남구 봉덕동 948-42</p>
						<p class="wra" style="clear:right"><span class="icon"><img src="http://img.go.co.kr/mobile/icon_motel.png" height="17px"> </span>
							</p><div id="list_price01">					
								<ul>
									<li class="lowprice_list">15,300원 </li>
									<li class="type">대실예약 </li>					
								</ul>
							</div>
						<div id="list_price01">					
							<ul>
								<li class="lowprice_list">40,800원  </li>
								<li class="type">숙박예약 </li>								
							</ul>				
						</div>
						<div class="summary" style="height:27px;width:98%"><p>체크인 00:00:00 / 체크아웃 00:00:00</p><p></p></div></a></td></tr><input type="hidden" name="cnt1" value="6"><input type="hidden" name="search_type_" value="view_num"><input type="hidden" name="addnum" id="addnum" value="6"><input type="hidden" name="total_page" id="total_page" value="1"><input type="hidden" name="page" id="page" value="1"></tbody></table></div><div class="list_more" id="near_area" onclick="listing.main_list_scroll('1','view_num', 'add')"><div class="list_more_btn"><img src="http://img.go.co.kr/mobile/img_morebtn.png"></div></div>

				<!-- 수정부분 -->		
				<div class="clr"></div>
		    <div id="room_recommend" class="clr">
			    <div class="bnr_recommend clr">
						<span class="img_recommend"><a href="http://m.go.co.kr/home/main/?dd=WxEvTgFUO0AvE0VMECQ="><img src="http://img.go.co.kr/mobile/btn_recommend.png" class="img_recommend"></a></span>
						<span class="img_Rarrow"><a href="http://m.go.co.kr/home/main/?dd=WxEvTgFUO0AvE0VMECQ="><img src="http://img.go.co.kr/mobile/img_Rarrow_white.png"></a></span>
					</div>
				</div>
				<!-- 수정 끝 -->

			</div>
			<!-- p태그 삭제  -->
			<!-- <p style="height:10px;clear:left"></p><p> -->
	</p>
</div>

<div class="btmLogo" id="btmLogo" style="display: block;"></div>
</body>
</html>