
<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<title>캐피탈 관광 호텔  국내외여행, 호텔, 편션, 리조트, 콘도 최저가할인예약 GO.CO.KR </title>

<meta http-equiv="Cache-Control" content="No-Cache"/>
<meta http-equiv="Pragma" content="No-Cache"/>
<meta http-equiv="expire" content="-1">

<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0" />
<!--숫자인식,메일주소,지도상의 주소링크 막기-->
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<!--북마크 추가시 바탕화면에서 볼수있는 아이콘 이미지(png저장)-->
<link rel="apple-touch-icon" href="http://img.go.co.kr/mobile/icon.png" /> 
<link rel="stylesheet" href="http://static.go.co.kr/css/swiper.min.css?ver=20170208172955" type="text/css"/>
<link rel="stylesheet" href="http://static.go.co.kr/css/moblie_reset.css?ver=20170208172955" type="text/css"/>
<!-- <link rel="stylesheet" href="http://static.go.co.kr/css/mobile_layout3.css?ver=20170208172955sss" type="text/css"/> -->
<link rel="stylesheet" href="../../src/css/mobile_layout3_tmp.css" type="text/css"/>
<meta name="robots" content="NOINDEX, NOFOLLOW, NOARCHIVE" />
<meta name="author" content="GO.CO.KR"/>
<meta name="description" content="캐피탈 관광 호텔  고코 GO.CO.KR"/>
<meta name="keywords" content="캐피탈 관광 호텔  고코 GO.CO.KR"/>
<meta name="classification" content="고코 GO.CO.KR"/>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

</head>
<body>
	<div id="room_w">			
								<h3><img src="http://img.go.co.kr/mobile/logo_dtl.png?ver=20170208172956" class="goco_tit_logo" style="height:32px"> 숙소정보</h3>
						<div class="room_ti_tx">
				<div class="room_ti_tx_in">	
					<h4>캐피탈 관광 호텔</h4>
					<p></p><p><b>숙박 시설 위치</b> <br>인천 중심부에 위치한 캐피탈 관광 호텔에서는 계양산 및 Car Board Bowlingjang에 쉽게 가실 수 있습니다.  이 호텔 가까이에는 Wanggoong Bowlingjang 및 Incheon Nabi Park도 있습니다.</p><p><b>객실</b> <br>50개 객실에는 미니바도 갖추어져 있어 편하게 머무실 수 있습니다. 무료 무선 인터넷도 지원되며 위성 프로그램을 시청하실 수 있습니다.</p><p><b>편의 시설</b> <br>사우나 및 피트니스 시설 등의 레크리에이션 시설을 즐기실 수 있습니다. 이 보자르 양식 호텔에는 무료 무선 인터넷 및 TV(공용 구역)도 마련되어 있습니다.</p><p><b>식당</b> <br>호텔에 있는 레스토랑에서 마음껏 드실 수 있습니다. 이 레스토랑에서는 아침 식사, 점심 식사, 저녁 식사 등을 제공합니다. 또한 커피숍/카페에서도 스낵을 드실 수 있으며 24시간 룸서비스 이용도 가능합니다.</p><p><b>비즈니스, 기타 편의시설</b> <br>대표적 편의 시설/서비스로는 무료 초고속 유선 인터넷, 비즈니스 센터, 간편 체크인 등이 있습니다. 시설 내에서 RV/버스/트럭 주차 이용이 가능합니다.</p><p></p>
				</div>
			</div>
						<div class="room_tx_w">
				<style>
.room_tx_in p ul li {font-size:0.6em;padding-left:1%}
</style>
<div class="room_tx_in">	
	<h4 class="room_title"><img src="http://img.go.co.kr/mobile/logo_dtl.png?ver=20170208172956" class="goco_tit_logo" style="margin-left:4%"> 기본사항</h4>
	<div class="txt_forms">
	<p>
		<!--- 체크인/체크아웃 --->
				<span class="room_tx_icon">ㆍ</span> <span class="room_tx_tx">체크인 2:00 PM 체크아웃 12:00 PM</span><br>
				
		<!--- 기본 등록 내용 ---->
				<span class="room_tx_icon">ㆍ</span> <span class="room_tx_tx">
		체크인 시 사진이 부착된 ID를 제시하셔야 합니다. 예약 시 고객님 신용카드에 청구됩니다. 침대 유형 및 금연실/흡연실에 대한 선호 사항은 보장되지 않습니다. 고객님 예약은 선불 예약이며, 늦은 도착이 보장됩니다. 총 요금에는 모든 객실 요금, 세금 및 예약 수수료가 포함됩니다. 주차, 전화 요금, 룸서비스 등의 기타 부대 비용은 숙박 시설에서 직접 처리됩니다.<br>
애완동물 동반 불가  체크인 시작 시간: 14:00  체크아웃 시간: 정오<br>
</span></p><p><b>국가 공인 등급</b> <br>고객 편의를 위해 저희 등급 시스템을 기준으로 해당 정보를 제공했습니다.</p><p><b>출발 전 알아둘 사항</b> <br></p><ul>  <li>만 12 세 이하 어린이는 부모 또는 보호자와 같은 객실에서 침구를 추가하지 않고 이용할 경우 무료로 숙박할 수 있습니다. </li><li>등록된 고객만 객실에 들어가실 수 있습니다. </li><li>이 숙박 시설은 장애인 안내 동물을 비롯한 모든 애완동물의 출입을 금지하고 있습니다. </li> </ul><p></p><p><b>요금</b> <br></p><p>서비스 이용 시 또는 체크인/체크아웃 시 숙박 시설 측에서 청구하는 요금 및 보증금은 다음과 같습니다. </p> <ul>            <li>이른 체크인 요금: KRW 20000</li>  <li>늦은 체크아웃 요금: KRW 20000</li>     </ul> <p>위 목록에 명시되지 않은 다른 항목이 있을 수도 있습니다. 요금 및 보증금은 세전 금액일 수 있으며 변경될 수 있습니다. </p><p></p><br>
숙박 시설 정책에 따라 추가 인원에 대한 요금이 부과될 수 있습니다. <br>체크인 시 각종 서비스 이용 요금이 발생할 경우를 대비하여 정부에서 발급한 사진이 부착된 신분증과 신용카드 또는 현금으로 보증금이 필요합니다. <br>고객이 별도로 요청한 사항은 체크인 시 가능한 경우에 한하여 제공되며 추가 요금이 부과될 수 있습니다. 또한, 반드시 보장되지는 않습니다.  <ul><li>체크인 시 각종 요금이 발생할 경우를 대비하여 보증금을 지불할 때는 객실 예약 시 사용한 숙박객의 이름과 동일한 이름이 나와 있는 신용카드를 사용해야 합니다. </li></ul><br>
<p>서비스 이용 시 또는 체크인/체크아웃 시 숙박 시설 측에서 청구하는 요금 및 보증금은 다음과 같습니다. </p> <ul>            <li>이른 체크인 요금: KRW 20000</li>  <li>늦은 체크아웃 요금: KRW 20000</li>     </ul> <p>위 목록에 명시되지 않은 다른 항목이 있을 수도 있습니다. 요금 및 보증금은 세전 금액일 수 있으며 변경될 수 있습니다. </p><br>
<br>
		
		
				<br>
			<p></p>
	</div>
</div>
<div class="room_tx_in">	
	<h4 class="room_title"><img src="http://img.go.co.kr/mobile/logo_dtl.png?ver=20170208172956" class="goco_tit_logo" style="margin-left:4%"> 위치</h4>
	<div class="txt_forms">
	<p>
		<span class="room_tx_icon">ㆍ</span> <span class="room_tx_tx">인천(계양)에 위치</span><br>
	</p>
	</div>
</div>
<div class="room_tx_in">	
	<h4 class="room_title"><img src="http://img.go.co.kr/mobile/logo_dtl.png?ver=20170208172956" class="goco_tit_logo" style="margin-left:4%"> 부대시설</h4>
	<div class="txt_forms">
	<p>
		<span class="room_tx_icon">ㆍ</span> <span class="room_tx_tx">24시간 운영 프런트 데스크,RV, 버스, 트럭 주차,간편 체크아웃,간편 체크인,공용 구역에서의 커피/티,공용 구역의 TV,레스토랑,로비에서 무료 신문 제공,무료 WiFi,무료 유선 초고속 인터넷,비즈니스 센터,빌딩/타워 수 -2,사우나,세탁 시설,스낵바/델리,엘리베이터,장애인 지원 객실,장애인 지원 욕실,준공연도:2002,지정 흡연구역,짐 보관,총 객실 수 -50,층 수 -6,커피숍 또는 카페,컴퓨터 스테이션,프런트 데스크의 안전 금고,피트니스 시설</span>
	</p>
	</div>
</div>

<div class="room_tx_in">	
	<h4 class="room_title"><img src="http://img.go.co.kr/mobile/logo_dtl.png?ver=20170208172956" class="goco_tit_logo" style="margin-left:4%"> 체크인 특이사항</h4>
	<p>
				<span class="room_tx_icon">ㆍ</span> <span class="room_tx_tx">애완동물 동반 불가  체크인 시작 시간: 14:00  체크아웃 시간: 정오</span>
					</p>

</div>

<!---
<div class="room_tx_in">	
	<h4>조식 정보</h4>
	<p>
		<span class="room_tx_icon">ㆍ</span> <span class="room_tx_tx">가든 테라스 / 1층 / 06:00~10:30 (주중</span></br>
		<span class="room_tx_icon">ㆍ</span> <span class="room_tx_tx">06:00~11:00 (주말, 공휴일)</span></br>
		<span class="room_tx_icon">ㆍ</span> <span class="room_tx_tx">1인 31,900원(성인), 15,900원(어린이) 현장 결제</span>
	</p>
</div>
<div class="room_tx_in">	
	<h4>현장 추가 정보</h4>
	<p>
		<span class="room_tx_icon">ㆍ</span> <span class="room_tx_tx">16세 미만 무료</span></br>
		<span class="room_tx_icon">ㆍ</span> <span class="room_tx_tx">2인 기준/ 최대 3인 or 성인2인 + 자녀 2인 가능 (침대 제공 안됨)</span></br>
		<span class="room_tx_icon">ㆍ</span> <span class="room_tx_tx">성인 1인 추가:44,000원 (침구/엑스트라베드 포함)</span></br>
		<span class="room_tx_icon">ㆍ</span> <span class="room_tx_tx">현장결제및 고객센터 문의</span>
	</p>
</div>
---->								<div class="room_tx_in">	
					<h4 class="room_title"><img src="http://img.go.co.kr/mobile/logo_dtl.png?ver=20170208172956" class="goco_tit_logo" style="margin-left:4%"> 확인사항 및 기타문의</h4>
					<div class="txt_forms">
					<p>
						<span class="room_tx_icon">ㆍ</span> <span class="room_tx_tx">해당 금액은 세금, 봉사료가 포함된 금액입니다.</span><br>
						<span class="room_tx_icon">ㆍ</span> <span class="room_tx_tx">위의 정보는 업체 사정에 따라 변경될 수 있습니다. </span><br>
												<span class="room_tx_icon">ㆍ</span> <span class="room_tx_tx">해당 업체는 결제순간부터 위약금이 발생되오니, 신중한 구매바랍니다.</span><br>
						<span class="room_tx_icon">ㆍ</span> <span class="room_tx_tx">결제후에 발생되는 위약금에 대해서는 책임지지 않습니다.</span><br>
											</p>
					</div>
				</div>

			</div>
		</div>
	
	<!-- 변경 사항 -->
	<div id="q_quest"> 
		<p>무엇을 도와드릴까요?</p>
		<p>전문 상담원에게 물어보세요</p>
		<p><a href="#">고쿠투어 빠른 문의하기</a></p>
	</div>

</body>
</html>

