
<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<title>캐피탈 관광 호텔  국내외여행, 호텔, 편션, 리조트, 콘도 최저가할인예약 GO.CO.KR </title>

<meta http-equiv="Cache-Control" content="No-Cache"/>
<meta http-equiv="Pragma" content="No-Cache"/>
<meta http-equiv="expire" content="-1">

<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0" />
<!--숫자인식,메일주소,지도상의 주소링크 막기-->
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<!--북마크 추가시 바탕화면에서 볼수있는 아이콘 이미지(png저장)-->
<link rel="apple-touch-icon" href="http://img.go.co.kr/mobile/icon.png" /> 
<link rel="stylesheet" href="http://static.go.co.kr/css/swiper.min.css?ver=20170208172955" type="text/css"/>
<link rel="stylesheet" href="http://static.go.co.kr/css/moblie_reset.css?ver=20170208172955" type="text/css"/>
<!-- <link rel="stylesheet" href="http://static.go.co.kr/css/mobile_layout3.css?ver=20170208172955sss" type="text/css"/> -->
<link rel="stylesheet" href="../../src/css/mobile_layout3_tmp.css" type="text/css"/>
<meta name="robots" content="NOINDEX, NOFOLLOW, NOARCHIVE" />
<meta name="author" content="GO.CO.KR"/>
<meta name="description" content="캐피탈 관광 호텔  고코 GO.CO.KR"/>
<meta name="keywords" content="캐피탈 관광 호텔  고코 GO.CO.KR"/>
<meta name="classification" content="고코 GO.CO.KR"/>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

</head>
<body>
	<div id="room_w">			
								<h3><img src="http://img.go.co.kr/mobile/logo_dtl.png?ver=20170208172956" class="goco_tit_logo" style="height:32px"> 숙소정보</h3>
						
						<div class="room_tx_w">
				<style>
.room_tx_in p ul li {font-size:0.6em;padding-left:1%}
</style>
<div class="room_tx_in">	
	<h4 class="room_title"><img src="http://img.go.co.kr/mobile/logo_dtl.png?ver=20170208172956" class="goco_tit_logo" style="margin-left:4%"> 기본사항</h4>
	
</div>
<div class="room_tx_in">	
	<h4 class="room_title"><img src="http://img.go.co.kr/mobile/logo_dtl.png?ver=20170208172956" class="goco_tit_logo" style="margin-left:4%"> 위치</h4>
	<div class="txt_forms">
	<p>
		<span class="room_tx_icon">ㆍ</span> <span class="room_tx_tx">인천(계양)에 위치</span><br>
	</p>
	</div>
</div>
<div class="room_tx_in">	
	<h4 class="room_title"><img src="http://img.go.co.kr/mobile/logo_dtl.png?ver=20170208172956" class="goco_tit_logo" style="margin-left:4%"> 부대시설</h4>
	<div class="txt_forms">
	<p>
		<span class="room_tx_icon">ㆍ</span> <span class="room_tx_tx">24시간 운영 프런트 데스크,RV, 버스, 트럭 주차,간편 체크아웃,간편 체크인,공용 구역에서의 커피/티,공용 구역의 TV,레스토랑,로비에서 무료 신문 제공,무료 WiFi,무료 유선 초고속 인터넷,비즈니스 센터,빌딩/타워 수 -2,사우나,세탁 시설,스낵바/델리,엘리베이터,장애인 지원 객실,장애인 지원 욕실,준공연도:2002,지정 흡연구역,짐 보관,총 객실 수 -50,층 수 -6,커피숍 또는 카페,컴퓨터 스테이션,프런트 데스크의 안전 금고,피트니스 시설</span>
	</p>
	</div>
</div>

<div class="room_tx_in">	
	<h4 class="room_title"><img src="http://img.go.co.kr/mobile/logo_dtl.png?ver=20170208172956" class="goco_tit_logo" style="margin-left:4%"> 체크인 특이사항</h4>
	<p>
				<span class="room_tx_icon">ㆍ</span> <span class="room_tx_tx">애완동물 동반 불가  체크인 시작 시간: 14:00  체크아웃 시간: 정오</span>
					</p>

</div>

-
								<div class="room_tx_in">	
									<h4>조식 정보</h4>
									<p>
										<span class="room_tx_icon">ㆍ</span> <span class="room_tx_tx">가든 테라스 / 1층 / 06:00~10:30 (주중</span></br>
										<span class="room_tx_icon">ㆍ</span> <span class="room_tx_tx">06:00~11:00 (주말, 공휴일)</span></br>
										<span class="room_tx_icon">ㆍ</span> <span class="room_tx_tx">1인 31,900원(성인), 15,900원(어린이) 현장 결제</span>
									</p>
								</div>
								<div class="room_tx_in">	
									<h4>현장 추가 정보</h4>
									<p>
										<span class="room_tx_icon">ㆍ</span> <span class="room_tx_tx">16세 미만 무료</span></br>
										<span class="room_tx_icon">ㆍ</span> <span class="room_tx_tx">2인 기준/ 최대 3인 or 성인2인 + 자녀 2인 가능 (침대 제공 안됨)</span></br>
										<span class="room_tx_icon">ㆍ</span> <span class="room_tx_tx">성인 1인 추가:44,000원 (침구/엑스트라베드 포함)</span></br>
										<span class="room_tx_icon">ㆍ</span> <span class="room_tx_tx">현장결제및 고객센터 문의</span>
									</p>
								</div>
								--								<div class="room_tx_in">	
					<h4 class="room_title"><img src="http://img.go.co.kr/mobile/logo_dtl.png?ver=20170208172956" class="goco_tit_logo" style="margin-left:4%"> 확인사항 및 기타문의</h4>
					<div class="txt_forms">
					<p>
						<span class="room_tx_icon">ㆍ</span> <span class="room_tx_tx">해당 금액은 세금, 봉사료가 포함된 금액입니다.</span><br>
						<span class="room_tx_icon">ㆍ</span> <span class="room_tx_tx">위의 정보는 업체 사정에 따라 변경될 수 있습니다. </span><br>
												<span class="room_tx_icon">ㆍ</span> <span class="room_tx_tx">해당 업체는 결제순간부터 위약금이 발생되오니, 신중한 구매바랍니다.</span><br>
						<span class="room_tx_icon">ㆍ</span> <span class="room_tx_tx">결제후에 발생되는 위약금에 대해서는 책임지지 않습니다.</span><br>
											</p>
					</div>
				</div>

			</div>
		</div>

	<!-- 임시 사항 -->
	<div id="backDrop"></div>
	
	<!-- 추가 사항 시작-->
	<div id="q_quest"> 
		<p>무엇을 도와드릴까요?</p>
		<p>전문 상담원에게 물어보세요</p>
		<p><a href="#">고쿠투어 빠른 문의하기</a></p>
	</div>

	<div id="q_modal">
		<h2>문의 하기<a href="#" class="q_clsBtn"></span></a></h2>
		<ul>
			<li><a href="#">자주묻는 질문</a></li>
			<li><a href="#">1:1 문의하기</a></li>
			<li><a href="#">카카오톡 문의</a></li>
			<li><a href="#">전화 문의</a></li>
		</ul>
	</div>
	<!-- <div id="q_notice">
		<h2>알림<a href="#" class="q_clsBtn"></span></a></h2>
		<div>
			<p>고고투어 고객센터로 전화 연결합니다</p>
			<p>(상담시간: 평일 오전 9시 ~ 오후 2시
					<br/>주말공휴일 오전 9시 ~ 오후 5시)
			</p>
		</div>
		<p><a href="#">취소</a><a href="#">전화연결</a></p>
	</div> -->
	<!-- 추가 사항 끝 -->

</body>
</html>

