<!DOCTYPE html>
<html lang="ko-KR">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta charset="UTF-8">
	<title>DB내용 문자변환</title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<style>
		.txt-ntc-i {margin-left: -11px; display: inline-block; margin-right: 3px; font-size: 38px; line-height: 0; top: 7px; position: relative;}
		.room-ntc, .room-cmn, .room-appb {display: inline-block; padding-left: 12px; font-size: 14px;}
	</style>
</head>
<body>


<div class="txt_forms">
	<p>
		
	</p>
</div>

<script>
	//특수문자 있을 경우
	var dbTxt = 
		"투숙인원에는 영, 유아도 모두 포함됩니다.<br>" +
		"최대 인원 초과시 투숙불가합니다<br>" +
		"기준인원 초과시 1인 15,000원 추가비용 발생<br>" +
		"침구추가시 1인 15,000원<br>" +
		"* 투숙객 사우나 30% 할인 서비스<br>" +
		"* 하이원스키장 셔틀버스 운행<br>"+
		"* 사우나 1인 7,000원(찜질복별도/매월 마지막주 화요일 사우나 휴무)<br>"+
		"* 조식 부페 운영 안내<br>"+
	  "시간 : 07:00 ~ 10:00 / 장소 : 4층 이벤트홀<br>"+
	  "요금 : 뷔페  소인 10,000원(만4세~12세), 대인 15,000원(투숙객)<br>"+
	  "상반기 비수기기간 조식은 단품(해장국) : 1인 10,000원(성인, 소아 동일)<br>";

	//특수문자 없을 경우
  /*var dbTxt = 
	"투숙인원에는 영, 유아도 모두 포함됩니다.<br>" +
	"최대 인원 초과시 투숙불가합니다<br>" +
	"기준인원 초과시 1인 15,000원 추가비용 발생<br>" +
	"침구추가시 1인 15,000원<br>" +
	"투숙객 사우나 30% 할인 서비스<br>" +
	"하이원스키장 셔틀버스 운행<br>"+
	"사우나 1인 7,000원(찜질복별도/매월 마지막주 화요일 사우나 휴무)<br>"+
	"조식 부페 운영 안내<br>"+
  "시간 : 07:00 ~ 10:00 / 장소 : 4층 이벤트홀<br>"+
  "요금 : 뷔페  소인 10,000원(만4세~12세), 대인 15,000원(투숙객)<br>"+
  "상반기 비수기기간 조식은 단품(해장국) : 1인 10,000원(성인, 소아 동일)<br>";*/

	// 특수 문자가 있을 경우 변환
	if ( dbTxt.indexOf('*') !== -1 || dbTxt.indexOf('-') !== -1 || dbTxt.indexOf('※') !== -1 ){ 
		dbTxt = dbTxt.replace(/\&nbsp;/g,"");
		dbTxt = dbTxt.replace(/\- /g,"<span class='txt-ntc-i'>·</span>");
		dbTxt = dbTxt.replace(/\※/g,"<span class='txt-ntc-i'>·</span>");
		dbTxt = dbTxt.replace(/\* /g,"<span class='txt-ntc-i'>·</span>");
		dbTxt = dbTxt.replace(/\*/g,"<span class='txt-ntc-i'>·</span>");
		} else { // 없을 경우 맨앞에 태그 추가
		dbTxt = "<span class='txt-ntc-i'>·</span>" + dbTxt;
	}
		
		dbTxt = "<span class='room-ntc'>" + dbTxt + "</span>";

	$(".txt_forms > p").html(dbTxt);


</script>
</body>
</html>