<!DOCTYPE html>
<html lang="ko-KR">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0" />
<title> 국내외여행, 호텔, 편션, 리조트, 콘도 최저가할인예약 GO.CO.KR </title>
<link rel="stylesheet" href="http://static.go.co.kr/css/swiper.min.css" type="text/css"/>
<link rel="stylesheet" href="http://static.go.co.kr/css/moblie_reset.css" type="text/css"/>
<!-- <link rel="stylesheet" href="http://static.go.co.kr/css/mobile_layout3.css?ver=20170130135557" type="text/css"/> -->
<!-- <link rel="stylesheet" href="http://static.go.co.kr/css/mobile_layout3.css" type="text/css"/> -->
<link rel="stylesheet" href="../../src/css/mobile_layout3_tmp.css" type="text/css"/>
<!-- <link rel="stylesheet" href="http://static.go.co.kr/css/mobile_layout3_tmp.css" type="text/css"/> -->
<!-- <meta http-equiv="Cache-Control" content="no-cache" /> -->

<link href="https://opensource.keycdn.com/fontawesome/4.6.3/font-awesome.min.css" rel="stylesheet"/>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<!-- <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script> -->
<script src="http://static.go.co.kr/js/admission_ticket_app.js"></script>
<!-- <script src="../../src/js/admission_ticket_app.js"></script> -->


</head>
<body>
	
<div id="scroll_box">


	<div id="top_box" style="position:fixed;top:0px;z-index:9999;width:100%;background:#ffffff">
		<!-- 텍스트변경 -->
		<div id="headTitle"><span class="back"><a href="javascript:history.go(-3)"><img src="http://img.go.co.kr/mobile/btn_back.png" width="47" height="15" alt="뒤로"></a></span>주문/결제하기</div>
	</div>

	<section id="admission-pay">
		<ul class="adm-pay-wrapper">
			<li class="division">1.상품정보</li>
			<li class="adm-contents item-info clr">
				<div class="d1"><img class="item-info-img" src="http://file.go.co.kr/mobile/thumbnail_view/s_1484893834_in3.jpg"></div>
				<div class="d2">
					<p class="d2_ft">휘닉스스노우파트 리프트권</p>
					<p class="fc-orange"><span>&#8226;</span> 02.28/휘닉스 스노우파크 단일권(오전) 8:30~12:30</p>
					<p class="fc-orange"><span>&#8226;</span> 02.28/단일권(야간) 12:30~16:30</p>
				</div>
			</li>
			<li class="division">2.입장권 정보 (최대 5장 구매가능) <span class="pull-right">※인원을 선택해주세요</span></li>
			<li class="adm-contents adm-info">
				<!-- 아이템박스 시작 -->
				<div class="adm-info-box clr">
					<p class="adm-mt pull-left">휘닉스스노우파크 리프트권 단일권(오전)+성인<span class="adm-l">ㅣ</span>1매</p>
				</div>
				<div class="adm-info-box clr">
					<p class="adm-mt pull-left">단일권(오전)+소인<span class="adm-l">ㅣ</span>1매</p>
				</div><div class="adm-info-box clr">
					<p class="adm-mt pull-left">단일권(오전)+성인<span class="adm-l">ㅣ</span>1매</p>
				</div>
				<!-- 아이템박스 끝 -->
			</li>
			<li class="division">3.이용자 정보 <span class="pull-right">※체크인하는분의 이름과 연락처를 입력해주세요</span></li>
			<li class="adm-contents user-info">
				<div><label for="adm-user">이용자</label><input type="text" id="adm-user"></div>
				<div><label for="adm-num">연락처</label><input type="text" id="adm-num" placeholder="'-'없이 입력해주세요"></div>
				<div><label for="adm-mail">이메일</label><input type="text" id="adm-mail"></div>
			</li>
			<li class="division">4.할인/결제정보</li>
			<li class="adm-contents sale-info">
				<div class="clr">
					<span class="pull-left">정상가</span><span class="pull-right sale-ft">212,500원</span>
				</div>
				<div class="clr">
					<span class="pull-left">즉시할인가</span><span class="pull-right fc-blue">-116,500원</span>
				</div>
				<div class="clr point-use-li">
					<p class="pull-left">
						적립금사용<span class="fc-orange point">(총 보유:2,000원)</span><a href="" class="use">전액사용</a>
					</p>
					<input type="text" class="pull-right fc-blue point-use" value="0"></input></div>
			</li>
			<li class="adm-contents adm-total-price clr">
				<span class="pull-left">총 결제금액<span>(VAT포함)</span></span><span class="pull-right fc-orange">100,000원</span>
			</li>
		</ul>
	</section>



	


</div>

</body>
</html>

