<!DOCTYPE html>
<html lang="ko-KR">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta charset="UTF-8">
	<title>상세피이지 로고 추가</title>

<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0" />
<!--숫자인식,메일주소,지도상의 주소링크 막기-->
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<!--북마크 추가시 바탕화면에서 볼수있는 아이콘 이미지(png저장)-->
<link rel="apple-touch-icon" href="http://img.go.co.kr/mobile/icon.png" /> 
<link rel="stylesheet" href="http://static.go.co.kr/css/swiper.min.css?ver=20170208172955" type="text/css"/>
<link rel="stylesheet" href="http://static.go.co.kr/css/moblie_reset.css?ver=20170208172955" type="text/css"/>
<!-- <link rel="stylesheet" href="http://static.go.co.kr/css/mobile_layout3.css?ver=20170208172955sss" type="text/css"/> -->
<link rel="stylesheet" href="../../src/css/mobile_layout3_tmp.css" type="text/css"/>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<style>
	#menu_bg2 {right: 0;}
</style>
</head>
<body>

<div id="wrapper">
	<div id="menu_bg2">
		<div id="mypage" style="height: 806px; touch-action: none;">
			<div id="box" style="overflow-y: scroll; background-image: none; min-height: 806px; transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1); transition-duration: 0ms; transform: translate(0px, 0px) translateZ(0px);">
				
				<div class="my_top">
					<div class="my_close">
						<a href="javascript:utils.rmenu_out('#menu_bg2');$('#bottomMenu').show();" data-ajax="false">
							<img src="http://img.go.co.kr/mobile/my_close.png" width="26" alt="닫기">
						</a>
					</div>
								<img style="margin-top: -2px;" src="http://img.go.co.kr/mobile/my_naver.png" width="26" alt="네이버아이콘">
								<span>지하테스트</span><span>님 환영합니다</span><br>
					<a href="http://m.go.co.kr/home/member/?dd=RAcfSjBAMQ==&amp;mid=TRs2VztVKhI="><img src="http://img.go.co.kr/mobile/my_bt2.png" height="28" class="my_bt" alt="내정보수정 버튼"></a>
				</div>

				<div class="my_middle0">
					<ul>
						<li class="my_box_1" onclick="location.href='http://m.go.co.kr/home/member/?dd=Sws5TzdVKg=='">
							<a href="#">
								<span class="text_1" style="color:#dc2c2c;">4건<br></span>
								<span class="text_2">예약내역</span>
							</a>
						</li>
						<li class="my_box_2" onclick="location.href='http://m.go.co.kr/home/member/?dd=RBcsRj9BO3w2F01eITZGLBQ='">
							<a href="#">
							  <span class="text_1" style="color:#dc2c2c;">1건<br></span>
							  <span class="text_2">찜목록</span>
							</a>
						</li> 
						<li class="my_box_3" onclick="location.href='http://m.go.co.kr/home/member/?dd=ShE1UzFIAU8pDVx2CCVRbA=='">
							<a href="#">
							  <span class="text_1" style="color:#dc2c2c;">2,078원<br></span>
								<span class="text_2">적립금</span>
							</a>
						</li>
						<li class="my_box_4" onclick="location.href='http://m.go.co.kr/home/member/?dd=ShE1UzFIAU8pDVx2CCVRbA=='">
							<a href="#">
								<span class="text_1" style="color:#dc2c2c;">0장<br></span>
								<span class="text_2">할인쿠폰</span>
							</a>
						</li>
					</ul>
				</div>

				<div class="my_banner" onclick="location.href='http://m.go.co.kr/home/landing/?dd=TwwpRjBCLQ=='">
					<a href="#"><img src="http://img.go.co.kr/mobile/coupon.png" alt="쿠폰배너"></a>
				</div>


			</div>
		</div>
	</div>
</div>
	
</body>
</html>