/*index페이지*/
section[class*="-sec"] {width: 1069px; margin-left: auto; margin-right: auto;}
.main-sec {}
.main-sec figure img {display: block;}
.ms-p1 {position: relative; height: 52px; background: #FDDF4D; font-size: 22px;}
.ms-p1 i, .ms-p1 input, .ms-p1 a {position: relative; top: 7px; vertical-align: middle;}
.ms-p1 i {font-family: "Noto Sans KR", "Nanum Gothic", sans-serif; color: #645b54;}
.ms-p1 i:first-child {margin-left: 20px;}
.ms-p1 .c-orange {position: relative; margin-left: 10px;}
.ms-p1 input {appearance: none; -webkit-appearance: none; -ms-appearance: none; -moz-appearance: none; border: 3px solid #fc7931; height: 32px; margin-left: 20px; text-indent: 8px; font-size: 24px; line-height: 1.4em;}
.ms-p1 .code {width: 130px;}
.ms-p1 .money {width: 200px;}
.ms-p1 .btn {position: relative; float: right; display: inline-block; font-size: 17px; color: #fff; width: 117px; height: 38px; background: #fc7931; border-radius: 5px; line-height: 2.2em; text-align: center; right: 20px;}
.ms-p1 .btn span {position: relative; top: -1.5px; font-size: 13px;}
.step-sec {margin-top: 25px;}

/*수익금신청페이지*/
.info-sec {border-top: 1px solid #e1e1e1; padding-top: 25px; padding-bottom: 36px; border-bottom: 1px solid #e1e1e1; margin-bottom: 25px;}
div[class*="is-box"] {float: left;}
div[class*="is-box"] h2, .history-sec h2 {font-size: 20px; font-family: "Noto Sans KR", "Nanum Gothic", sans-serif; margin-bottom: 10px;}
.is-box-1 {}
.is-box-2 {margin-left: 61px;}
div[class*="isb-table"] {position: relative; width: 502px; border-top: 2px solid #fc7931; border-left: 1px solid #e1e1e1; border-right: 1px solid #e1e1e1;}
div[class*="isb-table"] ul {border-bottom: 1px solid #e1e1e1;}
div[class*="isb-table"] ul:first-child {border-top: none;}
div[class*="isb-table"] li {display: table-cell; vertical-align: middle; height: 34px; font-weight: 500; font-family: "Nanum Barun Gothic", "Nanum Gothic", sans-serif;}
div[class*="isb-table"] li.nth-1 {font-size: 18px; width: 201px;  background: #F7F7F7; text-align: center;  border-right: 1px solid #e1e1e1;}
div[class*="isb-table"] li.nth-2 {font-size: 17px; width: 285px; text-align: right; padding-right: 8px; padding-left: 5px; line-height: 2.2em; letter-spacing: 0;}
div[class*="isb-table"] ul.posr {position:relative;}
div[class*="isb-table"] ul.posr .chk_txt01 {position:absolute; right:-230px; top:-3px; font-weight:bold;}
div[class*="isb-table"] ul.posr .chk_txt02 {position:absolute; right:-347px; top:-3px; font-weight:bold;}
.isb-table-1 {}
.isb-table-2 {}
.info-sec > div select, .info-sec > div .in-txt {width: 100%; height: 26px; text-indent: 5px; font-size: 16px; line-height: 1.65em; border: 1px solid #e1e1e1;}
.info-sec > div select {width: 287px;}
.isb-table-2 select {vertical-align: middle; height: 30px;}
.info-sec > div .in-txt {appearance: none; -webkit-appearance: none; -ms-appearance: none; -moz-appearance: none;}


.history-sec {}
.history-sec h2 {}
.hsb-table {position: relative; border-top: 2px solid #fc7931; border-left: 1px solid #e1e1e1; border-right: 1px solid #e1e1e1; margin-bottom: 20px;}
.hsb-table ul {border-bottom: 1px solid #e1e1e1;}
.hsb-table ul:first-child {border-top: none;}
.hsb-table li {display: table-cell; vertical-align: middle; height: 34px; font-weight: 500; font-family: "Nanum Barun Gothic", "Nanum Gothic", sans-serif; text-align: center; border-left: 1px solid #e1e1e1;}
.hsb-table li:first-child {border-left: 0;}
.hsb-table ul.th li {font-size: 18px; background: #F7F7F7;}
.hsb-table ul.td li {font-size: 17px; letter-spacing: 0;}
.hsb-table ul.td.empty li {font-size: 17px; letter-spacing: 0; width: 1069px;}
.hsb-table ul li.nth-1 {width: 214px;}
.hsb-table ul li.nth-2 {width: 211px;}
.hsb-table ul li.nth-3 {width: 214px;}
.hsb-table ul li.nth-4 {width: 212px;}
.hsb-table ul li.nth-5 {width: 213px;}
.hs-box .btn {display: block; margin: 0 auto; width: 142px; height: 46px; font-size: 19px; border-radius: 5px; line-height: 2.45em; color: #fff; background: #fc7931; text-align: center; margin-bottom: 30px;}
.hs-box .btn span {font-size: 15px; position: relative; top: -2px; margin-left: 5px;}

.caution-box {border: 1px solid #e1e1e1; padding: 12px 0; font-size: 17px; font-family: "Nanum Barun Gothic", "Nanum Gothic", sans-serif;}
.caution-box figure, .caution-box p {float: left;}
.caution-box figure {width: 150px; text-align: center; padding: 10px 0; border-right: 1px solid #e1e1e1;}
.caution-box figure img {margin: 0 auto; margin-bottom: 10px;}
.caution-box p {padding-left: 30px; padding-top: 3px; line-height: 1.2em; color: #7f7f7f;}

/*수익금확인*/
.status-sec {margin-top: 50px; margin-bottom: 50px;}
/*월별수익금확인*/
.ssmb-tit {}
.ssmb-tit h2 {float: left; font-size: 22px; font-family: "Noto Sans KR", "Nanum Gothic", sans-serif; margin-bottom: 12px; font-weight: 500;}
.ssmb-tit p {float: right;}
.ssmb-tit p input.in-txt {height: 22px; width: 102px; margin-left: 3px; margin-right: 3px; border: 1px solid #ccc; text-indent: 5px;}
.ssmb-tit p input.btn {appearance: none; -webkit-appearance: none; -ms-appearance: none; -moz-appearance: none;
  height: 28px; margin-left: 10px; line-height: 1.45em; cursor: pointer;
  border-style: none; border: 1px solid #ccc; border-radius: 4px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7f6f6+0,eeeeee+100 */
  background: #f7f6f6; /* Old browsers */
  background: -moz-linear-gradient(top, #f7f6f6 0%, #eeeeee 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f7f6f6 0%,#eeeeee 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f7f6f6 0%,#eeeeee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f6f6', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
}
.ssmb-table {position: relative; border-top: 2px solid #fc7931; border-left: 1px solid #e1e1e1; border-right: 1px solid #e1e1e1; margin-bottom: 20px;}
.ssmb-table ul {border-bottom: 1px solid #e1e1e1;}
.ssmb-table ul:first-child {border-top: none;}
.ssmb-table li {display: table-cell; vertical-align: middle; height: 34px; font-weight: 500; font-family: "Nanum Barun Gothic", "Nanum Gothic", sans-serif; text-align: center; border-left: 1px solid #e1e1e1;}
.ssmb-table li:first-child {border-left: 0;}
.ssmb-table ul.th li {font-size: 18px; background: #F7F7F7; font-weight: 600;}
.ssmb-table ul.td li {font-size: 17px; letter-spacing: 0;}
.ssmb-table ul.td.avg li, .ssmb-table ul.td.total li {background: #F7F7F7;}
.ssmb-table ul.td.avg li:first-child, .ssmb-table ul.td.total li:first-child {font-weight: 600;}
.ssmb-table li.nth-1 {width: 267px;}
.ssmb-table li.nth-2 {width: 267px;}
.ssmb-table li.nth-3 {width: 266px;}
.ssmb-table li.nth-4 {width: 267px;}

/*일별수익급확인*/
.ssdb-tit {}
.ssdb-tit h2 {float: left; font-size: 22px; font-family: "Noto Sans KR", "Nanum Gothic", sans-serif; margin-bottom: 12px; font-weight: 500;}
.ssdb-tit p {float: right;}
.ssdb-tit p input.in-txt {height: 26px; width: 102px; margin-left: 3px; margin-right: 3px; border: 1px solid #ccc; text-indent: 5px;}
.ssdb-tit p input.btn {appearance: none; -webkit-appearance: none; -ms-appearance: none; -moz-appearance: none;
  padding: 0 10px; height: 28px; margin-left: 5px; line-height: 1.45em; cursor: pointer;
  border-style: none; border: 1px solid #ccc; border-radius: 4px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7f6f6+0,eeeeee+100 */
  background: #f7f6f6; /* Old browsers */
  background: -moz-linear-gradient(top, #f7f6f6 0%, #eeeeee 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f7f6f6 0%,#eeeeee 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f7f6f6 0%,#eeeeee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f6f6', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
}
.ssdb-table {position: relative; border-top: 2px solid #fc7931; border-left: 1px solid #e1e1e1; border-right: 1px solid #e1e1e1; margin-bottom: 20px;}
.ssdb-table ul {border-bottom: 1px solid #e1e1e1;}
.ssdb-table ul:first-child {border-top: none;}
.ssdb-table li {display: table-cell; vertical-align: middle; height: 34px; font-weight: 500; font-family: "Nanum Barun Gothic", "Nanum Gothic", sans-serif; text-align: center; border-left: 1px solid #e1e1e1;}
.ssdb-table li:first-child {border-left: 0;}
.ssdb-table ul.th li {font-size: 18px; background: #F7F7F7; font-weight: 600;}
.ssdb-table ul.td li {font-size: 17px; letter-spacing: 0;}
.ssdb-table ul.td.avg li, .ssdb-table ul.td.total li {background: #F7F7F7;}
.ssdb-table ul.td.avg li:first-child, .ssdb-table ul.td.total li:first-child {font-weight: 600;}
.ssdb-table li.nth-1 {width: 267px;}
.ssdb-table li.nth-2 {width: 267px;}
.ssdb-table li.nth-3 {width: 266px;}
.ssdb-table li.nth-4 {width: 267px;}

/*결제통계*/
.statistics-sec {margin-top: 50px;}
.stsb-tit {}
.stsb-tit h2 {float: left; font-size: 22px; font-family: "Noto Sans KR", "Nanum Gothic", sans-serif; margin-bottom: 12px; font-weight: 500;}
.stsb-tit p {float: right;}
.stsb-tit p input.in-txt {height: 22px; width: 102px; margin-left: 3px; margin-right: 3px; border: 1px solid #ccc; text-indent: 5px;}
.stsb-tit p input.btn {appearance: none; -webkit-appearance: none; -ms-appearance: none; -moz-appearance: none;
  height: 28px; margin-left: 10px; line-height: 1.45em; cursor: pointer;
  border-style: none; border: 1px solid #ccc; border-radius: 4px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7f6f6+0,eeeeee+100 */
  background: #f7f6f6; /* Old browsers */
  background: -moz-linear-gradient(top, #f7f6f6 0%, #eeeeee 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f7f6f6 0%,#eeeeee 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f7f6f6 0%,#eeeeee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f6f6', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
}
.stsb-table {position: relative; border-top: 2px solid #fc7931; border-left: 1px solid #e1e1e1; border-right: 1px solid #e1e1e1; margin-bottom: 20px;}
.stsb-table ul {border-bottom: 1px solid #e1e1e1;}
.stsb-table ul:first-child {border-top: none;}
.stsb-table li {display: table-cell; vertical-align: middle; height: 34px; font-weight: 500; font-family: "Nanum Barun Gothic", "Nanum Gothic", sans-serif; text-align: center; border-left: 1px solid #e1e1e1;}
.stsb-table li:first-child {border-left: 0;}
.stsb-table ul.th li {font-size: 18px; background: #F7F7F7; font-weight: 600;}
.stsb-table ul.td li {font-size: 16px; letter-spacing: 0;}
.stsb-table ul.td.avg li, .stsb-table ul.td.total li {background: #F7F7F7;}
.stsb-table ul.td.avg li:first-child, .stsb-table ul.td.total li:first-child {font-weight: 600;}
.stsb-table li.nth-1 {width: 137px;}
.stsb-table li.nth-2 {width: 397px;}
.stsb-table li.nth-3 {width: 276px;}
.stsb-table li.nth-4 {width: 257px;}
.sts-box .pagenation {text-align: center;}
.sts-box .pagenation a {display: inline-block; font-size: 13px; width: 26px; height: 26px; vertical-align: middle; line-height: 1.95em; margin-left: 1px; margin-right: 1px;}
.sts-box .pagenation a[class*="prev"], .sts-box .pagenation a[class*="next"] {background: #ccc; color: #fff; font-size: 12px; line-height: 2em; letter-spacing: -2px;}
.sts-box .pagenation a.on {border: 1px solid #e51b13; color: #e51b13; font-weight: 600;}
.sts-box .pagenation a.prev {text-indent: -4px;}
.sts-box .pagenation a.next {text-indent: 1px;}

/*회원정보변경*/
.mem-info-sec {border-top: 1px solid #e1e1e1; padding-top: 45px; margin-bottom: 50px;}
div[class*="mios-box"] h2 {font-size: 20px; font-family: "Noto Sans KR", "Nanum Gothic", sans-serif; margin-bottom: 10px; font-weight: 500;}
.mis-box-1 {}
.mis-box-2 {margin-left: 61px;}
div[class*="miosb-table"] {position: relative; border-top: 2px solid #fc7931; border-left: 1px solid #e1e1e1; border-right: 1px solid #e1e1e1; border-bottom: 1px solid #191919;}
div[class*="miosb-table"] ul {border-bottom: 1px solid #e1e1e1;}
div[class*="miosb-table"] ul:first-child {border-top: none;}
div[class*="miosb-table"] li {display: table-cell; vertical-align: middle; height: 38px; font-weight: 500; font-family: "Nanum Barun Gothic", "Nanum Gothic", sans-serif; font-size: 16px;}
div[class*="miosb-table"] li.nth-1 {width: 208px;  background: #F7F7F7; text-align: left; text-indent: 25px;  border-right: 1px solid #e1e1e1; font-weight: 600;}
div[class*="miosb-table"] li.nth-2 { text-align: right; padding-right: 8px; padding-left: 5px; line-height: 2.2em; letter-spacing: 0;}
.miosb-table-1 {margin-bottom: 30px;}
.miosb-table-2 {}
.miosb-table-2 select, div[class*="miosb-table"] .in-txt {width: 296px; height: 24px; text-indent: 5px; font-size: 16px; line-height: 1.65em; border: 1px solid #e1e1e1;}
.miosb-table-2 select {vertical-align: middle; height: 28px;}
div[class*="miosb-table"] .in-txt + span {font-size: 15px; color: #999; margin-left: 20px;}
.miosb-table-2 .in-txt {appearance: none; -webkit-appearance: none; -ms-appearance: none; -moz-appearance: none;}
.mem-info-sec .btn-wrap {position: relative; margin-top: 30px; text-align: center;}
.mem-info-sec .btn-wrap .btn {display: inline-block; width: 106px; height: 42px; font-size: 18px; border-radius: 5px; line-height: 2.28em; margin-left: 7px; margin-right: 7px; font-weight: 600;}
.mem-info-sec .btn-wrap .btn.nth-1 {color: #fff; background: #fc7931; }
.mem-info-sec .btn-wrap .btn.nth-2 {
  border: 1px solid #ccc;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7f6f6+0,eeeeee+100 */
  background: #fff; /* Old browsers */
  background: -moz-linear-gradient(top, #fff 0%, #eeeeee 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #fff 0%,#eeeeee 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #fff 0%,#eeeeee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

/*로그인페이지*/
.login-sec {padding-top: 30px;}
.ls-box {position: relative; margin:0 auto; width: 764px; height: 751px; border: 1px solid #d9d9d9;}
.ls-box h2 {text-align: center; margin-top: 30px; margin-bottom: 20px;}
.ls-box h2 img {display: inline-block;}
.lsb-d1, .lsb-p1 {position: relative; width: 510px; margin: 0 auto;}
.lsb-d1 {margin-bottom: 10px;}
.lsb-d1 .in-txt, .lsb-d1 .btn {font-size: 18px;}
.lsb-d1 .in-txt {width: 390px; height: 45px; text-indent: 12px; line-height: 1.65em; border: 1px solid #d9d9d9; float: left; color: #434343;}
.lsb-d1 .in-txt::-webkit-input-placeholder {color: #a5a4a4;}
.lsb-d1 .in-txt::-moz-placeholder {color: #a5a4a4;}
.lsb-d1 .in-txt:-ms-input-placeholder {color: #a5a4a4;}
.lsb-d1 .in-txt:-moz-placeholder {color: #a5a4a4;}
.lsb-d1 .in-txt.id {margin-bottom: 8px;}
.lsb-d1 .btn {position: absolute; top: 0; right: 0; width:110px; height: 106px; color: #fff; text-align: center; line-height: 5.8em; font-weight: 600; letter-spacing: 0;}
.lsb-p1 {padding: 0 100px 15px; margin-bottom: 30px; border-bottom: 1px solid #d9d9d9;}
.lsb-p1 .in-check {width: 18px; height: 18px;}
.lsb-p1 .in-check, .lsb-p1 label, .lsb-p1 a {vertical-align: middle; font-size: 15px;}
.lsb-p1 label {cursor: pointer;}
.lsb-p1 a {position: relative; margin-left: 30px;}
.lsb-p1 a:before {content: ""; position: absolute; top: 1px; left: -15px; display: inline-block; width: 1px; height: 16px; background: #434343;}
.lsb-d2 {position: relative; margin: 0 auto; width: 400px; margin-bottom: 25px;}
.lsb-d2 h3 {text-align: center; font-size: 24px; font-weight: 600; margin-bottom: 18px;}
.lsb-d2 a {position: relative; display: block; height: 50px; padding-left: 28px; margin-top: 8px; text-align: center; font-size: 16.5px; line-height: 3.1em;}
.lsb-d2 a.nth-1 {background: #3b5999; color: #fff;}
.lsb-d2 a.nth-2 {background: #ffeb00; color: #3b1e12;}
.lsb-d2 a.nth-3 {background: #1ec800; color: #fff;}
.lsb-d2 a.nth-4 {color: #707070; border: 1px solid #d9d9d9; height: 48px;}
.lsb-d2 a.nth-5 {background: #d34837; color: #fff;}
.lsb-d2 a .sns {position: absolute; display: inline-block; width: 60px; height: 30px; top: 15px; left: 80px;}
.lsb-d2 a.nth-1 .sns{background: url(http://img.go.co.kr/proceeds/login_sns.png) no-repeat 0px 0px; top: 13px; left: 82px;}
.lsb-d2 a.nth-2 .sns {background: url(http://img.go.co.kr/proceeds/login_sns.png) no-repeat 0px -50px; left: 81px;}
.lsb-d2 a.nth-3 .sns {background: url(http://img.go.co.kr/proceeds/login_sns.png) no-repeat 0px -100px; top: 17px;}
.lsb-d2 a.nth-4 .sns {background: url(http://img.go.co.kr/proceeds/login_sns.png) no-repeat 0px -150px; left: 75px}
.lsb-d2 a.nth-5 .sns {background: url(http://img.go.co.kr/proceeds/login_sns.png) no-repeat 0px -200px; top: 16px;}
.lsb-p2 {width: 440px; margin: 0 auto; font-size: 15px; line-height: 1.35em;}
/*아이디/비밀번호찾기 레이어팝업*/
#popupLayer {display:none; width:790px; min-height:463px; text-align:center; z-index:999999;}
#popupLayer #close {cursor:pointer; background: url(http://img.go.co.kr/login_img03.jpg) no-repeat; display:box; width:52px; height:48px; float:right;  text-indent:-10000px; top:-48px;}
#popupLayer .tab ul {width:790px}
#popupLayer .tab li {float:left; display:block; width:395px; height:60px; background:#ecebeb; font-size:20px; text-align:center; line-height:3; border-bottom:solid 1px #ff620b}
#popupLayer .tab .on {float:left; display:block; width:393px; height:60px; background:#fff; font-size:20px; text-align:center; line-height:3; font-weight:600; border-bottom:none; border-top:solid 1px #ff620b; border-left:solid 1px #ff620b; border-right:solid 1px #ff620b}
#popupLayer .cts_wrap {float:left; padding:30px; width:728px; background:#fff; border-bottom:solid 1px #ff620b; border-left:solid 1px #ff620b; border-right:solid 1px #ff620b}
#popupLayer .cts_wrap span {color:#ff610a; font-weight:600}
#popupLayer .cts_wrap table {float:left; width:320px}
#popupLayer .cts_wrap table .tit {font-size:18px; font-weight:600}
#popupLayer .cts_wrap table .left {background:#ffefe6; text-align:right; font-size:15px}
#popupLayer .cts_wrap table .right {padding-left:10px; background:#ffefe6; text-align:left; font-size:15px}
#popupLayer .cts_wrap table .notice {background:#ffefe6; text-align:center; font-size:11px; font-family:'돋움', Dotum, sans-serif}
#popupLayer .cts_wrap .input {padding:10px; margin-right:10px; height:20px; border:1px solid #dedede; background:#f9f9f9; font-size:15px; color:#999999; text-align:left}
#popupLayer .cts_wrap .input2 {padding:5px; margin-right:10px; height:10px; border:1px solid #fff; background:#fff; font-size:15px; color:#999999; text-align:left}
#popupLayer .cts_wrap .line {float:left; margin-top:80px; width:80px; height:170px; background:url(http://img.go.co.kr/login_img07.jpg) repeat-y}
#popupLayer .cts_wrap .btn {float:left; margin-top:40px; width:100%; text-align:center}
#popupLayer .cts_wrap .result {clear:both; margin:40px 0 40px 40px; width:650px; padding:10px 0; text-align:center; background:#ffefe6; line-height:2}
#popupLayer .cts_wrap .result2 {clear:both; margin:40px 0 40px 40px; width:650px; padding:10px 0; text-align:center; background:#ffefe6; line-height:4}
#popupLayer .cts_wrap h3 {font-size:20px; font-weight:600}

/* 홍보사이트 170522 이현우 */
.mileage {width:1068px; margin:30px auto 85px;}
.mileage .m-title {color:#090909; font-weight:bold; font-size:23px;}
.mileage .cont {overflow:hidden; margin-top:20px;}
.mileage .cont .left {position: relative; float:left; width:320px; height: 593px; background:url('http://img.go.co.kr/proceeds/bg_mileage.jpg') no-repeat 0 0;}
.mileage .cont .left:after {position: absolute; display: block; content: "5,000P 지급 인트로"; color: #989898; bottom: 0px; left: 0;}
.mileage .cont .left .recommend {margin-top:396px; padding:0 12px 0 11px;}
.mileage .cont .left .recommend .code div {height:79px; padding:10px 12px 0; background:url('http://img.go.co.kr/proceeds/bg_code.jpg') no-repeat 0 0; text-align:center;}
.mileage .cont .left .recommend .code div p {margin-bottom:10px; color:#202020; font-style:italic; font-weight:bold; font-size:16px; font-weight: 800;}
.mileage .cont .left .recommend .code div p span {color:#db3713;}
.mileage .cont .left .recommend .code div input[type="text"] {width:100%; height:40px; border:2px solid #f6850c; box-sizing:border-box; color:#202020; font-weight:bold; font-size:30px; text-align:center; letter-spacing:4px;}
.mileage .cont .right {position: relative; float:left; width:728px; height: 569px; margin-left:20px;}
.mileage .blt-txt {margin-bottom:10px; padding-left:15px; background:url('http://img.go.co.kr/proceeds/ico_mileage_arrow.gif') no-repeat 0 1px; color:#090909; font-weight:bold; font-size:20px;}
.mileage .cont .right .box-cont {padding:12px 10px; border:1px solid #e0e0e0; border-top:5px solid #ff742e;}
.mileage .cont .right .box-cont .copy-code {padding: 5px; border:1px solid #e0e0e0; line-height:1.2; word-break:break-all; width: 688px; height: 64.5px; margin: 0 auto; overflow: auto;}
.mileage .cont .right .box-cont .code-btn {margin-top:10px; text-align:center;}
.mileage .cont .right .box-cont .code-btn a {display:inline-block; width:128px; height:40px; margin:0 5px; border-radius:3px; font-size:18px; line-height:40px; box-sizing:border-box;}
.mileage .cont .right .box-cont .code-btn a.copy {background-color:#f6702c; color:#fff;}
.mileage .cont .right .box-cont .code-btn a.view {border:1px solid #d2d2d2; background-color:#f3f3f3; color:#403a3a;}
.mileage .cont .right .banner_recommend {position: relative; width:367px; height:146px; margin:30px 0 20px; background:url('http://img.go.co.kr/proceeds/banner_mileage.jpg') no-repeat 0 0;}
.mileage .cont .right .banner_recommend:after {position: absolute; content: "5,000P 지급 인트로 배너형"; color: #989898; bottom: 0; right: -183px;}
.mileage .cont .right .banner_recommend .code {padding:94px 23px 0 91px;}
.mileage .cont .right .banner_recommend .code input[type="text"] {width:100%; height:36px; border:none; color:#202020; font-weight:bold; font-size:30px; text-align:center; letter-spacing:4px; box-sizing:border-box;}
.mileage .btm-guide {margin-top:35px;}
.mileage .btm-guide .box-cont {padding:25px 15px 20px; border:1px solid #e0e0e0;}
.mileage .btm-guide .box-cont .copy-code {padding:10px; border:1px solid #e0e0e0; line-height:1.2;}
.mileage .btm-guide .box-cont .code-btn {margin-top:25px; text-align:center;}
.mileage .btm-guide .box-cont .code-btn a {display:inline-block; width:128px; height:40px; margin:0 5px; border-radius:3px; font-size:18px; line-height:40px; box-sizing:border-box;}
.mileage .btm-guide .box-cont .code-btn a.copy {background-color:#f6702c; color:#fff;}
.mileage .btm-guide .box-cont .code-btn a.view {border:1px solid #d2d2d2; background-color:#f3f3f3; color:#403a3a;}

/* 날개배너 추가 170522 이현우 */
.quick {position:fixed; left:50%; top:150px; width:110px; margin-left:560px;}