<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8" />
	<title> 국내외여행, 호텔, 편션, 리조트, 콘도 최저가할인예약 GO.CO.KR </title>

	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0" />
	<!--숫자인식,메일주소,지도상의 주소링크 막기-->
	<meta name="format-detection" content="telephone=no, address=no, email=no" />
	<link rel="stylesheet" href="http://static.go.co.kr/css/swiper.min.css?ver=20170804092500" type="text/css" />
	<link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css">

	<link rel="stylesheet" href="http://static.go.co.kr/css/moblie_reset.css?ver=20170804092500" type="text/css" />
	<link rel="stylesheet" href="http://static.go.co.kr/css/mobile_layout3.css?ver=20170804092500" type="text/css" />

	<!-- 모든사이트 통합 css -->
	<link rel="stylesheet" href="http://static.go.co.kr/css/totalmobile.css" type="text/css" />
	<!--<link rel="stylesheet" href="../static/css/totalmobile.css" type="text/css" />-->



	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>


</head>

<body>

	<div id="wrapper" data-role="page">
	
		<div id="scroll_box">
			<div id="top_box" style="position: fixed; top: 0px; z-index: 9999; width: 100%; background: rgb(255, 255, 255);">
				<!-- 20180305 로고 이미지 변경 클래스 추가 -->
				<div id="head" class="head-type02">
					<div id="allmenu" class="hd_menu">	
						<a href="#none"><img src="http://img.go.co.kr/mobile/icon_menu.png" height="30" alt="전체메뉴" style="display:none"></a>
					</div>
					<div id="logo2"><a href="http://app.go.co.kr/home/main/">고코투어</a></div>
				</div>
				
				<!-- 20180305 메뉴 변경 -->
				<nav class="main-menu-box">
					<ul class="gnb-box">
						<li class="on"><a href="#none">국내숙박</a></li>
						<li><a href="#none">레저입장권</a></li>
						<li><a href="#none">공연/전시</a></li>
						<li><a href="#none">해외숙박</a></li>
					</ul>
				</nav>
			</div>
			
			<!-- 20180305 검색영역 -->
			<div id="search-area">
				<div class="main-input-area">
					<div class="search-box">
						<input class="input-search" name="search" placeholder="지역/숙소명/여행지를 입력하세요.">
						<a href="javascript:;" class="input-sech"></a>
					</div>
					<div class="similar-sech-box">
						<div class="search-box">
							<p class="reg-box"><span>지역선택</span></p>
							<a href="javascript:;" class="input-slreg"></a>
						</div>
						<div class="search-box">
							<p class="cal-box"><span>날짜선택</span></p>
							<a href="javascript:;" class="input-slcal"></a>
						</div>
					</div>
				</div>
				
				<div class="fast-room-search">
					<p class="room-sech-tit">빠른 숙소 찾기</p>
					<div class="fast-room-box">
						<ul class="fast-list">
							<li class="on">
								<a href="#none" class="list-hotel"><span>호텔</span></a>
							</li>
							<li>
								<a href="#none" class="list-condo"><span>리조트/콘도</span></a>
							</li>
							<li>
								<a href="#none" class="list-motel"><span>모텔</span></a>
							</li>
							<li>
								<a href="#none" class="list-gest"><span>게스트하우스</span></a>
							</li>
							<li>
								<a href="#none" class="list-krental"><span>펜션</span></a>
							</li>
							<li>
								<a href="#none" class="list-leisure"><span>레저/입장권</span></a>
							</li>
						</ul>
					</div>
				</div>
				
				<div class="bnt-wrap">
					<a href="javascript:;" class="btn-search"><span>검색하기</span></a>
				</div>
			</div>
			<script type="text/javascript">
				var roomLi = $('#search-area .fast-list li');

				roomLi.find('a').on('click', function(){
					$(this).parent('li').toggleClass('on');
				});
			</script>
			<!--//검색영역 -->
			
			<div id="info_img">
				<div class="swiper-container swiper-container-horizontal swiper-container-android">
					<div class="swiper-wrapper" style="transform: translate3d(-2880px, 0px, 0px); transition-duration: 0ms;"><div class="swiper-slide swiper-slide-duplicate" onclick="location.href='http://app.go.co.kr/home/landing/?dd=SxcyVzZ5PUw1DkdH'" data-swiper-slide-index="8" style="width: 360px;">
							<img src="http://img.go.co.kr/mobile/landing/mobile_birth.jpg?ver=20180305100151" width="100%">
						</div>


												<div class="swiper-slide" onclick="location.href='http://app.go.co.kr/home/landing/push/?dd=TgwlQip5bxtwTBoe'" data-swiper-slide-index="0" style="width: 360px;">
							<img src="http://img.go.co.kr/mobile/landing/20180226_great/bn.jpg?ver=20180305100151" width="100%">
						</div>

						<div class="swiper-slide" onclick="location.href='http://app.go.co.kr/home/landing/push/?dd=SAoyQihDMnxxRhgbTHA='" data-swiper-slide-index="1" style="width: 360px;">
							<img src="http://img.go.co.kr/mobile/landing/20180219_atravel/bn.jpg?ver=20180305100151" width="100%">
						</div>

						<div class="swiper-slide" onclick="location.href='http://app.go.co.kr/home/landing/push/?dd=QxsqVgEXZhNyTxs='" data-swiper-slide-index="2" style="width: 360px;">
							<img src="http://img.go.co.kr/mobile/landing/20180212_jejutravel/bn.jpg?ver=20180305100151" width="100%">
						</div>

						<div class="swiper-slide" onclick="location.href='http://app.go.co.kr/home/landing/push/?dd=Qh8uRClJMHxxRhgYTHM='" data-swiper-slide-index="3" style="width: 360px;">
							<img src="http://img.go.co.kr/mobile/landing/20180119_kangwon/bn.jpg?ver=20180305100151" width="100%">
						</div>

									<div class="swiper-slide" onclick="location.href='http://app.go.co.kr/home/view/?p_no=HE93'" data-swiper-slide-index="4" style="width: 360px;">
							<img src="http://img.go.co.kr/mobile/ocean_main_bn.jpg?ver=20180305100151" width="100%">
						</div>

						<div class="swiper-slide" onclick="location.href='http://app.go.co.kr/home/view/?p_no=Gkl4'" data-swiper-slide-index="5" style="width: 360px;">
							<img src="http://img.go.co.kr/mayhills_mobile_0105.jpg?ver=20180305100151" width="100%">
						</div>

						<div class="swiper-slide swiper-slide-prev" onclick="location.href='http://app.go.co.kr/home/landing/?dd=SBIsfC5UN0AlIRkeTnc='" data-swiper-slide-index="6" style="width: 360px;">
							<img src="http://img.go.co.kr/mobile/landing/20170703_price_all/price_all_main_bn.jpg" width="100%">
						</div>

									<div class="swiper-slide swiper-slide-active" onclick="location.href='http://app.go.co.kr/home/member/?dd=RREnSjA=&amp;rurl=QQo0U2QJcUIwDgZOEW5AMQg1UW8WR0Qbb08/SDpKLhkHFhokHgpRKVMSFGpqMhEeYw=='" data-swiper-slide-index="7" style="width: 360px;">
							<img src="http://img.go.co.kr/mobile/fr_main_bn.jpg" width="100%">
						</div>

						<div class="swiper-slide swiper-slide-next" onclick="location.href='http://app.go.co.kr/home/landing/?dd=SxcyVzZ5PUw1DkdH'" data-swiper-slide-index="8" style="width: 360px;">
							<img src="http://img.go.co.kr/mobile/landing/mobile_birth.jpg?ver=20180305100151" width="100%">
						</div>

					<div class="swiper-slide swiper-slide-duplicate" onclick="location.href='http://app.go.co.kr/home/landing/push/?dd=TgwlQip5bxtwTBoe'" data-swiper-slide-index="0" style="width: 360px;">
							<img src="http://img.go.co.kr/mobile/landing/20180226_great/bn.jpg?ver=20180305100151" width="100%">
						</div></div>
					<div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span></div>
				</div>
			</div>
			
			<!-- 20180305 디자인 수정을 위한 con-type02 클래스 추가 및 태그 변경-->
			<div id="mainWrap" class="hide_div con-type02">
				<div class="contents" style="clear:left;">
					<h3 class="cont-tit">
						<span>고코투어 인기이벤트</span>
						<a href="/home/landing/?dd=TAglTSp5Kkw0H0Q=" class="btn-more">전체보기</a>
					</h3>
					<!--// -->
					<a href="http://app.go.co.kr/home/landing/push/?dd=TgwlQip5bxtwTBoe"><img src="http://img.go.co.kr/mobile/landing/20180226_great/event_bn.jpg?ver=20180305100151" width="100%"></a>
					<a href="http://app.go.co.kr/home/landing/push/?dd=SAoyQihDMnxxRhgbTHA="><img src="http://img.go.co.kr/mobile/landing/20180219_atravel/event_bn.jpg?ver=20180305100151" width="100%"></a>
					<a href="http://app.go.co.kr/home/landing/push/?dd=QxsqVgEXZhNyTxs="><img src="http://img.go.co.kr/mobile/landing/20180212_jejutravel/event_bn.jpg?ver=20180305100151" width="100%"></a>
					<a href="http://app.go.co.kr/home/landing/push/?dd=Qh8uRClJMHxxRhgYTHM="><img src="http://img.go.co.kr/mobile/landing/20180119_kangwon/event_bn.jpg?ver=20180305100151" width="100%"></a>
					<a href="http://app.go.co.kr/home/landing/push/?dd=SA4wfDtQO000IRkeTnkSZg=="><img src="http://img.go.co.kr/mobile/landing/20170915_appEvent/20170915_appEvent_btn.jpg?ver=20180305100151" width="100%"></a>
					<a href="http://app.go.co.kr/home/landing/?dd=TwwpRjBCLQ=="><img src="http://img.go.co.kr/mobile/friendAd_event_bn.jpg?ver=20180305100151" width="100%"></a>
					<a href="http://app.go.co.kr/home/landing/?dd=SxcyVzZ5PUw1DkdH"><img src="http://img.go.co.kr/mobile/goco_m_birthday_bn.jpg?ver=20180305100151" width="100%"></a>
				</div>
			</div>
		</div>
	</div>
</body>

</html>