<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
	<title>고코투어</title>

	<link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css">
	<link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/notosanskr.css">
	<link rel="stylesheet" href="http://static.go.co.kr/fonts/NanumBarunGothic/nanumbarungothic.css">
	<!-- <link rel="stylesheet" href="http://static.go.co.kr/css/proceeds/m/common.css"> -->
	<link rel="stylesheet" href="http://static.go.co.kr/css/proceeds/reset_custom.css">
	<link rel="stylesheet" href="../../../src/css/m/proceeds/common.css">
	<link rel="stylesheet" href="../../../src/css/m/proceeds/proceeds.css">

	<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="http://static.go.co.kr/js/proceeds/proceeds.js"></script>


</head>

<body>
	<h1 class="skip">고고투어 적립금페이지</h1>
	<div id="wrap">
		<header class="header">
			<div class="h-top">
				<h2><img src="http://img.go.co.kr/mobile/logo.png" alt="고코투어로고"></h2>
				<a class="i-my-a" href=""><span class="skip">마이페이지</span></a>
			</div>
			<nav class="gnb" id="gnb">
				<ul class="clearfix">
					<li class="on nth-1"><a href="">HOME</a></li>
					<li class="nth-2"><a href="">추천인수익금현황</a></li>
					<li class="nth-3"><a href="">수익금신청</a></li>
					<li class="nth-4"><a href="">홍보이미지</a></li>
				</ul>
			</nav>
		</header>
		

		<div class="container">
			<section class="codeMoney-sec">
				<ul class="clearfix code-money">
					<li>
						<p class="type-1">
							<i class="icon i-user"></i>김지여엉영님의 <strong>코드</strong><span class="name"></span>
						</p>
						<p class="type-2"><span class="fwe-600 c-orange">A123456</span> <a href="" class="btn-a">복사</a></p>
					</li>
					<li class="nth-2">
						<p class="type-1">
							<i class="icon i-coin"></i>김지여엉영님의 <strong>수익금</strong><span class="name"></span>
						</p>
						<p class="type-2">누적 <span class="fwe-600 c-orange">1,468,000</span>원 <a href="" class="btn-a">현금신청</a></p>
					</li>
				</ul>
			</section>
			<section class="main-sec">
				<a href="" class="main-img"><img src="http://img.go.co.kr/proceeds/m/main_img.png" alt="홍보하면현금5000원씩지급"></a>
			</section>
			<section class="rank-sec">
				<div class="top-bg">
					<span class="center"></span>
					<span class="left"></span>
					<span class="right"></span>
				</div>
				<div class="friend-outer">
					<div class="friend-rankbox">
						<h3>추천인 TOP 랭킹</h3>
						<ul class="fr-rankbox no0">
							<li class="fr-rankbox no1 on"><a href="">전체</a></li>
							<li class="fr-rankbox no2"><a href="">주간</a></li>
							<li class="fr-rankbox no3"><a href="">월간</a></li>
						</ul>
					</div>
					<div class="friend-rank">
						<ul class="fr-low nth-1">
							<li class="fr-cell nth-1"><img src="http://img.go.co.kr/landing//20170320//ranking/1gold.png" alt="1등금메달"></li>
							<li class="fr-cell nth-2">neoa***@naver.com</li>
							<li class="fr-cell nth-3"></li>
							<li class="fr-cell nth-4">1,685,000</li>
						</ul>
						<ul class="fr-low nth-2">
							<li class="fr-cell nth-1"><img src="http://img.go.co.kr/landing//20170320//ranking/2silver.png" alt="2등은메달"></li>
							<li class="fr-cell nth-2">neoa***</li>
							<li class="fr-cell nth-3"></li>
							<li class="fr-cell nth-4">1,285,000</li>
						</ul>
						<ul class="fr-low nth-3">
							<li class="fr-cell nth-1"><img src="http://img.go.co.kr/landing//20170320//ranking/3bronze.png" alt="3등동메달"></li>
							<li class="fr-cell nth-2">neoa***</li>
							<li class="fr-cell nth-3"></li>
							<li class="fr-cell nth-4">1,185,000</li>
						</ul>
						<ul class="fr-low nth-4">
							<li class="fr-cell nth-1">4위</li>
							<li class="fr-cell nth-2">neoa***</li>
							<li class="fr-cell nth-3"></li>
							<li class="fr-cell nth-4">1,000,000</li>
						</ul>
						<ul class="fr-low nth-5">
							<li class="fr-cell nth-1">5위</li>
							<li class="fr-cell nth-2">neoa***</li>
							<li class="fr-cell nth-3"></li>
							<li class="fr-cell nth-4">1,000,000</li>
						</ul>
						<ul class="fr-low nth-6">
							<li class="fr-cell nth-1">6위</li>
							<li class="fr-cell nth-2">neoa***</li>
							<li class="fr-cell nth-3"></li>
							<li class="fr-cell nth-4">1,000,000</li>
						</ul>
						<ul class="fr-low nth-7">
							<li class="fr-cell nth-1">7위</li>
							<li class="fr-cell nth-2">neoa***</li>
							<li class="fr-cell nth-3"></li>
							<li class="fr-cell nth-4">1,000,000</li>
						</ul>
						<ul class="fr-low nth-8">
							<li class="fr-cell nth-1">8위</li>
							<li class="fr-cell nth-2">neoa***</li>
							<li class="fr-cell nth-3"></li>
							<li class="fr-cell nth-4">1,000,000</li>
						</ul>
						<ul class="fr-low nth-9">
							<li class="fr-cell nth-1">9위</li>
							<li class="fr-cell nth-2">neoa***</li>
							<li class="fr-cell nth-3"></li>
							<li class="fr-cell nth-4">1,000,000</li>
						</ul>
						<ul class="fr-low nth-10">
							<li class="fr-cell nth-1">10위</li>
							<li class="fr-cell nth-2">neoa***</li>
							<li class="fr-cell nth-3"></li>
							<li class="fr-cell nth-4">1,000,000</li>
						</ul>
					</div>
				</div>
				<div class="bottom-bg">
					<span class="center"></span>
					<span class="left"></span>
					<span class="right"></span>
				</div>
			</section>
			<section class="step-sec">
				<figure><img src="http://img.go.co.kr/proceeds/step.jpg" alt="적립금지급안내"></figure>
			</section>
		</div>

		<div id="Footer" class="hide_div">
			<ul class="f-menu">
				<li><a href="http://m.go.co.kr/home/member/logout.php?rtn=QQo0U2QJcU5uGUcHHS8NNVRxSy8TTQYTIUowCQ==">로그아웃</a></li>
				<li><a href="http://www.go.co.kr?ver=pc">PC버전</a></li>
				<li><a href="http://m.go.co.kr/home/customer/?dd=QBA0UTE=">고객센터</a></li>
				<li><a href="javascript:navi.move_home();" class="move_top">TOP <span>▲</span></a></li>
			</ul>
			<div class="f-area">
				<ul class="policy">
					<li><a href="http://m.go.co.kr/home/member/?dd=SwwhTTp5N00mEQ==">회사소개</a></li>
					<li><a href="/home/policy/?dd=QxEpTQFWMVM=">이용약관</a></li>
					<li class="privacy"><a href="/home/policy/?dd=WQwpVT9FJw==">개인정보처리방침</a></li>
				</ul>
				<ul class="customer">
					<li><a href="tel:1666-1243" class="call">고객상담 1666-1243</a></li>
					<li><a href="mailto:help@go.co.kr" class="mail">문의메일 : help@go.co.kr</a></li>
				</ul>
				<address>
                    <p>
                        <strong>(주)바로네트웍스</strong><br>
                        대표이사 : 전병권<br>
                        주소 : 서울특별시 강남구 테헤란로82길 15, 3층(대치동, 디아이타워)<br>
                        사업자등록번호 : 215-87-85373<br>                  통신판매업 : 제2017-서울강남-00561호<br>                   여행업등록번호 : 제2017-07호<br>                 여행영업보증서 : 국내여행 제100-000-2015 0144 5816호<br>                 국외여행업등록번호 : 제2017호-26호              </p>
                    <p>
                        <strong>(주)가자닷컴투어</strong><br>
                        대표이사 : 김영환<br>
                        주소 : 서울특별시 강남구 테헤란로82길 15, 13층(대치동, 디아이타워)<br>
                        사업자등록번호 : 220-88-92970<br>
                        통신판매업 : 제2014-서울강남-03546호<br>
                        여행업등록번호 : 제2015-02호
                    </p>
                    <p class="copy">Copyright 2015 by GO.CO.KR co., all right reserved.</p>
                </address>
			</div>
		</div>
	</div>

</body>
</html>