<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
		<title>고코투어</title>

		<link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css">
		<link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/notosanskr.css">
		<link rel="stylesheet" href="http://static.go.co.kr/fonts/NanumBarunGothic/nanumbarungothic.css">
		<!-- <link rel="stylesheet" href="http://static.go.co.kr/css/proceeds/m/common.css"> -->
		<link rel="stylesheet" href="http://static.go.co.kr/css/proceeds/reset_custom.css">
		<link rel="stylesheet" href="../../../src/css/m/proceeds/common.css">
		<link rel="stylesheet" href="../../../src/css/m/proceeds/proceeds.css">

		<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
		<script src="../../../src/js/m/proceeds/proceeds.js"></script>
		<!--<script src="http://static.go.co.kr/js/proceeds/proceeds.js"></script>-->


	</head>

	<body>
		<h1 class="skip">고고투어 적립금페이지</h1>
		<div id="wrap">
			<header class="header">
				<div class="h-top">
					<h2><img src="http://img.go.co.kr/mobile/logo.png" alt="고코투어로고"></h2>
					<a class="i-my-a" href=""><span class="skip">마이페이지</span></a>
				</div>
				<nav class="gnb" id="gnb">
					<ul class="clearfix">
						<li class="nth-1"><a href="">HOME</a></li>
						<li class="nth-2"><a href="">추천인수익금현황</a></li>
						<li class="nth-3"><a href="">수익금신청</a></li>
						<li class="on nth-4"><a href="">홍보이미지</a></li>
					</ul>
				</nav>
			</header>


			<div class="container">
				<section class="codeMoney-sec">
					<ul class="clearfix code-money">
						<li>
							<p class="type-1">
								<i class="icon i-user"></i>김지여엉영님의 <strong>코드</strong><span class="name"></span>
							</p>
							<p class="type-2"><span class="fwe-600 c-orange">A123456</span> <a href="" class="btn-a">복사</a></p>
						</li>
						<li class="nth-2">
							<p class="type-1">
								<i class="icon i-coin"></i>김지여엉영님의 <strong>수익금</strong><span class="name"></span>
							</p>
							<p class="type-2">누적 <span class="fwe-600 c-orange">1,468,000</span>원 <a href="" class="btn-a">현금신청</a></p>
						</li>
					</ul>
				</section>
				<section class="promotion-sec" id="promotion-sec">
					<ul class="promo-tab cursor clearfix" id="tab">
						<li class="on nth-1">인트로</li>
						<li class="">인트로 배너</li>
						<li class="nth-2">SNS 홍보</li>
					</ul>
					<ul class="tab-con" id="tab-con">
						<li class="on">
							<div class="recommend">
								<div class="code">
									<div class="inner">
										<p>김지영님의 <span>추천인 코드!</span></p>
										<input type="text" />
									</div>
									<a class="btn-a" href="#"><img src="http://img.go.co.kr/proceeds/code_copy.gif" alt="추천인 코드 복사" /></a>
								</div>
							</div>
							<div class="copy-code">
								&lt;style&gt;
								.recommendItr, .recommendItr * {margin: 0; padding: 0;}
								.recommendItr {position: relative; width: 208px; height: 370px; box-sizing: border-box; border: 1px solid #dedede;}
								.recommendItr img {position: absolute; top: 0; left: 0; width: 100%;}
								.recommendItr  p {position: absolute; display: block; width: 178px; text-align: center; left: 14px; line-height: 1;}
								.recommendItr .rc-th {bottom: 96px; text-align: center; font-size: 13px; font-weight: 800; font-family: "Nanum Gothic", sans-serif;}
								.recommendItr .rc-th .rc-txt {color: #db3713;}
								.recommendItr .rc-code {bottom: 67px; margin: 0 auto; font-size: 18px; letter-spacing: 1px; text-transform: uppercase; font-family: Arial, sans-serif;}
								&lt;/style&gt;
								&lt;div class="recommendItr"&gt;
								&lt;img src="http://img.go.co.kr/proceeds/codeCopyItr.jpg" alt="5000지급인트로"&gt;
								&lt;p class="rc-th"&gt;&lt;span class="rc-name"&gt;김지영님의&lt;/span&gt; &lt;span class="rc-txt"&gt;추천인 코드!&lt;/span&gt;&lt;/p&gt;
								&lt;p class="rc-code"&gt;A123456&lt;/p&gt;
								&lt;/div&gt;
							</div>
							<p class="btn-area clearfix">
								<a href="" class="btn-a pull-left">코드복사</a>
								<a href="" class="btn-a pull-right">미리보기</a>
							</p>
						</li>
						<li class="">
							<div class="banner-rec">
								<div class="code">
									<input type="text" />
								</div>
							</div>
							<div class="copy-code">
								&lt;style&gt;
								.recommendBn, .recommendBn * {margin: 0; padding: 0;}
								.recommendBn {position: relative; width: 300px; height: 120px; box-sizing: border-box; border: 1px solid #dedede;}
								.recommendBn img {position: absolute; top: 0; left: 0; width: 100%;}
								.recommendBn p {position: absolute; display: block; width: 184px; text-align: center; left: 83px; line-height: 1;}
								.recommendBn .rc-code {bottom: 13px; margin: 0 auto; font-size: 22px; letter-spacing: 1px; text-transform: uppercase; font-family: Arial, sans-serif;}
								&lt;/style&gt;
								&lt;div class="recommendBn"&gt;
								&lt;img src="http://img.go.co.kr/proceeds/codeCopyBn.jpg" alt="5000지급인트로"&gt;
								&lt;p class="rc-code"&gt;A123456&lt;/p&gt;
								&lt;/div&gt;
							</div>
							<p class="btn-area clearfix">
								<a href="" class="btn-a pull-left">코드복사</a>
								<a href="" class="btn-a pull-right">미리보기</a>
							</p>
						</li>
						<li class="">
							<div class="div-h2">
								<strong>홍보문구안내</strong>
								<p class="pull-right">
									<a href="javascript:" class="i-copy"></a><a href="javascript:" class="i-share"></a>
								</p>
							</div>
							<div class="txt-box">
								<p>국내최대 할인숙박 예약 “고코투어”를 추천합니다!</p>
								<p>고코투어 앱 설치하고 추천인코드입력하면5천원 할인쿠폰을 드려요.</p>
								<p>[추천인 코드 :  ]</p>
								<p>추천인 안내페이지http://추천인랜딩url</p>
								<p>고코투어 다운로드 http://다운로드url</p>
							</div>
						</li>
					</ul>
					<!--공유 클릭시 팝업 등장-->
					<div class="bg-drop" id="bg-drop"></div>
					<div class="q-modal" id="q-modal">
						<h2>공유하기<a href="#" class="i-clsBtn" onclick="$(this).closest('div').hide(); $('#bg-drop').hide();"></a></h2>
						<ul>
							<li><a href="#"><img src="http://img.go.co.kr/mobile/f_logo2.png">페이스북</a></li>
							<li><a href="#"><img src="http://img.go.co.kr/mobile/k_logo2.png">카카오톡</a></li>
						</ul>
					</div>
				</section>
			</div>

			<div id="Footer" class="hide_div">
				<ul class="f-menu">
					<li><a href="http://m.go.co.kr/home/member/logout.php?rtn=QQo0U2QJcU5uGUcHHS8NNVRxSy8TTQYTIUowCQ==">로그아웃</a></li>
					<li><a href="http://www.go.co.kr?ver=pc">PC버전</a></li>
					<li><a href="http://m.go.co.kr/home/customer/?dd=QBA0UTE=">고객센터</a></li>
					<li><a href="javascript:navi.move_home();" class="move_top">TOP <span>▲</span></a></li>
				</ul>
				<div class="f-area">
					<ul class="policy">
						<li><a href="http://m.go.co.kr/home/member/?dd=SwwhTTp5N00mEQ==">회사소개</a></li>
						<li><a href="/home/policy/?dd=QxEpTQFWMVM=">이용약관</a></li>
						<li class="privacy"><a href="/home/policy/?dd=WQwpVT9FJw==">개인정보처리방침</a></li>
					</ul>
					<ul class="customer">
						<li><a href="tel:1666-1243" class="call">고객상담 1666-1243</a></li>
						<li><a href="mailto:help@go.co.kr" class="mail">문의메일 : help@go.co.kr</a></li>
					</ul>
					<address>
						<p>
							<strong>(주)바로네트웍스</strong><br>
							대표이사 : 전병권<br>
							주소 : 서울특별시 강남구 테헤란로82길 15, 3층(대치동, 디아이타워)<br>
							사업자등록번호 : 215-87-85373<br>                  통신판매업 : 제2017-서울강남-00561호<br>                   여행업등록번호 : 제2017-07호<br>                 여행영업보증서 : 국내여행 제100-000-2015 0144 5816호<br>                 국외여행업등록번호 : 제2017호-26호              </p>
						<p>
							<strong>(주)가자닷컴투어</strong><br>
							대표이사 : 김영환<br>
							주소 : 서울특별시 강남구 테헤란로82길 15, 13층(대치동, 디아이타워)<br>
							사업자등록번호 : 220-88-92970<br>
							통신판매업 : 제2014-서울강남-03546호<br>
							여행업등록번호 : 제2015-02호
						</p>
						<p class="copy">Copyright 2015 by GO.CO.KR co., all right reserved.</p>
					</address>
				</div>
			</div>
		</div>

	</body>
</html>