&lt;style&gt;
	.recommend { position: relative; width: 208px; height: 350px; margin: 0 auto; background: url("http://img.go.co.kr/proceeds/bg_mileage.jpg") no-repeat 0 0; background-size: 208px; border-bottom: 1px solid #ddd; }

	.recommend .code { position: absolute; top: 260px; left: 10px; width: 188px; height: 79px; text-align: center; background: url("http://img.go.co.kr/proceeds/bg_code.jpg") no-repeat 0 0; background-size: 188px; }

	.recommend .code .inner &gt; p { margin: 7px 0 5px; font-size: 13px; font-weight: 800; font-style: italic; }

	.recommend .code .inner &gt; p &gt; span { color: #d82802; }

	.recommend .code .inner &gt; input { border: 2px #ff742e solid; width: 92%; height: 26px; text-align: center; font-size: 18px; letter-spacing: 1px; padding-top: 2px; text-transform: uppercase; outline: 0; }

	.recommend .code .btn-a { position: absolute; top: 56px; left: 0; display: block; width: 100%; }
&lt;/style&gt;
&lt;div class="recommend"&gt;
	&lt;div class="code"&gt;
		&lt;div class="inner"&gt;
			&lt;p&gt;김지영님의 &lt;span&gt;추천인 코드!&lt;/span&gt;&lt;/p&gt;
			&lt;input type="text" /&gt;
		&lt;/div&gt;
		&lt;a class="btn-a" href="#"&gt;&lt;img src="http://img.go.co.kr/proceeds/code_copy.gif" alt="추천인 코드 복사" /&gt;&lt;/a&gt;
	&lt;/div&gt;
&lt;/div&gt;



&lt;style&gt;
	.banner-rec .code { position: relative; margin: 0 auto; width: 300px; height: 120px; background: url("http://img.go.co.kr/proceeds/banner_mileage.jpg") no-repeat 0 0; background-size: contain; }

	.banner-rec .code &gt; input { position: absolute; top: 78px; left: 77px; width: 196px; height: 30px; text-align: center; font-size: 22px; border: 0; background: none; letter-spacing: 1px; outline: 0; text-transform: uppercase; }
&lt;/style&gt;
&lt;div class="banner-rec"&gt;
	&lt;div class="code"&gt;
		&lt;input type="text" /&gt;
	&lt;/div&gt;
&lt;/div&gt;
