<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8" />
	<title> 국내외여행, 호텔, 편션, 리조트, 콘도 최저가할인예약 GO.CO.KR </title>

	<meta http-equiv="Cache-Control" content="No-Cache" />
	<meta http-equiv="Pragma" content="No-Cache" />
	<meta http-equiv="expire" content="-1">

	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0" />
	<!--숫자인식,메일주소,지도상의 주소링크 막기-->
	<meta name="format-detection" content="telephone=no, address=no, email=no" />
	<!--북마크 추가시 바탕화면에서 볼수있는 아이콘 이미지(png저장)-->
	<link rel="apple-touch-icon" href="http://img.go.co.kr/mobile/icon.png" />
	<link rel="stylesheet" href="http://static.go.co.kr/css/swiper.min.css?ver=20170804092500" type="text/css" />
	<link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css">

	<link rel="stylesheet" href="http://static.go.co.kr/css/moblie_reset.css?ver=20170804092500" type="text/css" />
	<link rel="stylesheet" href="http://static.go.co.kr/css/mobile_layout3.css?ver=20170804092500" type="text/css" />

	<!-- 모든사이트 통합 css -->
	<link rel="stylesheet" href="http://static.go.co.kr/css/totalmobile.css" type="text/css" />
	<!--<link rel="stylesheet" href="../../../src/css/totalmobile.css" type="text/css" />-->



	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>


	<!--170920 이미지로딩용 스크립트 추가-->
	<script src="http://static.go.co.kr/js/jquery.lazyload.min.js"></script>
	
	<script>
		$(function() {
			$("img.itm-img").lazyload({
				effect: "fadeIn"
			});
		});
	</script>
	
	
	<style>
		.schTabBox {position: relative; width: 100%; height: 34px; background: #000;}
		.schTabBox .schTab {padding-left: 16px;}
		.schTabBox .schTab li {float: left; margin: 0 10px;}
		.schTabBox .schTab a {font-size: 12px; line-height: 33px; color: #fff;}
		.schTabBox .schTab li.on a {color: #f15d28;}
		
	</style>
	

</head>

<body onunload="">

	<div id="wrapper" data-role="page">
		<div id="scroll_box">
			
			<div class="schTabBox">
				<ul class="schTab clr">
					<li class="on"><a href="#">고코추천</a></li>
					<li><a href="#">중구</a></li>
					<li><a href="#">동구</a></li>
				</ul>
			</div>
			<div id="search_list" style="padding-bottom:0">
				
				<div class="zone_recommend dragitem">
					<img class="itm-img" src="http://cache.go.co.kr/media/375/file.go.co.kr/tour/img3/1503649557_main1.jpg" data-original="http://cache.go.co.kr/media/375/file.go.co.kr/tour/img3/1503649557_main1.jpg">
					<img src="http://img.go.co.kr/mobile/banner_lowest_price.gif" alt="" class="lowPrc">
					<div class="category"><span>리조트</span></div>
					<div class="store_name">★고코추천 </div>
					<div class="store_info">
						<div class="guide" style="width:65%;">
							<ul>
								<li>체크인 15:00 / 체크아웃 11:00</li>
								<!--<li>6.0 만족 (308)</li>-->
								<li>고성 | 삼포해수욕장 : 10초 </li></ul>
						</div>
						<div class="money">
							<strong class="prc" style="font-size:1.300em">64,000원</strong>
						</div>
					</div>
				</div>
				<div class="zone_recommend dragitem">
					<img class="itm-img" src="http://cache.go.co.kr/media/375/file.go.co.kr/tour/img3/1503649557_main1.jpg" data-original="http://cache.go.co.kr/media/375/file.go.co.kr/tour/img3/1503649557_main1.jpg">
					<img src="http://img.go.co.kr/mobile/banner_lowest_price.gif" alt="" class="lowPrc">
					<div class="category"><span>리조트</span></div>
					<div class="store_name">★중구 </div>
					<div class="store_info">
						<div class="guide" style="width:65%;">
							<ul>
								<li>체크인 15:00 / 체크아웃 11:00</li>
								<!--<li>6.0 만족 (308)</li>-->
								<li>고성 | 삼포해수욕장 : 10초 </li></ul>
						</div>
						<div class="money">
							<strong class="prc" style="font-size:1.300em">64,000원</strong>
						</div>
					</div>
				</div>
				<div class="zone_recommend dragitem">
					<img class="itm-img" src="http://cache.go.co.kr/media/375/file.go.co.kr/tour/img3/1503649557_main1.jpg" data-original="http://cache.go.co.kr/media/375/file.go.co.kr/tour/img3/1503649557_main1.jpg">
					<img src="http://img.go.co.kr/mobile/banner_lowest_price.gif" alt="" class="lowPrc">
					<div class="category"><span>리조트</span></div>
					<div class="store_name">★동구 </div>
					<div class="store_info">
						<div class="guide" style="width:65%;">
							<ul>
								<li>체크인 15:00 / 체크아웃 11:00</li>
								<!--<li>6.0 만족 (308)</li>-->
								<li>고성 | 삼포해수욕장 : 10초 </li></ul>
						</div>
						<div class="money">
							<strong class="prc" style="font-size:1.300em">64,000원</strong>
						</div>
					</div>
				</div>
				
				
			</div>

		</div>
		
		<div id="ouput"></div>
		<div id="movex">이동X</div>
		<div id="movey">이동Y</div>
	</div>
			
	<script>
		$(function(){
			$('.dragitem').bind('touchstart',function (e) {
				var event = e.originalEvent;
				$("#output").html('<h1>'+event.touches[0].screenX+'</h1>');
				e.preventDefault()
			});
			$('.dragitem').bind('touchmove',function (e) {
				var event = e.originalEvent;
				$("#output").html('<h1>'+event.touches[0].screenX+'</h1>');
				e.preventDefault()
			});
			$('.dragitem').bind('touchend',function (e) {
				var event = e.originalEvent;
				$("#output").html('<h1>'+event.touches[0].screenX+'</h1>');
				e.preventDefault()
			});
		});

		
	</script>

			

</body>

</html>