@charset "utf-8";
@import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css");

/* 초기화 */
.rn-schBox input[type=text] {
	-webkit-appearance: none; -moz-appearance: none; appearance: none; border: none; outline: none;
}

/* 글자 Sptr */
.mainSprt {background: url(http://img.gaza82.co.kr/renew/mainSprt.png) no-repeat;}

/* 아이콘 */
.i-sch {position: relative; display: inline-block; vertical-align: middle; background: url(http://img.gaza82.co.kr/renew/i_sprt_01.png) no-repeat left center; height: 30px;}
.i-sch.i-pen {width: 20px; background-position: 0 0;}
.i-sch.i-bad {width: 33px; background-position: -40px 0;}
.i-sch.i-cal {width: 22px; background-position: -80px 0;}
.i-sch.i-mag {width: 20px; background-position: -120px 0;}


/* 공통 css */
.bsLs, .bsLs * {box-sizing: border-box; letter-spacing: -0.5px;}
.mgl, .mg- {position: relative; display: inline-block; vertical-align: middle;}
.ftfm-sq {font-family: "Nanum Square", "Nanum Gothic", sans-serif;}

/* 공통 박스너비 시작 */
.rn-container {width: 1400px; margin: 0 auto;}

/* 푸터 */
.footer {position: relative; width: 100%; background: #282828; clear: both;}
.footer .f-logo {width: 130px; margin: 15px 0;}
.footer .mgl {margin: 0 10px; width: 1px; height: 15px; background: #fff; top: -1px;}
.footer .f-top {width: 100%; height: 50px; padding-top: 12px; background: #212121;}
.footer .cm-s, .footer .busInf {color: #fff; font-size: 15px;}
.footer .f-policy a {color: #fff; font-size: 16px;}
.footer .cm-s {width: 1002px; margin: 0 auto; text-align: center;}
.footer .f-area {padding-bottom: 24px; line-height: 1.6; font-family: "Nanum Gothic", sans-serif;}
.footer address .mgl {margin: 0 6px;}
.footer address strong {font-size: 18px;}
.footer .busInf {position: relative; display: inline-block; font-size: 13px; padding: 0px 5px; border: 1px solid #646464; margin-left: 10px;}
.footer .busInf span {position: relative; top: -2px;font-family: "Nanum Gothic", sans-serif; font-size: 10px; font-weight: 700; margin-left: 5px;}
.footer .f-certImg {margin-top: 5px;}
.footer small.cm-s {display: block; margin-top: 10px;}


/* 달력 색상수정 */
.sltCal-sec h3, .sltCal-sec .btn-a {background: #434343;}

#headerWrap, #gnbWrap, #fix-nav, .mainBox02_wrapper, #Footer {min-width: 1002px; font-family: "Nanum Square", "Nanum Gothic", sans-serif;}

#top2 {border-bottom: none; background: #1d1d1d; box-sizing: border-box; padding-top: 12px; height: 40px; font-family: "Nanum Square", "Nanum Gothic", sans-serif;}
#top2 .link {width: 1400px; margin: 0 auto;}
#top2 .link .mgl {position: relative; color: #fff; font-size: 15px; margin: 0 5px; top: -2px;}
#top2 .link a {font-size: 13px; line-height: 1.2; color: #fff; font-size: 15px;}
#top2 .link a:hover {color: #fff;}

/*#headerWrap {width: 100%;}
#headerWrap .header {top: 30px; width: 1002px; margin: 0 auto;}
#headerWrap .header .logo {float: none; width: auto; margin-top: 0; display: inline-block;}
#headerWrap .header .menu {position: absolute; margin-top: 0; top: 12px; right: 0;}
#headerWrap .header .menu .mgl {position: relative; color: #888787; margin: 0 5px; top: -3px;}
#headerWrap .header .menu a {font-size: 15px; font-weight: 400;}*/

/*#headerWrap .header #AutosearchBox .Searching p a:hover {float:left; display:block; background:#FAF4C0; padding-left:10px; width:250px; height:25px; color:#4b4b4c; letter-spacing:-0.3px}
#overlay { position: absolute; top: 0; left: 0; z-index: 450; width: 100%; height: 100%; background-color: #464646; opacity: 0.8 }*/


#gnbWrap, #mainBox02_wrapper #mainBox02 .mainTicket .photo {background: #fff;}

#gnbWrap, #gnbWrap .gnb > li {height: auto;}
#gnbWrap .gnb {width: 1400px; height: 60px;}
#gnbWrap .gnb > li {line-height: inherit;}
#gnbWrap .gnb > li > a {width: 315px; color: #000; font-weight: 700; height: 60px; line-height: 62px;}
#gnbWrap .gnb > li > a > span {display: block; margin: 0 auto; width: 20px; height: 4px; background: #000; margin-top: 3px;}
#gnbWrap .gnb > li > a > span:first-child {margin-top: 13px;}
#gnbWrap .gnb > li > a:hover {background: #f4f4f4;}
#gnbWrap .gnb .logo {margin-right: 10px;}
#gnbWrap .gnb .logo > a:hover {background: #fff;}
#gnbWrap .gnb .logo > a {width: 126px;}
#gnbWrap .gnb .logo img {position: relative; top: -1px;/*top: 10px;*/ width: 100%;}
#gnbWrap .gnb .line {background: #dedcdd; height: 60px;}
#gnbWrap .gnb .subMenu, #gnbWrap .gnb #gnb_sub_globalTotal {border-top: 1px solid #dedcdd; background: #fff;}


/* 리뉴얼 대문 */

.rn-mdBox {position: relative; width: 100%; height: 926px; background: url(http://img.gaza82.co.kr/renew/maindoor_bg.jpg) center;}
.rn-mdBox .md-txt {text-align: center; padding: 240px 0 114px;}
.rn-mdBox .md-schTit {position: relative; text-align: center; width: 1250px; margin: 0 auto;}
.rn-mdBox .md-schTit .mainSprt-01 {display: inline-block; width: 426px; height: 26px;}
.rn-mdBox .md-schTit:before, .rn-mdBox .md-schTit:after {content: ""; display: block; position: absolute; width: 377px; height: 3px; background: #fff; top: 12px;}
.rn-mdBox .md-schTit:before {left: 0;}
.rn-mdBox .md-schTit:after {right: 0;}
.rn-mdBox .mg- {width: 1250px; height: 3px; background: #fff; margin: 0 auto; display: block;}


.rn-mdBox .rn-schBox {position: relative; width: 1250px; margin: 24px auto 44px;}
.rn-mdBox .rn-schBox > div {position: relative; float: left; background: #fff; height: 50px; padding: 11px 12px 0 11px; cursor: pointer; border-radius: 4px; margin-left: 26px;}
.rn-mdBox .rn-schBox > div .p1 {color: #4f4f4f; font-size: 20px;}
.rn-mdBox .rn-schBox > div .p1 input, .rn-mdBox .rn-schBox > div .p1 .s-txt {overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.rn-mdBox .rn-schBox > div .p1 input {position: relative; font-size: 19px; /* top: 4px; */}
.rn-mdBox .rn-schBox > div .p1 .i-sch {position: relative; top: -1px; float: right;}
.rn-mdBox .rn-schBox > div .p1 .s-txt {display: inline-block; width: 124px; vertical-align: middle;}
.rn-mdBox .rn-schBox > div .p1 .sch-inp {width: 264px; background: none;}
.rn-mdBox .rn-schBox > div .p1 .date-chk {font-size: 19px; width: 146px; background: none; cursor: pointer;}
.ie8 .rn-mdBox .rn-schBox .cm-s {background-position: 140px center;}
.rn-mdBox .rn-schBox .d1 {width: 312px; margin-left: 0;}
.rn-mdBox .rn-schBox .d2 {width: 186px;}
.rn-mdBox .rn-schBox .d3, .rn-mdBox .rn-schBox .d4 {width: 197px;}
.rn-mdBox .rn-schBox .d3 {}
.rn-mdBox .rn-schBox .d4 {}
.rn-mdBox .rn-schBox .d5 {width: 253px; padding: 0;}
.rn-mdBox .rn-schBox .d5 button {width: 100%; height: 100%; border: none; background: #292929; color: #fff; font-size: 20px; border-radius: 4px; text-indent: -10px; cursor: pointer;}
.rn-mdBox .rn-schBox .d5 button img {margin-right: -7px;}
.rn-mdBox .rn-schBox .d5 button:hover {background: #383838;}
.rn-mdBox .rn-schBox input[type=text]::-webkit-input-placeholder {color: #4f4f4f;}
.rn-mdBox .rn-schBox input[type=text]::-moz-placeholder {color: #4f4f4f;}
.rn-mdBox .rn-schBox input[type=text]:-ms-input-placeholder {color: #4f4f4f;}
.rn-mdBox .rn-schBox input[type=text]:-moz-placeholder {color: #4f4f4f;}
.rn-mdBox .scrBtn {position: absolute; bottom: 50px; left: 50%; margin-left: -25px; display: block; width: 50px; height: 49px; background: url(http://img.gaza82.co.kr/renew/i_wdArr.png); border: none; outline: none; cursor: pointer;}
/*.rn-mdBox .rn-schBox .ul1 {position: absolute; width: 100%; left: 0; top: 84px; background: #fff; border: 1px solid #dcdcdc; border-top: 2px solid #e95791; overflow:auto; height: 150px;}*/
.rgOption {
	/*opacity: 0;
	visibility: hidden;*/
	position: absolute;
	z-index: 1;
	top: 54px;
	left: 0;
	width: 100%;
	background: #fff;
	border-top: 3px solid #434343;
	height: 186px;
	overflow: hidden;
}
/*.rgOption.on {opacity: 0; visibility: visible;}*/
.lt-ie10 .rgOption {overflow-y: auto; display: none;}
.rgScroller {
	position: absolute;
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 100%;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}
.rn-mdBox .rn-schBox .ul1 > li {}
.rn-mdBox .rn-schBox .ul1 > li a {display: block; font-size: 15px; padding: 3.5px 12px; line-height: 1.4; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.rn-mdBox .rn-schBox .ul1 > li a:hover {background: #efefef;}


/* 공통 */
.cm-s-sec {position: relative; padding: 35px 0 85px; letter-spacing: -0.5px;}
.cm-s-sec .mg- {height: 2px; width: 40px; display: block; margin: 10px auto; background: #eb2838;}
.cm-s-sec h2 {font-size: 24px; font-family: "Nanum Square", "Nanum Gothic", sans-serif; color: #3f3f3f; text-align: center; font-weight: 300;}
.cm-s-sec .p-fig {text-align: center;}
/* 핫한 국내 숙소 모음 */
.hotTrv-sec {background: #f4f4f4;}
.hotTrv-sec .ttImg {position: relative; display: block; width: 255px; height: 34px; margin: 15px auto 0; background-position: 0 -50px;}
/*.hotTrv-sec .p-fig {text-align: center;}*/
/*.hotTrv-sec .mg- {height: 2px; width: 40px; display: block; margin: 10px auto; background: #eb2838;}*/
/*.hotTrv-sec h2 {font-size: 24px; font-family: "Nanum Square", "Nanum Gothic", sans-serif; color: #3f3f3f; text-align: center; font-weight: 300;}*/
.hotTrv-sec .msBox-wrap {position: relative; margin-top: 12px;}
.hotTrv-sec .msBox-wrap > div {position: relative; float: left;}
.hotTrv-sec .msBox-wrap h3 {display: inline-block; font-weight: 700; text-align: center; position: absolute; position: absolute; left: 0; top: 0; color: #fff; z-index: 1; font-size: 20px; box-sizing: border-box;}
.hotTrv-sec .msBox-wrap .msBox-01 {width: 834px; margin-right: 6px;}
.hotTrv-sec .msBox-wrap .msBox-01 h3 {background: rgba(0, 0, 0, 0.61); width: 141px; height: 42px; top: 10px; line-height: 44px;}
.hotTrv-sec .msBox-wrap .msBox-01 .p1 {position: absolute; left: 0; top: 16px; font-size: 21px; color: #363636; padding-left: 148px;}
.hotTrv-sec .msBox-wrap .msBox-01 .p1.c-1 {color: #fff;}
.hotTrv-sec .msBox-wrap .msBox-02, .hotTrv-sec .msBox-wrap .msBox-03 {width: 560px;}
.hotTrv-sec .msBox-wrap .msBox-02 {}
.hotTrv-sec .msBox-wrap .msBox-02 h3, .hotTrv-sec .msBox-wrap .msBox-03 h3 {left: 18px; width: 82px; height: 62px; line-height: 1.1; padding-top: 11px;}
.hotTrv-sec .msBox-wrap .msBox-02 h3 {background: rgba(236, 53, 68, 0.8);}
.hotTrv-sec .msBox-wrap .msBox-03 {margin-top: 5px;}
.hotTrv-sec .msBox-wrap .msBox-03 h3 {background: rgba(255, 198, 0, 0.8);}
.ie8 .hotTrv-sec .msBox-wrap .msBox-01 h3 {background: rgb(0, 0, 0);}
.ie8 .hotTrv-sec .msBox-wrap .msBox-02 h3 {background: rgb(236, 53, 68);}
.ie8 .hotTrv-sec .msBox-wrap .msBox-03 h3 {background: rgb(255, 198, 0);}


/*--- bxSlider 재정의 ---*/
.hotTrv-sec .bx-wrapper {position: relative; margin: 0 auto; border: none; width: 100%; box-shadow: none;}
.hotTrv-sec .bx-wrapper .bx-loading {background: none;}
.hotTrv-sec .bx-wrapper .bx-viewport {border: none; box-shadow: none; left: 0; background: none;}
.hotTrv-sec .bx-wrapper .bx-controls {}
.hotTrv-sec .bx-wrapper .bx-controls-direction {position: absolute; width: 100%; width: 100%; left: 0; top: 50%; margin-top: -22.5px;}
.hotTrv-sec .bx-wrapper .bx-controls-direction a {display: block;}
.hotTrv-sec .bx-wrapper .bx-controls-direction a {background: none; width: 45px; height: 45px; top: 0; margin-top: 0; z-index: 1;}
.hotTrv-sec .bx-wrapper .bx-prev {left: 20px;}
.hotTrv-sec .bx-wrapper .bx-next {right: 20px;}
.hotTrv-sec .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto
, .hotTrv-sec .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {display: none;}
.hotTrv-sec .bx-wrapper .bx-controls-direction {margin-top: -29.5px;}
.hotTrv-sec .bx-wrapper .bx-controls-direction a {width: 60px; height: 59px;}
.hotTrv-sec .bx-wrapper .bx-prev {left: 30px;}
.hotTrv-sec .bx-wrapper .bx-next {right: 30px;}
.hotTrv-sec .bx-wrapper .bx-pager {padding: 0; text-align: right; box-sizing: border-box;}
.hotTrv-sec .bx-wrapper .bx-pager.bx-default-pager a {background: #fff; margin: 0 3px; width: 12px; height: 12px; border-radius: 50%;}
.hotTrv-sec .bx-wrapper .bx-pager.bx-default-pager a:hover, .hotTrv-sec .bx-wrapper .bx-pager.bx-default-pager a.active
, .hotTrv-sec .bx-wrapper .bx-pager.bx-default-pager a:focus {background: #ff6c7b;}
/*.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {}*/

.hotTrv-sec .msBox-01 .bx-wrapper .bx-pager {bottom: 20px; text-align: right; padding-right: 50px;}
.hotTrv-sec .msBox-02 .bx-wrapper .bx-pager, .hotTrv-sec .msBox-03 .bx-wrapper .bx-pager {bottom: auto; top: 12px; text-align: right; padding-right: 10px;}
.hotTrv-sec .msBox-02 .bx-wrapper .bx-controls-direction, .hotTrv-sec .msBox-03 .bx-wrapper .bx-controls-direction {display: none;}
.hotTrv-sec .msBox-01 .bx-wrapper .bx-pager.bx-default-pager a {width: 20px; height: 20px;}


/* 테마별 국내 숙소 모음 */
.themeTrv-sec {background: #fff; padding: 35px 0 25px;}
.themeTrv-sec .ttImg {position: relative; display: block; width: 313px; height: 33px; margin: 15px auto 0; background-position: 0 -100px;}
.thImgBox-wrap {margin-top: 44px;}
.thImgBox-wrap > a {position: relative; float: left; display: block; margin-left: 13.33px;}
.thImgBox-wrap > a:first-child {margin-left: 0;}
.thImgBox-wrap > a .d1 {position: relative;width: 294px; height: 82px; box-sizing: border-box; border: 1px solid #d9d9d9; margin: 0px auto; top: -40px; background: #fff; text-align: center; padding-top: 15px; letter-spacing: -0.5px; line-height: 1.3;}
.thImgBox-wrap > a .d1 .p0 {font-size: 17px; color: #7e7e7e;}
.thImgBox-wrap > a .d1 .p1 {font-size: 24px; color: #353535; font-weight: 700;}

/* 고객센터 */
.custTrv-sec {background: #fafafa; padding: 35px 0 115px;}
.custTrv-sec .ttImg {position: relative; display: block; width: 386px; height: 34px; margin: 15px auto 0; background-position: 0 -150px;}
.custBox-wrap {margin-top: 44px;}

.custTrv-sec {background: #fafafa;}
.custTrv-sec .ttImg {position: relative; display: block; width: 386px; height: 34px; margin: 15px auto 0; background-position: 0 -150px;}
.custTrv-sec .d2 {width: 1330px; margin: 44px auto 0;}
.custTrv-sec .d2 > div {float: left; position: relative;  height: 224px; width: 50%;}
.custTrv-sec .d2 > div > .p0 {color: #3f3f3f; font-size: 22px; font-weight: 800; border-bottom: 1px solid #d8d8d8; padding-bottom: 5px;}
.custTrv-sec .d2 .d2-2 {padding-right: 38px;}
.custTrv-sec .d2 .d2-1 {padding-left: 38px; border-left: 1px solid #dcdcdc;}
.custTrv-sec .d2 .more-a {display: inline-block; font-size: 18px; float: right; font-weight: 400;}
.custTrv-sec .d2 .d2-2 .ul2 {padding-top: 12px;  margin-top: -1px;}
.custTrv-sec .d2 .d2-2 .ul2 > li {border-top: 1px dashed  #d8d8d8;}
.custTrv-sec .d2 .d2-2 .ul2 > li:first-child {border-top: none;}
.custTrv-sec .d2 .d2-2 .ul2 > li a {position: relative; display: block; color: #333; padding: 6px 0 6px 20px; line-height: 28px; font-size: 18px;}
/*.custTrv-sec .d2 .d2-2 .ul2 > li a:hover {color: #1fa0d5;}*/
.custTrv-sec .d2 .d2-2 .ul2 > li a:before {content: 'Q.'; position: absolute; left: 0; top: 5px;}
.custTrv-sec .d2 .d2-2 .ul2 > li a span {display: inline-block; font-size: 14px; color: #494747; float: right; background: #f2f2f2; border: 1px solid #d8d8d8; border-radius:  14px; padding: 1px 10px 0; line-height: 24px;}
.custTrv-sec .d2 .d2-1 .ul1 {margin-top: 32px;}
.custTrv-sec .d2 .d2-1 .ul1 > li {float: left; width: 109px; height: 109px; margin-left: 20px;}
.custTrv-sec .d2 .d2-1 .ul1 > li:first-child {margin-left: 0;}
.custTrv-sec .d2 .d2-1 .ul1 > li.nth-2 a img {position: relative; left: 6px;}
.custTrv-sec .d2 .d2-1 .ul1 > li a {position: relative; display: block; width: 100%; height: 100%; background: #d4d4d4; text-align: center; padding-top: 28px; border-radius: 50%;}
.custTrv-sec .d2 .d2-1 .ul1 > li a > span {position: absolute; width: 100%; bottom: -36px; display: block; color: #424141; font-size: 18px;}



/* 예약하기 페이지 - res-ti 수정 */
.rn-mdBox.res-ti {width: 100%; height: 287px; background: url(http://img.gaza82.co.kr/renew/reservation/top_intro.jpg) center bottom; box-sizing: border-box; padding-top: 58px;}
.rn-mdBox.res-ti .ti-txt {text-align: center;}
.rn-mdBox.res-ti .rn-schBox .d5 button {background: #fc5563;}
.rn-mdBox.res-ti .rn-schBox .d5 button:hover {background: #fc616d;}
.rn-mdBox.res-ti .rn-schBox {width: 1125px;}
.rn-mdBox.res-ti .rn-schBox > div {margin-left: 5px;}
.rn-mdBox.res-ti .rn-schBox .d1 {margin-left: 0px;}
.rn-mdBox.res-ti .rn-schBox .d2, .rn-mdBox.res-ti .rn-schBox .d3, .rn-mdBox.res-ti .rn-schBox .d4 {width: 180px;}
.rn-mdBox.res-ti .rn-schBox .d5 {width: 253px;}
.rn-mdBox.res-ti .rn-schBox > div .p1 .date-chk {width: 132px;}
.rn-mdBox.res-ti.rn-mdBox .rn-schBox > div .p1 .s-txt {width: 121px;}


.content-nav {width: 1004px; margin: 20px auto 0; border: 1px solid #d8d8d8;}
.content-nav > a, .content-nav .rg-drBox button {height: 43px;}
.content-nav > a {position: relative; display: inline-block; font-size: 17px; padding: 11px 25px 11px 10px; background: url(http://img.gaza82.co.kr/renew/borAr.png) no-repeat center right; color: #3f3f3f;}
.content-nav > a:first-child {padding-left: 10px;}
.content-nav > a img {vertical-align: middle; position: relative; top: -2px;}
.content-nav .rg-drBox {float: right; position: relative;}
.content-nav .rg-drBox button {width: 100%; border: none; background: #fff; font-size: 17px; color: #3f3f3f; padding-right: 6px; outline: none;}
.content-nav .rg-drBox button .s-dArr {display: inline-block; position: relative; top: -1px; font-size: 14px; margin-left: 3px;}
.content-nav .rg-drBox .drMenu {display: none; position: absolute; top: 43px; right: -1px; z-index: 1; width: 100%; border: 1px solid #d8d8d8; background: #fff;}
.content-nav .rg-drBox .drMenu:before, .content-nav .rg-drBox .drMenu:after {content: ""; position: absolute; display: block; border: 10px solid transparent; border-bottom-color: #d8d8d8; top: -20px; left: 50%; margin-left: -10px;}
.content-nav .rg-drBox .drMenu:after {border-bottom-color: #fff; top: -19px;}
.content-nav .rg-drBox .drMenu > li {float: left; width: 50%;}
.content-nav .rg-drBox .drMenu > li a {display: block; color: #424242; font-size: 16px; text-align: center; padding: 6px 0;}
.content-nav .rg-drBox .drMenu > li a:hover {color: #fc5563;}

.content-sec {margin-bottom: 50px;}
.content-sec #contents {float: none; border: 1px solid #d8d8d8; margin-top: 10px;}
.content-sec #main5 .right {position: relative; top: -8px;}
.content-sec #main5 .goods_info tr {border: none;}
.content-sec #main5 .goods_info .tit2, .content-sec #main5 .goods_info .contents {border-bottom: none;}
.content-sec #main5 .goods_info tr.pdtName {border-bottom: 1px solid #d3d3d3;}

.content-sec #main5 .goods_info .contents {height: auto; padding: 5px 0; line-height: 1.3;}
.content-sec #main5 .goods_info tr.pdtName + tr .contents {padding-top: 10px;}
.content-sec #main5 .goods_info tr.homeSite td {padding-bottom: 15px;}
.content-sec #main5 .goods_info tr.tr-1 td {padding-top: 10px;}
.content-sec #main5 .goods_info tr.tr-3 td {padding-bottom: 10px;}
.content-sec #main5 .goods_info tr.bg-g1 {background: #f8f8f8;}
.content-sec #main5 .goods_info tr.bg-g1 .contents {padding-left: 5px;}
.content-sec #main5 .goods_info tr td span[class*=s-] {display: inline-block; background: #585858; color: #FFF; width: 20px; text-align: center; margin-right: 5px;}

.content-sec #rsv_sang #rsv_s_list_box2 #rsv_s_list {border-bottom: 1px solid #ddd;}

.content-sec .infom_box {float: none; clear: both; margin-top: 30px;}
.content-sec .infom_box .str-h2
, .content-sec #contents .detail_goods
, .content-sec #contents .goods_gallery 
, .content-sec .infom_box .dtImgBox
, .content-sec .info_box
{position: relative; width: 954px; margin: 0 auto; clear:both;}
.content-sec .infom_box .str-h2 {display: block; height: 47px; box-sizing: border-box; background: #5e5e5e; color: #fff; text-align: left; padding: 5px 0px 0 10px; font-size: 26px; margin-bottom: 20px; /*width: 800px; margin: 0 auto;*/ font-family: "Nanum Square", sans-serif;}
.content-sec .infom_box .str-h2 .s-sm {font-size: 20px; color: #a6a6a6;}
.content-sec #contents .detail_goods {padding: 0; /*margin: 0 auto;*/}
.content-sec .infom_box .dtImgBox {box-sizing: border-box; padding: 77px; background: #f3f3f3; margin-top: 10px;}

.content-sec .info_box {padding: 0; border: none;}
.content-sec .info_box .info_tit
, .content-sec .info_box .info_tit1_2
, .content-sec #contents .info_tit2 {margin-bottom: 0; margin-top: 20px; font-family: "Noto Sans KR", "Nanum Gothic", sans-serif; font-weight: 400;}

.content-sec .info_box .info_txt
, .content-sec .infom_box .info_txt2
, .content-sec .infom_box .info_none {background: #f8f8f8; margin-top: 10px; padding: 15px 10px;}

.content-sec .info_box .establishment_wrap2 {margin-left: 0; margin-bottom: 0;}
.content-sec .info_box .establishment_wrap2 .establishment_list2 {position: relative; left: -25px;}
.content-sec .info_box .establishment_wrap2 .establishment_list2 li {padding-top: 0;}

/*리스트용 검색 바*/
.rn-mdBox.list-ti {width: 100%; height: 137px; background: url(http://img.gaza82.co.kr/renew/reservation/top_intro.jpg) center bottom; box-sizing: border-box; padding-top: 20px;}
.rn-mdBox.list-ti .rn-schBox {margin: 10px auto 0;}
.rn-mdBox.list-ti .rn-schBox .ti-txt {}
.rn-mdBox.list-ti .rn-schBox > div {box-shadow: 2px 2px 3px 1px rgba(0,0,0,.2);}