<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ko" lang="ko">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="UTF-8">
    <title>상세피이지 로고 추가</title>

    <link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/layout_new3.css" />
	<!--<link rel="stylesheet" type="text/css" href="../../../src/css/layout_new3.css" />-->
    <!--<link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/totalweb.css" />-->
    <link rel="stylesheet" type="text/css" href="../../../src/css/totalweb.css" />

    <link href="http://static.go.co.kr/css/css_pirobox/style_2/style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/advisor.css" />
    <link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/event.css" />
    <link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/prettyPhoto.css" media="screen" title="prettyPhoto main stylesheet" charset="utf-8" />

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    
    
</head>
<body>

	<div id="wrapper" class="noover">
		<div id="left_mn">

			<h3>이벤트</h3>
			<ul>
				<li id="lmn_faq"><a href="/home/customer/?dd=Tx8x">자주묻는질문</a></li>
				<li id="lmn_faq"><a href="/home/customer/?dd=WxsjTDNLO00k">숙소 추천받기</a></li>
				<li id="lmn_faq"><a href="/home/customer/?dd=XxclVA==&amp;brd=RxE0Sj1D&amp;bnum=HEt4Gm4=">공지사항</a></li>
				<li id="lmn_event" class="on"><a href="http://www.go.co.kr/home/customer/?dd=TAglTSo=">이벤트</a></li>
			</ul>
			<table class="quick_mn">
				<colgroup>
					<col width="145">
					<col width="30">
				</colgroup>
				<tbody>
					<tr>
						<td colspan="2" class="tit">자주묻는질문 BEST 5</td>
					</tr>
					<tr>
						<td><a href="http://www.go.co.kr/home/customer/?dd=Tx8x&amp;bnum=HE1z">예약취소</a></td>
						<td class="b_r"></td>
					</tr>
					<tr>
						<td><a href="http://www.go.co.kr/home/customer/">예약진행절차 보기</a></td>
						<td class="b_r"></td>
					</tr>
					<tr>
						<td><a href="http://www.go.co.kr/home/customer/">시설이용안내</a></td>
						<td class="b_r"></td>
					</tr>
					<tr>
						<td><a href="http://www.go.co.kr/home/customer/?dd=Tx8x&amp;bnum=HE1w">내 예약상태 확인</a></td>
						<td class="b_r"></td>
					</tr>
					<tr>
						<td><a href="http://www.go.co.kr/home/member/?dd=RAcfTDBD">나의 문의내역</a></td>
						<td class="b_r"></td>
					</tr>
					<tr>
						<td><a href="http://www.go.co.kr/home/customer/?dd=Tx8x&amp;bnum=HE1y">예약사항 변경</a></td>
						<td class="b_r"></td>
					</tr>
				</tbody>
			</table>
			
			
			<div class="clr"></div>
			<div class="cus-call" id="cus-call">
				<a href="#"><img src="http://img.go.co.kr/i_faqPh.png" alt="고객센터전화문의"> 고객센터 전화문의</a>
			</div>

		</div>
		
		
		<div class="event-proceed">
			<div id="sub_main">

				<ul class="tab">
					<li class="on">진행중인 이벤트</li>
					<li class="">종료된 이벤트</li>
				</ul>

				<!--170921 이벤트리스트 -->
				<div class="clr"></div>
				<div class="evt-list-sec">
					<div class="ing-evt on">
						<ul class="evt-list">
							<li class="evt-post">
								<a href="#" class="link-a">
									<img src="http://img.go.co.kr/mobile/landing/20170918_autumn/event_bn.jpg" alt="가을축제와함께놀자" class="bgImg">
									<span class="i-mag">자세히보기</span>
								</a>
							</li>
							<li class="evt-post">
								<a href="#" class="link-a">
									<img src="http://img.go.co.kr/mobile/landing/20170915_appEvent/20170915_appEvent_btn.jpg" alt="1만원쿠폰팩지급이벤트" class="bgImg">
									<span class="i-mag">자세히보기</span>
								</a>
							</li>
							<li class="evt-post">
								<a href="#" class="link-a">
									<img src="http://img.go.co.kr/mobile/landing/20170911_Chuseok_2/event_bn.jpg" alt="추석연휴객실사전예약특가" class="bgImg">
									<span class="i-mag">자세히보기</span>
								</a>
							</li>
							<li class="evt-post">
								<a href="#" class="link-a">
									<img src="http://img.go.co.kr/mobile/landing/20170831_kensington/event_bn.jpg" alt="켄싱턴리조트추석객실확보" class="bgImg">
									<span class="i-mag">자세히보기</span>
								</a>
							</li>
							<li class="evt-post">
								<a href="#" class="link-a">
									<img src="http://img.go.co.kr/mobile/landing/20170809_ocean2you-freeticket/bnList_m.jpg" alt="2468이벤트1탄 당첨자발표" class="bgImg">
									<span class="i-mag">자세히보기</span>
								</a>
							</li>
							<li class="evt-post">
								<a href="#" class="link-a">
									<img src="http://img.go.co.kr/mobile/friendAd_event_bn.jpg?ver=20170921154612" alt="나도5000원적립금받자" class="bgImg">
									<span class="i-mag">자세히보기</span>
								</a>
							</li>
						</ul>
						<div id="number2" style="margin-bottom:60px;margin-top:60px">
							<span><img alt="첫 페이지" src="http://img.go.co.kr/btn_pre02.jpg"></span>
							<span style="margin-right: 10px;"><img alt="이전 페이지" src="http://img.go.co.kr/btn_pre01.jpg"></span>
							<span class="page_ov">&nbsp;1&nbsp;</span> <span style="margin-left: 10px;"><img alt="다음 페이지" src="http://img.go.co.kr/btn_next01.jpg"></span>
							<span><img alt="끝 페이지" src="http://img.go.co.kr/btn_next02.jpg"></span>
						</div>
					</div>
					<div class="end-evt">
						<ul class="evt-list">
							<li class="evt-post">
								<a href="#" class="link-a">
									<img src="http://img.go.co.kr/mobile/landing/20170918_autumn/event_bn.jpg" alt="가을축제와함께놀자" class="bgImg">
									<span class="s0">종료된 이벤트</span>
								</a>
							</li>
							<li class="evt-post">
								<a href="#" class="link-a">
									<img src="http://img.go.co.kr/mobile/landing/20170915_appEvent/20170915_appEvent_btn.jpg" alt="1만원쿠폰팩지급이벤트" class="bgImg">
									<span class="s0">종료된 이벤트</span>
								</a>
							</li>
							<li class="evt-post">
								<a href="#" class="link-a">
									<img src="http://img.go.co.kr/mobile/landing/20170911_Chuseok_2/event_bn.jpg" alt="추석연휴객실사전예약특가" class="bgImg">
									<span class="s0">종료된 이벤트</span>
								</a>
							</li>
							<li class="evt-post">
								<a href="#" class="link-a">
									<img src="http://img.go.co.kr/mobile/landing/20170831_kensington/event_bn.jpg" alt="켄싱턴리조트추석객실확보" class="bgImg">
									<span class="s0">종료된 이벤트</span>
								</a>
							</li>
							<li class="evt-post">
								<a href="#" class="link-a">
									<img src="http://img.go.co.kr/mobile/landing/20170809_ocean2you-freeticket/bnList_m.jpg" alt="2468이벤트1탄 당첨자발표" class="bgImg">
									<span class="s0">종료된 이벤트</span>
								</a>
							</li>
							<li class="evt-post">
								<a href="#" class="link-a">
									<img src="http://img.go.co.kr/mobile/friendAd_event_bn.jpg?ver=20170921154612" alt="나도5000원적립금받자" class="bgImg">
									<span class="s0">종료된 이벤트</span>
								</a>
							</li>
						</ul>
						<div id="number2" style="margin-bottom:60px;margin-top:60px">
							<span><img alt="첫 페이지" src="http://img.go.co.kr/btn_pre02.jpg"></span>
							<span style="margin-right: 10px;"><img alt="이전 페이지" src="http://img.go.co.kr/btn_pre01.jpg"></span>
							<span class="page_ov">&nbsp;1&nbsp;</span> <span style="margin-left: 10px;"><img alt="다음 페이지" src="http://img.go.co.kr/btn_next01.jpg"></span>
							<span><img alt="끝 페이지" src="http://img.go.co.kr/btn_next02.jpg"></span>
						</div>
					</div>
				</div>
				

				<!--탭기능 추가 스크립트-->
				<script>
					$(function() {
						$("#sub_main .tab li").on('click', function() {
							var idx = $(this).index();
							
							$(this).addClass('on').siblings().removeClass('on');
							$("#sub_main .evt-list-sec > div").eq(idx).addClass('on').siblings().removeClass('on');
						});
					});
				</script>
				<!---->

				<script type="text/javascript">
					function emember_in(num, link) {
						$.ajax({
							url: "./state.php",
							type: "post",
							data: "mode=emember_insert&enum=" + num,
							success: function(e) {
								location.href = link;
							}
						});
					}
				</script>
			</div>	
		</div>
		
		
	</div>
	
</body>