<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ko" lang="ko">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="UTF-8">
    <title>상세피이지 로고 추가</title>

    <link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/layout_new3.css" />
    <link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/totalweb.css" />
    <!--<link rel="stylesheet" type="text/css" href="../../../src/css/totalweb.css" />-->

    <link href="http://static.go.co.kr/css/css_pirobox/style_2/style.css" rel="stylesheet" type="text/css" />

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    
	
</head>
<body>

	<div id="wrapper" class="noover">
		<div id="left_mn">

			<h3>마이페이지</h3>
			<ul>
				<li><a href="#">예약내역조회</a></li>
				<li><a href="#">적립금 조회</a></li>
				<li><a href="#">쿠폰 조회</a></li>
				<li><a href="#">찜목록</a></li>
				<li><a href="#">회원 정보 관리</a></li>
				<li><a href="#">나의 이용후기</a></li>
				<li><a href="#">나의 1:1문의 내역</a></li>
				<li id="lmn_event"><a href="http://www.go.co.kr/home/customer/?dd=TAglTSo=">이벤트</a></li>
				<li><a href="#">무료숙박권 예약</a></li>
				<li id="lmn_faq" class="on"><a href="/home/customer/?dd=Tx8x">자주묻는질문</a></li>
			</ul>
			<table class="quick_mn">
				<colgroup>
					<col width="145">
					<col width="30">
				</colgroup>
				<tbody>
					<tr>
						<td colspan="2" class="tit">자주묻는질문 BEST 5</td>
					</tr>
					<tr>
						<td><a href="http://www.go.co.kr/home/customer/?dd=Tx8x&amp;bnum=HE1z">예약취소</a></td>
						<td class="b_r"></td>
					</tr>
					<tr>
						<td><a href="http://www.go.co.kr/home/customer/">예약진행절차 보기</a></td>
						<td class="b_r"></td>
					</tr>
					<tr>
						<td><a href="http://www.go.co.kr/home/customer/">시설이용안내</a></td>
						<td class="b_r"></td>
					</tr>
					<tr>
						<td><a href="http://www.go.co.kr/home/customer/?dd=Tx8x&amp;bnum=HE1w">내 예약상태 확인</a></td>
						<td class="b_r"></td>
					</tr>
					<tr>
						<td><a href="http://www.go.co.kr/home/member/?dd=RAcfTDBD">나의 문의내역</a></td>
						<td class="b_r"></td>
					</tr>
					<tr>
						<td><a href="http://www.go.co.kr/home/customer/?dd=Tx8x&amp;bnum=HE1y">예약사항 변경</a></td>
						<td class="b_r"></td>
					</tr>
				</tbody>
			</table>
			
			
			<div class="clr"></div>
			<div class="cus-call" id="cus-call">
				<a href="#"><img src="http://img.go.co.kr/i_faqPh.png" alt="고객센터전화문의"> 고객센터 전화문의</a>
			</div>

		</div>
		
		
		<!--170918 할인쿠폰내역-->
		<div id="membership">
			<table class="member_t">
				<colgroup>
					<col width="50%">
					<col width="50%">
				</colgroup>
				<tbody>
					<tr>
						<td colspan="4" class="tit" style="background:none;">
							<img style="width:30px; vertical-align:middle; padding-bottom:5px;" src="http://img.go.co.kr/mobile/my_naver.png" width="26" alt="아이콘">
							<b>강혜준</b> 님
						</td>
					</tr>
				</tbody>
			</table>
			
			<!--170918-->
			<div class="clr"></div>
			<div class="msb-box">
				<div class="d-1"><img src="http://img.go.co.kr/coupon_txt02.jpg" alt="나의 쿠폰 내역"></div>
				
				<ul class="cp-list clr">
					<li class="cp-itm">
						<div class="gcCoupon type01">
							<div class="cont">
								<strong>앱 구매 전용 쿠폰</strong>
								<p class="p0">5,000<span>원</span></p>
							</div>

							<div class="lgBox">
								<img src="http://img.go.co.kr/gcLogo_w.png" alt="고코투어" class="lgImg">
							</div>

							<div class="won-box">
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
							</div>
						</div>
						
						<p class="p1">고코투어 앱 첫결제 할인쿠폰</p>
						<p class="p2">혜택 : 5,000원 할인</p>
						<p class="p2">최소결제금액 : 80,000원 이상</p>
						<p class="p2">유효기간 : 2017.11.13 까지</p>
					</li>
					<li class="cp-itm">
						<div class="gcCoupon type01">
							<div class="cont">
								<strong>앱 구매 전용 쿠폰</strong>
								<p class="p0">2,000<span>원</span></p>
							</div>

							<div class="lgBox">
								<img src="http://img.go.co.kr/gcLogo_w.png" alt="고코투어" class="lgImg">
							</div>

							<div class="won-box">
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
							</div>
						</div>
						
						<p class="p1">고코투어 앱 첫결제 할인쿠폰</p>
						<p class="p2">혜택 : 2,000원 할인</p>
						<p class="p2">유효기간 : 2017.11.17 까지</p>
					</li>
					<li class="cp-itm">
						<div class="gcCoupon type01">
							<div class="cont">
								<strong>앱 구매 전용 쿠폰</strong>
								<p class="p0">3,000<span>원</span></p>
							</div>

							<div class="lgBox">
								<img src="http://img.go.co.kr/gcLogo_w.png" alt="고코투어" class="lgImg">
							</div>

							<div class="won-box">
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
							</div>
						</div>
						
						<p class="p1">고코투어 앱 첫결제 할인쿠폰</p>
						<p class="p2">혜택 : 3,000원 할인</p>
						<p class="p2">최소결제금액 : 30,000원 이상</p>
						<p class="p2">유효기간 : 2017.11.17 까지</p>
					</li>
				</ul>
				<ul class="cp-list clr">
					<li class="cp-itm">
						<div class="gcCoupon type01">
							<div class="cont">
								<strong>앱 구매 전용 쿠폰</strong>
								<p class="p0">5,000<span>원</span></p>
							</div>

							<div class="lgBox">
								<img src="http://img.go.co.kr/gcLogo_w.png" alt="고코투어" class="lgImg">
							</div>

							<div class="won-box">
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
							</div>
						</div>
						
						<p class="p1">고코투어 앱 첫결제 할인쿠폰</p>
						<p class="p2">혜택 : 5,000원 할인</p>
						<p class="p2">최소결제금액 : 50,000원 이상</p>
						<p class="p2">유효기간 : 2017.11.17 까지</p>
					</li>
					<li class="cp-itm">
						<div class="gcCoupon type01">
							<div class="cont">
								<strong>앱 구매 전용 쿠폰</strong>
								<p class="p0">2,000<span>원</span></p>
							</div>

							<div class="lgBox">
								<img src="http://img.go.co.kr/gcLogo_w.png" alt="고코투어" class="lgImg">
							</div>

							<div class="won-box">
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
							</div>
						</div>
						
						<p class="p1">고코투어 앱 첫결제 할인쿠폰</p>
						<p class="p2">혜택 : 2,000원 할인</p>
						<p class="p2">유효기간 : 2017.11.19 까지</p>
					</li>
					<li class="cp-itm">
						<div class="gcCoupon type01">
							<div class="cont">
								<strong>앱 구매 전용 쿠폰</strong>
								<p class="p0">3,000<span>원</span></p>
							</div>

							<div class="lgBox">
								<img src="http://img.go.co.kr/gcLogo_w.png" alt="고코투어" class="lgImg">
							</div>

							<div class="won-box">
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
							</div>
						</div>
						
						<p class="p1">고코투어 생일축하 할인쿠폰</p>
						<p class="p2">혜택 : 10,000원 할인</p>
						<p class="p2">최소결제금액 : 100,000원 이상</p>
						<p class="p2">유효기간 : 생일로부터 1개월</p>
					</li>
				</ul>
				
				<div class="exp-box">
					<p class="p0">쿠폰정보</p>
					<p class="p1">쿠폰은 숙박 및 숙박 외 상품 구매시 현금처럼 사용할 수 있습니다.</p>
					<p class="p1">결제 후에는 쿠폰 조회를 사용할 수 없습니다.</p>
					<p class="p0">쿠폰 사용방법</p>
					<p class="p1">모든 쿠폰은 1회 상품 구매시 1개의 쿠폰만 사용가능합니다.</p>
					<p class="p1">상품 구매시 결제정보입력란에 있는 쿠폰 적용에서 할인 쿠폰을 선택, 사용하셔야만 할인이 적용됩니다.</p>
					<p class="p1">쿠폰은 본인만 사용 가능하며 타인에게 양도할 수 없습니다.</p>
					<p class="p1">쿠폰은 환급되지 않으며 탈퇴 시 자동으로 소멸됩니다.</p>
					<p class="p0">쿠폰 유효기간</p>
					<p class="p1">유효기간 내 사용되지 않은 쿠폰은 소멸됩니다.</p>
					<p class="p1">유효기간이 지난 쿠폰은 재발행 되지 않습니다.</p>
				</div>
				
			</div>
			
			
			
		</div>
		

		
	</div>
	
</body>