<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ko" lang="ko">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="UTF-8">
    <title>상세피이지 로고 추가</title>

    <link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/layout_new3.css" />
    <link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/totalweb.css" />
    <!--<link rel="stylesheet" type="text/css" href="../../../src/css/totalweb.css" />-->

    <link href="http://static.go.co.kr/css/css_pirobox/style_2/style.css" rel="stylesheet" type="text/css" />

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    
	<!--무시-->
	<style>
		/*body {background: rgba(0,0,0,.58);}*/
		
	</style>
    
</head>
<body>

	<div id="wrapper" class="noover">
		
		<!--변경내용170918 style 가운대 중앙정렬 수정-->
		<div id="pay_discount_pop" style="margin: auto; position: fixed; z-index: 500; top: 100px; left: 50%; margin-left:-222.5px;">
			
			
			
			<!--변경내용170918 -->
			<div class="layer-pop-bg" id="cpLpBox">
				<div class="cpLayPop">
					<span class="i-cancle" onclick="$(this).closest('#cpLpBox').hide();"></span>
					
					<p class="p0">국내 최대할인 숙박예약 앱</p>
					<p class="p1">고코투어 앱에서 예약하면</p>
					<p class="p2"><span class="c-1">10,000원 쿠폰팩</span> 지급!</p>
					
					<p class="p3">
						해당 쿠폰은 앱에서만<br>
						사용 가능한 쿠폰입니다.
					</p>
					
					<a href="" class="btnAp">앱 다운로드 하기<span>&gt;</span></a>
					
				</div>
			</div>
		</div>
		
	</div>
	
</body>