<!DOCTYPE html>
<html lang="ko-KR">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="UTF-8">
    <title>상세피이지 로고 추가</title>

    <link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/reset.css?ver=20170201165300" />
    <!-- <link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/layout_new3.css" /> -->
    <!-- <link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/layout_new3_tmp.css"/> -->
    <!-- <link rel="stylesheet" type="text/css" href="../src/css/layout_new3_tmp.css" /> -->
    <link rel="stylesheet" type="text/css" href="../../../src/css/layout_new3.css" />
    <link rel="stylesheet" type="text/css" href="../../../src/css/totalweb.css" />

    <link href="http://static.go.co.kr/css/css_pirobox/style_2/style.css" rel="stylesheet" type="text/css" />
        <!--<link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/advisor.css?ver=20170201165300" />
<link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/event.css?ver=20170201165300" />
<link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/prettyPhoto.css?ver=20170201165300" media="screen" title="prettyPhoto main stylesheet" charset="utf-8" />-->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<!-- <script src="http://static.go.co.kr/js/select_product.js"></script> -->
<script src="../../../src/js/select_product.js"></script>

<style>
        /* #room_result tr:hover {background: #e3e3e3;}
        #room_result .expand-list:hover {background: #f5f5f5;} */
    </style>
</head>

<body>
    
    <div id="fix-nav">

        <div class="nav-bar">
            <div class="nav">
                <h2><a href=""></a></h2>
                <h3></h3>
                <div class="inp">
                    <span>체크인</span>
                    <input type="text" class="chkIn" value="2017-06-08">
                </div>
                <div class="inp slt">
                    <span>지역검색</span>
                    <select name="" id="" class="global">
                        <option value="" selected="seleted">전국</option>
                    </select>
                </div>
                <div class="inp slt">
                    <span>상세지역</span>
                    <select name="" id="" class="city">
                        <option value="" selected="seleted">시/구 지역</option>
                    </select>
                </div>
                <div class="inp slt">
                    <span>인원</span>
                    <select name="" id="" class="number">
                        <option value="" selected="seleted">1</option>
                    </select>
                </div>
                <a class="more-a" href=""><span class="i-plus"></span>상세조건</a>
                <a class="search-a" href=""><span class="i-search"></span>검색하기</a>
            </div>
        </div>
        <div class="nb-drop-bar">
            <div class="nb-outer clr">
                <div class="nb-drop">
                    <h4>숙박유형 선택</h4>
                    <input type="checkbox" class="nb-drInp" id="nb-all">
                    <label for="nb-all">전체</label>
                    <input type="checkbox" class="nb-drInp" id="nb-hotel">
                    <label for="nb-hotel">호텔</label>
                    <input type="checkbox" class="nb-drInp" id="nb-motel">
                    <label for="nb-motel">모텔</label>
                    <input type="checkbox" class="nb-drInp" id="nb-residence">
                    <label for="nb-residence">레지던스</label>
                    <input type="checkbox" class="nb-drInp" id="nb-resrot">
                    <label for="nb-resrot">리조트/콘도</label>
                    <input type="checkbox" class="nb-drInp" id="nb-pention">
                    <label for="nb-pention">펜션</label>
                    <input type="checkbox" class="nb-drInp" id="nb-guest">
                    <label for="nb-guest">게스트하우스</label>
                    <input type="checkbox" class="nb-drInp" id="nb-youth">
                    <label for="nb-youth">유스호스텔</label>
                    <input type="checkbox" class="nb-drInp" id="nb-ticket">
                    <label for="nb-ticket">입장권</label>
                    <input type="checkbox" class="nb-drInp" id="nb-occupied">
                    <label for="nb-occupied">만실제외</label>
                    <input type="checkbox" class="nb-drInp" id="nb-confirm">
                    <label for="nb-confirm">즉시확정</label>
                    <img class="i-close" src="http://img.go.co.kr/i_close_black.png" alt="닫기">
                </div>
            </div>
        </div>

    </div>
    
    
    <!-- 변경내용_170614 추가-->
    <div class="backDrop-bg"></div>
    
    <div class="sltCheck-sec" id="sltCheck-sec">
        <h3>선택사항 확인<img onclick="$('#sltCheck-sec').hide(); $('#sltCheck-sec').prev().hide();" class="i-close" src="http://img.go.co.kr/i_close.png" alt="닫기"></h3>
        <ul class="pc-outer clr">
            <li class="part-common">
                <h4>선택하신 숙박시설</h4>
                <p class="clr"><span class="pull-left">객실명</span><span class="pull-left">마운틴뷰 콘도</span></p>
                <p class="clr"><span class="pull-left">이용기간</span><span class="pull-left">2017.06.08 ~ 2017.06.09 / 1박</span></p>
                <p class="clr"><span class="pull-left">투숙인원</span><span class="pull-left">2명</span></p>
            </li>
            <li class="part-common">
                <h4>선택하신 패키지 1</h4>
                <p class="clr"><span class="pull-left">패키지</span><span class="pull-left">바베큐 테이블 대여</span></p>
                <p class="clr"><span class="pull-left">이용기간</span><span class="pull-left">2017.06.08</span></p>
                <p class="clr"><span class="pull-left">이용시간</span><span class="pull-left">1부 16:00~18:00</span></p>
            </li>
            <li class="part-common">
                <h4>선택하신 패키지 2</h4>
                <p class="clr"><span class="pull-left">패키지</span><span class="pull-left">조개잡이 패키지</span></p>
                <p class="clr"><span class="pull-left">이용기간</span><span class="pull-left">2017.06.08</span></p>
                <p class="clr"><span class="pull-left">세트</span><span class="pull-left">2개</span></p>
            </li>
            <li class="part-common">
                <h4>선택하신 패키지 3</h4>
                <p class="clr"><span class="pull-left">패키지</span><span class="pull-left">테디베어뮤지엄설악</span></p>
                <p class="clr"><span class="pull-left">이용기간</span><span class="pull-left">2017.06.08</span></p>
                <p class="clr"><span class="pull-left">세트</span><span class="pull-left">대인(14세 이상) 1매<br>소인(13세 이상) 1매</span></p>
            </li>
            <li class="part-common">
                <h4>선택하신 패키지 4</h4>
                <p class="clr"><span class="pull-left">패키지</span><span class="pull-left">조개잡이 패키지</span></p>
                <p class="clr"><span class="pull-left">이용기간</span><span class="pull-left">2017.06.08</span></p>
                <p class="clr"><span class="pull-left">세트</span><span class="pull-left">2개</span></p>
            </li>
            <li class="part-common">
                <h4>선택하신 패키지 5</h4>
                <p class="clr"><span class="pull-left">패키지</span><span class="pull-left">한화 설악 워터피아 종일권</span></p>
                <p class="clr"><span class="pull-left">이용기간</span><span class="pull-left">2017.06.08</span></p>
                <p class="clr"><span class="pull-left">인원</span><span class="pull-left">대인(14세 이상) 1매<br>소인(13세 이상) 1매</span></p>
            </li>
        </ul>
        <div class="part-3">
            <p class="nth2"><span class="f-bd s1">최종 결제금액</span><span class="ps">(VAT, 봉사료, 예약수수료 포함)</span><s>86,000<span>원</span></s><span class="c-red"><span class="f-bd">143,500</span><span class="sm">원</span></span>
            </p>
            <p class="nth3">
                <a class="nth3" href="javascript:alert(&#39;입장권을 선택해주세요.&#39;)">예약하기<span class="gt">&gt;</span></a>
            </p>
        </div>
    </div>
    
    <!-- 변경내용_170614 끝 -->

    <div class="noover" id="wrapper">
        <div id="contents">
            <div id="rsv_wrapper" class="rsv_wrapper">
                <div id="room_result" class="r_on">


                    <div class="rsv_top" id="rsv_sang">
                        <table id="rsv_s_tab">
                            <colgroup>
                            <col width="655">
                            <col width="140">
                            <col width="159">
                        </colgroup>
                        <tbody>
                            <tr class="rsv_s_tabHead">
                                <td>상품선택</td>
                                <td>기준인원/최대인원</td>
                                <!-- 변경내용_170614 최저가보장 이미지추가-->
                                <td>최저가<img style="position: relative; top: -1px; margin-left: 5px;" alt="최저가보장" src="http://img.go.co.kr/banner_lowest_price.gif"></td>
                            </tr>
                        </tbody>
                    </table>


                    <div id="rsv_s_list_box2">
                        <table id="rsv_s_list">
                            <colgroup>
                            <col width="655">
                            <col width="140">
                            <col width="159">
                        </colgroup>
                        <tbody>
                            <!-- 객실명, 인원, 금액 나오는 라인 -->
                            <tr id="2299_tr" class="over_tr select" style="cursor:pointer;" onclick="booking.sclick('2299', 'y');">
                                <td class="pl15 left ss">
                                    <input type="radio" name="sang" value="2299" id="sang_2299" checked="checked">
                                    <!-- 패키지 말머리 추가 -->
                                    마운틴뷰 콘도형 
                                </td>
                                <td class="center ss">4인/7인</td>
                                <td class="center ss" style="width:159px;position:relative">
                                    <div class="lowest_price_wrap"><div class="dis_icon_dt">84% 할인</div></div>
                                    <del class="price_s">330,000원</del>
                                    <br> <span class="price">54,000원~</span>
                                </td>
                            </tr>


                                <tr id="2299_detail" style="display: table-row;" class="tb_on">
                                    <td colspan="3">

                                        <!--<style>
                                            
                                            
                                            #rsv_s_list {border-bottom: 1px solid #ddd;}
                                            #rsv_s_list .over_tr td:last-child {line-height: 1.3em;}
                                            .lowest_price_wrap {top: 18px; -webkit-transform: translateY(0); transform: translateY(0);}
                                            #rsv_s_list .over_tr input[type="radio"] {position: relative; top: -2px;}

                                            #rsv_s_list #pdtSlt-wrapper {position: relative;}

                                            #rsv_s_list .pay-box {position: relative; margin-top: -1px; width: 100%; height: 80px; border: 1px solid #000; background: #fff8d5; box-sizing: border-box; letter-spacing: -0.5px; text-align: right; padding-right: 20px;}
                                            #rsv_s_list .pay-box > p {display: inline-block; vertical-align: middle;  color: #302e2b; font-family: "Noto Sans KR", "Nanum Gothic"; text-align: left;
                                                padding-top: 14px;}
                                            #rsv_s_list .pay-box > .nth2 {color: #000; font-size: 21px; text-align: right; padding-right: 15px;}
                                            #rsv_s_list .pay-box > .nth2 s, #rsv_s_list .pay-box > .nth2 .c-red {font-family: "Arial", "Malgun Gothic", "Nanum Gothic";}
                                            #rsv_s_list .pay-box > .nth2 s {position: relative; top: 2px; color: #323232; font-size: 25px;}
                                            #rsv_s_list .pay-box > .nth2 s > span {position: relative; top: -2px;font-family: "Nanum Gothic"; font-size: 20px;}
                                            #rsv_s_list .pay-box > .nth2 .sm {font-weight: 400;}
                                            #rsv_s_list .pay-box > .nth2 .f-bd.s1 {margin-right: 3px; font-weight: 400; font-size: 24px; color: #000;}
                                            #rsv_s_list .pay-box > .nth2 .ps {color: #313131; font-size: 12px; font-family: "Dotun", "Gulim"; margin-right: 16px;}
                                            #rsv_s_list .pay-box > .nth2 .c-red {font-size: 36px; font-family: "Arial", "Malgun Gothic", "Nanum Gothic"; line-height: 0em; margin-left: 7px; color: #ff1200;}
                                            #rsv_s_list .pay-box > .nth2 .c-red .f-bd {position: relative; top: 3px;}
                                            #rsv_s_list .pay-box > .nth2 .c-red .sm {font-size: 27px; font-weight: 400; font-family: "Nanum Gothic";}
                                            #rsv_s_list .pay-box > .nth3 a {color: #fff; display: block; width: 235px; height: 50px; font-size: 21px; background: #c00600; text-align: center; line-height: 2.4em;}
                                            #rsv_s_list .pay-box > .nth3 a .gt {font-family: "Nanum Gothic"; position: relative; font-size: 13px; top: -4px; margin-left: 10px; font-weight: 600;}

                                            .pdtSlt-sec {display: table; position: relative; width: 100%; font-family: "Nanum Gothic", sans-serif; letter-spacing: -0.5px; box-sizing: border-box; 
                                                background: #fff; color: #000;}
                                            .pdtSlt-sec > div {display: table-cell; border: 1px solid #000; border-collapse: collapse;}
                                            .pdtSlt-sec > div.part-1 {width: 33%;}
                                            .pdtSlt-sec > div.part-2 {width: 34%;}
                                            .pdtSlt-sec > div.part-3 {width: 34%;}
                                            .pdtSlt-sec > div > * {text-align: left;}
                                            .pdtSlt-sec > div h2 {font-size: 17px; color: #fff; font-weight: 400; padding-top: 9px; padding-bottom: 9px; padding-left: 15px;}
                                            .pdtSlt-sec > div h2 > span {position: relative; top: 1px; vertical-align: middle;}
                                            .pdtSlt-sec > div h2 > .f-arial {font-family: "Arial", sans-serif; font-size: 20px; margin-right: 6px;}
                                            .pdtSlt-sec > div ul li {position: relative;}

                                            .pdtSlt-sec .part-1 h2 {background: #ff7a2d;}
                                            .pdtSlt-sec .part-1 h3 {position: relative; background: #f5f5f5; font-size: 18px; color: #000; box-sizing: border-box;
                                                padding: 10px 10px 10px 77px; line-height: 1.3em; font-weight: 400; border-bottom: 1px solid #bcbcbc; margin-bottom: 5px;}
                                            .pdtSlt-sec .part-1 h3 span.tt {position: absolute; display: inline-block; width: 58px; height: 17px; 
                                                left: 15px; top: 13px;
                                                background: url(http://img.go.co.kr/fix_nav_sprBg2.png) no-repeat -340px 0;
                                            }
                                            .pdtSlt-sec .part-1 .dep-1 > li {font-size: 0; padding-top: 5px; padding-bottom: 5px;}
                                            .pdtSlt-sec .part-1 .dep-1 > li > * {display: inline-block; vertical-align: middle;}
                                            .pdtSlt-sec .part-1 .dep-1 > li.mg {width: 296px; margin: 15px auto 5px; border-top: 1px dashed #bcbcbc;}
                                            .pdtSlt-sec .part-1 .dep-1 > li .label {font-size: 15px; width: 66px;}
                                            .pdtSlt-sec .part-1 .dep-1 > li select {padding: 3px 6px 4px; font-size: 15px; border-radius: 0; border:1px solid #bcbcbc;}
                                            .pdtSlt-sec .part-1 .dep-1 > li select option {font-size: 15px;}
                                            .pdtSlt-sec .part-1 .dep-1 > li select.type-1 {width: 131px;}
                                            .pdtSlt-sec .part-1 .dep-1 > li select.type-2 {width: 80px;}
                                            .pdtSlt-sec .part-1 .dep-1 > li select.type-2 {width: 80px;}
                                            .pdtSlt-sec .part-1 .dep-1 > li select.type-3 {width: 70px;}
                                            .pdtSlt-sec .part-1 .dep-1 > li .pl-10 {padding-left: 10px;}
                                            .pdtSlt-sec .part-1 .dep-1 > li .pl-15 {padding-left: 15px;}
                                            .pdtSlt-sec .part-1 .dep-1 > li .ml-10 {margin-left: 10px;}
                                            .pdtSlt-sec .part-1 .dep-1 > li .mr-10 {margin-right: 10px;}

                                            .pdtSlt-sec input[type="checkbox"] {appearance: none; -webkit-appearance: none; -moz-appearance: none; -ms-appearance: none;
                                                display: inline-block; position: relative; top: -1px;
                                                border: 1px solid #a5a5a5; width: 15px; height: 15px; border-radius: 0; outline: 0;
                                                background: #fff; margin-right: 5px; margin-left: 15px;
                                            }
                                            .pdtSlt-sec input[type="checkbox"]:checked {background: #fff url("http://img.go.co.kr/chk_bg.png") no-repeat 1px 2px;}
                                            .pdtSlt-sec .part-2 h2 {background: #ec5700;}
                                            .pdtSlt-sec .part-2 .dep-1 > li {line-height: 1.2em; padding: 7px 0 7px;}
                                            .pdtSlt-sec .part-2 .dep-1 > li .label {user-select: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none;
                                                display: inline-block; position: relative; width: 272px; vertical-align: top; font-size: 15px; color: #000; word-break: break-all;
                                                cursor: pointer; padding-right: 15px;
                                            }
                                            .pdtSlt-sec .part-2 .dep-1 > li.on {background: #3a4351;}
                                            .pdtSlt-sec .part-2 .dep-1 > li.on > .label {color: #fff;}

                                            .pdtSlt-sec .part-2 ul.slt-drop {display: none; background: #f2f2f2; margin-top: 7px; margin-bottom: -7px;}
                                            .pdtSlt-sec .part-2 ul.slt-drop.on {display: block;}
                                            .pdtSlt-sec .part-2 ul.slt-drop > li {padding: 0px 15px 15px 35px;}
                                            .pdtSlt-sec .part-2 ul.slt-drop > li:first-child {padding-top: 15px;}
                                            .pdtSlt-sec .part-2 ul.slt-drop > li .label {width: auto;}
                                            .pdtSlt-sec .part-2 ul.slt-drop > li s, .pdtSlt-sec .part-2 ul.slt-drop > li .c-red {float: right;}
                                            .pdtSlt-sec .part-2 ul.slt-drop > li s {font-size: 12px; color: #313131; margin-right: 5px;}
                                            .pdtSlt-sec .part-2 ul.slt-drop > li .c-red {font-size: 15px; color: #ff4445; font-weight: 600;}

                                            .pdtSlt-sec .part-3 {padding-bottom: 4px;}
                                            .pdtSlt-sec .part-3 > h2 {background: #bf2d00;}
                                            .pdtSlt-sec .part-3 > h2 .i-close {float: right; position: relative; right: 12px; top: 5px; width: 20px; cursor: pointer;}
                                            .pdtSlt-sec .part-3 > div.itm {position: relative; padding: 9px 15px; font-size: 0;}
                                            .pdtSlt-sec .part-3 > div.mg {width: 94%; height: 1px; margin: 8px auto; background: #bcbcbc;}
                                            .pdtSlt-sec .part-3 > div.itm p.p-1 {margin-bottom: 8px; line-height: 1.2em; font-size: 15px;}
                                            .pdtSlt-sec .part-3 > div.itm p.p-1 a {float: right;}
                                            .pdtSlt-sec .part-3 > div.itm p.p-1 a:first-child {position: relative; margin-left: 3px;}
                                            .pdtSlt-sec .part-3 > div.itm p.p-1 img {position: relative; top: -1px; float: right;}
                                            .pdtSlt-sec .part-3 .ul-1 {border-top: 1px solid #b0b0b0; border-bottom: 1px solid #b0b0b0; background: #f2f2f2; padding: 4px 0 9px;}
                                            .pdtSlt-sec .part-3 .ul-1 li {padding: 6px 15px;}
                                            .pdtSlt-sec .part-3 .ul-1 li > * {display: inline-block; vertical-align: middle;}
                                            .pdtSlt-sec .part-3 .ul-1 li .label {position: relative;  top: 3px;font-size: 15px; font-weight: 600;}
                                            .pdtSlt-sec .part-3 .ul-1 li .label.type-1 {width: 82px;}
                                            .pdtSlt-sec .part-3 .ul-1 li .label.type-2 {width: 180px;}
                                            .pdtSlt-sec .part-3 .ul-1 li option {font-size: 15px; padding: 4px 6px;}

                                            .pdtSlt-sec .part-3 .ul-1 li .quan {-webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
                                                position: relative; width: 70px; height: 24px; margin: 0 auto; border: 1px solid #bbb; background: #fff; box-sizing: border-box;
                                                float: right; top: 3px;
                                            }
                                            .pdtSlt-sec .part-3 .ul-1 li .quan input.inp {width: 32px; height: 24px; text-align: center; font-size: 13px; line-height: 1.7em; border: none; border-left: 1px solid #bbb; border-right: 1px solid #bbb; font-weight: 800; color: #999; background-color: transparent; position: relative; top: -1px;}
                                            .pdtSlt-sec .part-3 .ul-1 li .quan input.inp.on, .pdtSlt-sec .part-3 .ul-1 li td.on .quan input.inp {color: #202020;}
                                            .pdtSlt-sec .part-3 .ul-1 li .quan > span {position: relative; top: 0px; display: inline-block; width: 16px; height: 100%; font-size: 14px; text-align: center; cursor: pointer; line-height: 1.7em;}
                                            .pdtSlt-sec .part-3 .ul-1 li .quan > .s-l {float: left;}
                                            .pdtSlt-sec .part-3 .ul-1 li .quan > .s-r {float: right; right: 2px;}

                                            .pdtSlt-sec .part-3 .ul-2 {position: absolute; top: 0; right: 15px; width: 330px; margin-top: 16px; background: #fff; z-index: 5; 
                                                padding: 10px 12px; border: 1px solid #000; box-shadow: 3px 4px rgba(0,0,0, .18);}
                                            .pdtSlt-sec .part-3 .ul-2:after {content: ""; display: block; position: absolute; width: 17px; height: 15px; bottom: -15px; right: 75px;
                                                background: url(http://img.go.co.kr/i_trangle.png) no-repeat;
                                            }
                                            .pdtSlt-sec .part-3 .ul-2 li {font-size: 15px; line-height: 1.5em;}
                                            .pdtSlt-sec .part-3 .ul-2 li.th {color: #000; font-weight: 600;}
                                            .pdtSlt-sec .part-3 .ul-2 li.td {position: relative; color: #323232; padding-left: 10px; letter-spacing: -1px; word-break: keep-all;}
                                            .pdtSlt-sec .part-3 .ul-2 li.td:before {position: absolute; content: "-"; left: 0;}
                                        </style>-->
                                        <!--<script>
                                            $(function() {
                                                // 확인팝업 중앙정렬
                                                var wd = $("#sltCheck-sec").width()/2;
                                                $("#sltCheck-sec").css({"margin-left": -wd});
                                                
                                                // 툴팁 위치 지정
                                                $("#pdtSlt-sec .part-3 > div").each(function() {
                                                    var ht = $(this).find(".ul-2").height() + 42;
                                                    $(this).find(".ul-2").css("top", -ht);
                                                });

                                                $("#rsv_s_list div.pdtSlt-sec span.label").on("click", function() {
                                                    $(this).closest("li").toggleClass("on");
                                                    var isChecked = $(this).prev().prop("checked");
                                                    isChecked = !isChecked;
                                                    $(this).prev().prop("checked", isChecked);
                                                    if( isChecked ){
                                                        $(this).closest("li").find(".slt-drop").addClass("on");
                                                    } else {
                                                        $(this).closest("li").find(".slt-drop").removeClass("on");
                                                    }
                                                });
                                                $("#rsv_s_list div.pdtSlt-sec input[type=checkbox]").on("click", function() {
                                                    $(this).closest("li").toggleClass("on");
                                                    var isChecked = $(this).prop("checked");
                                                    if( isChecked ){
                                                        $(this).closest("li").find(".slt-drop").addClass("on");
                                                    } else {
                                                        $(this).closest("li").find(".slt-drop").removeClass("on");
                                                    }
                                                });
                                            });
                                        </script>-->


                                        <!-- 변경내용_170614 -->
                                        <div class="pdtSlt-sec clr" id="pdtSlt-sec">
                                            <div class="part-1">
                                                <h2><span class="f-arial">1</span><span>객실 설정</span></h2>
                                                <h3><span class="tt"></span>마운틴뷰 콘도</h3>
                                                <ul class="dep-1">
                                                    <li>
                                                        <span class="label pl-15">체크인</span>
                                                        <select name="" id="" class="type-1">
                                                            <option value="">2017-06-08</option>
                                                        </select>
                                                        <select name="" id="" class="type-2 ml-10">
                                                            <option value="">1박</option>
                                                        </select>
                                                    </li>
                                                    <li>
                                                        <span class="label pl-15">체크아웃</span>
                                                        <select name="" id="" class="type-1">
                                                            <option value="">2017-06-08</option>
                                                        </select>
                                                    </li>
                                                    <li>
                                                        <span class="label pl15">투숙인원</span>
                                                        <select name="" id="" class="type-3">
                                                            <option value="">2</option>
                                                        </select>
                                                        <span class="label pl-15">객실갯수</span>
                                                        <select name="" id="" class="type-3">
                                                            <option value="">2</option>
                                                        </select>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="part-2">
                                                <h2><span class="f-arial">2</span><span>패키지 선택</span></h2>
                                                <ul class="dep-1">
                                                    <li class="on">
                                                        <input type="checkbox" checked="cheked"><span class="label">바베큐 테이블 대여</span>
                                                        <ul class="slt-drop on">
                                                            <li class="clr"><span class="label">바베큐 테이블 대여</span><span class="c-red">15,000원</span><s class="">30,000원</s></li>
                                                        </ul>
                                                    </li>
                                                    <li class="on">
                                                        <input type="checkbox" checked="cheked"><span class="label">조개잡이 패키지</span>
                                                        <ul class="slt-drop on">
                                                            <li class="clr"><span class="label">조개잡이 패키지</span><span class="c-red">9,000원</span><s class="">10,000원</s></li>
                                                        </ul>
                                                    </li>
                                                    <li class="on">
                                                        <input type="checkbox" checked="cheked"><span class="label">테디베어뮤지엄설악</span>
                                                        <ul class="slt-drop on">
                                                            <li class="clr"><span class="label">대인 (14세 이상)</span><span class="c-red">39,000원</span><s class="">48,000원</s></li>
                                                            <li class="clr"><span class="label">소인 (13세 이상)</span><span class="c-red">30,500원</span><s class="">37,500원</s></li>
                                                        </ul>
                                                    </li>
                                                    <li class="on">
                                                        <input type="checkbox" checked="cheked"><span class="label">ALIVE HEART(트릭아트 1층+미로탐험2층)</span>
                                                        <ul class="slt-drop on">
                                                            <li class="clr"><span class="label">대인 (14세 이상)</span><span class="c-red">39,000원</span><s class="">48,000원</s></li>
                                                            <li class="clr"><span class="label">소인 (13세 이상)</span><span class="c-red">30,500원</span><s class="">37,500원</s></li>
                                                        </ul>
                                                    </li>
                                                    <li class="on">
                                                        <input type="checkbox" checked="checked"><span class="label">한화 설악 워터피아 종일권</span>
                                                        <ul class="slt-drop on">
                                                            <li class="clr"><span class="label">대인 (14세 이상)</span><span class="c-red">39,000원</span><s class="">48,000원</s></li>
                                                            <li class="clr"><span class="label">소인 (13세 이상)</span><span class="c-red">30,500원</span><s class="">37,500원</s></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="part-3">
                                                <h2><span class="f-arial">3</span><span>패키지 설정</span><img onclick="$('#pdtSlt-sec, #pdtSlt-pb').hide();" src="http://img.go.co.kr/i_close.png" alt="닫기" class="i-close"></h2>
                                                <div class="itm">
                                                    <p class="p-1">바베큐 테이블 대여 <a href=""><img src="http://img.go.co.kr/btn_facilities_guide.gif"></a><a class="useInf" href=""><img src="http://img.go.co.kr/btn_facilities_guide2.jpg"></a></p>
                                                    <ul class="ul-1">
                                                        <li>
                                                            <span class="label type-1">이용날짜</span>
                                                            <select name="" id="">
                                                                <option value="">2017-06-09</option>
                                                            </select>
                                                        </li>
                                                        <li>
                                                            <span class="label type-1">이용시간</span>
                                                            <select name="" id="">
                                                                <option value="">1부 16:00~18:00</option>
                                                            </select>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="mg"></div>
                                                <div class="itm">
                                                    <p class="p-1">조개잡이 패키지 <a href=""><img src="http://img.go.co.kr/btn_facilities_guide.gif"></a><a class="useInf" href=""><img src="http://img.go.co.kr/btn_facilities_guide2.jpg"></a></p>
                                                    <ul class="ul-1">
                                                        <li>
                                                            <span class="label type-1">이용날짜</span>
                                                            <select name="" id="">
                                                                <option value="">2017-06-09</option>
                                                            </select>
                                                        </li>
                                                        <li>
                                                            <span class="label type-2">양동이/삽/조개갈퀴 세트</span>
                                                            <p class="quan clr">
                                                                <span class="s-l">-</span><input type="text" class="inp" value="0"><span class="s-r">+</span>
                                                            </p>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="mg"></div>
                                                <div class="itm">
                                                    <p class="p-1">테디베어뮤지엄설악 <a href=""><img src="http://img.go.co.kr/btn_facilities_guide.gif"></a><a class="useInf" href=""><img src="http://img.go.co.kr/btn_facilities_guide2.jpg"></a></p>
                                                    <ul class="ul-2">
                                                        <li class="th">이용안내</li>
                                                        <li class="td">종일권 이용시간 : 10:00~ 18:00</li>
                                                        <li class="td">발권은 16시에 마감됩니다</li>
                                                        <li class="td">대인 14세 이상 / 소인 13세 이하</li>
                                                        <li class="td">36개월 미만 무료입장<br>(주민등록등본, 가족관계증명서 지참)</li>
                                                        <li class="td">비치타올 대여 유료이용료 4천원, 보증금 3천원</li>
                                                    </ul>
                                                    <ul class="ul-1">
                                                        <li>
                                                            <span class="label type-1">이용날짜</span>
                                                            <select name="" id="">
                                                                <option value="">2017-06-09</option>
                                                            </select>
                                                        </li>
                                                        <li>
                                                            <span class="label type-2">대인 (18세이상)</span>
                                                            <p class="quan clr">
                                                                <span class="s-l">-</span><input type="text" class="inp on" value="1"><span class="s-r">+</span>
                                                            </p>
                                                        </li>
                                                        <li>
                                                            <span class="label type-2">소인 (17세이상)</span>
                                                            <p class="quan clr">
                                                                <span class="s-l">-</span><input type="text" class="inp" value="0"><span class="s-r">+</span>
                                                            </p>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="mg"></div>
                                                <div class="itm">
                                                    <p class="p-1">한화설악 워터피아<a href=""><img src="http://img.go.co.kr/btn_facilities_guide.gif"></a><a class="useInf" href=""><img src="http://img.go.co.kr/btn_facilities_guide2.jpg"></a></p>
                                                    <ul class="ul-2">
                                                        <li class="th">이용안내</li>
                                                        <li class="td">종일권 이용시간 : 10:00~ 18:00</li>
                                                        <li class="td">발권은 16시에 마감됩니다</li>
                                                        <li class="td">대인 14세 이상 / 소인 13세 이하</li>
                                                        <li class="td">36개월 미만 무료입장<br>(주민등록등본, 가족관계증명서 지참)</li>
                                                        <li class="td">비치타올 대여 유료이용료 4천원, 보증금 3천원</li>
                                                    </ul>
                                                    <ul class="ul-1">
                                                        <li>
                                                            <span class="label type-1">이용날짜</span>
                                                            <select name="" id="">
                                                                <option value="">2017-06-09</option>
                                                            </select>
                                                        </li>
                                                        <li>
                                                            <span class="label type-2">대인 (14세이상)</span>
                                                            <p class="quan clr">
                                                                <span class="s-l">-</span><input type="text" class="inp on" value="1"><span class="s-r">+</span>
                                                            </p>
                                                        </li>
                                                        <li>
                                                            <span class="label type-2">소인 (13세이상)</span>
                                                            <p class="quan clr">
                                                                <span class="s-l">-</span><input type="text" class="inp" value="0"><span class="s-r">+</span>
                                                            </p>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="pay-box clr" id="pdtSlt-pb">
                                            <p class="nth2"><span class="f-bd s1">최종 결제금액</span><span class="ps">(VAT, 봉사료, 예약수수료 포함)</span><s>86,000<span>원</span></s><span class="c-red"><span class="f-bd">143,500</span><span class="sm">원</span></span>
                                            </p>
                                            <p class="nth3">
                                                <a class="nth3" href="javascript:alert(&#39;입장권을 선택해주세요.&#39;)">예약하기<span class="gt">&gt;</span></a>
                                            </p>
                                        </div>

                                            <!-- 변경내용_170614 끝-->

                                            

                                        <!--- 이미지 확대 레이어 --->
                                        <div class="view_img_layer" style="display:none;position:fixed;visibility:visible;margin-left:0;padding-bottom:30px;height:auto;padding-right:45px" id="room_layer_2299">
                                            <p class="view_title" style="text-align:left">마운틴뷰 콘도</p>
                                            <p class="view_layer_close" onclick="utils.out('#room_layer_2299')"><img src="http://img.go.co.kr/btn_close_layer.jpg" alt="닫기"></p>
                                            <div class="swiper_room img_area" style="width:100%;background:#000000">
                                                <div class="swiper-wrapper" style="width:100%;padding:none">
                                                    <div class="swiper-slide" style="text-align:center;"><img src="http://cache.go.co.kr/media/1000/file.go.co.kr/tour/img2/1491201477_1.jpg" alt="" style="max-width:1000px;width:auto;height:auto;margin:0 auto;max-height:667px"></div>
                                                    <div class="swiper-slide" style="text-align:center;"><img src="http://cache.go.co.kr/media/1000/file.go.co.kr/tour/img2/1491201477_2.jpg" alt="" style="max-width:1000px;width:auto;height:auto;margin:0 auto;max-height:667px"></div>
                                                    <div class="swiper-slide" style="text-align:center;"><img src="http://cache.go.co.kr/media/1000/file.go.co.kr/tour/img2/1491201478_3.jpg" alt="" style="max-width:1000px;width:auto;height:auto;margin:0 auto;max-height:667px"></div>
                                                    <div class="swiper-slide" style="text-align:center;"><img src="http://cache.go.co.kr/media/1000/file.go.co.kr/tour/img2/1491201478_4.jpg" alt="" style="max-width:1000px;width:auto;height:auto;margin:0 auto;max-height:667px"></div>
                                                </div>
                                                <a class="btn3 prev swiper-button-prev" style="display: block;top:22px;height:100%;background-position:0 50%;z-index:9999;cursor:pointer"></a>
                                                <a class="btn3 next3 swiper-button-next" style="display: block;top:22px;height:100%;background-position:100% 50%;z-index:9999;cursor:pointer"></a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                                <!-- 객실명, 인원, 금액 나오는 라인 -->
                                <tr id="125565_tr" class="over_tr" style="cursor:pointer;" onclick="booking.sclick('125565', 'y');">
                                    <td class="pl15 left ss"><input type="radio" name="sang" value="125565" id="sang_125565"> 

                                        <!--- 패키지 말머리 추가 --->

                                        마운틴뷰 콘도[조개잡이패키지]  </td>
                                    <td class="center ss">4인/7인</td>
                                    <td class="center ss" style="width:159px;position:relative">
                                        <div class="lowest_price_wrap"><div class="dis_icon_dt">81% 할인</div>
                                        </div>				<del class="price_s">330,000원</del><br>		<span class="price">62,000원~</span>
                                    </td>
                                </tr>




                                </tbody>
                            </table>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>



</body>

</html>