<!DOCTYPE html>
<html lang="ko-KR">
<head>
<title>고코투어</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8">

<link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css">
<link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/reset.css?ver=20170328181741">
<link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/layout_new3.css?ver=20170328181741">
<!-- <link href="http://static.go.co.kr/css/css_pirobox/style_2/style.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/advisor.css?ver=20170329090447">
<link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/event.css?ver=20170329090447">
<link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/prettyPhoto.css?ver=20170329090447" media="screen" title="prettyPhoto main stylesheet" charset="utf-8">
<link rel="stylesheet" href="http://static.go.co.kr/css/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/bootstrap.css"> -->

<link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/footer.css">

</head>
<body style="padding-top:500px;">
	<div id="Footer">
		<div class="f-area">
			<div class="f-top">
				<div class="policy">
					<a href="#">이용약관</a>
					&nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;
					<a href="#" class="privacy">개인정보처리방침</a>
					&nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;
					<a href="#">광고/입점/제휴문의</a>
					&nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;
					<a href="#">고객센터</a>
				</div>
				<div class="family-site">
					<span>패밀리사이트&nbsp;▲</span>
					<ul class="site">
						<li>
							<a href="http://www.go.co.kr" target="_blank">고코투어</a>
						</li>
						<li>
							<a href="http://www.tournspa.co.kr" target="_blank">투어앤스파</a>
						</li>
						<li>
							<a href="http://www.tourgosu.co.kr" target="_blank">투어고수</a>
						</li>
						<li>
							<a href="http://www.todaygo.co.kr" target="_blank">투데이고</a>
						</li>
						<li>
							<a href="http://www.allgotour.co.kr" target="_blank">올고투어</a>
						</li>
						<li>
							<a href="http://www.todotour.co.kr" target="_blank">투두투어</a>
						</li>
						<li>
							<a href="http://www.toursoon.co.kr" target="_blank">투어순</a>
						</li>
						<li>
							<a href="http://www.hyutour.co.kr" target="_blank">휴투어</a>
						</li>
						<li>
							<a href="http://www.didimtour.co.kr" target="_blank">디딤투어</a>
						</li>
						<li>
							<a href="http://www.trip25.co.kr" target="_blank">트립25</a>
						</li>
						<li>
							<a href="http://www.oudigo.co.kr" target="_blank">어디고</a>
						</li>
						<li>
							<a href="http://www.borogogo.co.kr" target="_blank">바로고고</a>
						</li>
						<li>
							<a href="http://www.watour.co.kr" target="_blank">와투어</a>
						</li>
						<li>
							<a href="http://www.tourgirl.co.kr" target="_blank">투어걸</a>
						</li>
						<li>
							<a href="http://www.sinnatour.co.kr" target="_blank">신나투어</a>
						</li>
						<li>
							<a href="http://www.mitour.co.kr" target="_blank">미투어</a>
						</li>
						<li>
							<a href="http://www.dagaja.co.kr" target="_blank">다가자</a>
						</li>
						<li>
							<a href="http://www.tripgogo.co.kr" target="_blank">고고트립</a>
						</li>
						<li>
							<a href="http://www.hotplan.co.kr" target="_blank">핫플랜</a>
						</li>
						<li>
							<a href="http://www.gleetour.co.kr" target="_blank">글리투어</a>
						</li>
						<li><a href="http://www.shinetour.co.kr" target="_blank">샤인투어</a></li>
					</ul>
				</div>
			</div>
			<div class="f-bottom">
				<div class="f_logo"><img src="http://img.go.co.kr/f_logo.gif" alt="고코투어 Go.co.kr 국내최대 할인숙박 예약"></div>
				<div class="address">
					<p>
						<strong>(주)가자닷컴</strong><br>
						<span>
							대표이사 : 박준수<br>
							주소 : 서울특별시 강남구 테헤란로82길 15, 13층(대치동, 디아이타워)<br>
							사업자등록번호 : 220-88-97107<br>
							통신판매업 : 제2015-서울강남-00510호
						</span>
						<a href="#"><img src="http://img.go.co.kr/btn_copyinfo_gray.gif"></a>
					</p>
					<p>
						<strong>(주)가자닷컴투어</strong><br>
						<span>
							대표이사 : 김영환<br>
							서울특별시 강남구 테헤란로82길 15, 13층(대치동, 디아이타워)<br>
							사업자등록번호 : 220-88-92970<br>
							통신판매업 : 제2014-서울강남-03546호
						</span>
						<a href="#"><img src="http://img.go.co.kr/btn_copyinfo_gray.gif"></a><br>
						<span>
							여행영업보증서 : 국내여행 제100-000-2015 0144 5816호<br>
							여행업등록번호 : 제 2015-02호
						</span>
						<a href="#"><img src="http://img.go.co.kr/btn_travel_gray.gif" alt="관광사업등록증"></a>
					</p>
					<p class="copy">copyright 2015 by go co. all rights reserved.</p>
				</div>
				<ul class="customer">
					<li class="f_call">
						<p>고객상담 및 빠른객실문의</p>
						<strong>1666-1243</strong>
					</li>
					<li class="f_mail">
						<p>E-mail 문의</p>
						<a href="mailto:help@go.co.kr"><strong>help@go.co.kr</strong></a>
					</li>
				</ul>
				<div class="four-list">
					<img src="http://img.go.co.kr/f_icon01.gif" alt="랭키닷컴1위">
					<a href="#"><img src="http://img.go.co.kr/f_icon02.gif" alt="관광업등록증"></a>
					<a href="#"><img src="http://img.go.co.kr/f_icon03.gif" alt="서울보증보험"></a>
					<img src="http://img.go.co.kr/f_icon04.gif" alt="신용카드결제">
					<img src="http://img.go.co.kr/f_icon05.gif" alt="휴대폰결제">
					<img src="http://img.go.co.kr/f_icon06.gif" alt="공정거래위원회">
				</div>
			</div>
		</div>
	</div>
</body>
</html>