<!DOCTYPE html>
<html lang="ko-KR">
<head>
<meta property="qc:admins" content="1015350526677637632"> 
<title>고코투어</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta http-equiv="Cache-Control" content="No-Cache">
<meta http-equiv="Pragma" content="No-Cache">
<meta http-equiv="expire" content="-1">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta http-equiv="imagetoolbar" content="false">
<link rel="canonical" href="http://www.go.co.kr"> <!-- 대표 URL --> 
<meta name="naver-site-verification" content="7ac35ac4c02879644169c47cbe25cb6847e8705f">


<meta name="robots" content="ALL">
<meta name="author" content="GO.CO.KR 고코투어">
<meta name="description" content="국내외여행, 호텔, 편션, 리조트, 콘도 최저가할인예약  GO.CO.KR 고코투어">
<meta name="classification" content="GO.CO.KR 고코투어">
<meta name="keywords" content=" GO.CO.KR 고코투어">
<link rel="shortcut icon" href="http://img.go.co.kr/tournspa.ico?ver=3">



<link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css">
<link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/reset.css?ver=20170328181741">


<link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/layout_new3.css?ver=20170328181741">
<link rel="stylesheet" type="text/css" href="../src/css/footer.css">





</head>
<body>


	<div id="footer2">
		<div class="link2">
			<a href="javascript:utils.pop_open('http://www.go.co.kr/home/policy/join_policy_pop.php', 'join_policy', '')" title="이용약관">이용약관</a>
			&nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;
			<a href="javascript:utils.pop_open('http://www.go.co.kr/home/policy/privacy_pop.php', 'privacy_policy', '')" title="개인정보처리방침"><b><font color="white">개인정보처리방침</font>
			</b></a>
			&nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;
			<a href="http://www.go.co.kr/home/brd/?dd=QxsoVg==" title="광고/입점/제휴문의">광고/입점/제휴문의</a>
			&nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;
			<a href="http://www.go.co.kr/home/customer/" title="고객센터">고객센터</a>
			<!--&nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;
			<a href="javascript:util.on('#mailing_pop_wrap')"><img src="http://img.go.co.kr/icon_mail.jpg" alt="메일"/> <span class="mail">매주 최저가/특가 상품 소식받기!</span></a>-->

			<script>
				function on_off_list(val) {
					var state = $("#"+val).css("display");
					$(".link_list").hide();	
					if(state == "none") {
						$("."+val).show();
					} else {
						$("."+val).hide();
					}
				}
			</script>
			<div id="family_site">
				<div class="fam_btn_m">
					<a href="javascript:on_off_list('family_list');">패밀리사이트&nbsp;&nbsp;▲</a>
				</div>
				<ul id="family_list" class="family_list">
					<li>
						<div class="fam_btn"><a href="http://www.go.co.kr" target="_blank">고코투어</a></div>
					</li>
					<li>
						<div class="fam_btn"><a href="http://www.tournspa.co.kr" target="_blank">투어앤스파</a></div>
					</li>
					<li>
						<div class="fam_btn"><a href="http://www.tourgosu.co.kr" target="_blank">투어고수</a></div>
					</li>
					<li>
						<div class="fam_btn"><a href="http://www.todaygo.co.kr" target="_blank">투데이고</a></div>
					</li>
					<li>
						<div class="fam_btn"><a href="http://www.allgotour.co.kr" target="_blank">올고투어</a></div>
					</li>
					<li>
						<div class="fam_btn"><a href="http://www.todotour.co.kr" target="_blank">투두투어</a></div>
					</li>
					<li>
						<div class="fam_btn"><a href="http://www.toursoon.co.kr" target="_blank">투어순</a></div>
					</li>
					<li>
						<div class="fam_btn"><a href="http://www.hyutour.co.kr" target="_blank">휴투어</a></div>
					</li>
					<li>
						<div class="fam_btn"><a href="http://www.didimtour.co.kr" target="_blank">디딤투어</a></div>
					</li>
					<li>
						<div class="fam_btn"><a href="http://www.trip25.co.kr" target="_blank">트립25</a></div>
					</li>
					<li>
						<div class="fam_btn"><a href="http://www.oudigo.co.kr" target="_blank">어디고</a></div>
					</li>
					<li>
						<div class="fam_btn"><a href="http://www.borogogo.co.kr" target="_blank">바로고고</a></div>
					</li>
					<li>
						<div class="fam_btn"><a href="http://www.watour.co.kr" target="_blank">와투어</a></div>
					</li>
					<li>
						<div class="fam_btn"><a href="http://www.tourgirl.co.kr" target="_blank">투어걸</a></div>
					</li>
					<li>
						<div class="fam_btn"><a href="http://www.sinnatour.co.kr" target="_blank">신나투어</a></div>
					</li>
					<li>
						<div class="fam_btn"><a href="http://www.mitour.co.kr" target="_blank">미투어</a></div>
					</li>
					<li>
						<div class="fam_btn"><a href="http://www.dagaja.co.kr" target="_blank">다가자</a></div>
					</li>
					<li>
						<div class="fam_btn"><a href="http://www.tripgogo.co.kr" target="_blank">고고트립</a></div>
					</li>
					<li>
						<div class="fam_btn"><a href="http://www.hotplan.co.kr" target="_blank">핫플랜</a></div>
					</li>
					<li>
						<div class="fam_btn"><a href="http://www.gleetour.co.kr" target="_blank">글리투어</a></div>
					</li>
					<li>
						<div class="fam_btn"><a href="http://www.shinetour.co.kr" target="_blank">샤인투어</a></div>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div id="footer4">
		<div class="wrap">
			<div class="f_logo"><img src="http://img.go.co.kr/f_logo.gif?ver=20170328181741" alt="고코투어 Go.co.kr 국내최대 할인숙박 예약"></div>
			<div class="txt">
				<p>
					<strong>(주)가자닷컴</strong><br>
					<span>
						대표이사 : 박준수<br>
						주소 : 서울특별시 강남구 테헤란로82길 15, 13층(대치동, 디아이타워)<br>
						사업자등록번호 : 220-88-97107<br>
						통신판매업 : 제2015-서울강남-00510호					</span>
						<a href="http://www.ftc.go.kr/info/bizinfo/communicationViewPopup.jsp?wrkr_no=2208897107" target="_blank"><img src="http://img.go.co.kr/btn_copyinfo_gray.gif?ver=20170328181741"></a>
					</p>				
					<p>
						<strong>(주)가자닷컴투어</strong><br>
						<span>
							대표이사 : 김영환<br>
							서울특별시 강남구 테헤란로82길 15, 13층(대치동, 디아이타워)<br>
							사업자등록번호 : 220-88-92970<br>
							통신판매업 : 제2014-서울강남-03546호
						</span>				
						<a href="http://www.ftc.go.kr/info/bizinfo/communicationViewPopup.jsp?wrkr_no=2208892970" target="_blank"><img src="http://img.go.co.kr/btn_copyinfo_gray.gif?ver=20170328181741"></a><br>
						<span>
							여행영업보증서 : 국내여행 제100-000-2015 0144 5816호<br>
							여행업등록번호 : 제 2015-02호
						</span> <a href="javascript:util.regist_pop('registration02')"><img src="http://img.go.co.kr/btn_travel_gray.gif?ver=20170328181741" alt="관광사업등록증"></a>
					</p>
					<p>copyright 2015 by go co. all rights reserved.</p>
				</div>
				<ul class="customer">
					<li class="f_call">
						<p>고객상담 및 빠른객실문의</p>
						<strong>1666-1243</strong>
					</li>
					<li class="f_mail">
						<p>E-mail 문의</p>
						<a href="mailto:help@go.co.kr"><strong>help@go.co.kr</strong></a>
					</li>
				</ul>

				<div class="icon">
					<img src="http://img.go.co.kr/f_icon01.gif" border="0" alt="랭키닷컴1위">
					<a href="javascript:util.regist_pop('registration02')"><img src="http://img.go.co.kr/f_icon02.gif?ver=20170328181741" border="0" alt="관광업등록증"></a>
					<a href="javascript:util.regist_pop('registration01')"><img src="http://img.go.co.kr/f_icon03.gif?ver=20170328181741" border="0" alt="서울보증보험"></a>
					<img src="http://img.go.co.kr/f_icon04.gif?ver=20170328181741" border="0" alt="신용카드결제">
					<img src="http://img.go.co.kr/f_icon05.gif?ver=20170328181741" border="0" alt="휴대폰결제">
					<script language="JavaScript">
						function onopen() {
							var site_com = "2208897107";
							var url = "http://www.ftc.go.kr/info/bizinfo/communicationViewPopup.jsp?wrkr_no="+site_com;
							window.open(url, "communicationViewPopup", "width=750, height=700;");
						}
					</script>
					<img src="http://img.go.co.kr/f_icon06.gif?ver=20170328181741" alt="공정거래위원회" onclick="onopen();" style="cursor:pointer">
				</div>
			</div><!--footer4 끝-->
		</div>



</body>
</html>