<!DOCTYPE html>
<html lang="ko-KR">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta charset="UTF-8">
	<title>상세피이지 로고 추가</title>

	<link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/reset.css?ver=20170201165300" />
	<!-- <link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/layout_new3.css?ver=20170201165300" /> -->
	<!-- <link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/layout_new3_tmp.css"/> -->
	<link rel="stylesheet" type="text/css" href="../src/css/layout_new3_tmp.css" />

	<link href="http://static.go.co.kr/css/css_pirobox/style_2/style.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/advisor.css?ver=20170201165300" />
	<link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/event.css?ver=20170201165300" />
	<link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/prettyPhoto.css?ver=20170201165300" media="screen" title="prettyPhoto main stylesheet" charset="utf-8" />

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<style>	
			.outer {position: relative; width: 1002px;	margin: 0 auto; 
					border: 1px solid #b9b9b9;
				}
			.detail_goods img {display: block; margin: 0 auto;}
			#google_row1 {margin-top: 50px;}
			.slogan_icon {width: 980px;}
			.slogan_icon img {margin: 0 auto ; display: block;}
	</style>
</head>
<body>
<div class="outer">
	
	<div id="info_box1" style="clear:left;">
		<!--- 기본 상품소개 -->
		<div class="detail_goods">
				
			<br><br><img src="http://file.go.co.kr/dimg/1440396280_7.jpg" alt="상품소개이미지7" style="width: 800px;" width="100%"><img src="http://file.go.co.kr/dimg/1430460179_8.jpg" alt="상품소개이미지8" style="width: 800px;" width="100%">		

		</div>


		<div id="google_row1"></div>
	</div>


	<span class="slogan_icon"><img src="http://img.go.co.kr/slogan_tit_03.jpg"></span>		


	<!-- 추가사항 -->
	<div id="rt_banner">
		<h2>실시간 문의</h2>
		<p>궁굼하신</p>
		<p>모든사항은</p>
		<p class="fc">예약전문</p>
		<p class="fc">상담원에게</p>
		<p class="fc">실시간으로</p>
		<p class="fc">문의하세요</p>
		<p class="rt_btn"><a href="#">문의하기<span class="rt_arrow"></span></a></p>
		<p class="rt_logo"></p>
	</div>
</div>
	
</body>
</html>