<!DOCTYPE html>
<html lang="ko-KR">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta charset="UTF-8">
	<title>상세피이지 로고 추가</title>

	<link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/reset.css?ver=20170201165300" />
	<!-- <link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/layout_new3.css?ver=20170201165300" /> -->
	<link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/layout_new3_tmp.css"/>
	<!-- <link rel="stylesheet" type="text/css" href="../src/css/layout_new3_tmp.css" /> -->

	<link href="http://static.go.co.kr/css/css_pirobox/style_2/style.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/advisor.css?ver=20170201165300" />
	<link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/event.css?ver=20170201165300" />
	<link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/prettyPhoto.css?ver=20170201165300" media="screen" title="prettyPhoto main stylesheet" charset="utf-8" />

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

</head>
<body>
<div class="outer">
	
	<div id="info_box1" style="clear:left;margin-bottom:50px;">
				<!--- 기본 상품소개 -->
		<div class="detail_goods">
					호텔 상세이미지
					<p>
				&nbsp;</p>
			<p>
				&nbsp;</p>
			<p>
				<span style="color: rgb(255, 0, 0);"><strong><span style="font-size: 18px;">▶ 숙소공통사항</span></strong></span></p>
			<div>
				<div>
					<br>
					<span style="color: rgb(0, 0, 0);">* Extra Bed 추가시 30,000원(현지직불, 부가세별도)<br>
					- 트윈객실에는 엑스트라베드가 추가가 되지않습니다.<br>
					* 1인 클럽베네핏 :라운지이용 / 휘트니스 / 남성전용사우나 이용<br>
					&nbsp; 이그제큐티브층 객실 이용하는 고객에 한하여 적용됨<br>
					&nbsp; 1인 36,300원 (프론트 티켓 현장구매하시면 됩니다.)<br>
					* 투숙객 스파&amp;사우나 50%할인(남성전용)<br>
					* 휘트니스센터 무료이용<br>
					&nbsp;- 운영시간 : 월~금 24시간 토~일 6:30~23:00<br>
					&nbsp;- 운동화 대여시 3,000원 현지직불&nbsp;<br>
					* 스타시오 레스토랑 운영시간 : 6:30~22:30<br>
					* 초고속 인터넷 서비스<br>
					* 무료 차, 커피, 미니바 제공<br>
					* 무료 생수 제공(1실 1병)<br>
					* 개별적 자동 객실 온도 조절기<br>
					* 전화 음성 녹음 서비스 , 국내ㆍ외 신문 선택 가능<br>
					* 개인금고 제공</span></div>
			</div>
			<p>
				&nbsp;</p>
			<div>
				&nbsp;</div>
			<div>
				&nbsp;</div>
			<h3 style="color: red;">
				<span style="font-size: 18px;">▶ 기준인원 안내</span></h3>
			<div>
				<span style="color: rgb(0, 0, 0);"><span style="font-size: 12px;"><span style="font-size: 12px;"><span style="font-size: 14px;"><span style="font-size: 12px;"><span style="font-size: 14px;"><span style="font-size: 12px;"><span style="font-size: 14px;"><span style="font-size: 12px;"><span style="font-size: 14px;"><span style="font-size: 12px;"><span style="font-size: 14px;"><span style="font-size: 12px;">* 투숙객 추가 및 요금</span></span></span></span></span></span></span></span></span></span></span></span><br>
				<font color="#000000">-&nbsp;Extra Bed 추가시 30,000원(현지직불, 부가세별도)<br>
				- 트윈객실에는 엑스트라베드가 추가가 되지않습니다.</font></span><br>
				<span style="color: rgb(0, 0, 255);"><span style="font-size: 12px;"><span style="font-size: 12px;"><span style="font-size: 14px;"><span style="font-size: 12px;"><span style="font-size: 14px;"><span style="font-size: 12px;"><span style="font-size: 14px;"><span style="font-size: 12px;"><span style="font-size: 14px;"><span style="font-size: 12px;"><span style="font-size: 14px;"><span style="font-size: 12px;">- 최대인원을 초과하여 입실하실수없습니다</span></span></span></span></span></span></span></span></span></span></span></span></span></div>
			<p>
				&nbsp;</p>
			<p>
				&nbsp;</p>
			<p>
				&nbsp;</p>
			<h3 style="color: red;">
				<span style="font-size: 18px;">▶ 조식시간 및 요금 </span></h3>
			<p>
				<font color="#000000"><font color="#000000">* 조식시간 및 요금<br>
				<font color="#000000">- 조식 추가시 20,570원(부가세,봉사료포함)</font></font></font></p>
			<h3 style="color: red;">
				&nbsp;</h3>
			<p>
				&nbsp;</p>
			<p>
				&nbsp;</p>
			<h3 style="color: red;">
				<span style="font-size: 18px;">▶ 패키지 안내사항</span></h3>
			<br><br><img src="http://file.go.co.kr/dimg/1430460178_1.jpg" alt="상품소개이미지1" style="width: 800px;" width="100%"><img src="http://file.go.co.kr/dimg/1430460178_2.jpg" alt="상품소개이미지2" style="width: 800px;" width="100%"><img src="http://file.go.co.kr/dimg/1430460178_3.jpg" alt="상품소개이미지3" style="width: 800px;" width="100%"><img src="http://file.go.co.kr/dimg/1448615368_4.jpg" alt="상품소개이미지4" style="width: 800px;" width="100%"><img src="http://file.go.co.kr/dimg/1430460179_5.jpg" alt="상품소개이미지5" style="width: 800px;" width="100%"><img src="http://file.go.co.kr/dimg/1430460179_6.jpg" alt="상품소개이미지6" style="width: 800px;" width="100%"><img src="http://file.go.co.kr/dimg/1440396280_7.jpg" alt="상품소개이미지7" style="width: 800px;" width="100%"><img src="http://file.go.co.kr/dimg/1430460179_8.jpg" alt="상품소개이미지8" style="width: 800px;" width="100%">		
			<!-- 추가사항 -->	
			<div class="detail_btnLogo"></div>
			<!-- 끝 -->

		</div>


		<div id="google_row1"></div>
	</div>


	<span class="slogan_icon"><img src="http://img.go.co.kr/slogan_tit_03.jpg"></span>		
</div>
	
</body>
</html>