<html>

<head></head>

<body>
	<span style="display: none; line-height: 0;">[Kakao Developers] 사용자 관리 API 업데이트 안내드립니다.</span>
	<div style="font-size:16px; color:#444; padding:0; max-width: 1000px; margin:0 auto">
		<!-- header -->
		<div style="margin: 20px 0; text-align: center"><img src="http://k.kakaocdn.net/14/dn/btqk8U0vlHt/7KU6cYaE0Oog4rWHxtvz5K/o.jpg"></div>
		<!-- content -->
		<div style="font-size:16px; color:#444; padding:20px;">
			<!-- prolog -->
			<p style="font-size:16px; color:#444; margin-top: 0; margin-bottom: 20px; line-height:150%;">
				안녕하세요. 카카오입니다.<br> 사용자 관리 API가 업데이트 되어 안내드립니다.<br>
				<br> 기존에 제공되던 이메일과 더불어 <strong>연령대, 생일, 성별</strong> 값이 추가로 제공됩니다.<br> 이를 사용하기 위해서는 기존 v1 API를 v2 API로 업데이트 해주세요.<br>
			</p>
			<div style="border:1px solid #eee; background-color: #fafafa; padding:10px 20px;">
				<ul style="font-size:16px; color:#444; line-height: 150%; padding: 0; margin-left: 20px;">
					<li><a href="https://developers.kakao.com/docs/ios/user-management#%EC%82%AC%EC%9A%A9%EC%9E%90-%EC%A0%95%EB%B3%B4-%EC%9A%94%EC%B2%AD" target="_blank" rel="noopener noreferrer">iOS 가이드 바로가기</a> : SDK 버전 1.8.1이상</li>
					<li><a href="https://developers.kakao.com/docs/android/user-management#%EC%82%AC%EC%9A%A9%EC%9E%90-%EC%A0%95%EB%B3%B4-%EC%9A%94%EC%B2%AD" target="_blank" rel="noopener noreferrer">안드로이드 가이드 바로가기</a> : SDK 버전 1.11.1이상</li>
					<li><a href="https://developers.kakao.com/docs/restapi/user-management#%EC%82%AC%EC%9A%A9%EC%9E%90-%EC%A0%95%EB%B3%B4-%EC%9A%94%EC%B2%AD" target="_blank" rel="noopener noreferrer">REST API 가이드 바로가기</a></li>
				</ul>
			</div>
			<br>

			<!-- ending -->
			<p style="font-size:16px;color:#282828;margin-top:20px; margin-bottom:20px;line-height:150%;">
				더욱 발전하는 Kakao Developers가 되겠습니다.

				<br> 감사합니다.
			</p>
			<br><br>
			<p style="font-size:14px;color:#282828;margin-top: 0; margin-bottom: 20px; line-height:150%;">
				붙임말 : <a href="https://devtalk.kakao.com/t/v1/42538" target="_blank" rel="noopener noreferrer">v1 카카오링크/나에게 보내기</a>는 6월 1일 종료되니 아직 업데이트 안한 서비스는 서둘러 주세요.<br>
				<a href="https://devtalk.kakao.com/c/108-category" target="_blank" rel="noopener noreferrer">지난 공지사항 보기</a>
			</p>
		</div>
	</div>

	<!-- footer -->
	<hr style="background-color:#eee; height: 1px; border:0 none;">
	<div style="padding: 10px 20px 0px 20px"><a href="http://www.kakaocorp.com/" target="_blank" rel="noopener noreferrer"><img src="http://mud-kage.kakao.co.kr/14/dn/btqdzCy1Nlr/pmKYpcuVFpSeIyVnZEA5Wk/o.jpg" width="108" height="40" style="width:108px;height:40px;" alt="Kakao Logo"></a></div>
	<p style="color: #444; padding: 10px 20px;">
		본 메일은 발신 전용입니다. 궁금한 사항을 문의하시려면
		<strong><a href="https://devtalk.kakao.com" target="_blank" rel="noopener noreferrer">카카오 데브톡</a></strong>을 이용해 주세요.<br> Copyright © Kakao Corp.</p>
</body>

</html>