<!DOCTYPE html>
<html lang="ko-KR">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta charset="UTF-8">
	<title>상세피이지 로고 추가</title>

	<link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/reset.css?ver=20170201165300" />
	<!-- <link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/layout_new3.css" /> -->
	<!-- <link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/layout_new3_tmp.css"/> -->
	<link rel="stylesheet" type="text/css" href="../src/css/layout_new3_tmp.css" />

	<link href="http://static.go.co.kr/css/css_pirobox/style_2/style.css" rel="stylesheet" type="text/css" />
	<!--<link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/advisor.css?ver=20170201165300" />
	<link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/event.css?ver=20170201165300" />
	<link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/prettyPhoto.css?ver=20170201165300" media="screen" title="prettyPhoto main stylesheet" charset="utf-8" />-->

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<!-- <script src="http://static.go.co.kr/js/select_product.js"></script> -->
	<!-- <script src="../src/js/select_product.js"></script> -->

	<style>
		body {padding: 100px 0;}

		
	</style>

</head>
<body>
<div id="mapContainer">에 position: relative; 추가

<a href="#" style="position: absolute; top: 248px; display: block; right: 6px; width: 32px; text-align: center; height: 28px; background: #fff; border-radius: 4px; box-shadow: 1px 1px 1px rgba(0,0,0,0.196); border: 1px solid #444;
">
  <img src="http://img.go.co.kr/magnify_icon.png" alt="확대보기" style=" position: relative; width: 22px; top: -5px;" id="manify_icon">
</a>
  
</body>
</html>
