<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
</head>
<body>

	<input type="checkbox" id="i1">
	<label for="i1">레이블1</label>
	<label for="i1">레이블1-1</label>
	
	<input type="radio" id="i2" name="radio-1">
	<input type="radio" id="i2-1" name="radio-1">
	<input type="radio" id="i2-2" name="radio-1">
	<label for="i2">레이블1</label>
	<label for="i2">레이블1-1</label>

</body>
</html>