<!doctype html>
<html lang=ko>
<head>
<meta charset="UTF-8">
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width" />
<title>디오션 워터파크</title>
<link rel="stylesheet" href="http://static.cablecar.go.co.kr/css/reset.css" />
<link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css" />
<link rel="stylesheet" href="http://static.cablecar.go.co.kr/css/common.css" />
<link rel="stylesheet" href="http://static.cablecar.go.co.kr/css/payment.css" />
<link rel="stylesheet" href="../../src/css/theocean.css" />
<script type="text/javascript" src="http://static.cablecar.go.co.kr/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="http://static.cablecar.go.co.kr/js/common.js"></script>
</head>
<body>
	<div id="Wrapper" class="wrap">
		<header class="sub">
			<h1>구매완료</h1>
			<a href="#" class="btn_back">이전페이지</a>
			<a href="#" class="btn_close">닫기</a>
		</header>
		<div class="section">
			<div class="area">
				<div class="box finish">
					<strong>예약이 정상적으로 완료되었습니다.</strong>
					<p>
						<em>주문번호 : 7975-2663</em><br>
						입력하신 메일 주소로 예약정보가 발송 되었습니다.<br>
						구매내역에서도 확인이 가능합니다.
					</p>
				</div>
			</div>
		</div>
		<div>
			<a href="#" title="새 창 열림" target="_blank"><img src="../../src/img/img_benefit_banner01.jpg" alt="디오션 워터파크를 예약하신 분들을 위한 선택! 근처 숙소를 최대 80% 저렴한 가격에 확인해보세요" /></a>
		</div>
		<div class="section">
			<div class="area">
				<div class="box card">
					<div class="caption">
						<p class="bg_tit">예약자 정보</p>
					</div>
					<div class="cont">
						<table class="board_view">
							<caption>예약자 정보</caption>
							<colgroup>
								<col style="width:80px;" />
								<col style="*;" />
							</colgroup>
							<tbody>
								<tr>
									<th scope="row">예약날짜</th>
									<td>2017.04.30(토)</td>
								</tr>
								<tr>
									<th scope="row">예약자</th>
									<td>김지영</td>
								</tr>
								<tr>
									<th scope="row">연락처</th>
									<td>010-1234-5678</td>
								</tr>
								<tr>
									<th scope="row">이메일</th>
									<td>awewijw@naver.com</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="box card">
					<div class="caption">
						<p class="bg_tit">결제 정보</p>
					</div>
					<div class="cont">
						<table class="board_view">
							<caption>결제 정보</caption>
							<colgroup>
								<col style="width:80px;" />
								<col style="*;" />
							</colgroup>
							<tbody>
								<tr>
									<th scope="row">상품정보</th>
									<td>디오션 워터파크 이용권</td>
								</tr>
								<tr>
									<th scope="row">주소</th>
									<td>전라남도 여수시 소호동 산99</td>
								</tr>
								<tr>
									<th scope="row">이용일자</th>
									<td>2017.04.31(일)</td>
								</tr>
								<tr>
									<th scope="row">이용인원</th>
									<td>총 2매</td>
								</tr>
								<tr>
									<th scope="row">상품명</th>
									<td>
										워터파크 종일권 대인<br>
										워터파크 종일권 소인
									</td>
								</tr>
								<tr>
									<th scope="row">결제수단</th>
									<td>간편 카드결제</td>
								</tr>
								<tr>
									<th scope="row">결제금액</th>
									<td>29,700원</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="btn_area">
					<a href="#" class="btn btn_type01">확인</a>
				</div>
			</div>
		</div>
		<footer>
			<a href="tel:1666-1243">고객센터 1666-1243</a>
			<p>운영시간 : 10시 ~ 18시(점심 12시 ~ 1시)</p>
		</footer>
		<ul class="quick">
			<li class="prev"><a href="#">이전</a></li>
			<li class="home"><a href="#">홈</a></li>
			<li class="list"><a href="#">예약내역</a></li>
			<li class="login"><a href="#">로그인</a></li>
		</ul>
		<div class="move_top">
			<a href="#"><img src="http://img.cablecar.go.co.kr/ico_move_top.png" alt="위로 가기" /></a>
		</div>
	</div>
</body>
</html>