<!DOCTYPE html>
<html lang="ko-KR">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0" />
	<title>문서 제목</title>

	<link rel="stylesheet" href="http://static.go.co.kr/css/swiper.min.css?ver=20170201154748" type="text/css"/>
	<link rel="stylesheet" href="http://static.go.co.kr/css/moblie_reset.css?ver=20170201154748" type="text/css"/>
	<link rel="stylesheet" href="http://static.go.co.kr/css/mobile_layout3.css?ver=20170201154748" type="text/css"/> 
  <!--css추가-->
  <link rel="stylesheet" href="http://static.go.co.kr/css/swiper.min.css" type="text/css"/> 
	<!-- <link rel="stylesheet" href="../../src/css/mobile_layout3_tmp.css" type="text/css"> -->
	<!--<link rel="stylesheet" href="http://static.go.co.kr/css/mobile_layout3_tmp.css" type="text/css">-->
  <!--<link rel="stylesheet" href="http://static.go.co.kr/css/m/history/history_m.css">-->
  
  <link rel="stylesheet" href="../../../../src/css/m/history/history_m.css">

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  
  <!--js추가-->
  <script src="http://static.go.co.kr/js/swiper.min.js"></script>

  <!--<script src="http://static.go.co.kr/js/m/history/history_m.js"></script>-->
  <script src="../../../../src/js/m/history/history_m.js"></script>
  
</head>
<body>
	<div id="wrapper">
		<div id="scroll_box">
			<div id="top_box" style="position:fixed;top:0px;z-index:9999;width:100%;background:#ffffff">
				<!-- 서브페이지 상단 -->
				<div id="headTitle_box">
					<div id="headTitle">
						<span class="back">
							<a href="http://m.go.co.kr/home/main/"><img src="http://img.go.co.kr/mobile/btn_back.png" height="17" alt="뒤로"></a>
						</span>예약내역
            <a id="h-phone"><img src="http://img.go.co.kr/mobile/history_phone.png" alt="전화문의"></a>
					</div>
				</div>
        <!-- 변경내용 시작 -->
        <div class="clr"></div>
        <div class="history-tab-01 tab-02">
          <ul class="clr">
            <li class=""><a href="./history_02_1.html">예약정보</a></li>
            <li class=""><a href="./history_02_2.html">시설정보</a></li>
            <li class=""><a href="./history_02_3.html">지도</a></li>
            <li class="on"><a href="./history_02_4.html">주변관광지</a></li>
          </ul>
        </div>
        
			</div>

			<div id="top_box_bottom" style="height: 80px;"></div>
			
      <div class="history02-common clr">
        <ul class="name">
          <li><span class="ctgr">리조트/콘도</span><span class="tit">오션투유리조트</span></li>
          <li>강원 고성군 죽왕면 삼포리 243-13 <span class="addr">주소복사</span></li>
        </ul>
			</div>

      <div class="history04-wrap">
        <div class="history04-tab" id="history04-tab">
          <ul>
            <li class="on"><a href="./history_02_4_1.html">인근여행지</a></li>
            <li class=""><a href="./history_02_4_2.html">주변지도</a></li>
            <li class=""><a href="./history_02_4_3.html">인근맛집</a></li>
            <li class=""><a href="./history_02_4_4_1.html">인근입장권</a></li>
          </ul>
        </div>    
        <div class="history04-1 history04-common" id="history04-1">
          <ul class="clr">
            <li class="h04-1-spot">
              <div class="thumb"><a href=""><img src="http://file.go.co.kr/info_tour/upload/0.41344600 1291599418" alt="삼포해수욕장"></a></div>
              <p class="tit"><strong>삼포해수욕장</strong></p>
              <p class="txt">1.0km 이내</p>
            </li>
            <li class="h04-1-spot">
              <div class="thumb"><a href=""><img src="http://file.go.co.kr/info_tour/upload/0.73664900 1273296959" alt="척학정/문암포구"></a></div>
              <p class="tit"><strong>척학정/문암포구</strong></p>
              <p class="txt">4.0km 이내</p>
            </li>
            <li class="h04-1-spot">
              <div class="thumb"><a href=""><img src="http://file.go.co.kr/info_tour/upload/0.44736800 1273296040" alt="청간정"></a></div>
              <p class="tit"><strong>청간정</strong></p>
              <p class="txt">6.3km 이내</p>
            </li>
            <li class="h04-1-spot">
              <div class="thumb"><a href=""><img src="http://file.go.co.kr/info_tour/upload/0.07948900 1273223216" alt="봉포간이해변"></a></div>
              <p class="tit"><strong>봉포간이해변</strong></p>
              <p class="txt">9.2km 이내</p>
            </li>
            <li class="h04-1-spot">
              <div class="thumb"><a href=""><img src="http://file.go.co.kr/info_tour/upload/0.35811000 1291364424" alt="화암사"></a></div>
              <p class="tit"><strong>화암사</strong></p>
              <p class="txt">10.9km 이내</p>
            </li>
            <li class="h04-1-spot">
              <div class="thumb"><a href=""><img src="http://file.go.co.kr/info_tour/upload/0.77789700 1273285124" alt="화진포"></a></div>
              <p class="tit"><strong>화진포</strong></p>
              <p class="txt">14.5km 이내</p>
            </li>
          </ul>
          
          <div class="pagenation" id="pagenation">
            <a class="prev" href="">&lt;</a>
            <a class="on" href="">1</a>
            <a href="">2</a>
            <a href="">3</a>
            <a href="">4</a>
            <a href="">5</a>
            <a class="next" href="">&gt;</a>
          </div>
        </div>
        <!--사진클릭시 등장 레이어팝업_여행지-->
        <div class="h04-pop" id="h04-pop">
          <section class="box">
            <header>삼포 해수욕장<a href="" class="btn-a-cancel"></a></header>
            <div class="contents">
              <div class="slide-box swiper-container" id="main-slider">
                <ul class="swiper-wrapper">
                  <li class="swiper-slide">
                    <img src="http://file.go.co.kr/info_tour/upload/0.41344600 1291599418" alt="관련이미지">
                  </li>
                  <li class="swiper-slide">
                    <img src="http://file.go.co.kr/info_tour/upload/0.41344600 1291599418" alt="관련이미지">
                  </li>
                </ul>

                <span class="rs-slide-btn" id="slider-prev"><img src="http://img.go.co.kr/mobile/h04_btn_prev.png" alt="이전"></span>
                <span class="rs-slide-btn" id="slider-next"><img src="http://img.go.co.kr/mobile/h04_btn_next.png" alt="다음"></span>
              </div>
              <p class="main-txt">
                속초에서 북쪽으로 12km 떨어져 있는 삼포해변은 해당화와 울창한 소나무 솔숲이 유명합니다.<br>
                길이 800m, 폭 75m가 되는 모래사장에는 바닷말이 짙게 자라나 있고, 경사도 2~3도의 바닷가는 물 깊이가 1~2m 정도로서 어느 곳에서도 해수욕의 즐거움을 한껏 누릴 수 있고, 이곳의 모래는 '우는 모래'라는 뜻의 명사로 불리며, 맞은편에는 흑도와 백도 그리고 호미섬이 있어 바다 낚시터로도 이용되고 있습니다.<br>
                이 해수욕장 남쪽에는 백사장의 길이 700m, 폭 170m에 평균 수심 1.2m의 조건을 갖춘 삼포 2리 간이해변입니다.
              </p>
            </div>
            <footer class="foot clr"><span class="addr">강원도 고성군 죽왕면 삼포리</span> <a class="copy"><span>복사</span></a></footer>
          </section>
        </div>
         
      </div>
		</div><!--scrollbox 끝-->
    
	</div><!--wrapper 끝-->
	
</body>
</html>