@charset "utf-8";
@import url(http://static.go.co.kr/css/footer.css);
@import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css");

/* 초기화 */
.rn-schBox input[type=text] {
	-webkit-appearance: none; -moz-appearance: none; appearance: none; border: none; outline: none;
}

/* 아이콘 */
.c-ic {position: relative; display: inline-block; vertical-align: middle; background: url(http://img.go.co.kr/renew/rnLSprImg.png) no-repeat left center;}
.c-ic.i-mag {width: 24px; height: 23px; background-position: 0 0;}
.c-ic.i-comp {width: 18px; height: 18px; background-position: -40px 0;}
.c-ic.i-blChk {width: 12px; height: 9px; background-position: -80px 0;}
.c-ic.i-rDnArr {width: 10px; height: 16px; background-position: -120px 0;}
.c-ic.i-mapv, .c-ic.i-dArr, .c-ic.i-alg {height: 21px;}
.c-ic.i-mapv {width: 20px; background-position: 0 -30px;}
.c-ic.i-dArr {width: 16px; background-position: -40px -30px;}
.c-ic.i-alg {width: 18px; background-position: -80px -30px;}
.c-ic.i-gCal, .c-ic.i-gSpot, .c-ic.i-rArr, .c-ic.i-yChk {width: 32px; height: 32px;}
.c-ic.i-gCal {background-position: 0 -60px;}
.c-ic.i-gSpot {background-position: -40px -60px;}
.c-ic.i-rArr {width: 28px; background-position: -80px -60px;}
.c-ic.i-yChk {width: 14px; background-position: -120px -60px;}


/* 공통 css */
.bsLs, .bsLs * {box-sizing: border-box; letter-spacing: -0.5px;}
.mgl, .mg- {position: relative; display: inline-block; vertical-align: middle;}
.ftfm-nt {font-family: "Noto Sans KR", "Nanum Gothic", sans-serif;}

/* 공통 박스너비 시작 */
.rn-container {width: 1002px; margin: 0 auto;}

/* 푸터 */
/*
.footer {position: relative; width: 100%; background: #eee;}
.footer .mgl {margin: 0 10px; width: 1px; height: 15px; background: #878686; top: -1px;}
.footer .f-top {width: 100%; border-bottom: 1px solid #dcdcdc; height: 65px; padding-top: 24px;}
.footer .f-policy a, .footer .cm-s, .footer .busInf {color: #595858; font-size: 14px;}
.footer .cm-s {width: 1002px; margin: 0 auto; text-align: center;}
.footer .f-area {padding: 24px 0 15px; line-height: 1.6;}
.footer address .mgl {margin: 0 6px;}
.footer address strong {font-size: 18px;}
.footer .busInf {position: relative; display: inline-block; font-size: 13px; padding: 0px 5px; border: 1px solid #646464; margin-left: 10px;}
.footer .busInf span {position: relative; top: -2px;font-family: "Nanum Gothic", sans-serif; font-size: 10px; font-weight: 700; margin-left: 5px;}
.footer .f-certImg {margin-top: 10px;}
.footer small.cm-s {display: block; margin-top: 10px; color: #a9a7a7;}
*/
.footer .busInf {position: relative; display: inline-block; font-size: 12px; padding: 0px 5px; border: 1px solid #cdcdcd; margin-left: 10px; font-family: "Dotum", sans-serif; letter-spacing: -1px;}
.footer .busInf span {position: relative; top: -2px;font-family: "Nanum Gothic", sans-serif; font-size: 10px; font-weight: 700; margin-left: 5px;}
#Footer {background: #54585b;}
.f-area {width: 1200px;}
.f-area .f-top .policy a {color: #ededed; font-size: 14px;}
.f-area .f-top .family-site > span {border-color: #75797c;}
.f-area .f-bottom {border-top-color: #75797c;}
.footer .busInf,
.f-area .f-bottom .address p,
.f-area .f-bottom .address p span,
.f-area .f-bottom .address p.copy {color: #cdcdcd; font-weight: 300;}
.f-area .f-bottom .four-list {bottom: auto; top: 30px;}


/* 달력 색상수정 */
.sltCal-sec h3, .sltCal-sec .btn-a {background: #e95791;}

/* 상세 메뉴바 초기화 */
#contents_mn2 {margin: 0 auto; float: none; width: auto; height: auto; text-align: inherit; background: none; border: none; font-size: inherit; }
.nb-open-btn a i.bt {top: -1px; left: 8px; height: 23px;}


/* 패키지선택 수정 */
.pdtSlt-sec2 .part-1 h2 {background: #767575;}
.pdtSlt-sec2 .part-2 {background: #616060;}
.pdtSlt-sec2 .part-3, .pdtSlt-sec2 > div.part-23-outer > .part-h2 {background: #434343;}
#rsv_s_list .pay-box > .nth2 .c-red {color: #e95791;}
#rsv_s_list .pay-box > .nth3 a {background: #e95791;}
.pdtSlt-sec2
, .pdtSlt-sec2 > div 
, #rsv_s_list .pay-box
{border-color: #ebebeb;}
.pdtSlt-sec2:before {background: #ebebeb;}


#top2, #headerWrap, #gnbWrap, .dateBar, .mainBox02_wrapper, #Footer {min-width: 1200px; font-family: "Noto Sans KR", "Nanum Gothic", sans-serif;}

#top2 {padding: 5px 0;}
#top2 .link {width: 1200px;}
#top2 .link .mgl {position: relative; color: #888787; margin: 0 5px; top: -3px; text-indent: -9999px;}
#top2 .link a {font-size: 14px; line-height: 1.5; color: #333;}
#top2 .link .top_evt a {color: #008cd5;}

#headerWrap {width: 100%; box-sizing: border-box;}
#headerWrap .header {width: 1200px; margin: 0 auto; height: 100%;}
#headerWrap .header .logo {float: none; width: auto; margin-top: 0; display: inline-block; position: absolute; left: 50%; margin-left: -80px; top: 50%; margin-top: -26px;}
#headerWrap .header .logo img {position: relative; width: 160px;}
#headerWrap .header .menu {position: absolute; margin-top: 0; top: 12px; right: 0;}
#headerWrap .header .menu .mgl {position: relative; color: #888787; margin: 0 5px; top: -3px;}
#headerWrap .header .menu a {font-size: 15px; font-weight: 400;}
#headerWrap .header .tab-category {float: left; margin-top: 32px;}
#headerWrap .header .tab-category > li {float: left; margin-left: 8px;}
#headerWrap .header .tab-category > li:first-child {margin-left: 0;}
#headerWrap .header .tab-category > li > a {display: inline-block; font-size: 14px; color: #8b8c92; border: 1px solid #f2f2f2; background: #f2f2f2; border-radius: 18px;  padding: 0 12px 2px; line-height: 30px; box-sizing: border-box;}
#headerWrap .header .tab-category > li > a:hover {color: #008cd5; border-color: #008cd5; background: none;}


/*#headerWrap .header #AutosearchBox .Searching p a:hover {float:left; display:block; background:#FAF4C0; padding-left:10px; width:250px; height:25px; color:#4b4b4c; letter-spacing:-0.3px}
#overlay { position: absolute; top: 0; left: 0; z-index: 450; width: 100%; height: 100%; background-color: #464646; opacity: 0.8 }*/


#gnbWrap, #mainBox02_wrapper #mainBox02 .mainTicket .photo {background: #fff;}

#gnbWrap {border-top: 1px solid #dedcdd;}
#gnbWrap .gnb > li > a {width: 306.5px; color: #000; font-weight: 500;}
#gnbWrap .gnb > li > a > span {display: block; margin: 0 auto; width: 20px; height: 4px; background: #000; margin-top: 3px;}
#gnbWrap .gnb > li > a > span:first-child {margin-top: 13px;}
#gnbWrap .gnb > li > a:hover, #gnbWrap .gnb .all > a:hover {background: #f4f4f4;}
#gnbWrap .gnb .line {background: #dedcdd;}
#gnbWrap .gnb .subMenu, #gnbWrap .gnb #gnb_sub_globalTotal {border-top: 1px solid #dedcdd; background: #fff;}


/* 리뉴얼 대문 */
.rn-mdBox {position: relative; width: 100%; min-width: 1200px; height: 500px; background: url(http://img.hyutour.co.kr/renew/maindoor_bg.jpg) no-repeat center; box-sizing: border-box; padding-top: 120px;}
.rn-mdBox .mainDoor-txt {font-family: "Noto Sans KR", sans-serif; font-size: 31px; text-align: center; color: #fff; text-shadow: 2px 2px 2px rgba(0,0,0, .3); letter-spacing: 0;}
.rn-mdBox .mainDoor-txt span {letter-spacing: 2px;}
.rn-mdBox .mainDoor-txt strong {display: block; font-size: 63px; font-weight: 700;}
.rn-mdBox .rn-schBox {position: relative; width: 1200px; margin: 0 auto; margin-top: 70px; padding: 0 20px;}
.rn-mdBox .rn-schBox:before {content: ""; display: block; width: 100%; height: 100%;  background: #000; position: absolute; left: 0; top: 0; opacity: 0.56; filter: alpha(opacity=56);}
.rn-mdBox .rn-schBox > div {position: relative; float: left; padding: 20px 0; cursor: pointer; color: #fff;}
.rn-mdBox .rn-schBox > div .p0 {font-size: 16px;}
.rn-mdBox .rn-schBox > div .p1 {font-size: 38px; margin-top: 5px; line-height: 1;}
.rn-mdBox .rn-schBox > div .p1 input {font-size: 17px; font-family: "Noto Sans KR", "Nanum Gothic", sans-serif; height: 50px; width: 330px; padding-left: 15px;}
.rn-mdBox .rn-schBox .cm-s {}
.ie8 .rn-mdBox .rn-schBox .cm-s {background-position: 140px center;}
.rn-mdBox .rn-schBox .d1 {padding-right: 20px; margin-left: 0; border-right: 1px solid #fff;}
.rn-mdBox .rn-schBox .d2 {width: 520px; padding: 20px 0px; margin: 0 45px;}
.rn-mdBox .rn-schBox .d2 .p1 {line-height: 1.1;}
.rn-mdBox .rn-schBox .d2 > div {position: relative; float: left;}
.rn-mdBox .rn-schBox .d2 .inDiv {width: 200px;}
.rn-mdBox .rn-schBox .d2 .rArrow {margin-top: 38px; width: 118px; text-align: center;}

.rn-mdBox .rn-schBox .d3, .rn-mdBox .rn-schBox .d4 {width: 164px;}
.rn-mdBox .rn-schBox .d3 {}
.rn-mdBox .rn-schBox .d4 {}
.rn-mdBox .rn-schBox .d5 {float: right; margin-top: 30px; width: 180px; height: 60px; padding: 0;}
.rn-mdBox .rn-schBox .d5 button {width: 100%; height: 100%; border: none; background: #008cd5; color: #fff; font-size: 20px; cursor: pointer; font-family: "Noto Sans KR", "Nanum Gothic", sans-serif; border-radius: 3px;}
.rn-mdBox .rn-schBox .d5 button .i-mag {top: -2px; left: -8px;}
/*.rn-mdBox .rn-schBox .d5 button:hover {background: #e95791;}*/
.rn-mdBox .rn-schBox input[type=text]::-webkit-input-placeholder {color: #555;}
.rn-mdBox .rn-schBox input[type=text]::-moz-placeholder {color: #555;}
.rn-mdBox .rn-schBox input[type=text]:-ms-input-placeholder {color: #555;}
.rn-mdBox .rn-schBox input[type=text]:-moz-placeholder {color: #555;}

/*테마별 숙소*/
.sec-themeRoom {position: relative; width: 1200px; margin: 0 auto;}
.sec-themeRoom .theme-tit {font-weight: 400; color: #2c3552; text-align: center; margin: 45px auto;}
.sec-themeRoom .theme-tit strong {position: relative; display: block; text-transform: uppercase; font-size: 36px; font-weight: 800;}
.sec-themeRoom .theme-tit strong:before, .sec-themeRoom .theme-tit strong:after {content: ""; display: block; position: absolute; top: 50%; width: 33%; height: 1px; background: #2c3552;}
.sec-themeRoom .theme-tit strong:before {left: 0;}
.sec-themeRoom .theme-tit strong:after {right: 0;}
.sec-themeRoom .theme-tit .ps {font-size: 21px;}
.sec-themeRoom .theme-area {}
.sec-themeRoom .theme-area > a {position: relative; display: block; float: left; margin-left: 5px; margin-top: 5px; color: #fff; text-align: center; font-family: "Noto Sans KR", sans-serif; box-sizing: border-box;}
.sec-themeRoom .theme-area > a > span {display: block;}
.sec-themeRoom .theme-area > a .s-tit {font-size: 26px; line-height: 1.2;}
.sec-themeRoom .theme-area > a .s-txt {font-size: 20px; margin-top: 15px; font-weight: 300;}
.sec-themeRoom .theme-area > a .inSpan {}
.sec-themeRoom .theme-area > a.a-1,
.sec-themeRoom .theme-area > a.a-2,
.sec-themeRoom .theme-area > a.a-3 {margin-top: 0;}
.sec-themeRoom .theme-area > a.a-1,
.sec-themeRoom .theme-area > a.a-4 {margin-left: 0;}
.sec-themeRoom .theme-area > a.a-1,
.sec-themeRoom .theme-area > a.a-3,
.sec-themeRoom .theme-area > a.a-4,
.sec-themeRoom .theme-area > a.a-6 {width: 395px;}
.sec-themeRoom .theme-area > a.a-2,
.sec-themeRoom .theme-area > a.a-5 {width: 400px;}
.sec-themeRoom .theme-area > a.a-1,
.sec-themeRoom .theme-area > a.a-3 {height: 480px;}
.sec-themeRoom .theme-area > a.a-4,
.sec-themeRoom .theme-area > a.a-6 {height: 255px;}
.sec-themeRoom .theme-area > a.a-1 {background: url(http://img.hyutour.co.kr/renew/themeRoom/themeRoom_01.jpg) no-repeat; padding-top: 185px;}
.sec-themeRoom .theme-area > a.a-2 {background: url(http://img.hyutour.co.kr/renew/themeRoom/themeRoom_02.jpg) no-repeat; height: 275px; padding-top: 55px;}
.sec-themeRoom .theme-area > a.a-3 {background: url(http://img.hyutour.co.kr/renew/themeRoom/themeRoom_03.jpg) no-repeat; padding-top: 200px;}
.sec-themeRoom .theme-area > a.a-4 {background: url(http://img.hyutour.co.kr/renew/themeRoom/themeRoom_04.jpg) no-repeat; padding-top: 65px;}
.sec-themeRoom .theme-area > a.a-5 {background: url(http://img.hyutour.co.kr/renew/themeRoom/themeRoom_05.jpg) no-repeat; height: 460px; margin-top: -200px; padding-top: 190px;}
.sec-themeRoom .theme-area > a.a-6 {background: url(http://img.hyutour.co.kr/renew/themeRoom/themeRoom_06.jpg) no-repeat; padding-top: 80px;}

[class*=sec-container] {position: relative; margin: 0 auto;}
[class*=sec-container]:before, [class*=sec-container]:after {content: ""; display: table;}
[class*=sec-container]:after {clear: both;}
/*자주묻는질문*/
.sec-quation {position: relative; width: 100%; margin-top: 100px; border-top: 1px solid #cdcdcd; margin-bottom: 90px;}
.sec-quation .sec-container {position: relative; width: 1200px; margin: 0 auto;}
.sec-quation .sec-container .link-q {padding: 0 50px; margin-top: 40px;}
.sec-quation .sec-container .link-q > li {float: left; width: 33.33%;}
.sec-quation .sec-container .link-q > li > a > * {display: inline-block; float: left;}
.sec-quation .sec-container .link-q > li figure {position: relative; width: 75px; margin-right: 20px; height: 75px; background: #848290; color: #fff; font-family: "Malgun Gothic", sans-serif; border-radius: 50%; text-align: center;}
.sec-quation .sec-container .link-q > li figure:after {content: ""; display: inline-block; height: 106%; vertical-align: middle;}
.sec-quation .sec-container .link-q > li i {font-size: 18px; font-style: normal; font-weight: 500; margin-top: 5px;}
.sec-quation .sec-container .link-q > li i .rArrow:after {width: 8px; height: 8px; top: -3px; margin-left: 5px; border-color: #777;}
.sec-quation .sec-container .link-q > li span {font-size: 14px; margin-top: 10px;}
.sec-quation .sec-container .link-q > li.li-1 figure {font-size: 26px; letter-spacing: -1px;}
.sec-quation .sec-container .link-q > li.li-2 figure img {position: relative; top: -2px; left: 1px;}
.sec-quation .sec-container .link-q > li.li-3 figure {font-size: 36px; font-weight: 600; letter-spacing: 2px; line-height: 2.1;}
.sec-quation .sec-container .link-evt {padding: 10px 35px; background: #e9e9f1; margin: 50px 10px 0;}
.sec-quation .sec-container .link-evt > a {font-size: 17px;}
.sec-quation .sec-container .link-evt .a-post {}
.sec-quation .sec-container .link-evt .a-post > span {display: inline-block;}
.sec-quation .sec-container .link-evt .a-post .s-1 {margin-right: 25px;}
.sec-quation .sec-container .link-evt .a-post .s-2 {}
.sec-quation .sec-container .link-evt .a-more {float: right;}
.sec-quation .sec-container .link-evt .a-more .rArrow:after {width: 8px; height: 8px; top: -1px; margin-left: 5px; border-color: #777;}

/* 예약하기 페이지 */
.rn-mdBox.cm-sch {height: 80px; background: #eaeaea;}
.rn-mdBox.cm-sch .rn-schBox {top: 10px;}
.rn-mdBox.cm-sch .rn-schBox > div {height: 60px; padding: 5px 0 0 17px;}
.rn-mdBox.cm-sch .rn-schBox > div .p1 {font-size: 18px; line-height: 1.2;}
.rn-mdBox.cm-sch .rn-schBox > div .p1 input {font-size: 18px; top: -3px; position: relative; width: 100%; padding-right: 10px;}
.rn-mdBox.cm-sch .rn-schBox .d5 {width: 165px; padding: 0; }
.rn-mdBox.cm-sch .rn-schBox .cm-s {background-position: right 10px bottom 24px;}
.rn-mdBox.cm-sch .rgOption {
	top: 64px;
}


/* 콘텐츠 리뉴얼 */
.content-sec {margin-bottom: 50px;}
.content-sec #contents {float: none; border: 1px solid #d8d8d8; margin-top: 10px; /*border: none; margin-top: 0px;*/}
.content-sec #main5 {border-bottom: 1px solid #dcdcdc; padding-bottom: 40px;}
.content-sec #main5 .right {position: relative; top: -5px;}
.content-sec #main5 .goods_info tr {border: none;}
.content-sec #main5 .goods_info .tit2, .content-sec #main5 .goods_info .contents {font-size: 16px;}
.content-sec #main5 .goods_info .tit2 {color: #000; height: 50px;}
.content-sec #main5 .goods_info .contents {color: #3a3a3a;}
.content-sec #main5 .goods_info
, .content-sec #reserveTitle 
, .content-sec #rsv_sang #rsv_s_tab .rsv_s_tabHead
, .content-sec #rsv_wrapper .price
, #rsv_sang #rsv_s_list_box2 #rsv_s_list tr[class*="_tr"] td.ss
, .content-sec #tour_taste th
, .content-sec #tour_taste td
, .content-sec #gv_review2 #review_list2 .list_box
, .content-sec #faq .faq_t th
, .content-sec #faq .faq_t td
  {font-family: "Noto Sans KR", "Nanum Gothic", sans-serif;}

.content-sec #reserveTitle 
, .content-sec #rsv_sang #rsv_s_tab .rsv_s_tabHead
, .content-sec #rsv_wrapper .price
, .content-sec #tour_taste th
, .content-sec #faq .faq_t th
  {font-weight: 500 !important;}

.content-sec #faq .faq_t td 
, .content-sec #faq .faq_t .best
 {font-weight: 400 !important; color: #000;}

.content-sec #main5 .goods_info .contents {height: auto; padding: 5px 0; line-height: 1.3;}
.content-sec #main5 .goods_info tr.pdtName + tr .contents {padding-top: 10px;}
.content-sec #main5 .goods_info tr.pdtName td {padding-bottom: 10px; font-family: "Noto Sans KR", "Nanum Gothic", sans-serif; font-weight: 500 !important;}

.content-sec #main5 .goods_info tr td .snsBtn-box {display: inline-block; margin-top: 10px;}
.content-sec #main5 .goods_info tr td .snsBtn-box a {display: inline-block; font-size: 14px; border: 1px solid #dcdcdc; padding: 2px 0px 3px; margin-left: 5px; width: 110px; text-align: center;}
.content-sec #main5 .goods_info tr td .snsBtn-box a:first-child {margin-left: 0;}
 
.content-sec #reserveTitle {color: #000; margin-bottom: 40px;}
.content-sec #rsv_sang #rsv_s_tab .rsv_s_tabHead {/*background: #fff; color: #000;*/ font-size: 16px;}

.content-sec #main5 .goods_info tr td .snsBtn-box a.a3
, .content-sec #main5 .goods_info .contents a:hover
, .content-sec #rsv_wrapper .price 
, .content-sec #tour_radio .on
, .content-sec #contents .wrBt-box .writeBtn:hover
, .content-sec #faq .faq_t .question
, .content-sec #faq .faq_t td a:hover
 {color: #e95791 !important;}

.content-sec #rsv_sang #rsv_s_list_box2 #rsv_s_list tr[class*="_tr"] td.ss {border-color: #ebebeb}

.content-sec #rsv_sang #rsv_s_list_box2 #rsv_s_list {border-bottom: 1px solid #ddd;}

.content-sec #rsv_s_tab .s-calIc {position: relative; margin-left: 5px; top: -3px;}


.content-sec .infom_box {float: none; clear: both; margin-top: 30px;}

.res-container
, .content-sec .infom_box .str-h2
, .content-sec #contents .detail_goods
, .content-sec #contents .goods_gallery 
, .content-sec .infom_box .dtImgBox
, .content-sec .info_box
, .content-sec .infom-tab 
, .content-sec #tour_radio
, .content-sec #tour_taste
, .content-sec #info_box8
, .content-sec #gv_review2
, .content-sec #gv_review2 #review_list2
, .content-sec #gv_review2 #review_list2 .list_box
, .content-sec #number
, .content-sec #faq
, .content-sec #faq .faq_t
{position: relative; width: 954px; margin: 0 auto; clear:both; float: none;}

.content-sec .infom_box .str-h2 {display: block; height: 47px; box-sizing: border-box; background: #5e5e5e; color: #fff; text-align: left; padding: 5px 0px 0 10px; font-size: 26px; margin-bottom: 20px;  font-family: "Nanum Square", sans-serif;}
.content-sec .infom_box .str-h2 .s-sm {font-size: 20px; color: #a6a6a6;}

.content-sec #contents .detail_goods {padding: 0;}
.content-sec .infom_box .dtImgBox {box-sizing: border-box; padding: 77px; background: #f3f3f3; margin-top: 10px;}

.content-sec .info_box {padding: 0; border: none;}
.content-sec .info_box .info_tit
, .content-sec .info_box .info_tit1_2
, .content-sec #contents .info_tit2 {margin-bottom: 0; margin-top: 20px; font-family: "Noto Sans KR", "Nanum Gothic", sans-serif; font-weight: 500; letter-spacing: -0.2px;}

.content-sec .info_box .info_txt
, .content-sec .infom_box .info_txt2
, .content-sec .infom_box .info_none {background: #fff; margin-top: 10px; padding: 15px 0px; font-family: "Noto Sans KR", "Nanum Gothic", sans-serif; font-weight: 400; letter-spacing: -0.5px;}

.content-sec .info_box .establishment_wrap2 {margin-left: 0; margin-bottom: 0;}
.content-sec .info_box .establishment_wrap2 .establishment_list2 {position: relative; left: -25px;}
.content-sec .info_box .establishment_wrap2 .establishment_list2 li {padding-top: 0;}


.content-sec .infom-tab {margin: 30px auto; font-family: "Noto Sans KR", "Nanum Gothic", sans-serif; display: table; border-collapse: collapse;}
.content-sec .infom-tab > li {width: 20%; height: 50px; border: 1px solid #dcdcdc; display: table-cell; border-bottom: 1px solid #b3b3b3;}
.content-sec .infom-tab > li a {font-size: 16px; color: #3a3a3a; display: block; line-height: 50px; background: #f5f5f5;}
.content-sec .infom-tab > li.on {border-color: #b3b3b3; z-index: 1;}
.content-sec .infom-tab > li.on a {background: #fff; font-weight: 500; border-left: 1px solid #b3b3b3;}
.content-sec .infom-tab > li:first-child.on a {border-left: 0;}


.content-sec .review_write2 {float: none; margin: 0 auto; width: 954px; box-sizing: border-box; height: auto;}
.content-sec #review_write2 .rv_textbox {width: 834px;}

.content-sec #info_box2 {margin-top: 20px;}

.content-sec .wrBt-box {border: 1px solid #dcdcdc; height: 40px; margin-bottom: 30px;}
.content-sec .wrBt-box .writeBtn {display: block; color: #e95791 !important; text-align: left; font-size: 14px; height: 100%; box-sizing: border-box; padding: 10px 20px 0; }
.content-sec .wrBt-box .writeBtn .s2 {float: right; display: inline-block; width: 84px; height: 26px; border: 1px solid #e95791; border-radius: 12px; text-align: center; line-height: 25px; position: relative; top: -4px;}
/*.content-sec #contents .wrBt-box .writeBtn:hover {color: #e95791;}*/
.content-sec #number {margin-top: 25px;}

.content-sec #faq .faq_t {border-top: none;}
.content-sec #faq .faq_t th {background: none; color: #000; border-bottom: 2px solid #ebebeb;}
.content-sec #faq .faq_t .best {background: none;}

.content-sec #faq .faq_t .reply {color: #3a3a3a; padding: 20px 0;}



/*패키지 UI변경 20170613_혜준*/
.dateBar {position: relative; clear: both; top: 0; z-index: 9; width: 100%;}
.dateBar * {box-sizing: border-box;}
.dateBar .nav-bar {padding: 10px 0; /* height: 96px; padding-top: 20px; */ background: #1fa0d5; border-bottom: 1px solid #c1c1c1;}
.dateBar .nav {position: relative; margin: 0 auto; width: 1002px; font-size: 0;}
.dateBar .nav > * {display: inline-block; vertical-align: middle;}
.dateBar .nav .inp {margin-left: 5px;}
.dateBar .nav > .inp:first-child {margin-left: 0;}
.dateBar .nav .inp > span {position: relative; top: -1px;display: block; color: #787878; font-size: 13px;}
.dateBar .nav .inp > .sch-wd, .dateBar .nav .inp > .chkIn, .dateBar .nav .inp > select {border: none; padding-left: 10px; font-size: 15px; /* height: 38px; */ height: 45px;}
.dateBar .nav .inp > select option {font-size: 15px;}
.dateBar .nav .inp > .sch-wd, .dateBar .nav .inp > .chkIn {
	appearance: none; -webkit-appearance: none; -moz-appearance: none; -ms-appearance: none;
}
.dateBar .nav .inp > .chkIn{width: 174px;/* width: 144px; */ background: #fff url(http://img.hyutour.co.kr/renew/m/i_chkDate_in.jpg) no-repeat 8px center; background-size: 30px; padding-left: 50px;}

.dateBar .nav .d-h3 {}
.dateBar .nav .d-h3 > .inp .sch-wd {width: 295px;}
.dateBar .nav .inp > select::-ms-expand {display: none;}
.dateBar .nav .inp > select.global, .dateBar .nav .inp > select.city {width: 150px; background-position: 105px;}
.dateBar .nav .inp > select.number {width: 80px; background-position: 55px;}
.dateBar .nav .more-a, .dateBar .nav .search-a {position: absolute; height: 58px; font-size: 18px; color: #fff; text-align: center; line-height: 3.1em;}
.dateBar .nav .more-a:active, .dateBar .nav .search-a:active {font-weight: 400;}
.dateBar .nav .more-a {right: 170px; width: 128px; background: #9c9c9c; /* margin-left: 20px; */}
.dateBar .nav .more-a:before {position: absolute; content: ""; bottom: -14px; left: 57px; width: 1px; border: 8px solid transparent; border-top-color: #9c9c9c;}
.dateBar .nav .more-a .i-plus {display: inline-block; position: relative; top: 4px; margin-right: 4px; width: 20px; height: 20px; background: url(http://img.go.co.kr/fix_nav_sprBg.png) no-repeat -440px 0;}
.dateBar .nav .more-a.on .i-plus {background: url(http://img.go.co.kr/fix_nav_sprBg.png) no-repeat -480px 0;}
.dateBar .nav .search-a {right: 0; top: 0; width: 60px; background: #0060a2; height: 45px;}
.dateBar .nav .search-a .i-search {display: inline-block; position: relative; top: -2px; width: 21px; height: 22px; background: url(http://img.go.co.kr/fix_nav_sprBg.png) no-repeat -520px 0;}


/* 상세페이지 수정 */
.content-sec #rsv_sang #rsv_s_tab,
#rsv_s_list {table-layout: fixed;}

.pdtSlt-sec2 .part-1 h2 {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e8f4e3+0,c1dedf+100 */
	background: rgb(232,244,227); /* Old browsers */
	background: -moz-linear-gradient(left, rgba(232,244,227,1) 0%, rgba(193,222,223,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(232,244,227,1) 0%,rgba(193,222,223,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(232,244,227,1) 0%,rgba(193,222,223,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8f4e3', endColorstr='#c1dedf',GradientType=1 ); /* IE6-9 */
}
.pdtSlt-sec2 .part-2 {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c1dddf+0,80b9d7+100 */
	background: rgb(193,221,223); /* Old browsers */
	background: -moz-linear-gradient(left, rgba(193,221,223,1) 0%, rgba(128,185,215,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(193,221,223,1) 0%,rgba(128,185,215,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(193,221,223,1) 0%,rgba(128,185,215,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c1dddf', endColorstr='#80b9d7',GradientType=1 ); /* IE6-9 */
}
.pdtSlt-sec2 .part-3 {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7fb8d7+0,59a3d3+100 */
	background: rgb(127,184,215); /* Old browsers */
	background: -moz-linear-gradient(left, rgba(127,184,215,1) 0%, rgba(89,163,211,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(127,184,215,1) 0%,rgba(89,163,211,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(127,184,215,1) 0%,rgba(89,163,211,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7fb8d7', endColorstr='#59a3d3',GradientType=1 ); /* IE6-9 */
}
#rsv_s_list .pay-box > .nth3 a {background: #008ae1;}

.content-sec .prodName {width: 1002px; margin: 0 auto; font-size: 18px;	font-weight: 400; border: 1px solid #b3b3b3; padding: 15px; margin-top: 15px;}
.content-sec .prodName .star {position: relative; top: -6px; display: inline-block; vertical-align: middle; margin-left: 8px;}