
<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<title> 국내외 여행, 펜션, 호텔, 게스트하우스, 리조트, 레지던스, 콘도
 GO.CO.KR </title>
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0" />
<!--숫자인식,메일주소,지도상의 주소링크 막기-->
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<!--북마크 추가시 바탕화면에서 볼수있는 아이콘 이미지(png저장)-->
<link rel="apple-touch-icon" href="http://img.go.co.kr/mobile/icon.png" />

<meta name="robots" content="ALL" />
<meta name="author" content="GO.CO.KR"/>
<meta name="description" content=" 고코 GO.CO.KR"/>
<meta name="keywords" content=" 고코 GO.CO.KR"/>
<meta name="classification" content="고코 GO.CO.KR"/>

<link rel="stylesheet" href="http://static.go.co.kr/css/swiper.min.css?ver=20160801094643" type="text/css"/>
<link rel="stylesheet" href="http://static.go.co.kr/css/moblie_reset.css?ver=20160801094643" type="text/css"/>
<link rel="stylesheet" href="http://static.go.co.kr/css/mobile_layout3.css" type="text/css"/>
<link rel="stylesheet" href="http://static.go.co.kr/css/mobile_event.css" type="text/css"/>
<!--<link rel="stylesheet" href="../../../src/css/mobile_event.css" type="text/css"/>-->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<!--- 검색시 달력에서 이용 ---->
<link rel="stylesheet" href="http://static.go.co.kr/css/jquery-ui.css" />
<script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<!--- 달력 한글화 --->
<script type="text/javascript" src="http://static.go.co.kr/js/datepicker_ko.js"></script>


	<!-- Android icon -->
	<!--<link rel="shortcut icon" href="http://img.go.co.kr/icon_goco128x128.ico" type="image/x-icon" />-->
	<link rel="shortcut icon" href="http://img.go.co.kr/mobile/icon_goco72x72.png" type="image/x-icon" />
	<!-- iPhone icon -->
	<link rel="apple-touch-icon" sizes="57x57" href="http://img.go.co.kr/mobile/icon_goco57x57.png" />
	<!-- iPad icon -->
	<link rel="apple-touch-icon" sizes="72x72" href="http://img.go.co.kr/mobile/icon_goco72x72.png" />
	<!-- iPhone icon(Retina) -->
	<link rel="apple-touch-icon" sizes="114x114" href="http://img.go.co.kr/mobile/icon_goco114x114.png" />
	<!-- iPad icon(Retina) -->
	<link rel="apple-touch-icon" sizes="144x144" href="http://img.go.co.kr/mobile/icon_goco144x144.png" />
<script type="text/javascript">
$( document ).on( "mobileinit", function() {
  $.extend( $.mobile , {
	autoInitializePage: false,
  });
});
</script>

<script>
var burl = "go.co.kr";
var agent = "M";

/* 쿠키 60분 */
var date = new Date();
var minutes = 60;
date.setTime(date.getTime() + (minutes * 60 * 1000));
</script>
<!--<script type="text/javascript" src="http://static.go.co.kr/js/jquery.history.js"></script>-->
<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
<script type="text/javascript" src="http://static.go.co.kr/js/all_common.js?ver=20160801094643"></script>
<script type="text/javascript" src="http://static.go.co.kr/js/common_ver2.js?ver=20160801094643"></script>
<script type="text/javascript" src="http://static.go.co.kr/js/iscroll.js?ver=20160801094643"></script>
<script type="text/javascript" src="http://static.go.co.kr/js/jquery.cookie.js"></script>

<script type="text/javascript" src="http://static.go.co.kr/js/jquery.raty.js"></script>

<!--- 리스트페이지에서 쓸 스크립트---->
<script type="text/javascript" src="http://static.go.co.kr/js/swiper.min.js?ver=20160801094643" ></script>
<!--- 리스트페이지에서 쓸 스크립트---->

<script type="text/javascript" src="http://static.go.co.kr/js/jquery.number.min.js"></script>

<script src="http://static.go.co.kr/js/bookmark.js?ver=1470012403"></script>

<script language='javascript'>document.title = '모바일 고코투어';</script></head>
<body onUnload="">
		<!--div id="app_banner" style="width:100%; height:54px; background-color:#0090e6; text-align:center">
		<img src="http://img.go.co.kr/mobile/top_banner.jpg" alt="지금 앱 설치하고 회원가입하면 2,000원 적립! 결제금액 1% 적립!" height="54px" usemap="#app_banner" />
		<map name="app_banner">
			<area shape="rect" coords="280,0,320,54" href="javascript:util.closewin3('today', 'app_banner')" alt="닫기"  onfocus="this.blur()" onclick="this.blur()">
			<area shape="rect" coords="0,0,280,54" href="https://play.google.com/store/apps/details?id=kr.co.go.travel.app&hl=ko" alt="앱설치하기"  onfocus="this.blur()" onclick="this.blur()">
		</map>
	</div-->

		<div id="wrapper" data-role="page">
				<div id="menu_bg2" style="display:none;position:absolute;z-index:9999;top:0px;right:-270px">
	<!---<div id="mypage" style="width:270px;background:#ffffff;float:right">---->
	<div id="mypage" >

		<div id="box" style="-webkit-overflow-scrolling: touch;overflow-y:scroll;">
		<!-- 로그인 -->
					<div class="header">
				<b>최윤정</b> 님 <!---<a href="#"><img src="http://img.go.co.kr/mobile/icon_edit.png" width="24" height="30" alt="설정" style="float:right; margin-right:10px"/></a>--->
				<span class="menu_close"><a href="javascript:utils.rmenu_out('#menu_bg2');$('#bottomMenu').show();" data-ajax="false"><img width="30" alt="닫기" src="http://img.go.co.kr/mobile/menu_close.jpg"></a></span>
			</div>
			<table class="myinfo">
				<colgroup>
					<col width="25%">
					<col width="35%">
					<col width="20%">
					<col width="20%">
				</colgroup>
				<tr>
					<th>적립금</th>
					<td><span>3,000</span>원&nbsp;&nbsp;</td>
					<th>쿠폰</th>
					<td><span>0</span>장&nbsp;&nbsp;</td>
				</tr>
			</table>
			<div class="title"><p>진행중인 예약내역: 0건 <span class="btn_more"><a href="http://m.go.co.kr/home/member/?dd=Sws5TzdVKg==">전체보기</a></span></p></div>
						<ul class="menu">
				<li onClick="location.href='http://m.go.co.kr/home/member/?dd=Sws5TzdVKg=='"><a href="#">예약내역(결제,환불,취소내역)<img src="http://img.go.co.kr/mobile/btn_more.png" width="12" height="20" alt="보러가기" style="float:right; margin-right:10px"/></a></li>
				<li onClick="location.href='http://m.go.co.kr/home/customer/?dd=XgwpVzs=&brd=RhAlfD1HMEAlEg=='"><a href="#">예약변경/취소<img src="http://img.go.co.kr/mobile/btn_more.png" width="12" height="20" alt="보러가기" style="float:right; margin-right:10px"/></a></li>
				<li onClick="location.href='http://m.go.co.kr/home/customer/?dd=RRczV2w=&brd=RhAl'"><a href="#">1:1문의(문의하기,문의내역확인)<img src="http://img.go.co.kr/mobile/btn_more.png" width="12" height="20" alt="보러가기" style="float:right; margin-right:10px"/></a></li>

				<li onClick="location.href='http://m.go.co.kr/home/member/?dd=XhczSzJPLVc='"><a href="#">찜목록<img src="http://img.go.co.kr/mobile/btn_more.png" width="12" height="20" alt="보러가기" style="float:right; margin-right:10px"/></a></li>

				<!---<li><a href="">나의 리뷰<img src="http://img.go.co.kr/mobile/btn_more.png" width="12" height="20" alt="보러가기" style="float:right; margin-right:10px"/></a></li>---->
				<li onClick="location.href='http://m.go.co.kr/home/customer/?dd=QBA0UTE='"><a href="#">고객센터<img src="http://img.go.co.kr/mobile/btn_more.png" width="12" height="20" alt="보러가기" style="float:right; margin-right:10px"/></a></li>
				<li onClick="location.href='http://m.go.co.kr/home/customer/?dd=Tx8x'"><a href="#">자주묻는질문<img src="http://img.go.co.kr/mobile/btn_more.png" width="12" height="20" alt="보러가기" style="float:right; margin-right:10px"/></a></li>
				<li onClick="utils.rmenu_out('#mypage');utils.on('#pop_call')"><a href="#">전화상담<img src="http://img.go.co.kr/mobile/btn_more.png" width="12" height="20" alt="보러가기" style="float:right; margin-right:10px"/></a></li>
							</ul>
			<div class="btn_logout"><a href="http://m.go.co.kr/home/member/logout.php?rtn=QQo0U2QJcU5uGUcHHS8NNVRxSy8TTQYMJVA7VChCNBdHR0xvHDpCY3Q4P0R/PwZ0DhcxRQQoUGQ6LmZjAC58LhEVbjtxWxhnYx4=">로그아웃</a></div>
				</div>
	</div>
</div>
<div id="menu_bg" style="display:none;position:absolute;z-index:9999;">
	<!---<div id="menu_box2" style="width:270px">--->

		<div id="category" style="background:#ffffff;">
			<div id="box">
				<div class="header">
					<span class="back"><a href="javascript:utils.menu_out('#menu_bg');$('#bottomMenu').show();" data-ajax="false"><img width="47" height="15" alt="이전" src="http://img.go.co.kr/mobile/btn_back.png" ></a></span>
					전체 카테고리

				</div>
				<div class="title"><p>국내숙박</p></div>
				<table class="select">
					<colgroup>
						<col width="33%">
						<col width="33%">
						<col width="33%">
					</colgroup>
					<tr class="lineBottom" id="loca1">
						<td class="lineRight locas" id="lloca_S" onClick="leftm.sub_open('loca1', 'S')"><a href="#">서울</a></td>
						<td class="lineRight locas" id="lloca_K2" onClick="leftm.sub_open('loca1', 'K2')"><a href="#">경기</a></td>
						<td class="lineRight locas" id="lloca_K" onClick="leftm.sub_open('loca1', 'K')"><a href="#">강원</a></td>
					</tr>
					<tr>
						<td colspan="3" class="p_none" id="loca1_sub">
							<div style="display:none" id="loca1_sub_div">
							</div>
						</td>
					</tr>
					<tr class="lineBottom" id="loca2">
						<td class="lineRight locas" id="lloca_CN" onClick="leftm.sub_open('loca2', 'CN')"><a href="#">충남</a></td>
						<td class="lineRight locas" id="lloca_CB" onClick="leftm.sub_open('loca2', 'CB')"><a href="#">충북</a></td>
						<td class="locas" id="lloca_GN" onClick="leftm.sub_open('loca2', 'GN')"><a href="#">경남</a></td>
					</tr>
					<tr><td colspan="3" class="p_none" id="loca2_sub"><div style="display:none" id="loca2_sub_div"></div></td></tr>
					<tr class="lineBottom" id="loca3">
						<td class="lineRight locas" id="lloca_GB" onClick="leftm.sub_open('loca3', 'GB')"><a href="#">경북</a></td>
						<td class="lineRight locas" id="lloca_JN" onClick="leftm.sub_open('loca3', 'JN')"><a href="#">전남</a></td>
						<td class="locas" id="lloca_JB" onClick="leftm.sub_open('loca3', 'JB')"><a href="#">전북</a></td>
					</tr>
					<tr>
						<td colspan="3" class="p_none" id="loca3_sub"><div style="display:none" id="loca3_sub_div"></div></td>
					</tr>
					<tr class="lineBottom" id="loca4">
						<td class="lineRight locas" id="lloca_B" onClick="leftm.sub_open('loca4', 'B')"><a href="#">부산</a></td>
						<td class="lineRight locas" id="lloca_JJ" onClick="leftm.sub_open('loca4', 'JJ')"><a href="#">제주</a></td>
						<td class="locas" id="lloca_DG" onClick="leftm.sub_open('loca4', 'DG')"><a href="#">대구</a></td>
					</tr>
					<tr>
						<td colspan="3" class="p_none" id="loca4_sub"><div style="display:none" id="loca4_sub_div"></div></td>
					</tr>
					<tr class="lineBottom" id="loca5">
						<td class="lineRight locas" id="lloca_IC" onClick="leftm.sub_open('loca5', 'IC')"><a href="#">인천</a></td>
						<td class="lineRight locas" id="lloca_US" onClick="leftm.sub_open('loca5', 'US')"><a href="#">울산</a></td>
						<td class="locas" id="lloca_DJ" onClick="leftm.sub_open('loca5', 'DJ')"><a href="#">대전</a></td>
					</tr>
					<tr>
						<td colspan="3" class="p_none" id="loca5_sub"><div style="display:none" id="loca5_sub_div"></div></td>
					</tr>
					<tr id="loca6">
						<td class="lineRight locas" id="lloca_KJ" onClick="leftm.sub_open('loca6', 'KJ')"><a href="#">광주</a></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td colspan="3" class="p_none" id="loca6_sub"><div style="display:none" id="loca6_sub_div"></div></td>
					</tr>
				</table>
				<div class="title"><p>해외호텔</p></div>
				<table class="select">
					<colgroup>
						<col width="33%">
						<col width="33%">
						<col width="33%">
					</colgroup>
					<tr class="lineBottom">
						<td class="lineRight"><a href="javascript:searching.local_click_menu('global', 'JP', '', '일본', '/home/main/?dd=RB8pTQFKN1A0IUlLDA==&loca=JP');">일본</a></td>
						<td class="lineRight"><a href="javascript:searching.local_click_menu('global', 'CH', '', '홍콩/중국', '/home/main/?dd=RB8pTQFKN1A0IUlLDA==&loca=CH');">홍콩/중국</a></td>
						<td class="lineRight"><a href="javascript:searching.local_click_menu('global', 'AS', '', '동남아', '/home/main/?dd=RB8pTQFKN1A0IUlLDA==&loca=AS');">동남아</a></td>
					</tr>
					<tr class="lineBottom">
						<td class="lineRight"><a href="javascript:searching.local_click_menu('global', 'EU', '', '유럽', '/home/main/?dd=RB8pTQFKN1A0IUlLDA==&loca=EU');">유럽</a></td>
						<td class="lineRight"><a href="javascript:searching.local_click_menu('global', 'US', '', '미주', '/home/main/?dd=RB8pTQFKN1A0IUlLDA==&loca=US');">미주</a></td>
						<td><a href="javascript:searching.local_click_menu('global', 'AU', '', '남태평양', '/home/main/?dd=RB8pTQFKN1A0IUlLDA==&loca=AU');">남태평양</a></td>
					</tr>
					<tr class="lineBottom">
						<td class="lineRight"><a href="javascript:searching.local_click_menu('global', 'AF', '', '중동/아프리카', '/home/main/?dd=RB8pTQFKN1A0IUlLDA==&loca=AF');">중동/아프리카</a></td>
						<td class="lineRight"></td>
						<td></td>
					</tr>
				</table>
				<!---
				<div class="title"><p>숙박+워터파크/레저/할인패키지</p></div>
				<table class="select">
					<colgroup>
						<col width="33%">
						<col width="33%">
						<col width="33%">
					</colgroup>
					<tr class="lineBottom">
						<td class="lineRight"><a href="http://m.go.co.kr/home/main/?dd=WhcuRDJDAVMrGQ==&loca=S">서울</a></td>
						<td class="lineRight"><a href="http://m.go.co.kr/home/main/?dd=WhcuRDJDAVMrGQ==&loca=B">부산</a></td>
						<td class="lineRight"><a href="http://m.go.co.kr/home/main/?dd=WhcuRDJDAVMrGQ==&loca=JN">전남</a></td>
					</tr>
					<tr class="lineBottom">
						<td class="lineRight"><a href="http://m.go.co.kr/home/main/?dd=WhcuRDJDAVMrGQ==&loca=K">강원</a></td>
						<td class="lineRight"><a href="http://m.go.co.kr/home/main/?dd=WhcuRDJDAVMrGQ==&loca=GN">경남</a></td>
						<td class="lineRight"><a href="http://m.go.co.kr/home/main/?dd=WhcuRDJDAVMrGQ==&loca=GB">경북</a></td>
					</tr>
					<tr>
						<td class="lineRight"><a href="http://m.go.co.kr/home/main/?dd=WhcuRDJDAVMrGQ==&loca=CN">충남</a></td>
						<td class="lineRight"><a href="http://m.go.co.kr/home/main/?dd=WhcuRDJDAVMrGQ==&loca=CB">충북</a></td>
						<td></td>
					</tr>
				</table>
				--->
				<div class="title"><p>워터파크/레저/입장권</p></div>
				<table class="select">
					<colgroup>
						<col width="50%">
						<col width="50%">
					</colgroup>
					<tr class="lineBottom">
						<td class="lineRight"><a href="http://m.go.co.kr/home/main/?dd=WhcuRDJDAVMyEQ==&ttype=eg==">워터파크/스파</a></td>
						<td><a href="http://m.go.co.kr/home/main/?dd=WhcuRDJDAVMyEQ==&ttype=ZQ==">레저/스포츠</a></td>
					</tr>
					<tr>
						<td class="lineRight"><a href="javascript:alert('상품 준비중입니다.')">관광지</a></td>
						<td></td>
					</tr>
				</table>
				<ul class="menu">
					<li onClick="location.href='http://m.go.co.kr/home/member/?dd=Sws5TzdVKg=='"><a href="#">마이페이지<img src="http://img.go.co.kr/mobile/btn_more.png" width="12" height="20" alt="보러가기" style="float:right; margin-right:10px"/></a></li>
					<li onClick="location.href='http://m.go.co.kr/home/member/?dd=Sws5TzdVKg=='"><a href="#">예약/구매조회<img src="http://img.go.co.kr/mobile/btn_more.png" width="12" height="20" alt="보러가기" style="float:right; margin-right:10px"/></a></li>
					<li onClick="location.href='http://m.go.co.kr/home/customer/?dd=QBA0UTE='"><a href="#">고객센터<img src="http://img.go.co.kr/mobile/btn_more.png" width="12" height="20" alt="보러가기" style="float:right; margin-right:10px"/></a></li>
					<li onClick="javascript:utils.menu_out('#menu_bg');utils.on('#pop_call')"><a href="#">전화상담<img src="http://img.go.co.kr/mobile/btn_more.png" width="12" height="20" alt="보러가기" style="float:right; margin-right:10px"/></a></li>

				</ul>

			</div>
		</div>
	<!---</div>--->
</div>


<div id="pop_call" style="display:none">
	<div class="close"><a href="javascript:utils.out('#pop_call')"><img src="http://img.go.co.kr/mobile/menu_close.jpg" alt="닫기" /></a></div>
	<p class="title">현재 고객센터 통화량이 많아<br/>
	연결이 지연될 수 있습니다.</p><br/>
	고객센터<br/> <b>자주묻는질문</b> 또는 <b>1:1문의 게시판</b>을 <br/>
	먼저 이용해 주시기를 부탁드립니다.
	<div class="btn" style="margin:10px 0"><a href="http://m.go.co.kr/home/customer/?dd=RRczV2w=&brd=RhAl">1:1문의</a></div>
	<div class="btn" style="margin:10px 0"><a href="http://m.go.co.kr/home/customer/?dd=Tx8x">자주묻는질문</a></div>
	<div class="line"></div>
	<p><b>점심시간 12:00~13:00</b><br/>＊1:1문의를 통해서 상담을 부탁드립니다.</p>
	<p class="txt"></p>
	<div class="cancel"><a href="javascript:utils.out('#pop_call')">취소</a></div>
	<div class="call"><a href="tel:1666-1243">통화</a></div>
</div>

<script type="text/javascript">
var leftm = {
	sub_open: function(loca_line, loca) {
		//$(".r_on").stop().slideUp('100');


		if($("#lloca_"+loca).hasClass("on") == true) {
			//alert('ss');
			$("#lloca_"+loca).removeClass("on");
			//$("#"+loca_line+"_sub div").stop().slideUp('100');
			$("#"+loca_line+"_sub div").fadeOut();
			$("#"+loca_line+"_sub div").html('');
			$("#"+loca_line+"_sub div").removeClass("r_on");


		} else {
			$(".r_on").each(function(e) {
				var vid = $(this).eq(e).attr("id");
				$("#"+vid).removeClass("r_on");
				$(".locas").removeClass("on");
				if(vid != loca_line+"_sub_div") {
					$("#"+vid).fadeOut();
					$("#"+vid).html('');

				}

			});


			//alert("lloca_"+loca);

			$.ajax({
				url : "http://m.go.co.kr/home/main/state.php",
				data: "mode=left_menu&loca="+loca,
				type: "post",
				success: function(e) {
					$("#lloca_"+loca).addClass("on");
					$("#"+loca_line+"_sub div").html(e);
					//$("#"+loca_line+"_sub div").stop().slideDown('100');
					$("#"+loca_line+"_sub div").fadeIn();
					$("#"+loca_line+"_sub div").addClass("r_on");





				}
			});
		}

		//myScroll = new IScroll('#menu_bg #category', { mouseWheel: true, click: true, bounce:false });
		//myScroll.refresh();
	}
}
</script>




	<div id="scroll_box">
		<!--- 서브페이지 상단 --->
		<div id="top_box" style="position:fixed;top:0px;z-index:9999;width:100%;background:#ffffff">
			<div id="headTitle"><span class="back"><a href=""><img src="http://img.go.co.kr/mobile/btn_back.png" width="47" height="15" alt="뒤로"></a></span><span>  제 . 주 . 여 . 행</span></div>
		</div>
		<div  id="top_box_bottom"></div>
		<script>
		$("#top_box_bottom").css("height", $("#top_box").height()+"px");
		</script>
		<input type="hidden" id="_mgubun" name="_mgubun" value="member" />
		<input type="hidden" id="_first" name="_first" value="" />


		<div id="2018olypic_20171110" style="width:100%">
			<img src="http://img.go.co.kr/mobile/landing/20180212_jejutravel/main.jpg" width="100%" >		
            
			<!--180212 클래스 추가-->
			<div class="jeju-tab type-2 cf">
                <a href="#tab01"><img src="http://img.go.co.kr/mobile/landing/20180212_jejutravel/list_01.jpg" width="100%" /></a>
                <a href="#tab02"><img src="http://img.go.co.kr/mobile/landing/20180212_jejutravel/list_02.jpg" width="100%" /></a>
                <a href="#tab03"><img src="http://img.go.co.kr/mobile/landing/20180212_jejutravel/list_03.jpg" width="100%" /></a>
            </div>


			<div class="evt" id="tab01">
			<img src="http://img.go.co.kr/mobile/landing/20180212_jejutravel/theme_1_01.jpg" width="100%" border="0"/>
			<a href=""><img src="http://img.go.co.kr/mobile/landing/20180212_jejutravel/theme_1_02.jpg" width="100%" border="0"/></a>
			<a href=""><img src="http://img.go.co.kr/mobile/landing/20180212_jejutravel/theme_1_03.jpg" width="100%" border="0"/></a>
			<a href=""><img src="http://img.go.co.kr/mobile/landing/20180212_jejutravel/theme_1_04.jpg" width="100%" border="0"/></a>
			<a href=""><img src="http://img.go.co.kr/mobile/landing/20180212_jejutravel/theme_1_05.jpg" width="100%" border="0"/></a>
			</div>
			<div class="evt" id="tab02">
			<img src="http://img.go.co.kr/mobile/landing/20180212_jejutravel/theme_2_01.jpg" width="100%" border="0"/>
			<a href=""><img src="http://img.go.co.kr/mobile/landing/20180212_jejutravel/theme_2_02.jpg" width="100%" border="0"/></a>
			<a href=""><img src="http://img.go.co.kr/mobile/landing/20180212_jejutravel/theme_2_03.jpg" width="100%" border="0"/></a>
			<a href=""><img src="http://img.go.co.kr/mobile/landing/20180212_jejutravel/theme_2_04.jpg" width="100%" border="0"/></a>
			<a href=""><img src="http://img.go.co.kr/mobile/landing/20180212_jejutravel/theme_2_05.jpg" width="100%" border="0"/></a>
			</div>
			<div class="evt" id="tab03">
			<img src="http://img.go.co.kr/mobile/landing/20180212_jejutravel/theme_3_01.jpg" width="100%" border="0"/>
			<a href=""><img src="http://img.go.co.kr/mobile/landing/20180212_jejutravel/theme_3_02.jpg" width="100%" border="0"/></a>
			<a href=""><img src="http://img.go.co.kr/mobile/landing/20180212_jejutravel/theme_3_03.jpg" width="100%" border="0"/></a>
			<a href=""><img src="http://img.go.co.kr/mobile/landing/20180212_jejutravel/theme_3_04.jpg" width="100%" border="0"/></a>
			<a href=""><img src="http://img.go.co.kr/mobile/landing/20180212_jejutravel/theme_3_05.jpg" width="100%" border="0"/></a>
			</div>


            </div>    
			<div class="theme_kakao">
			<a href=""><img src="http://img.go.co.kr/mobile/landing/20180212_jejutravel/theme_kakao.jpg" width="100%" ></a>
			</div>

		</div>







	</div>
	<div id="loading2" style="display:none">
   <p><img src="http://img.go.co.kr/mobile/loading20.gif" width="30" /></p>
  </div>
<!--- 고코푸터 ---->

<!--- wrapper 끝 --->
</div>


<!--하단 고정메뉴-->


<style>
.default {
    bottom: 0;
}
.fixed {
    bottom: -80px;
}
</style>
<script type="text/javascript">
$(function() {
	var ost = 0;
	$(window).scroll(function (){
			});


});

</script>





<style>.fixed_to_top4 {position:fixed;top:0px;z-index:50;transition:all 0.5s ease; width:100%}
.fixed_to_top5 {position:fixed;top:93px;z-index:50;width:100%;transition:all 0.5s ease}

</style>

<script type="text/javascript">

$(function() {
	var myScroll = null;
	var myScroll2 = null;

	$("#menu_bg #category").css("height",$(window).height());

	$("#menu_bg2 #mypage").css("height",$(window).height());
	$("#menu_bg2 #mypage #box").css("min-height", $(window).height());


	$("#menu2").click(function() {
		utils.menu_on("#menu_bg");

		$(window).bind("touchmove", function(e) { e.preventDefault(); });
		myScroll = new IScroll('#menu_bg #category', { mouseWheel: true, click: true, bounce:false });
	});

	$("#allmenu").click(function() {
		utils.menu_on("#menu_bg");

		$(window).bind("touchmove", function(e) { e.preventDefault(); });
		myScroll = new IScroll('#menu_bg #category', { mouseWheel: true, click: true, bounce:false });

		$("#bottomMenu2").hide();
	});

	$("#rightmenu").click(function() {
		utils.rmenu_on("#menu_bg2");
	});

	$("#menu_bg").on("swipeleft", function(e) {
		utils.menu_out("#menu_bg");
		$("#bottomMenu2").show();
	});

	$("#menu_bg2").on("swiperight", function(e) {
		utils.rmenu_out("#menu_bg2");
	});

	});
</script>

<!---- 버튼 카운트 ----->
<script type="text/javascript">
function button_count(pno, bt_type) {
	$.ajax({
		url : "/home/reservation2/state.php",
		type: "post",
		data: "mode=bt_count&pno="+pno+"&bt_type="+bt_type+"&abr=",
		success: function(e) {

		}
	});
}
</script>

<!--- 20160125 네이버 --->
<!-- 공통 적용 스크립트 , 모든 페이지에 노출되도록 설치. 단 전환페이지 설정값보다 항상 하단에 위치해야함 -->
<script type="text/javascript" src="http://wcs.naver.net/wcslog.js"> </script>
<script type="text/javascript">
if (!wcs_add) var wcs_add={};
wcs_add["wa"] = "s_18af9ab0e3d6";
if (!_nasa) var _nasa={};
wcs.inflow("go.co.kr");
wcs_do(_nasa);
</script>


<!-- Withpang Tracker v3.0 [공용] start -->
  <script src="http://cdn.megadata.co.kr/js/enliple_min2.js"></script>
  <script type="text/javascript">
  <!--
  	var rf = new EN();
  	rf.setData("sc", encodeURIComponent(""));
  	rf.sendRf();
  //-->
  </script>
<!-- Withpang Tracker v3.0 [공용] end -->



<!--- 모바일 북마크 아이콘 설치 Start --->
<script type="text/javascript">
/*
$(document).ready(function() {
	Bookmark.onLayer({
		mode : "live",
		url : "http://m.go.co.kr",
		icon : "http://img.go.co.kr/mobile/icon_goco114x114.png",
		site : "고코투어",
		title : "고코투어",
		enname : "GO.CO.KR",
		day:1
	});
});
*/
</script>

<div id="bookmark_wrap" style="width:100%; height:50px; background-color:#6e6e6e; position:fixed; bottom:-100px; z-index:100000;">
	<div id="bookmark_layer" style="width:100%; height:100%; margin:0 auto;">
		<div style="width:15%; height:100%; float:left; margin:0;">
			<img id="bookmark_icon" src="" style="margin:0; height:80%; margin:10%;" />
		</div>
		<div style="width:10%; height:100%; float:left; margin:0; text-align:right; margin-top:3px;">
			<span id="bookmark_time" style="font-size:30px; color:#ffffff;"></span>
		</div>
		<div style="width:60%; height:100%; float:left; margin:0;">
			<p id="bookmark_text" style="font-size:10px; margin-top:10px; margin-left:5px; color:#ffffff;">초 후, <span id="bookmark_site"></span> 아이콘이 설치됩니다.<br /> 원치 않으면 X를 클릭하세요.</p>
		</div>
		<div style="width:15%; height:100%; float:left; margin:0;">
			<img src="http://img.go.co.kr/icon_close.png" style="margin:0; height:80%; margin:10%;" onClick="javascript:Bookmark.clear();" />
		</div>
	</div>
</div>
<!--- 모바일 북마크 아이콘 설치 End --->


</body>
</html>

