<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title>레이트체크아웃이용안내</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0" />
	
	<link rel="stylesheet" href="http://static.go.co.kr/css/moblie_reset.css">
	<link rel="stylesheet" href="http://static.go.co.kr/css/mobile_layout3.css">
	<link rel="stylesheet" href="http://static.go.co.kr/css/totalmobile.css">
	<link rel="stylesheet" href="../../../src/css/mobile_event.css">
	
	<link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css">
	
	
</head>
<body>
	<h1 class="hidden">2468이벤트1탄 당첨자발표</h1>
	<div id="event-wrap">
		<section class="evt-content">
			<div class="d1">
				<img class="db-gift" src="" alt="">
			</div>
		</section>
		<section class="evt-notice">
		</section>
	</div>
	
</body>
</html>