<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<title> 국내외여행, 호텔, 편션, 리조트, 콘도 최저가할인예약 GO.CO.KR </title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name="format-detection" content="telephone=no, address=no, email=no">
	<!-- 폰트어썸 CDN -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
	<!-- jquery라이브러리 -->
	<style src="http://code.jquery.com/jquery-1.11.2.min.js"></style>
	<link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/reset.css">
	<link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/mobile_layout_event-v1.1.css">
<!--	<link rel="stylesheet" type="text/css" href="../../../src/css/mobile_layout_event-v1.1.css">-->

</head>

<body style="">
	<h1 class="hidden">미드나잇 피크닉 티켓구매!</h1>

	<div class="wrapper midnight-wrapper">
		<section class="section area1">
			<img src="http://img.go.co.kr/landing/mid/ld_1.jpg" alt="미드나잇 피크닉">
			<h2 class="hidden">
				2018 미드나잇 피크닉 페스티벌로 가즈아~
			</h2>
			<p class="hidden">
				● 일자 : 2018.07.13(금) ~ 15(일) 3일간<br>
				● 장소 : 강원도 고성 삼포해수욕장
			</p>
			<a href="http://m.go.co.kr/home/view/?p_no=Gkx1GmkR" class="btn-buy"><img src="http://img.go.co.kr/landing/mid/btn_buy.png" alt="티켓구매"></a>
		</section>
		<section class="section area2">
			<img src="http://img.go.co.kr/landing/mid/ld_2.jpg" alt="뮤직 페스티벌!">
			<p class="hidden">
				정상급 뮤지션과 함께<br>
				삼포해변에서 펼쳐지는~
			</p>
			<h2 class="hidden">
				뮤직 페스티벌!
			</h2>
		</section>
		<section class="section area3">
			<img src="http://img.go.co.kr/landing/mid/ld_3.jpg" alt="서핑 페스티벌!">
			<p class="hidden">
				요즘 여름은 서핑이 대세~<br>
				삼포해변에서 배우고 즐기는
			</p>
			<h2 class="hidden">
				서핑 페스티벌!
			</h2>
		</section>
		<section class="section area4">
			<img src="http://img.go.co.kr/landing/mid/ld_4.jpg" alt="고코투어 회원을 위한 최저가!">
			<p class="hidden">
				제일 싸니까 여기서 질러~
			</p>
			<h2 class="hidden">
				고코투어 회원을 위한 최저가!
			</h2>
			<a href="http://m.go.co.kr/home/view/?p_no=Gkx1GmkR" class="btn-buy"><img src="http://img.go.co.kr/landing/mid/btn_buy.png" alt="티켓구매"></a>
		</section>
	</div>

</body>

</html>