<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title>오션투유회원이벤트</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0" />
	
	
	<link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css">
	<link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/notosanskr.css">
	
	<link rel="stylesheet" href="http://static.go.co.kr/css/reset.css">
	<link rel="stylesheet" href="../../../src/css/m/landing/oc2_fb.css">
	
	
	
</head>
<body>
	<h1 class="hidden">오션투유회원이벤트</h1>
	<div id="event-wrap" class="oc2-fb-wrap">
		<section class="evt-content">
			<img class="db-gift" src="http://img.go.co.kr/mobile/oc2_fb/oc2_fb.jpg" alt="오션투유회원이벤트">
		</section>
		<div class="btn-area clr">
			<a href="tel:1600-1867" class="a0"><img src="http://img.go.co.kr/mobile/oc2_fb/i_callW.png" alt="전화하기"> 전화 예약</a>
		</div>
	</div>
	
</body>
</html>