<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title>오션투유회원이벤트</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0" />
	
	
	<link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css">
	<link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/notosanskr.css">
	
	<link rel="stylesheet" href="http://static.go.co.kr/css/reset.css">
	<link rel="stylesheet" href="http://static.go.co.kr/css/m/landing/oc2_fb.css">
	<!--<link rel="stylesheet" href="../../../src/css/reset.css">
	<link rel="stylesheet" href="../../../src/css/m/landing/oc2_fb.css">-->
	
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	
	
	
</head>
<body>
	<h1 class="hidden">오션투유회원이벤트</h1>
	<div id="event-wrap" class="oc2-fb-wrap">
		<section class="evt-content">
			<h2 class="hidden">오션투유리조트 11월~12월 회원특가 안내</h2>
			<img class="db-gift" src="http://img.go.co.kr/mobile/oc2_fb/oc2_fb.jpg" alt="오션투유회원이벤트">
		</section>
		<div class="btn-area clr">
			<a href="javascript:;" class="a1" onclick="$('#pop-sec, #rsv-pop').fadeIn('fast');">예약하기</a><a href="tel:1600-1867" class="a2"><img src="http://img.go.co.kr/mobile/oc2_fb/i_callG.png" alt="전화하기"></a>
		</div>
		
		
		<!--예약팝업-->
		<div class="dropDown-bg" id="pop-sec"></div>
		<div class="rsv-pop" id="rsv-pop">
			<h3>오션투유 리조트 회원 예약 <a href="javascript:;" class="a-i-x" onclick="$('#pop-sec, #rsv-pop').hide();"></a></h3>

			<div class="d1 clr">
				<p class="p-lbl">회원명</p>
				<p class="p-txt">
					<input type="text" class="type01" placeholder="이름 입력">
				</p>
			</div>
			<div class="d2 clr">
				<p class="p-lbl">연락처</p>
				<p class="p-txt">
					<input type="text" class="type01" placeholder="연락처 입력">
				</p>
			</div>
			<div class="d3 clr">
				<p class="p-lbl">예약일자</p>
				<p class="p-txt">
					<input type="text" class="type02" placeholder="체크인">
					<input type="text" class="type02" placeholder="체크아웃">
				</p>
			</div>
			<div class="d4 clr">
				<p class="p-lbl">객실선택</p>
				<p class="p-txt">
					<input type="text" class="type01" placeholder="객실 선택">
				</p>
			</div>
			<div class="d5 clr">
				<p class="p-lbl">객실수/인원</p>
				<p class="p-txt">
					<select name="" id="" class="type02">
						<option value="">4</option>
						<option value="">5</option>
						<option value="">6</option>
						<option value="">7</option>
					</select>
					<select name="" id="" class="type02">
						<option value="">4</option>
						<option value="">5</option>
						<option value="">6</option>
						<option value="">7</option>
					</select>
				</p>
			</div>

			<div class="d6 clr">
				<a href="javascript;" class="a1">결제하기(64,000원)</a>
			</div>
		</div>
		
	</div>
	
	
</body>
</html>