<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title> 국내외여행, 호텔, 편션, 리조트, 콘도 최저가할인예약 GO.CO.KR </title>

	<meta http-equiv="Cache-Control" content="No-Cache">
	<meta http-equiv="Pragma" content="No-Cache">
	<meta http-equiv="expire" content="-1">

	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0">
	<!--숫자인식,메일주소,지도상의 주소링크 막기-->
	<meta name="format-detection" content="telephone=no, address=no, email=no">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script type="text/javascript" src="http://static.go.co.kr/js/common_ver2.js?ver=20170809165103"></script>
	<script>
		var base_url = "go.co.kr";
		var burl = "go.co.kr";
	</script>
	<link rel="stylesheet" href="http://static.go.co.kr/css/moblie_reset.css" type="text/css">
	<script type="text/javascript" src="http://static.go.co.kr/js/all_common.js?ver=20170809165103"></script>
	<!--- 검색시 달력에서 이용 ---->
	<link rel="stylesheet" href="http://static.go.co.kr/css/jquery-ui.css">
	<script type="text/javascript" src="http://static.go.co.kr/js/jquery_ui.js"></script>
	<!--- 달력 한글화 --->
	<script type="text/javascript" src="http://static.go.co.kr/js/datepicker_ko.js"></script>
	<script type="text/javascript" src="http://static.go.co.kr/js/jquery.number.min.js"></script>
	<style src="http://code.jquery.com/jquery-1.11.2.min.js"></style>
	<link rel="stylesheet" type="text/css" href="../../../src/css/mobile_layout3.css">
	<link rel="stylesheet" type="text/css" href="../../../src/css/totalmobile.css">
<!--
	<link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/mobile_layout3.css">
	<link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/totalmobile.css">
-->

</head>

<body>
	<div id="scroll_box">
		<div id="top_box" style="position:fixed;top:0px;z-index:9999;width:100%;background:#ffffff">
			<!--- 서브페이지 상단 -->
			<div id="headTitle_box">
				<div id="headTitle">
					<span class="back"><a href="javascript:history.back(-1);"><img src="http://img.go.co.kr/mobile/btn_back.png" height="17" alt="뒤로"></a></span>특가쿠폰
				</div>
			</div>
		</div>	
		<div id="top_box_bottom" style="height: 46px;"></div>
		
		<div class="wrap-landing">
		    <section class="specialCp-sec">
                <header class="hidden">할인쿠폰발행</header>
		        <a href="" class="main-a"><img src="http://img.go.co.kr/mobile/landing/180227_specialCp/specialCp.jpg" alt="특가쿠폰발행"></a>
                <div class="area-btn"><a href="">닫기</a></div>
		    </section>
		</div>
		
		<div class="layer-pop-bg">
			<div id="pop_pay_point" style="z-index: 500;" class="type02 pop-specialCp">
                <!--쿠폰 발급 완료시-->
                <div class="header-pop">
                    쿠폰이 발급완료
                    <a href="" class="a-i-x a-x"></a>
                </div>
				<div class="d-row-1">
					<span class="f-bd">축하합니다!</span><br>
                    <span class="thColor">5,000원 쿠폰에 당첨</span>되셨습니다.
				</div>
                
				<div id="pay_my_coupon" class="type03">
					<div class="gcCoupon type01">
						<div class="cont">
							<strong>앱 전용 쿠폰</strong>
							<p class="p0-1">5,000<span>원</span></p>
						</div>
						<div class="lgBox">
							<!--<span class="i-type">앱전용</span>-->
							<img src="http://img.go.co.kr/gcLogo_w.png" alt="고코투어" class="lgImg">
						</div>
						<div class="won-box">
							<span></span>
							<span></span>
							<span></span>
							<span></span>
							<span></span>
							<span></span>
							<span></span>
						</div>
					</div>
				</div>
				
				<div class="d-row-2">
				    <p class="p-1 f-bd">[호텔/모텔구매 전용] 5,000원 할인쿠폰</p>
				    <p class="p-2 cl-1">유효기간: 2018.02.27 ~ 2018.06.30</p>
				</div>
                <div class="d-row-3 area-btn"><a href="">확인</a></div>
			</div>
		</div>
		
		
	</div>
	
	
</body>
<whale translate="no"></whale>

</html>