<!DOCTYPE html>
<html lang="ko-KR">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0" />
	<title>문서 제목</title>

	<link rel="stylesheet" href="http://static.go.co.kr/css/swiper.min.css?ver=20170201154748" type="text/css"/>
	<link rel="stylesheet" href="http://static.go.co.kr/css/moblie_reset.css?ver=20170201154748" type="text/css"/>
	 <link rel="stylesheet" href="http://static.go.co.kr/css/mobile_layout3.css?ver=20170201154748" type="text/css"/> 
	<!-- <link rel="stylesheet" href="../../src/css/mobile_layout3_tmp.css" type="text/css"> -->
	<!--<link rel="stylesheet" href="http://static.go.co.kr/css/mobile_layout3_tmp.css" type="text/css">-->
  <link rel="stylesheet" href="../../../src/css/m/history.css">

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

	<script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

  <script src="../../../src/js/m/history_m.js"></script>
  
</head>
<body>
	<div id="wrapper">
		<div id="scroll_box">
			<div id="top_box" style="position:fixed;top:0px;z-index:9999;width:100%;background:#ffffff">
				<!-- 서브페이지 상단 -->
				<div id="headTitle_box">
					<div id="headTitle">
						<span class="back">
							<a href="http://m.go.co.kr/home/main/"><img src="http://img.go.co.kr/mobile/btn_back.png" height="17" alt="뒤로"></a>
						</span>예약내역
					</div>
				</div>
        <!-- 변경내용 시작 -->
        <div class="clr"></div>
        <div class="history-tab-01">
          <ul class="clr">
            <li class=""><a href="./history_01_1.html">이용가능</a></li>
            <li class="on"><a href="./history_01_2.html">이용완료</a></li>
            <li><a href="./history_01_3.html">환불/취소</a></li>
          </ul>
        </div>
        
			</div>

			<div id="top_box_bottom" style="height: 80px;"></div>
			
			<div class="history01-list">
        <ul>
          <li class="item-1">
            <div class="black-a60 a-bg"></div>
            <p class="p-state">
              <span class="s1"><span class="black-a46 a-bg"></span><span class="s1-1">숙박</span></span>
              <!--이용완료-->
              <span class="s0"><span class="black-a70 a-bg"></span><span class="s0-1">이용<br>완료</span></span>
            </p>
            <p class="p1">
              <strong>오션투유 리조트</strong>
              <br>
              마운틴뷰 콘도[조개잡이PKG]
            </p>
            <p class="p2">2017.04.28(금) ~ 2017.04.29(토) 1박</p>
            <a href="" class="h-link-a"></a>
          </li>
          <li class="item-2">
            <div class="black-a60 a-bg"></div>
            <p class="p-state">
              <span class="s1"><span class="black-a46 a-bg"></span><span class="s1-1">숙박</span></span>
              <!--이용완료-->
              <span class="s0"><span class="black-a70 a-bg"></span><span class="s0-1">이용<br>완료</span></span>
            </p>
            <p class="p1">
              <strong>메이힐스리조트</strong>
              <br>
              [조식2인PKG]윌로우-21평-단독특가
            </p>
            <p class="p2">2017.05.01(월) ~ 2017.05.02(화) 1박</p>
            <a href="" class="h-link-a"></a>
          </li>
        </ul>
			</div>
      <script>
        $(".history01-list .item-1").css({
          "background" : "url(http://cache.go.co.kr/media/375/file.go.co.kr/tour/img1/1491388368_1.jpg) no-repeat center",
          "background-size": "cover"
        });
        $(".history01-list .item-2").css({
          "background" : "url(http://cache.go.co.kr/media/375/file.go.co.kr/tour/img1/1491192711_in1.jpg) no-repeat center",
          "background-size": "cover"
        });
      </script>
			
			
    

    
			
		</div>
	</div>
</body>
</html>