<!DOCTYPE html>
<html lang="ko-KR">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0" />
		<title>문서 제목</title>

		<link rel="stylesheet" href="http://static.go.co.kr/css/moblie_reset.css?ver=20170201154748" type="text/css"/>
		<link rel="stylesheet" href="http://static.go.co.kr/css/mobile_layout3.css?ver=20170201154748" type="text/css"/> 
		<!-- <link rel="stylesheet" href="../../src/css/mobile_layout3_tmp.css" type="text/css"> -->
		<!--<link rel="stylesheet" href="http://static.go.co.kr/css/mobile_layout3_tmp.css" type="text/css">-->
		<!--<link rel="stylesheet" href="http://static.go.co.kr/css/m/history/history_m.css">-->
		<link rel="stylesheet" href="../../../src/css/totalmobile.css">

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<style>
			body {height: 2000px;}
		</style>
</head>
<body>
	<section class="ticket-index-pop layer-pop-bg">
		<div class="box">
			<img class="main-img" src="http://img.go.co.kr/mobile/20170713_tickets/index_bnr01.jpg" alt="입장권 등록하기">
			<a href="" class="i-close" onclick="$(this).closest('section').hide(); return false;">닫기</a>
			<a href="" class="fullBtn-a">입장권 등록하기</a>
		</div>
	</section>
</body>
</html>