<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ko" lang="ko">

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta charset="UTF-8">
	<title>상세피이지 로고 추가</title>

	<link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/reset.css?ver=20170201165300" />
	<!-- <link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/layout_new3.css" /> -->
	<!-- <link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/layout_new3_tmp.css"/> -->
	<!-- <link rel="stylesheet" type="text/css" href="../src/css/layout_new3_tmp.css" /> -->
	<link rel="stylesheet" type="text/css" href="../../src/css/layout_new3.css" />
	<link rel="stylesheet" type="text/css" href="../../src/css/totalweb.css" />
	<!--<link rel="stylesheet" type="text/css" href="../../src/css/package_test.css" />-->

	<link href="http://static.go.co.kr/css/css_pirobox/style_2/style.css" rel="stylesheet" type="text/css" />
	<!--<link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/advisor.css?ver=20170201165300" />
	<link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/event.css?ver=20170201165300" />
	<link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/prettyPhoto.css?ver=20170201165300" media="screen" title="prettyPhoto main stylesheet" charset="utf-8" />-->

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

</head>

<body>

	<div id="wrapper" class="noover">
		<div id="contact">
		
			<!--변경내용_170801 이미지 변경-->
			<img src="http://img.go.co.kr/contact_full.jpg" alt="입점제휴문의" usemap="#Map">
			
			
			<map name="Map" id="Map">

				<area shape="rect" coords="116,1388,246,1423" href="http://www.tournspa.co.kr" target="_blank" alt="투스" onfocus="this.blur()" onclick="this.blur()">
				<area shape="rect" coords="251,1391,377,1423" href="http://www.gaza82.co.kr/" target="_blank" alt="가자닷컴" onfocus="this.blur()" onclick="this.blur()">
				<area shape="rect" coords="469,1872,597,1895" href="http://www.shinetour.co.kr/home/view/?p_no=G0lx" onfocus="this.blur()" onclick="this.blur()" alt="샘플사이트" target="_blank">
				
				
				<!--변경내용_170801 내용변경-->
				<area shape="rect" coords="365, 2442, 630, 2500" href="http://go.go.co.kr/join.php" target="_blank" alt="실시간제휴신청하기">
				<!--클릭시 폼 등장-->
				<area shape="rect" coords="724, 2593, 886, 2626" href="javascript:;" onclick="$('#jform').show();" alt="입점제휴문의">
				
			

				<area shape="rect" coords="385,1432,512,1465" href="http://www.allgotour.co.kr" alt="올고투어" target="_blank">
				<area shape="rect" coords="520,1432,644,1461" href="http://www.todotour.co.kr" alt="투두투어" target="_blank">
				<area shape="rect" coords="651,1431,776,1463" href="http://www.toursoon.co.kr" alt="투어순" target="_blank">
				<area shape="rect" coords="119,1475,244,1510" href="http://www.hyutour.co.kr" alt="휴투어" target="_blank">
				<area shape="rect" coords="252,1473,377,1508" href="http://www.didimtour.co.kr" alt="디딤투어" target="_blank">
				<area shape="rect" coords="383,1474,513,1510" href="http://www.trip25.co.kr" alt="트립25" target="_blank">
				<area shape="rect" coords="521,1477,644,1508" href="http://www.oudigo.co.kr" alt="어디고" target="_blank">
				<area shape="rect" coords="651,1474,778,1508" href="http://www.borogogo.co.kr" alt="바로고고" target="_blank">
				<area shape="rect" coords="119,1517,245,1549" href="http://www.watour.co.kr" alt="와투어" target="_blank">
				<area shape="rect" coords="255,1518,379,1549" href="http://www.tourgirl.co.kr" alt="투어걸" target="_blank">
				<area shape="rect" coords="384,1514,512,1550" href="http://www.sinnatour.co.kr" alt="신나투어" target="_blank">

				<area shape="rect" coords="519,1515,644,1549" href="http://www.mitour.co.kr" alt="미투어" target="_blank">
				<area shape="rect" coords="651,1517,779,1548" href="http://www.dagaja.co.kr" alt="다가자" target="_blank">
				<area shape="rect" coords="119,1557,244,1588" href="http://www.tripgogo.co.kr" alt="고고트립" target="_blank">
				<area shape="rect" coords="252,1559,379,1590" href="http://www.hotplan.co.kr" alt="핫플랜" target="_blank">
				<area shape="rect" coords="384,1555,511,1590" href="http://www.gleetour.co.kr" alt="글리투어" target="_blank">
				<area shape="rect" coords="518,1557,644,1590" href="http://www.touronna.co.kr" alt="투어온나" target="_blank">
				<area shape="rect" coords="250,1432,379,1464" href="http://www.todaygo.co.kr" alt="투데이고" target="_blank">
				<area shape="rect" coords="386,1389,511,1425" href="http://www.go.co.kr" target="_blank" alt="고코">

				<area shape="rect" coords="119,1599,242,1628" href="http://www.varotour.net" alt="바로투어" target="_blank">
				<area shape="rect" coords="253,1598,373,1629" href="http://www.firsttrip.co.kr" alt="퍼스트트립" target="_blank">
				<area shape="rect" coords="387,1600,510,1628" href="http://www.journeyday.co.kr" alt="여행가는날" target="_blank">
				<area shape="rect" coords="520,1597,642,1629" href="http://www.infotour.co.kr" alt="인포투어" target="_blank">
				<area shape="rect" coords="652,1599,774,1629" href="http://www.varogaza.co.kr" alt="바로가자" target="_blank">
				<area shape="rect" coords="120,1639,244,1671" href="http://www.storytrip.co.kr" alt="스토리트립" target="_blank">
				<area shape="rect" coords="253,1640,376,1672" href="http://www.tourjoa.co.kr" alt="여행조아" target="_blank">
				<area shape="rect" coords="385,1641,509,1669" href="http://www.todaygaza.co.kr" alt="오늘가자" target="_blank">
				<area shape="rect" coords="519,1641,641,1670" href="http://www.everydaytour.net" alt="에브리데이투어" target="_blank">
				<area shape="rect" coords="653,1642,775,1670" href="http://www.wetrip.co.kr" alt="우리여행" target="_blank">
				<area shape="rect" coords="123,1684,243,1711" href="http://www.choicetour.net" alt="초이스투어" target="_blank">
				<area shape="rect" coords="253,1682,375,1712" href="http://www.placetour.co.kr" alt="플레이스투어" target="_blank">
				<area shape="rect" coords="386,1682,508,1712" href="http://www.varowa.co.kr" alt="바로와" target="_blank">
				<area shape="rect" coords="520,1682,641,1713" href="http://www.sogoodtrip.com" alt="쏘굿여행" target="_blank">
				<area shape="rect" coords="651,1681,771,1711" href="http://www.tournow.co.kr" alt="투어나우" target="_blank">
				<area shape="rect" coords="120,1724,243,1753" href="http://www.everywheretour.co.kr" alt="에브리웨어투어" target="_blank">
				<area shape="rect" coords="253,1724,374,1755" href="http://www.gazagogo.co.kr" alt="가자고고" target="_blank">
				<area shape="rect" coords="386,1725,507,1753" href="http://www.healingtrip.co.kr" alt="힐링트립" target="_blank">
				<area shape="rect" coords="519,1724,638,1753" href="http://www.triptime.co.kr" alt="트립타임" target="_blank">
				<area shape="rect" coords="652,1725,772,1751" href="http://www.alwaystour.co.kr" alt="얼웨이즈투어" target="_blank">

			</map>
			<!--변경내용_170801 기본 display: none;-->
			<form name="jform" method="post" id="jform" enctype="multipart/form-data" style="display: none;"> 
				<input type="hidden" name="mode" value="jehu_insert">
				<input type="hidden" name="flag" value="go">
				<!--변경내용_170801 06타이틀이미지-->
				<div class="contact_06_title">
					<img src="http://img.go.co.kr/contact_06_title.jpg" alt="광고입점제휴문의 및 상담신청">
				</div>
				<table id="contact_t">
					<colgroup>
						<col width="177">
						<col width="261">
						<col width="100">
						<col width="338">
					</colgroup>
					<tbody><tr>
						<th>제휴구분</th>
						<td colspan="3">
							<input name="j_type" type="radio" checked="" value="국내숙박제휴"> 국내숙박제휴
							<input name="j_type" style="margin-left:15px" type="radio" value="놀이시설제휴"> 놀이시설제휴
							<input name="j_type" style="margin-left:15px" type="radio" value="해외숙박제휴"> 해외숙박제휴
							<input name="j_type" style="margin-left:15px" type="radio" value="법인/여행사제휴"> 법인/여행사제휴
							<input name="j_type" style="margin-left:15px" type="radio" value="마케팅/광고제휴"> 마케팅/광고제휴
						</td>
						</tr>
						<tr>
							<th>지역</th>
							<td><input name="location" id="location" type="text" class="input"></td>
							<th>업체종류</th>
							<td><input name="c_type" id="c_type" type="text" class="input"> <span class="txt">예) 숙박업</span></td>
						</tr>
						<tr>
							<th>업체명</th>
							<td><input name="c_name" id="c_name" type="text" class="input"></td>
							<th>객실수</th>
							<td><input name="room_cnt" numberonly="true" id="room_cnt" type="text" class="input"></td>
						</tr>
						<tr>
							<th>업체주소</th>
							<td colspan="3">
								<input name="c_addr" id="c_addr" type="text" class="input" style="width:500px">
							</td>
						</tr>
						<tr>
							<th>담당자명</th>
							<td><input name="cname" id="name" type="text" class="input" onkeypress="util.checktype('kor', 'cname')"></td>
							<th>연락처</th>
							<td>
								<select name="tel1" id="tel1" style="width:70px; height:25px; border:1px solid #b0b6ba">
									<option value="010">010</option>
									<option value="011">011</option>
									<option value="016">016</option>
									<option value="017">017</option>
									<option value="018">018</option>
									<option value="019">019</option>
								</select>
								-
								<input name="tel2" type="text" id="tel2" style="width:70px" maxlength="4" onkeyup="util.checknum('tel2', 'tel3', '3');util.checktype('number', 'tel2')" class="input">
								-
								<input name="tel3" type="text" id="tel3" style="width:70px" maxlength="4" onkeyup="util.checknum('tel3', 'email1', '3');util.checktype('number', 'tel3')" class="input">
							</td>
						</tr>
						<tr>
							<th>담당자 이메일</th>
							<td colspan="3">
								<input name="email1" id="email1" type="text" class="input" onkeyup="util.checktype('email1', 'email1')"> @
								<input name="email2" id="email2" type="text" class="input" style="display:none" onkeyup="util.checktype('email2', 'email2')">
								<select name="email_sel" id="email_sel" onchange="util.emailsel(this.value);" title="이메일 주소선택" class="input" style="width:163px">
									<option value="">이메일선택</option>
									<option value="naver.com">naver.com</option>
									<option value="hanmail.net">hanmail.net</option>
									<option value="nate.com">nate.com</option>
									<option value="gmail.com">gmail.com</option>
									<option value="hotmail.com">hotmail.com</option>
									<option value="lycos.co.kr">lycos.co.kr</option>
									<option value="empal.com">empal.com</option>
									<option value="dreamwiz.com">dreamwiz.com</option>
									<option value="korea.com">korea.com</option>
									<option value="dr">직접입력</option>
								</select>
							</td>
						</tr>
						<tr>
							<th>홈페이지</th>
							<td colspan="3"><input name="homepage" id="homepage" type="text" class="input" style="width:300px"></td>
						</tr>
						<tr>
							<th>내용</th>
							<td colspan="3">
								<textarea name="memo" id="memo" class="input" style="margin:10px 0; width: 610px; height: 150px"></textarea>
							</td>
						</tr>
						<tr>
							<th>첨부파일</th>
							<td colspan="3"><input name="dfile" id="dfile" type="file" class="input">
								<span style="font-size:9pt; color:red;">* 1MB 이하의 이미지파일만 가능합니다.</span>
							</td>
						</tr>
					</tbody></table>
				<div class="agree">
					<div class="agree_txt">
						개인정보 수집 및 이용에 관한 안내<br><br>

						1. 수집하는 개인정보의 항목<br>
						담당자명, 담당자 연락처, 담당자 이메일 주소<br><br>

						2. 개인정보의 수집 및 이용 목적<br>
						고코투어 입점 검토, 보다 나은 서비스의 제공을 위한 파트너 관리, 파트너의 만족도 조사, 이벤트로 인한 인터뷰 요청 및 주요 사항에 대한 고지를 목적으로 사용됩니다.<br><br>

						3. 개인정보의 보유 및 이용기간<br>
						파트너님의 개인정보는 수집 및 이용목적 외의 용도로 이용되지 않으며, 관련 담당자를 제외하고는 함부로 열람할 수 없습니다.<br>
						파트너님의 개인정보는 동의 철회 시점까지 보관 됩니다.<br><br>

						4. 기타<br>
						파트너님은 개인정보 수집 및 이용에 대한 동의를 거부할 수 있습니다.<br><br>

						파트너님의 정보를 소중히 관리하겠습니다.
					</div>
					<input type="checkbox" name="agree" value="y" id="agree_chk"><label for="agree_chk" style="cursor:pointer"> 위의 "개인정보 수집 및 이용"에 동의합니다.</label>
				</div>
				<a href="#" id="jehu_bt"><img src="http://img.go.co.kr/btn_ok.jpg" alt="문의남기기"></a>
				<a href="/home"><img src="http://img.go.co.kr/btn_cancel.jpg" alt="취소"></a>
			</form>
		</div>
	</div>

</body>

</html>