<!DOCTYPE html>
<html lang="ko-KR">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="UTF-8">
    <title>오션투유</title>
</head>

<body>

    <div>
        <img src="http://img.ocean2you.co.kr/introduce_pkg.jpg" alt="패키지상품" usemap="#inf-pkg">
        <map name="inf-pkg">
            <!--<area shape="rect" coords="0,173,194,647" href="" alt="바베큐">
              <area shape="rect" coords="196,173,391,647" href="" alt="조개잡이">
              <area shape="rect" coords="394,173,588,647" href="" alt="얼라이브하트">
              <area shape="rect" coords="590,173,783,647" href="" alt="워터파크">
              <area shape="rect" coords="786,173,980,647" href="" alt="테디베어뮤지엄">-->
            <area shape="rect" coords="0,76,194,418" href="" alt="바베큐">
            <area shape="rect" coords="196,76,389,418" href="" alt="얼라이브">
        </map>
    </div>

</body>

</html>