<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0">

		<title>구매하기</title>

		<link rel="stylesheet" href="http://static.hotelgangneung.kr/css/moblie_reset.css" type="text/css">
		<link rel="stylesheet" href="http://static.go.co.kr/css/totalmobile.css" type="text/css">
		<link rel="stylesheet" href="http://static.hotelgangneung.kr/css/mobile_layout3.css" type="text/css">
		<!--<link rel="stylesheet" href="../../../hotelgangneung.kr/src/css/mobile_layout3.css" type="text/css">-->
		<!--<link rel="stylesheet" href="../../src/css/mobile_layout3.css" type="text/css">-->

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<style>
			/* 앱 메인_170711_혜준 */
			#head {}
			#head #allmenu > .tab-bar > span {background: #1590dd;}
			#head #logo2 a > img {top: -3px; width: 92px;}
			#menu .on {border-color: #1590dd;}
			#menu .on a, #menu a:hover, #menu a:active {color: #1590dd;}
			.c-theme {color: #0071bb !important;}
		</style>
</head>
<body>
	<h1 class="hidden">고코투어 디오션 워터파크 소개</h1>
	<div id="wrapper">
		<div id="scroll_box">
			<div id="top_box" style="position: fixed; top: 0px; z-index: 9999; width: 100%; background: rgb(255, 255, 255);">
				<!--- 서브페이지 상단 --->
				<div id="head" style="display: block;">
					<div id="allmenu" class="hd_menu"><a href="#" class="tab-bar"><span class="nth-1"></span><span class="nth-2"></span><span class="nth-3"></span></a></div>
					<div id="logo2"><a href="javascript:bookmark_setup('logo');" onclick="javascript:location.href='http://m.go.co.kr/home/main/';"><img src="http://img.theoceanwater.co.kr/logo.png" alt="디오션워터파크"></a></div>
					<div id="blank"></div>
					<div id="map_my">
						<a href="http://m.go.co.kr/home/map/?dd=RB8wfDNf&amp;rurl=QQo0U2QJcU5uGUcHHS8NNVRxSy8TTQYTIUowCQ=="><img src="http://img.theoceanwater.co.kr/mobile/i-spot.png" alt="내주변"></a>
					</div>
				</div>

				<div id="menu" style="background:#ffffff">
					<span class="text"><a href="http://m.go.co.kr/home/main">국내숙박</a></span>
					<span class="text on"><a href="/home/main/?dd=WhcuRDJDAVMyEQ==">입장권</a></span>
					<span class="text"><a href="/home/main/?dd=RB8pTQFIO1QfH0pb">해외숙박</a></span>
				</div>
			</div>
			<section class="int-main-sec">
				<h2>디오션 워터파크 소개</h2>
				<img class="int-img" src="http://img.theoceanwater.co.kr/mobile/intro_img.jpg" alt="소개이미지">
				<div class="content">
					<p class="p-type01 fwe-6">
						새로운 바다를 만나다! 바다 위의 워터파크!<br>
						<span class="c-theme">디오션 워터파크</span>를 방문하여주신 고객님께 진심으로
						감사드립니다.
					</p>
					<p class="p-type02">
						다도해의 아름다움과 탁 트인 바다의 상쾌함!<br>
						지중해 빛 바다를 조망하며 즐기는 호남 최대 규모를 자랑
						하는 디오션 워터파크!<br>
						누구도 상상하지 못했던 스릴 넘치는 다양한 시설의 디오션
						워터파크에서 잊지못할 추억을 만드세요.
					</p>

					<a href="" class="fullBtn-a">구매하기</a>
				</div>
			</section>
		</div>
		
		
	</div>
	
</body>
</html>