<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0">

		<title>구매하기</title>

		<link rel="stylesheet" href="http://static.hotelgangneung.kr/css/moblie_reset.css" type="text/css">
		<link rel="stylesheet" href="http://static.go.co.kr/css/totalmobile.css" type="text/css">
		<link rel="stylesheet" href="http://static.hotelgangneung.kr/css/mobile_layout3.css" type="text/css">
		<!--<link rel="stylesheet" href="../../../hotelgangneung.kr/src/css/mobile_layout3.css" type="text/css">-->
		<!--<link rel="stylesheet" href="../../src/css/mobile_layout3.css" type="text/css">-->

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<style>
			/* 앱 메인_170711_혜준 */
			#head {background: #fafafa;}
			#head #allmenu > .tab-bar > span {background: #01a6eb;}
			#head #logo2 a > img {top: 6px; width: 106px;}
			#menu .on {border-color: #01a6eb;}
			#menu .on a, #menu a:hover, #menu a:active {color: #01a6eb;}
			.c-theme {color: #01a6eb !important;}
			
			@media (max-device-width: 320px) { .int-main-sec .content > .p-type01 {letter-spacing: -1px;} }
		</style>
</head>
<body>
	<h1 class="hidden">고코투어 온천 엘리바덴 소개</h1>
	<div id="wrapper">
		<div id="scroll_box">
			<div id="top_box" style="position: fixed; top: 0px; z-index: 9999; width: 100%; background: rgb(255, 255, 255);">
				<!--- 서브페이지 상단 --->
				<div id="head" style="display: block;">
					<div id="allmenu" class="hd_menu"><a href="#" class="tab-bar"><span class="nth-1"></span><span class="nth-2"></span><span class="nth-3"></span></a></div>
					<div id="logo2"><a href="javascript:bookmark_setup('logo');" onclick="javascript:location.href='http://m.go.co.kr/home/main/';"><img src="http://img.elybaden.co.kr/mobile/logo2.png" alt="온천 엘리바덴"></a></div>
					<div id="blank"></div>
					<div id="map_my">
						<a href="http://m.go.co.kr/home/map/?dd=RB8wfDNf&amp;rurl=QQo0U2QJcU5uGUcHHS8NNVRxSy8TTQYTIUowCQ=="><img src="http://img.elybaden.co.kr/mobile/i-spot.png" alt="내주변"></a>
					</div>
				</div>

				<div id="menu" style="background:#ffffff">
					<span class="text"><a href="http://m.go.co.kr/home/main">국내숙박</a></span>
					<span class="text on"><a href="/home/main/?dd=WhcuRDJDAVMyEQ==">입장권</a></span>
					<span class="text"><a href="/home/main/?dd=RB8pTQFIO1QfH0pb">해외숙박</a></span>
				</div>
			</div>
			<section class="int-main-sec">
				<h2>온천 엘리바덴 소개</h2>
				<img class="int-img" src="http://img.elybaden.co.kr/mobile/intro_img.jpg" alt="소개이미지">
				<div class="content">
					<p class="p-type01 fwe-6">
						지상에서 가장 이상적인 유럽형 워터파크이자 유황온천
						으로 즐기는 도심 속 워터파크 <span class="c-theme">엘리바덴</span>
					</p>
					<p class="p-type02">
						삭막한 도심에서 최고의 수질을 자랑하는 36℃의 유황 온천수
						가 솟아났습니다. 지하 999M 아래의 태고적 물을 정수 처리
						과정 없이 그대로 사용할 수 있는 국내 최고의 유황 온천수는
						온천 엘리바덴의 놀라운 자랑거리입니다.<br>
						사계절 야외 유수풀, 초대형 바데풀, 유황 온천과 휘트니스
						센터 등 남녀노소, 세대 불문하고 함께 즐길 수 있는 문화광장
						으로 대한민국 최초의 원스톱 시스템을 자랑합니다.
					</p>
					<p class="p-type02">
						온 가족이 함께 할 수 있는 원스톱 놀이공간으로서 아빠,
						엄마, 아이들, 커플 모두 함께 즐겨보세요.
					</p>

					<a href="" class="fullBtn-a">구매하기</a>
				</div>
			</section>
		</div>
		
		
	</div>
	
</body>
</html>