<html lang="ko" class="ui-mobile">
<head>
<meta charset="UTF-8">
<title> 최저가호텔, 인기펜션, 캠핑, 민박, 여행, 내주변예약 BOROGOGO.CO.KR </title>

<meta http-equiv="Cache-Control" content="No-Cache">
<meta http-equiv="Pragma" content="No-Cache">
<meta http-equiv="expire" content="-1">

<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0">
<!--숫자인식,메일주소,지도상의 주소링크 막기-->
<meta name="format-detection" content="telephone=no, address=no, email=no">
<!--북마크 추가시 바탕화면에서 볼수있는 아이콘 이미지(png저장)-->
<link rel="apple-touch-icon" href="http://img.borogogo.co.kr/mobile/icon.png"> 
<link rel="stylesheet" href="http://static.go.co.kr/css/swiper.min.css" type="text/css">
<link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css">
<link rel="stylesheet" href="http://static.hyutour.co.kr/css/moblie_reset.css" type="text/css">
<link rel="stylesheet" href="http://static.go.co.kr/css/mobile_layout_goco.css" type="text/css">

<!-- 모든사이트 통합 css -->
<link rel="stylesheet" href="http://static.go.co.kr/css/totalmobile.css" type="text/css">
<!-- 리뉴얼 css -->
<!--<link rel="stylesheet" href="http://static.hyutour.co.kr/css/mobile_layout3.css" type="text/css"/> -->
<link rel="stylesheet" href="../src/css/mobile_layout3.css" type="text/css"/> 

<meta name="robots" content="ALL">
<meta name="author" content="BOROGOGO.CO.KR">
<meta name="description" content=" 바로고고 BOROGOGO.CO.KR">
<meta name="keywords" content=" 바로고고 BOROGOGO.CO.KR">
<meta name="classification" content="바로고고 BOROGOGO.CO.KR">

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<!--- 검색시 달력에서 이용 -->
<link rel="stylesheet" href="http://static.hyutour.co.kr/css/jquery-ui.css">
<script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<!--- 달력 한글화 -->
<script type="text/javascript" src="http://static.hyutour.co.kr/js/datepicker_ko.js"></script>


	<!-- Android icon -->
	<!--<link rel="shortcut icon" href="http://img.borogogo.co.kr/icon_goco128x128.ico" type="image/x-icon" />-->
	<link rel="shortcut icon" href="http://img.borogogo.co.kr/mobile/icon_goco72x72.png" type="image/x-icon">
	<!-- iPhone icon -->
	<link rel="apple-touch-icon" sizes="57x57" href="http://img.borogogo.co.kr/mobile/icon_goco57x57.png">
	<!-- iPad icon -->
	<link rel="apple-touch-icon" sizes="72x72" href="http://img.borogogo.co.kr/mobile/icon_goco72x72.png">
	<!-- iPhone icon(Retina) -->
	<link rel="apple-touch-icon" sizes="114x114" href="http://img.borogogo.co.kr/mobile/icon_goco114x114.png">
	<!-- iPad icon(Retina) -->
	<link rel="apple-touch-icon" sizes="144x144" href="http://img.borogogo.co.kr/mobile/icon_goco144x144.png">
<script type="text/javascript">
$( document ).on( "mobileinit", function() {
  $.extend( $.mobile , {
	autoInitializePage: false,
  });
});

// iOS 10 버전에서 user-scalable=0 가 안먹음
document.documentElement.addEventListener('touchstart', function (event) {
  if (event.touches.length > 1) {
    event.preventDefault();
  }
}, false);

</script>

<script>

var burl = "borogogo.co.kr";
var agent = "W";
var do2_url = "http://www.borogogo.co.kr";
/* 쿠키 60분 */
var date = new Date(); 
var minutes = 120; 
date.setTime(date.getTime() + (minutes * 60 * 1000)); 
</script>
<!---<script type="text/javascript" src="http://static.go.co.kr/js/jquery.history.js"></script>-->
<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
<script type="text/javascript" src="http://static.go.co.kr/js/all_common.js"></script>
<script type="text/javascript" src="http://static.hyutour.co.kr/js/common_ver2.js"></script>
<script type="text/javascript" src="http://static.hyutour.co.kr/js/iscroll.js"></script>
<script type="text/javascript" src="http://static.hyutour.co.kr/js/jquery.cookie.js"></script>

<script type="text/javascript" src="http://static.hyutour.co.kr/js/jquery.raty.js"></script>

<!--- 리스트페이지에서 쓸 스크립트-->
<script type="text/javascript" src="http://static.hyutour.co.kr/js/swiper.min.js"></script>
<!--- 리스트페이지에서 쓸 스크립트-->

<script type="text/javascript" src="http://static.go.co.kr/js/jquery.number.min.js"></script>

<script src="http://static.go.co.kr/js/bookmark.js?ver=1508383740"></script>
</head>

<body>
<div class="m_wrapper clr">
<!-- 헤더 -->
	<div class="m_header">
	<h1 class="logo"><img src="http://img.hyutour.co.kr/logo.png" alt="바로고고"></h1>
		<button type="text" class="all_menu">
			<span></span>
			<span></span>
			<span></span>
		</button>
		<a href="" class="a-myArea"><img src="http://img.hyutour.co.kr/renew/m/i_mag.png" alt="내주변검색"></a>
	</div>	
  <!-- 상단검색 및 메인 -->
	<div class="m_main">
		<h2 class="m_tit">휴투어와 함께 <span class="f-bd">즐거운 여행을 떠나세요!</span></h2>
		  <div class="sch_wrap">
			<form method="post" action="" name="frm">
				<input type="text" value="" name="searc_txt" class="schtxt" placeholder="도시,지역 혹은 호텔명 입력">
				</input>
			</form>	
			<div class="select_bx">
				<input name="seachDate1" class="date in" placeholder="2018-06-19">
				<input name="seachDate2" class="date out" placeholder="2018-06-20">
			</div>
			<p class="sch_bt"><span class="i-mag"></span> 검색</p>
		</div>
	</div>
	<!-- 지역별인기숙소 -->
	<div class="container-sec cf">
		<section class="sec-themeRoom">
			<h2 class="theme-tit">테마별 숙소</h2>
			
			<div class="theme-area cf">
				<a href="" class="a-1">
					<div class="inTxt">
						<span class="s-tit">
							떠나요 둘이서~ 제주여행
						</span>
						<span class="s-txt">
							#한라수목원 #중문단지<br>
							#성산일출봉 #제주국제공항<br> 
							#테디베어뮤지엄
						</span>
					</div>
				</a>
				<a href="" class="a-2">
					<div class="inTxt">
						<span class="s-tit">
							우린 노는 물이 달라!
						</span>
						<span class="s-txt">
							#도고온천 #아산온천<br>
							#파라다이스 스파도고<br>
							#아산스파비스
						</span>
					</div>
				</a>
				<a href="" class="a-3">
					<div class="inTxt">
						<span class="s-tit">
							펜션여행 여행의 즐거움
						</span>
						<span class="s-txt">
							#서울근교 #가평 #양평<br>
							#청평 #강화도 #커플여행<br>
							#가족여행
						</span>
					</div>
				</a>
				<a href="" class="a-4">
					<div class="inTxt">
						<span class="s-tit">
							부산여행 훌쩍 떠나보기!
						</span>
						<span class="s-txt">
							#해운대 #광안리 #서면<br>
							#남포동 #부산역 #벡스코<br>
							#김해공항
						</span>
					</div>
				</a>
			</div>
		</section>
		
		<section class="sec-quation">
			<div class="sec-container">
				<ol class="link-q cf ftfm-nt">
					<li class="li-1 cf"><a href="">
						<figure>FAQ</figure>
						<i>자주 묻는 질문</i>
					</a></li>
					<li class="li-2 cf"><a href="">
						<figure><img src="http://img.hyutour.co.kr/renew/i_chkState.png" alt="예약상태"></figure>
						<i>나의 예약상태</i>
					</a></li>
					<li class="li-3 cf"><a href="">
						<figure>?!</figure>
						<i>Q&amp;A 문의 내역</i>
					</a></li>
				</ol>
				
				<div class="link-evt cf">
					<a href="" class="a-post">
						<span class="s-1">[이벤트]</span>
						<span class="s-2">7만원 쿠폰팩 지급 이벤트!</span>
					</a>
					<a href="" class="a-more">더보기 <span class="ic-rArrow rArrow"></span></a>
				</div>
			</div>
		</section>
	</div>
	
	<!-- 푸터 -->
	<div class="footer">
		<div class="footerin">
			<div class="f-top">
				<a heft="#">회사소개</a>
				<span class="mgl">|</span>
				<a heft="#">이용약관</a>
				<span class="mgl">|</span>
				<a heft="#">개인정보처리방침</a>
			</div>
		</div>
		
		<figure class="logo"><img src="http://img.hyutour.co.kr/logo_footer2_g.png" alt="푸터로고"></figure>
		
		<div class="foot">
			<address class="footer_add">
				(주)이엔플러스 <span class="mgl">ㅣ</span>
				대표이사 : 엄태학
				<br>
				주소 : 서울특별시 강남구 테헤란로82길 15, 15층(대치동, 디아이타워)
				<br>
				사업자등록번호 : 514-86-00070
				<br>
				통신판매업 : 제2017-서울강남-00561호 <span class="mgl">ㅣ</span> 여행업등록번호 : 제2017-07호
				<br>
				여행영업보증서 : 국내여행 제100-000-2015 0144 5816호													
				<br>
				국외여행업등록번호 : 제2017호-26호										
			</address>
			<p class="copy">
				<span>휴투어는 통신판매중개자로서 통신판매 당사자가 아닙니다.<br> 따라서 휴투어는 상품정보 및 거래정보에 대하여 책임을 지지 않습니다.<br></span>
				copyright 2016 by HYUTOUR.CO.KR co., all rights reserved.
			</p>
		</div>

	</div>
</div>
	
</body>
</html>