/*#wrapper * {box-sizing: border-box;}*/
#headTitle #h-phone {position: absolute; top: 15px; right: 10px; width: 17px; height: 16px; cursor: pointer;}

.nb-wrap {position: relative; height: 430px; padding-bottom: 10px; background: #f1f1f;}
.non-box {position: absolute; left: 50%; top: 50%; margin-left: -150px; margin-top: -140px; width: 300px; height: 200px; text-align: center;}
.non-box img {display: block; margin: 0 auto; width: 50px; margin-bottom: 10px;}
.non-box p {font-size: 13px; margin-top: 15px; line-height: 1.4em;}
.non-btn-area {position: absolute; bottom: 10px; width: 100%;}
.non-btn-area a {display: block; width: 96%; margin: 0 auto; text-align: center; border-radius: 2px; background: #F96A0A; color: #fff; font-size: 13px; line-height: 3.2em; height: 44px;}

.history-tab-01 {position: relative;}
.history-tab-01 * {font-family: "Nanum Gothic", "Malgun Gothic", sans-serif;}
.history-tab-01 ul li {position: relative; float: left; width: 33.33%;}
.history-tab-01.tab-02 ul li {width: 25%;}
.history-tab-01 ul li a {display: block; width: 100%; height: 34px; font-size: 13px; color: #818181; border-left: 1px solid #e2e2e2; text-align: center; line-height: 2.55em; border-bottom: 1px solid #e2e2e2; letter-spacing: 0px; box-sizing: border-box;}
.history-tab-01 ul li:first-child a {border-left: 0;}
.history-tab-01 ul li.on a {border-bottom: 2px solid #f96a0a; color: #010101;}

.history01-list {position: relative; background: #f1f1f1; padding-top: 5px;}
.history01-list * {font-family: "Nanum Gothic", "Malgun Gothic", sans-serif;}
.history01-list .code-wrap {position: relative; background: #fff; padding: 10px; border-top: 1px solid #e1e1e1; border-bottom: 1px solid #e1e1e1;}
.history01-list .code-wrap .code , .history01-list .code-wrap .reg {border-radius: 2px; font-size: 13px;}
.history01-list .code-wrap .code {border: 1px solid #e2e2e2; width: 80%; text-indent: 3px; color: #010101;}
.history01-list .code-wrap .code::-webkit-input-placeholder {color: #a2a2a2;}
.history01-list .code-wrap .code::-moz-placeholder {color: #a2a2a2;}
.history01-list .code-wrap .code::-ms-input-placeholder {color: #a2a2a2;}
.history01-list .code-wrap .code::-moz-placeholder {color: #a2a2a2;}
@media (max-width: 359px) {
  .history01-list .code-wrap .code {width: 77%;}
}
.history01-list .code-wrap .reg {margin-left: 5px; background: #fa6a0a; color: #fff; width: 60px;}
.history01-list li {position: relative; width: 100%; height: 150px; overflow: hidden; margin-top: 5px; border-top: 1px solid #e1e1e1; border-bottom: 1px solid #e1e1e1;}
.history01-list li .h-link-a {position: absolute; top: 0; left: 0; width: 100%; height: 100%;}

.history01-list li .a-bg {position: absolute; top: 0; left: 0; width: 100%; height: 100%;}

.history01-list li .black-a60 {background: rgba(0, 0, 0, 0.6);}

.history01-list li p {text-align: center; color: #fff;}
.history01-list li .p0 {position: relative; top: 0; left: 0; width: 100%; height: 20px; margin-top: 6px; font-size: 11px; text-align: center; background: #000; line-height: 1.9em;}

.history01-list li .p-state {position: relative; text-align: right; padding-top: 22px;}
.history01-list li .p0 + .p-state {padding-top: 10px;}
.history01-list li .p0 + .p-state + .s-pkg {top: 5px;}
.history01-list li .p-state .s1, .history01-list li .s0{top: 10px;}
.history01-list li .p-state .s1 {position: absolute; left: 10px; margin-right: 3px; display: inline-block; width: 42px; height: 16px; font-size: 11px; border: 1px solid #fa6a0a; border-radius: 2px; line-height: 1.6em; text-align: center;}
.history01-list li .p-state .s1 .black-a46 {background: rgba(0, 0, 0, 0.4);}
.history01-list li .p-state .s1-1 {position: relative; color: #fa6a0a;}

.history01-list li .p-state .s-pkg {position: relative; display: block; width: 76px; height: 20px; left: 50%; margin-left: -38px; font-size: 12.5px; text-align: center; border: 1px solid #fff; line-height: 1.6em;}
.history01-list li .s-pkg {position: relative; display: block; width: 76px; height: 20px; left: 50%; margin-left: -38px; font-size: 12.5px; text-align: center; border: 1px solid #fff; line-height: 1.6em;}
.history01-list li .s0 {position: absolute; right: 10px; display: inline-block; width: 42px; height: 42px;}
.history01-list li .s0 .white-a70 {background: rgba(255, 255, 255, 0.35); border: 1px solid #fff; border-radius: 50%;}
.history01-list li .s0 .orange-a70 {background: rgba(250, 106, 10, 0.7); border: 1px solid #fa6a0a; border-radius: 50%;}
.history01-list li .s0 .black-a70 {background: rgba(0, 0, 0, 0.7); border: 1px solid #000; border-radius: 50%;}
.history01-list li .s0 .s0-1 {position: relative; display: block; width: 100%; text-align: center; top: 10px; color: #fff; font-size: 11px; line-height: 1.2em;}

.history01-list li .p1, .history01-list li .p2 {width: 100%; position: relative;}
.history01-list li .p1 {margin-top: 20px; font-size: 13px; letter-spacing: -0.7px; line-height: 1.5em;}
.history01-list li .s-pkg + .p1 {margin-top: 10px;}
.history01-list li .p1 strong {font-size: 16px; font-weight: 600; line-height: 1.7em;}
.history01-list li .p2 {margin-top: 6px; font-size: 12.5px; letter-spacing: 0px;}

/*페이지네이션*/
.history01-list .pagenation {position: relative; text-align: center; width: 100%; margin-top: 20px; padding-bottom: 20px;}
.history01-list .pagenation a {display: inline-block; font-size: 13px; width: 28px; height: 27px; vertical-align: middle; line-height: 2em; background: #fff; border: 1px solid #d6d6d6; color: #272727; font-family: "Nanum Gothic"; font-weight: 600;}
.history01-list .pagenation a[class*="prev"], .history01-list .pagenation a[class*="next"] {font-size: 12px; line-height: 2.2em; letter-spacing: -2px;}
.history01-list .pagenation a:hover, .history01-list .pagenation a.on {color: #c52337;}
.history01-list .pagenation a.prev {text-indent: -4px;}
.history01-list .pagenation a.next {text-indent: 1px;}

.history02-common, .history02-info {position: relative; background: #f1f1f1; padding-bottom: 6px;}
.history02-info .d-l {float: left;}
.history02-info .d-r {float: right; text-align: right;}
.history02-common *, .history02-info * {font-family: "Nanum Gothic", "Malgun Gothic", sans-serif; color: #010101; letter-spacing: -0.7px;}
.history02-common > ul, .history02-info > ul {position: relative; margin-top: 6px; padding: 10px 0; background: #fff; border-top: 1px solid #e1e1e1; border-bottom: 1px solid #e1e1e1;}
.history02-common > ul:first-child, .history02-info > ul:first-child {margin-top: 0; border-bottom: 1px solid #e1e1e1;}
.history02-common > ul:first-child {border-top: 0;}
.history02-common > ul > li, .history02-info > ul > li {position: relative; padding: 0 10px; font-size: 13px; line-height: 1.5em; word-break: keep-all;}
.history02-info > ul > li .c-red {color: #c40018; font-weight: 600;}
.history02-info > ul > li .c-orange {color: #fa6a0a;}

.clr:before, .clr:after, .history02-info > ul > li:before, .history02-info > ul > li:after {display: block; content: "";}
.clr:after, .history02-info > ul > li:after {clear: both;}

.history02-common .name > li:first-child {margin-bottom: 3px;}
.history02-common .name .ctgr {position: relative; display: inline-block; top: -1px; min-width: 40px; height: 17px; text-align: center; margin-right: 3px; background: #fa6a0a; color: #fff; font-size: 9px; padding: 0px 3px; border-radius: 2px;}
.history02-common .name .tit {font-weight: 600; font-size: 15px;}
.history02-common .name .addr {position: absolute; display: block; bottom: -1px; right: 10px; width: 55px; height: 17px; line-height: 1.7em; text-align: center; border: 1px solid #ddd; font-size: 11px;}

.history02-info [class*="form"] li {padding-top: 5px; padding-bottom: 5px;}
.history02-info [class*="form"] li:first-child {font-weight: 600; font-size: 14px; padding-top: 0;padding-bottom: 5px; border-bottom: 1px solid #eaeaea;}
.history02-info [class*="form"] li:first-child + li {padding-top: 8px;}
.history02-info [class*="form"].base li:first-child {font-weight: 600; font-size: 14px; padding-bottom: 8px; border-bottom: 0;}
.history02-info [class*="form"].base li:first-child + li, .history02-info [class*="form"].talk li:first-child + li {padding-top: 0px;}

.history02-info .pay .btn-a {display: block; background: #fa6a0a; color: #fff; text-align: center; height: 36px; line-height: 2.8em; border-radius: 2px; letter-spacing: 0; margin-bottom: -4px;}

.history02-info li.have-dot {padding-left: 18px;}
.history02-info li.have-dot:before {content: "·"; position: absolute; left: 10px; line-height: 0.9em; font-size: 18px; font-weight: 600; color: #fa6a0a;}
.history02-info li.line {padding-top: 8px; margin-top: 3px; border-top: 1px solid #eaeaea;}
.history02-info li.bg {background: #fef1e8;}
.history02-info li.bg.bg-lt {border-top: 1px solid #feddc8; margin-top: 1px;}
.history02-info li.bg.bg-lb {border-bottom: 1px solid #feddc8; margin-bottom: 2px;}

.history02-info .etc-q {position: relative; background: #fff; font-size: 12.5px; padding: 12px 10px 10px 16px; margin-top: -1px; border-top: 1px solid #eaeaea; border-bottom: 1px solid #e1e1e1;}
.history02-info .etc-q a {position: relative; top: -3px; margin-left: 16px;}
.history02-info .etc-q a img {width: 82px;}

.history02-info .total li:first-child {border-bottom: 0; padding-bottom: 0;}
.history02-info .total li:last-child {border-top: 1px solid #eaeaea; padding-top: 8px;}

.history02-info .req {padding: 8px 0 3px;}
.history02-info .req li:first-child{border-bottom: 0;}
.history02-info .req .ta {float: right; border: 1px solid #e1e1e1; width: 76%; resize: none; height: 40px; line-height: 1.2em; padding: 2px; padding-right: 0;}
.history02-info .non-voucher {width: 94%; margin: 0 auto; background: none; border: 0;}
.history02-info .non-voucher li {color: #7d7d7d; font-size: 11px; padding-left: 12px;}
.history02-info .non-voucher li .gt {position: relative; font-size: 10px; top: -1px; color: #7d7d7d;}
.history02-info .non-voucher li:before {content: "※"; display: inline-block; position: absolute; left: 0; }

.history02-info .note-voucher, .history02-info .way {width: 94%; margin:0 auto; border-left: 1px solid #e1e1e1; border-right: 1px solid #e1e1e1;}
.history02-info .way {margin-top: -1px; border-top: 1px solid #eaeaea;}
.history02-info .way li {padding-left: 24px;}
.history02-info .way li:first-child {font-weight: 600; font-size: 14px; padding-left: 10px;}
.history02-info .way li:first-child img {position: relative; top: 3px; margin-right: 3px; width: 15px;}
.history02-info .way li[class*="nth-"]:before {content: ""; display: inline-block; position: absolute; left: 10px; width: 14px;}
.history02-info .way li.nth-1:before {content: "1.";}
.history02-info .way li.nth-2:before {content: "2.";}
.history02-info .way li.nth-3:before {content: "3.";}
.history02-info .way li.nth-4:before {content: "4.";}
.history02-info .way li.nth-5:before {content: "5.";}
.history02-info .way li.nth-6:before {content: "6.";}
.history02-info .way li.nth-7:before {content: "7.";}
.history02-info .way li.nth-8:before {content: "8.";}
.history02-info .way li.nth-9:before {content: "9.";}

.history02-info .ticket-ent {position: relative; width: 94%; margin: 0px auto; background: #f1f1f1; overflow: hidden;}
.history02-info .ticket-ent .t-head {background: #FA7922; padding: 14px 0 8px; border: 1px solid #ccc; border-bottom: 0;}
.history02-info .ticket-ent .t-head:before {content: ""; display: block; position: absolute; top: -12px; left: 50%; margin-left: -12px; width: 20px; height: 20px; border-radius: 50%; background: #f1f1f1; border: 1px solid #ccc;}
.history02-info .ticket-ent .t-head p {color: #fff; text-align: center; letter-spacing: 0;}
.history02-info .ticket-ent .t-head p.nth-1 {font-size: 16px; font-weight: 600;}
.history02-info .ticket-ent .t-head p.nth-2 {font-size: 11px;}
.history02-info .ticket-ent .t-head p .check {display: inline-block; position: relative; border: 1px solid #fff; width: 3px; height: 7px; top: -1px; border-left: 0; border-top: 0; margin-right: 6px; transform: rotate(45deg); -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg);}
.history02-info .ticket-ent .t-contents {position: relative; background: #fff; padding: 11px 0 12px; border: 1px solid #ccc; border-bottom: 0; border-top: 0;}
.history02-info .ticket-ent table {width: 96%; margin: 0 auto;}
.history02-info .ticket-ent table td {font-size: 12.5px; border-collapse: collapse; border: 1px solid #cdcdcd; border-left: 1px solid #a3a3a3; border-right: 0; padding: 2px 0;}
.history02-info .ticket-ent table .first td {border-top: 1px solid #a3a3a3;}
.history02-info .ticket-ent table .last td {border-bottom: 1px solid #a3a3a3;}
.history02-info .ticket-ent table td.nth-1 {text-align: left; width: 27%; border-left: 0; padding-left: 10px;}
.history02-info .ticket-ent table td.nth-2 {padding-left: 12px;}
.history02-info .ticket-ent .barcode {text-align: center; font-size: 13px;}
.history02-info .ticket-ent .barcode img {width: 100%;}
.history02-info .ticket-ent .barcode .p1 {position: relative; width: 65%; margin:0 auto; margin-bottom: 2px;}
.history02-info .ticket-ent .t-footer {position: relative; font-size: 12px; padding: 10px 0 6px; border: 1px solid #ccc; border-top: 1px dashed #ccc; color: #595959; background: #fff;}
.history02-info .ticket-ent .t-footer .mag {position: absolute; bottom: 6px; right: 8px; display: inline-block; width: 18px; height: 18px; border:1px solid #888; border-radius: 50%;}
.history02-info .ticket-ent .t-footer .mag:before, .history02-info .ticket-ent .t-footer .mag:after {content: ""; position: absolute; top: 8px; left: 4px; width: 10px; height: 1px; background: #888;}
.history02-info .ticket-ent .t-footer .mag:before {transform: rotate(90deg); -webkit-transform: rotate(90deg); -ms-transform: rotate(90deg);}
.history02-info .ticket-ent .won {content: ""; display: block; position: absolute; bottom: -12px; left: 50%; margin-left: -12px; width: 20px; height: 20px; border-radius: 50%; background: #f1f1f1; border: 1px solid #ccc;}


/*.history02-info .ticket-ent .t-footer .check {display: inline-block; position: relative; border: 1px solid #595959; width: 3px; height: 7px; top: -1px; border-left: 0; border-top: 0; margin-right: 4px; transform: rotate(45deg); -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg);}*/

.history02-info .ticket-ent .t-footer:before, .history02-info .ticket-ent .t-footer:after {content: ""; display: block; position: absolute; top: -9px; width: 16px; height: 16px; background: #f1f1f1; border: 1px solid #ccc; transform: rotate(45deg); -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg);}
.history02-info .ticket-ent .t-footer:before {left: -9px; border-left: 0; border-bottom: 0;}
.history02-info .ticket-ent .t-footer:after {right: -9px; border-right: 0; border-top: 0;}

.history02-info .ticket-ent.non-bar .t-contents {padding-bottom: 20px; border-bottom: 1px solid #cdcdcd;}
.history02-info .ticket-ent.non-bar .t-contents:before, .history02-info .ticket-ent.non-bar .t-contents:after {content: ""; display: block; position: absolute; top: -8px; width: 16px; height: 16px; background: #f1f1f1; border: 1px solid #ccc; transform: rotate(45deg); -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg);}
.history02-info .ticket-ent.non-bar .t-contents:before {left: -9px; border-left: 0; border-bottom: 0;}
.history02-info .ticket-ent.non-bar .t-contents:after {right: -9px; border-right: 0; border-top: 0;}

.history02-info .ticket-ent.non-bar .t-footer {display: none;}

.history02-info .ticket-ent > a {position: absolute; top: 0; left: 0; width: 100%; height: 100%;}

.history02-info .ticket-ent.tour {margin: 10px auto;}
.history02-info .ticket-ent.tour .t-head {background: #e4dfc5; padding-bottom: 3px;}
.history02-info .ticket-ent.tour .t-head p {color: #7a7154;}
.history02-info .ticket-ent.tour .t-head p.nth-2 {font-size: 14px; font-weight: 600; margin-top: -5px;}
.history02-info .ticket-ent.tour table td.nth-1 {width: 32%;}
.history02-info .ticket-ent.tour .t-footer {border-top-style: solid; padding: 12px 0 22px;}

.history02-info .barcode-pop {content: ""; display: inline-block; position: fixed; top: 0; left: 0; width: 100%; height: 100%; vertical-align: middle; background: rgba(0, 0, 0, .5); z-index: 10000;}
.history02-info .barcode-pop .box {position: absolute; left: 50%; top: 50%; margin-left: -140px; margin-top: -275px; width: 280px; height: 550px; background: #fff; text-align: center; font-size: 14px; z-index: 10000;}
.history02-info .barcode-pop .box p {position: absolute; transform: rotate(90deg); -webkit-transform: rotate(90deg); -ms-transform: rotate(90deg); transform-origin: left top;}
.history02-info .barcode-pop .box p.nth-1 {font-size: 26px; font-weight: 600; right: -525px; top: 0; width: 550px;}
.history02-info .barcode-pop .box p.nth-2 {background: url("http://img.go.co.kr/mobile/h_barcode.png") repeat; right: -322px; top: 74px; width: 402px; height: 125px;}
.history02-info .barcode-pop .box p.nth-3 {right: -330px; font-size: 20px; font-weight: 600; width: 550px;}
.history02-info .barcode-pop .box .btn-a-cancel {position: absolute; bottom: 30px; right: 36px; display: block; width: 20px; height: 20px;}
.history02-info .barcode-pop .box .btn-a-cancel:before, .history02-info .barcode-pop .box .btn-a-cancel:after {content: ""; position: absolute; top: 10px; left: -2px; display: block; width: 26px; height: 1px; background: #000;}
.history02-info .barcode-pop .box .btn-a-cancel:before {transform: rotate(45deg); -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg);}
.history02-info .barcode-pop .box .btn-a-cancel:after {transform: rotate(-45deg); -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg);}

.history02-info .ticket-ht {position: relative; margin: 0px auto -6px; background: #fff; overflow: hidden;}
.history02-info .ticket-ht .t-head {background: #FA7922; padding: 14px 0 8px; border: 1px solid #ccc; border-bottom: 0;}
.history02-info .ticket-ht .t-head:before {content: ""; display: block; position: absolute; top: -12px; left: 50%; margin-left: -12px; width: 20px; height: 20px; border-radius: 50%; background: #f1f1f1; border: 1px solid #ccc;}
.history02-info .ticket-ht .t-head p {color: #fff; text-align: center; letter-spacing: 0;}
.history02-info .ticket-ht .t-head p.nth-1 {font-size: 16px; font-weight: 600;}
.history02-info .ticket-ht .t-head p.nth-2 {font-size: 11px;}
.history02-info .ticket-ht .t-head p .check {display: inline-block; position: relative; border: 1px solid #fff; width: 3px; height: 7px; top: -1px; border-left: 0; border-top: 0; margin-right: 6px; transform: rotate(45deg); -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg);}

#headTitle_box .h-phone {}

.history02-info .talk li:first-child, .history02-info .cancel li:first-child, .history02-info .note.n2 li:first-child {border-bottom: 0;}
.history02-info .cancel li:first-child + li, .history02-info .note.n2 li:first-child + li {padding-top: 0;}
.history02-info .talk li:first-child img {position: relative; top: 3px; margin-right: 3px; width: 15px;}

.history02-info .cancel table {width: 100%;}
.history02-info .cancel table th, .history02-info .cancel table td {border: 1px solid #ccc; border-collapse: collapse;}
.history02-info .cancel table th { text-align: center; background: #E4E3E3;}
.history02-info .cancel table th .justi {display: inline-block;}
.history02-info .cancel table th .c-gray {color: #8c8c8c; font-size: 1px; line-height: 1.3em; display: inline-block; margin-top: 5px;}
.history02-info .cancel table td {padding: 3px 0; text-indent: 20px; font-size: 12px;}


.history02-info .map {}
.history02-info .map .btn-a {display: block; background: #fa6a0a; color: #fff; text-align: center; height: 42px; line-height: 3.4em; letter-spacing: 0;font-size: 12.5px; letter-spacing: 0;}

.h-q-pop:before {content: ""; display: inline-block; position: fixed; top: 0; left: 0; width: 100%; height: 100%; vertical-align: middle; background: rgba(0, 0, 0, .5); z-index: 10000;}
/*.h-q-pop .box {position: fixed; left: 50%; top: 50%; margin-left: -138px; margin-top: -102px; width: 276px; height: 204px; background: #fff; border-radius: 8px; text-align: center; font-size: 14px; z-index: 10000;}*/
.h-q-pop .box {position: fixed; left: 50%; top: 50%; margin-left: -138px; margin-top: -52px; width: 276px; height: 104px; background: #fff; border-radius: 8px; text-align: center; font-size: 14px; z-index: 10000;}
.h-q-pop .box .btn-a-cancel {position: absolute; top: 10px; right: 13px; display: block; width: 20px; height: 20px;}
.h-q-pop .box .btn-a-cancel:before, .h-q-pop .box .btn-a-cancel:after {content: ""; position: absolute; top: 10px; left: 0; display: block; width: 20px; height: 1px; background: #000;}
.h-q-pop .box .btn-a-cancel:before {transform: rotate(45deg); -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg);}
.h-q-pop .box .btn-a-cancel:after {transform: rotate(-45deg); -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg);}
.h-q-pop .box p {margin: 16px 0; color: #010101; font-weight: 600;}
.h-q-pop .box ul {}
.h-q-pop .box ul li {position: relative; margin-top: 9px;}
.h-q-pop .box ul li:first-child {margin-top: 0;}
.h-q-pop .box ul li a {display: block; margin: 0 auto; width: 248px; height: 40px; border-radius: 6px; line-height: 2.8em; text-align: left; text-indent: 41px;}
.h-q-pop .box ul li a:before {content: ""; display: inline-block; position: relative; width: 44px; height: 16px; background: url(http://img.go.co.kr/mobile/h_q_icons.png) no-repeat;}
.h-q-pop .box ul li.front a {background: #163c88; color: #fff;}
.h-q-pop .box ul li.go a {background: #f96a0a; color: #fff;}
.h-q-pop .box ul li.kko a {background: #fbe300; color: #381e1f;}
.h-q-pop .box ul li.front a:before {background-position: center 0; top: 3px;}
.h-q-pop .box ul li.go a:before {background-position: center -30px; top: 2px;}
.h-q-pop .box ul li.kko a:before {height: 22px; background-position: center -60px; top: 5px;}

.h-q-pop.road .box {position: fixed; left: 50%; top: 50%; margin-left: -138px; margin-top: -57px; width: 276px; height: 114px; background: #fff; border-radius: 8px; text-align: center; font-size: 14px;}
.h-q-pop .box ul li.road.daum a:before {top: 9px; height: 28px; width: 56px; height: 26px; background: url(http://img.go.co.kr/daum_logo.png) no-repeat; background-size: 55px;}
.h-q-pop .box ul li.road.daum a {text-indent: 80px; border: 1px solid #cdcdcd;}
.h-q-pop .box ul li.road.naver a:before {top: 6px; height: 28px; width: 100px; height: 26px; background: url(http://img.go.co.kr/mobile/h_r_icons.png) no-repeat;}
.h-q-pop .box ul li.road.naver a {background: #3869b8; color: #fff; text-indent: 58px;}
.h-q-pop .box ul li.road a span {position: relative;}

.history04-wrap {position: relative; background: #f3f3f5; padding: 4px 15px 10px;}
.history04-wrap * {font-size: 12px; box-sizing: border-box;}
.history04-tab {position: relative;}
.history04-tab ul {display: table; width: 100%; border: 1px solid #e9e9ea; border-bottom: 0;}
.history04-tab ul li {position: relative; display: table-cell; width: 25%;}
.history04-tab ul li a {width: 100%; background: #f7f7f9; display: block; height: 44px; line-height: 3.4em; text-align: center; border-left: 1px solid #e9e9ea; color: #5c5c5c; font-size: 13px;}
.history04-tab ul li:first-child a {border-left: 0;}
.history04-tab ul li.on a {color: #ff6701; background: #fef0e6;}

.history04-common {color: #2c2c2c; background: #fff; border: 1px solid #e9e9ea; padding-bottom: 22px;}

.history04-1 {}
.history04-1 > ul {}
.history04-1 .h04-1-spot {position: relative; float: left; width: 50%; margin-top: 16px; text-align: center;}
.history04-1 .thumb, .history04-1 .tit, .history04-1 .txt, .history04-1 .thumb img {display: inline-block; width: 134px;}
.history04-1 .h04-1-spot:nth-child(odd) > * {margin-right: -6%;}
.history04-1 .h04-1-spot:nth-child(even) > * {margin-left: -6%;}
@media (max-device-width: 320px) {
  .history04-1 .h04-1-spot:nth-child(odd) > * {margin-right: -2%;}
  .history04-1 .h04-1-spot:nth-child(even) > * {margin-left: -2%;}
}
.history04-1 .thumb {position: relative; border: 1px solid #e5e5e5; overflow: hidden;}
.history04-1 .thumb img {height: 89px;}
@media (min-width: 375px) {
  .history04-1 .thumb, .history04-1 .tit, .history04-1 .txt, .history04-1 .thumb img {width: 158px;}
  .history04-1 .thumb img {height: 105px;}
  .history04-1 .h04-1-spot:nth-child(odd) > * {margin-right: -3%;}
  .history04-1 .h04-1-spot:nth-child(even) > * {margin-left: -3%;}
}
@media (min-width: 400px) {
  .history04-1 .thumb, .history04-1 .tit, .history04-1 .txt, .history04-1 .thumb img {width: 168px;}
  .history04-1 .thumb img {height: 112px; }
}
@media (min-width: 640px) {
  .history04-1 .thumb, .history04-1 .tit, .history04-1 .txt, .history04-1 .thumb img {width: 268px;}
  .history04-1 .thumb img {height: 177px; }
}
.history04-1 .tit, .history04-1 .txt {text-align: left; text-indent: 2px;}
.history04-1 .tit {}
.history04-1 .txt {}

/*페이지네이션*/
.history04-wrap .pagenation {position: relative; text-align: center; width: 100%; margin-top: 30px;}
.history04-wrap .pagenation a {display: inline-block; font-size: 13px; width: 28px; height: 27px; vertical-align: middle; line-height: 2em; background: #fff; border: 1px solid #d6d6d6; color: #272727; font-family: "Nanum Gothic"; font-weight: 600;}
.history04-wrap .pagenation a[class*="prev"], .history04-wrap .pagenation a[class*="next"] {font-size: 12px; line-height: 2.2em; letter-spacing: -2px;}
.history04-wrap .pagenation a:hover, .history04-wrap .pagenation a.on {color: #c52337;}
.history04-wrap .pagenation a.prev {text-indent: -4px;}
.history04-wrap .pagenation a.next {text-indent: 1px;}

.h04-pop {position: relative;}
.h04-pop * {color: #2a2a2a;}
.h04-pop:before {content: ""; display: inline-block; position: fixed; top: 0; left: 0; width: 100%; height: 100%; vertical-align: middle; background: rgba(0, 0, 0, .5); z-index: 10000;}
.h04-pop .box {position: fixed; left: 50%; top: 50%; margin-left: -150px; margin-top: -245px; width: 300px; height: auto; max-height: 440px; background: #fff; text-align: center; font-size: 14px; z-index: 10000; padding-bottom: 15px; overflow-y: auto;}
.h04-pop .box header {position: relative; height: 40px; width: 300px; background: #f96a0a; color: #fff; font-size: 14px; line-height: 2.8em; font-weight: 600; letter-spacing: -0.5px; text-align: left;
  padding-left: 12px;}
.h04-pop header:before, .h04-pop footer .addr:before, .h04-pop footer .copy:before {content: ""; display: inline-block; background: url(http://img.go.co.kr/mobile/mk_icons.png) no-repeat 0; background-size: 52px; position: relative; margin-right: 3px; top: 3px; width: 12px; height: 14px;}
.h04-pop .box header:before {top: 2px;}
.h04-pop .box .btn-a-cancel {position: absolute; top: 10px; right: 10px; display: block; width: 20px; height: 20px;}
.h04-pop .box .btn-a-cancel:before, .h04-pop .box .btn-a-cancel:after {content: ""; position: absolute; top: 10px; left: 0; display: block; width: 20px; height: 1px; background: #fff;}
.h04-pop .box .btn-a-cancel:before {transform: rotate(45deg); -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg);}
.h04-pop .box .btn-a-cancel:after {transform: rotate(-45deg); -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg);}

.h04-pop .contents {position: relative;}
.h04-pop .slide-box.swiper-container {position: relative; width: 286px; height: 211px; margin: 7px auto 0; text-align: center;}
.h04-pop .swiper-slide img {display: block;}
.h04-pop .rs-slide-btn img {width: 100%;}
.h04-pop #slider-prev, .h04-pop #slider-next {position: absolute; top: 50%; margin-top: -10px; display: block; width: 12px; z-index: 1; cursor: pointer;}
.h04-pop #slider-prev {left: 5px;}
.h04-pop #slider-next {right: 5px;}

.h04-pop .main-txt {padding: 0 10px;/* word-break: keep-all;*/ text-align: left; margin-top: 15px; line-height: 1.3em;}

.h04-pop footer {position: relative;width: 286px; /*height: 40px;*/ padding: 7px 5px 13px; margin: 0 auto; border: 1px solid #d9d9d9; text-align: left; margin-top: 12px;}
.h04-pop footer .addr {display: block; width: 80%;}
.h04-pop footer .addr:before {background-position: -20px 0;}
.h04-pop footer .copy {position: absolute; right: 5px;  top: 7px; border: 1px solid #d9d9d9; padding: 0 3px 1px;}
.h04-pop footer .copy:hover {color: #2a2a2a;}
.h04-pop footer .copy span {position: relative; top: -1px;}
.h04-pop footer .copy:before {background-position: -40px 0; top: 2px;}

.history04-2 {padding-bottom: 0;}
.history04-2 .map-box {position: relative;}
.history04-2 .map-box > .map-img {width: 100%;}

.h04-3 {}
.h04-pop .menu {width: 286px; margin: 0 auto; margin-top: 15px; padding: 10px 2px; border-top: 1px solid #e1e1e1;}
.h04-pop .tit {text-align: left; font-weight: 600;}
.h04-pop .list {margin-top: 10px;}
.h04-pop .list li {position: relative;}
.h04-pop .list li:before {position: absolute; display: block; top: 10px; left: 0; width: 100%; border-bottom: 1px dashed #e1e1e1;}
.h04-pop .list li span {position: relative; display: inline-block; background: #fff;}
.h04-pop .list li .name {float: left; padding-left: 8px; padding-right: 3px;}
.h04-pop .list li .name:before {position: absolute; content: "·"; display: inline-block; left: 0; top: 2px; font-size: 26px; line-height: 0.5em;}
.h04-pop .list li .price {float: right; letter-spacing: 0; padding-left: 3px;}

.history04-4 {}
.history04-4 {position: relative;}
.history04-4 .list-box {}
.history04-4 .list-box li {position: relative; padding: 15px 10px; padding-right: 5px; border-bottom: 1px solid #e1e1e1;}
.history04-4 .list-box li:last-child {border-bottom: 0; margin-bottom: -10px;}
.history04-4 .list-box li > div {float: left; position: relative;}
.history04-4 .list-box li > a.link-a {position: absolute; width: 100%; height: 100%; top: 0; left: 0;}
.history04-4 .figure {}
.history04-4 .figure img {width: 79px; height: 70px;}
.history04-4 .con-area {margin-left: 8px; width: 72%; margin-top: -1px;}
.history04-4 .con-area span {position: relative;}
@media (max-device-width: 320px) {
  .history04-4 .con-area {width: 68%;}
}
@media (max-width: 359px){
  .history04-4 .con-area {width: 68%;}
}
.history04-4 .con-area .title, .history04-4 .con-area .text, .history04-4 .con-area .text2 {overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.history04-4 .con-area .title {font-size: 13px; color: #313131; line-height: 1.5em; font-weight: 600; font-family: "Nanum Gothic", "Malgun Gothic";}
.history04-4 .con-area .text, .history04-4 .con-area .text2 {font-size: 12px; color: #888; line-height: 1.2em; letter-spacing: -1px;}
.history04-4 .con-area .wra {position: relative; margin-top: 3px; text-align: right;}
.history04-4 .con-area .wra .icon {position: relative; display: inline-block; top: 2px; float: left;}
.history04-4 .con-area .wra .icon img {height: 15px;}
.history04-4 .price {position: relative; display: inline-block; float: right;}
.history04-4 .lowprice {font-size: 14px; color: #e10c0c; font-weight: 600; font-family: "Nanum Gothic";}
.history04-4 .highprice {font-size: 12px; color: #747474; letter-spacing: -1px;}
.history04-4 .con-area .text2 {margin-top: 1px;}

.h04-4-1 .icon {margin-top: -3px;}
.h04-4-1 .title {clear: both; margin-top: 0;}
.h04-4-1 .price {display: block; text-align: left; width: 100%; margin-top: 2px;}

.h04-4-2 {}
/* 예약내역 레이어팝업_170602_혜준 */
.f-bd {font-weight: 600;}
.clearHere {position: relative; text-align: center; margin-top: 15px;}
.clearHere > a {display: inline-block; width: 230px; height: 42px; padding-top: 5px; background-color: #585858; border-radius: 3px; font-size: 14px; color: #fff; line-height: 1.3em; letter-spacing: -0.7px;}
.clearHere .c-yellow {color: #fff600;}
.clearHere .gt {position: relative; top: -2px; left: 45px;font-size: 12px; font-family: "Nanum Gothic"; font-weight: 400;}
.layer-pop-bg {position: fixed; z-index:5; top: 0; left: 0; width: 100%; height: 100%; background: url(http://img.go.co.kr/black_rgba58.png) repeat;}
#r-lookup {position: fixed; z-index: 6; width: 300px; height: 208px; top: 50%; margin-top: -104px; left: 50%; margin-left: -150px; background: #f1f1f1; box-sizing: border-box; border: 2px solid #ff610a;  border-radius: 2px;}
#r-lookup * {letter-spacing: -0.5px; color: #303030;}
#r-lookup h2 {height: 42px; font-size: 15px; color: #fff; font-weight: 700; text-align: center; line-height: 2.8em; background: #ff610a; font-family: "Nanum Gothic", sans-serif; letter-spacing: 0;}
#r-lookup .clsBtn {position: absolute; right: 12px;	top: 10px; display: inline-block; width: 18px; height: 18px;
    background: url("http://img.go.co.kr/x_btn.png") no-repeat; background-size: 18px;
}
#r-lookup > p {font-size: 14px; line-height: 1.5em; text-align: center; margin-top: 15px; box-sizing: border-box; padding: 0 20px;}
#r-lookup > p.nth-1 {margin-top: 16px; margin-bottom: -4px;}
#r-lookup > p.nth-2 {}
#r-lookup > p.nth-2 input{-webkit-appearance: none; border: none; border-radius: 0; width: 30%; height: 32px; background: #fff; border: 1px solid #d6d6d6; font-size: 14px; text-align: center; box-sizing: border-box; color: #000;}
#r-lookup > p.nth-2 span {display: inline-block; background: #bbb; height: 1px; width: 3%; margin: 0 1%; position: relative; top: -5px;}
#r-lookup > p.nth-3 {}
#r-lookup > p.nth-3 a {display: inline-block; width: 100%; height: 45px; border-radius: 4px; border: 1px solid #d6d6d6; color: #403a3a; font-weight: 600; line-height: 3em; font-size: 15px;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #eeeeee 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#eeeeee 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ffffff 0%,#eeeeee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
}
#r-lookup > p.nth-3 a:first-child {background: #ff610a; color: #fff; margin-right: 20px;}

#r-confirm {position: fixed; z-index: 6; width: 300px; min-height: 270px; padding-bottom: 16px; top: 50%; margin-top: -135px; left: 50%; margin-left: -150px; background: #f1f1f1; box-sizing: border-box; border: 2px solid #ff610a; border-radius: 2px;}
#r-confirm * {letter-spacing: -0.5px; color: #303030;}
#r-confirm h2 {height: 42px; font-size: 15px; color: #fff; font-weight: 700; text-align: center; line-height: 2.8em; background: #ff610a; font-family: "Nanum Gothic", sans-serif; letter-spacing: 0;}
#r-confirm .clsBtn {position: absolute; right: 12px;	top: 10px;	 display: inline-block; width: 18px; height: 18px;
    background: url("http://img.go.co.kr/x_btn.png") no-repeat; background-size: 18px;
}
#r-confirm > p.nth-1 {font-size: 14px; line-height: 1.5em; text-align: center; margin-top: 15px; box-sizing: border-box;}
#r-confirm > div.inner-box {width: 88%; min-height: 160px; margin: 0 auto; margin-top: 12px; border: 1px solid #d6d6d6; box-sizing: border-box; background: #fff; padding: 0 12px;}
#r-confirm > div > p {font-size: 13.5px; line-height: 1.5em; text-align: center; box-sizing: border-box;}
#r-confirm > div > p.nth-1 {margin-top: 10px;}
#r-confirm > div > p.nth-2 {margin-top: 14px; padding: 12px; border-top: 1px solid #d6d6d6;}
#r-confirm > div > p.nth-2 > a {display: block; margin: 0px auto; width: 100%; height: 45px; border-radius: 4px; background: #ff610a; color: #fff; line-height: 3em; font-size: 14px; font-weight: 600;}

/* 예약내역 없음페이지 초록박스 추가 170626 이현우 */
.non-box .non-box-ntcbox {display:inline-block; padding:7px 15px; background-color:#2ba78d; border-radius:3px; color:#fff; font-size:13px;}
.non-box .non-box-ntcbox span {color:#fffc01;}

/* 버튼 추가 170627 이현우 */
.btn-wrap {margin-top:6px; padding:0 7px;}
.btn-wrap .btn-area {display:table; width:100%;}
.btn-wrap .btn-area > div {display:table-cell; vertical-align:middle; padding:0 7px;}
.btn-wrap .btn-area > div a {display:block; height:34px; line-height:34px; font-size:13px; text-align:center; box-sizing:border-box; border-radius:2px;}
.btn-wrap .btn-area > div a.graybtn {background-color:#5f5f5f; color:#fff;}
.btn-wrap .btn-area > div a.whitebtn {background-color:#fffdfe; color:#413839; border:1px solid #d2d2d2; background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f4f4f4)); background-image: -webkit-linear-gradient(top, #fff, #f4f4f4); background-image: -moz-linear-gradient(top, #fff, #f4f4f4); background-image: -ms-linear-gradient(top, #fff, #f4f4f4); background-image: -o-linear-gradient(top, #fff, #f4f4f4); background-image: linear-gradient(to bottom, #fff, #f4f4f4);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#fff, endColorstr=#f4f4f4);}

/* 이용후기작성 버튼 추가 170627 이현우 */
.history02-info [class*="form"] li:first-child .review {display:inline-block; padding:2px 4px; border-radius:2px; color:#fd5413; border:1px solid #fd5413; font-size:13px; position:absolute; right:10px; top:-6px;}

/* 이용완료 삭제버튼 추가 170627 이현우 */
#headTitle .delete {position:absolute; right:10px; padding-left:15px; background:url('http://img.go.co.kr/mobile/btn_delete2.png') no-repeat 0 50%; background-size:11.5px 11px;}
#headTitle .delete.on {background:url('http://img.go.co.kr/mobile/btn_delete2_on.png') no-repeat 0 50%; background-size:11.5px 11px; color:#ff6701}
.fixdelete {position:fixed; left:0; bottom:0; z-index:9999; width:100%; height:42px; line-height:42px; color:#fff; background-color:#f96a0a; font-size:16px; text-align:center;}
.history01-list li .chk {display:none; position:absolute; right:8px; top:10px; z-index:9000; width:44px; height:44px; border-radius:100%; font-size:11px; box-sizing:border-box; padding-top:22px; text-align:center; color:#fff; background:url('http://img.go.co.kr/mobile/history_ico_chk_off.png') no-repeat 50% 9px #000; background-size:14.5px 10.5px;}
.history01-list li .chk.on {background:url('http://img.go.co.kr/mobile/history_ico_chk_on.png') no-repeat 50% 9px #f96a0a; background-size:14.5px 10.5px; color:#fffc00;}

/* 취소팝업 추가 170627 이현우 */
.modal-wrap {position:absolute; left:0; top:0; width:100%; z-index:10000; background-color:rgba(0,0,0,.7);}
.modal-group {position:absolute; left:0; top:0; width:100%; height:100%; z-index:10001; text-align:center; font-size:0;}
.modal-group:after {content:''; display:inline-block; height:100%; vertical-align:middle;}
.modal-area {display:inline-block; box-sizing:border-box; width:100%; padding:0 20px; vertical-align:middle;}
.modal-inner {position:relative; background-color:#fff; border-radius:3px; font-size:14px;}
.modal-inner .modal-close {position:absolute; right:0; top:0; width:39px; height:39px; text-align:center; line-height:39px;}
.modal-inner .modal-close img {vertical-align:middle; width:11px;}
.modal-inner .top {position:relative; height:39px; border-bottom:1px solid #cfcfcf;}
.modal-inner .top > p {position:absolute; left:50%; top:50%; -webkit-transform:translate(-50%,-50%); transform:translate(-50%,-50%); color:#141414; font-weight:bold; font-size:16px;}

.modal-inner .mid {padding:15px 10px;}
.modal-inner .mid > strong {font-size:16px; color:#f96a0a;}
.modal-inner .mid .txt {font-size:14px; color:#262626; margin-top:5px;}
.modal-inner .mid .txt .cancle {color:#e3372d;}
.modal-inner .mid .rule {margin-top:15px; border:1px solid #d1d1d1; padding:5px 10px; font-size:14px; background-color:#f7f7f7; color:#262626;}
.modal-inner .mid .rule input[type="checkbox"] {height:auto; -webkit-appearance:checkbox; appearance:checkbox; background-color:#fff; border:1px solid #707070; border-radius:0;}
.modal-inner .mid .input-area {margin-top:10px; border:1px solid #c5c5c5; padding:8px;}
.modal-inner .mid .input-area > li {display:table; width:100%; text-align:left; font-size:14px; color:#262626; margin-top:4px;}
.modal-inner .mid .input-area > li:first-child {margin-top:0;}
.modal-inner .mid .input-area > li .left {display:table-cell; width:80px; vertical-align:middle;}
.modal-inner .mid .input-area > li .right {display:table-cell; vertical-align:middle;}
.modal-inner .mid .input-area > li .right .sel-box {position:relative;}
.modal-inner .mid .input-area > li .right .sel-box:before {content:''; display:block; position:absolute; right:10px; top:50%; width:7px; height:7px; margin-top:-6px; border-left:2px solid #000; border-top:2px solid #000; transform:rotate(225deg);}
.modal-inner .mid .input-area > li .right .sel-box select {-webkit-appearance:none; appearance:none; border:1px solid #b5b5b5; border-radius:0; background:#fff; height:30px; box-sizing:border-box; padding:5px; color:#262626;}
.modal-inner .mid .input-area > li .right input[type="text"], .modal-inner .mid .input-area > li .right input[type="password"] {-webkit-appearance:none; appearance:none; border:1px solid #b5b5b5; background-color:#fff; border-radius:0; box-sizing:border-box; padding:5px; height:30px;}
.modal-inner .mid .notice {margin-top:5px;}
.modal-inner .mid .notice li {color:#e35d54; text-align:left; font-size:12px;}
.modal-inner .mid .go-qna {margin-top:10px;}
.modal-inner .mid .go-qna a {display:block; padding:10px; background-color:#FFF; font-size:12px; font-weight:bold; color:#fff; background-color:#575757; border-radius:3px;}
.modal-inner .mid .go-qna a span {color:#fff701;}
.modal-inner .mid .modal-btn {margin-top:15px;}
.modal-inner .mid .modal-btn a {display:inline-block; margin:0 7px; width:110px; height:35px; line-height:35px; font-size:14px; font-weight:bold; box-sizing:border-box; vertical-align:middle; border-radius:3px;}
.modal-inner .mid .modal-btn .comp {background-color:#f96a0a; color:#fff;}
.modal-inner .mid .modal-btn .enter {background-color:#df5143; color:#fff;}
.modal-inner .mid .modal-btn .no {background-color:#fffdfe; color:#413839; border:1px solid #d9d9d9; background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f4f4f4)); background-image: -webkit-linear-gradient(top, #fff, #f4f4f4); background-image: -moz-linear-gradient(top, #fff, #f4f4f4); background-image: -ms-linear-gradient(top, #fff, #f4f4f4); background-image: -o-linear-gradient(top, #fff, #f4f4f4); background-image: linear-gradient(to bottom, #fff, #f4f4f4);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#fff, endColorstr=#f4f4f4);}
.modal-inner .mid .refund a {display:block; font-size:16px; height:40px; line-height:40px; font-size:bold; box-sizing:border-box; border-radius:3px; margin-top:13px;}
.modal-inner .mid .refund a:first-child {margin-top:0;}
.modal-inner .mid .refund .refund01 {background-color:#f96a0a; color:#fff;}
.modal-inner .mid .refund .refund02 {border:1px solid #f96a0a; color:#f96a0a;}
.modal-inner .mid .bank-data {margin-top:10px;}
.modal-inner .mid .bank-data table {width:100%; border-bottom:1px solid #c5c5c5;}
.modal-inner .mid .bank-data table tr th {background-color:#f7f7f7; padding:5px 10px; color:#090909; border-top:1px solid #c5c5c5; font-weight:bold; font-size:12px;}
.modal-inner .mid .bank-data table tr td {border-left:1px solid #c5c5c5; border-top:1px solid #c5c5c5; font-size:12px; padding:5px 10px; text-align:left;}
.modal-inner .mid .bank-data table tr td input[type="text"], #membership .member_rsv_complete .modal_area .mid .bank_data tr td input[type="password"], #membership .member_rsv_complete .modal_area .mid .bank_data tr td select {box-sizing:border-box; height:30px; padding:5px;}
.modal-inner .mid .cancel_wrap {margin-top:15px;}
.modal-inner .mid .cancel_wrap .cancel_data {width:100%; margin-top:8px;}
.modal-inner .mid .cancel_wrap .cancel_data:first-child {margin-top:0;}
.modal-inner .mid .cancel_wrap .cancel_data tr th {border-top:1px solid #c5c5c5; background-color:#f5f5f5; color:#090909; font-size:11px; padding:5px; font-weight:bold; border-left:1px solid #c5c5c5;}
.modal-inner .mid .cancel_wrap .cancel_data tr th:first-child {border-left:0;}
.modal-inner .mid .cancel_wrap .cancel_data tr td {border-top:1px solid #c5c5c5; font-size:11px; padding:5px; text-align:center; border-left:1px solid #c5c5c5; border-bottom:1px solid #c5c5c5;}
.modal-inner .mid .cancel_wrap .cancel_data tr td:first-child {border-left:0;}