<!DOCTYPE html>
<html lang="ko">

<head>
	<title>상품 판매 협약서</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<meta http-equiv="Cache-Control" content="No-Cache">
	<meta http-equiv="Pragma" content="No-Cache">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="imagetoolbar" content="false">

	<meta property="og:type" content="website">
	<meta property="og:title" content="오션투유">
	<meta property="og:description" content="국내외여행, 호텔, 편션, 리조트, 콘도 최저가할인예약 판매기록 GO.CO.KR 오션투유">
	<meta property="og:image" content="http://img.go.co.kr/tournspa.ico?ver=20170125183914">
	<meta property="og:url" content="http://www.go.co.kr">

	<meta name="author" content="GO.CO.KR 오션투유">
	<meta name="description" content="국내외여행, 호텔, 편션, 리조트, 콘도 최저가할인예약 판매기록 GO.CO.KR 오션투유">
	<meta name="classification" content="GO.CO.KR 오션투유">
	<meta name="keywords" content="판매기록 GO.CO.KR 오션투유">

	<link rel="shortcut icon" href="http://img.go.co.kr/tournspa.ico?ver=3">
	<link rel="stylesheet" href="http://static.go.co.kr/css/go/reset.css?v=1516775098" type="text/css">
	
	<link rel="stylesheet" href="http://go.co.kr/fonts/nanumsquare/nanumsquare.css">
	<link rel="stylesheet" href="http://static.go.co.kr/css/go/m/layout.css" type="text/css">
<!--	<link rel="stylesheet" href="../../../src/css/go/m/layout.css" type="text/css">-->
	
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.12.2.min.js"></script>
	

</head>

<body>

	<h1 class="hidden">상품판매협약서</h1>
	
	<div class="wrapper">
		<section class="page page-1 on">
			<header class="header">
				<h2>신라스테이 호텔</h2>
			</header>
			<div class="main">
				<h3><span class="c-f01700">바로네트웍스 상품 판매 협약서</span></h3>
				
				<div class="sp_sign" id="signature-pad">
					<div class="signature-pad-body">
						<p>여기에 서명해 주세요</p>
						<p>
							<canvas></canvas>
						</p>
					</div>
					<div class="signature-pad-footer">
						<input class="reset btn-reset" type="button" data-action="clear" value="다시 쓰기">
					</div>
				</div>
				
				<div class="area-btn">
					<a href="#" class="btn type-1">작성완료</a>
				</div>
				
				<div class="row-agree">
					<input type="checkbox" checked>
					<label for="" class="ftfm-ng">상품판매 협약서에 동의합니다.</label>
				</div>
				
				<div class="box-agree ftfm-ng">
					상품 판매 협약서<br>

					귀사(이하 "갑"이라 한다.) 와 (주)바로네트웍스(이하 "을"이라 한다.)는 <br><br>

					“을”이 "갑"을 대신하여, <br>
					익스피디아, 아고다, 부킹닷컴, 쿠팡, 위메프, 티몬, 11번가, 지마켓, 옥션, 데일리호텔, 호텔타임(여기어때), <br>
					호텔나우(야놀자), 세일투나잇, 네이버예약, 에어B&amp;B 등에 "갑"의 상품을 판매진행하는 것을 협약한다.<br>

					"을"이 "갑"을 대신하여 판매대행을 하는 범위는 다음과 같다.<br><br>

					1. 대매판매사 상품관리<br>
					2. 대매판매사 요금관리<br>
					3. 대매판매사에서 발생한 고객응대<br>
					4. 대매판매건의 정산대행<br><br>


					"갑"과 "을"은 본 협약을 증명하기위하여 2부를 작성하여, "갑"과 "을"의 기명날인 후, 각 1부씩 보관한다.
				</div>
				<div class="row cf"><a href="javascript:;" class="fz-sm ftfm-ng" onclick="$(this).closest('section').removeClass('on'); $('.page-2').addClass('on');">협약서 자세히 보기</a></div>
			</div>
		</section>
		
		<section class="page page-2">
			<header class="header">
				<h2>바로네트웍스 상품 판매 협약서</h2>
			</header>
			<div class="main">
				<div class="box-agree ftfm-ng">
					상품 판매 협약서<br>

					귀사(이하 "갑"이라 한다.) 와 (주)바로네트웍스(이하 "을"이라 한다.)는 <br><br>

					“을”이 "갑"을 대신하여, <br>
					익스피디아, 아고다, 부킹닷컴, 쿠팡, 위메프, 티몬, 11번가, 지마켓, 옥션, 데일리호텔, 호텔타임(여기어때), <br>
					호텔나우(야놀자), 세일투나잇, 네이버예약, 에어B&amp;B 등에 "갑"의 상품을 판매진행하는 것을 협약한다.<br>

					"을"이 "갑"을 대신하여 판매대행을 하는 범위는 다음과 같다.<br><br>

					1. 대매판매사 상품관리<br>
					2. 대매판매사 요금관리<br>
					3. 대매판매사에서 발생한 고객응대<br>
					4. 대매판매건의 정산대행<br><br>


					"갑"과 "을"은 본 협약을 증명하기위하여 2부를 작성하여, "갑"과 "을"의 기명날인 후, 각 1부씩 보관한다.
				</div>
								
				<div class="area-btn">
					<a href="#" class="btn type-1" onclick="$(this).closest('section').removeClass('on'); $('.page-1').addClass('on');">닫기</a>
				</div>
			</div>
		</section>
	</div>

	
	<!--사인패드 script-->
	<script src="http://static.onbiz.co.kr/js/m/sign/signature_pad.min.js"></script>
	<script type="text/javascript" src="http://static.go.co.kr/js/go/layerPop/signPad.js"></script>
	<!-- End -->
	
</body>

</html>