<!DOCTYPE html>
<html lang="ko">

<head>
	<title>상품 판매 협약서</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<meta http-equiv="Cache-Control" content="No-Cache">
	<meta http-equiv="Pragma" content="No-Cache">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="imagetoolbar" content="false">

	<meta property="og:type" content="website">
	<meta property="og:title" content="오션투유">
	<meta property="og:description" content="국내외여행, 호텔, 편션, 리조트, 콘도 최저가할인예약 판매기록 GO.CO.KR 오션투유">
	<meta property="og:image" content="http://img.go.co.kr/tournspa.ico?ver=20170125183914">
	<meta property="og:url" content="http://www.go.co.kr">

	<meta name="author" content="GO.CO.KR 오션투유">
	<meta name="description" content="국내외여행, 호텔, 편션, 리조트, 콘도 최저가할인예약 판매기록 GO.CO.KR 오션투유">
	<meta name="classification" content="GO.CO.KR 오션투유">
	<meta name="keywords" content="판매기록 GO.CO.KR 오션투유">

	<link rel="shortcut icon" href="http://img.go.co.kr/tournspa.ico?ver=3">
	<link rel="stylesheet" href="http://static.go.co.kr/css/go/reset.css?v=1516775098" type="text/css">
	
	<link rel="stylesheet" href="http://go.co.kr/fonts/nanumsquare/nanumsquare.css">
	<link rel="stylesheet" href="http://static.go.co.kr/css/go/m/layout.css" type="text/css">
<!--	<link rel="stylesheet" href="../../../src/css/go/m/layout.css" type="text/css">-->
	
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.12.2.min.js"></script>
	

</head>

<body>

	<h1 class="hidden">상품판매협약서</h1>
	
	<div class="wrapper">
		<section class="page page-3 on">
			<header class="header">
				<h2>신라스테이 호텔</h2>
			</header>
			<div class="main">
				<div class="row-img"><img src="http://img.go.co.kr/go/layerPop/manage/pen.jpg" alt="서명"></div>
				<h3><span class="c-f01700">전자계약서에 서명해주셔서<br>감사드립니다.</span></h3>
				<div class="area-btn mt-20">
					<a href="#" class="btn btn-1">관리자 로그인</a>
				</div>
				<p class="fz-12 ta-center mt-10">관리자에 로그인하시면 시설관리 및 판매관리를<br>진행 하실 수 있습니다.</p>
				<hr class="sun">
				<p class="fz-16 ta-center">
					관리자 아이디 : <span class="c-f01700">sinrastay</span><br>
					패스워드 : <span class="c-f01700">sinrastay</span>
				</p>
				<p class="fz-13 ta-center mt-15">
					최초 로그인 시 패스워드는 <span class="c-f01700">1111</span>입니다.<br>
					패스워드는 로그인 후 변경이 가능합니다.
				</p>
				<div class="area-btn mt-20">
					<a href="#" class="btn btn-2">닫기</a>
				</div>
			</div>
		</section>
		
	</div>

	
</body>

</html>