<!DOCTYPE html>
<html lang="ko">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="UTF-8">
    <title>고코투어</title>

    <link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/notosanskr.css">
    <link rel="stylesheet" href="http://static.go.co.kr/fonts/NanumBarunGothic/nanumbarungothic.css">
    <link rel="stylesheet" href="http://static.go.co.kr/css/proceeds/common.css">
    <link rel="stylesheet" href="http://static.go.co.kr/css/proceeds/proceeds.css">
    <!-- <link rel="stylesheet" href="../../src/css/proceeds/proceeds.css"> -->

    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://static.go.co.kr/js/proceeds/proceeds.js"></script>

    <!--[if lt IE 9]>
        <script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <![endif]-->

</head>

<body>
    <h1 class="skip">고고투어 적립금페이지</h1>
    <div id="wrap">
        <header class="header">
            <div class="h-top">
                <div class="ht-box">
                    <ul class="htb-u1 clearfix">
                        <li class="name"></li>
                        <li class="login"><a class="login-btn" href="">로그인</a></li>
                        <li><a href="">고고투어 바로가기</a></li>
                    </ul>
                </div>
            </div>
            <div class="h-nav">
                <div class="hn-box">
                    <h2><img src="http://img.go.co.kr/logo.png" alt="고코투어로고"></h2>
                    <nav class="gnb">
                        <ul class="clearfix">
                            <li class=""><a href="">HOME</a></li>
                            <li><a href="">추천인수익금현황</a></li>
                            <li><a href="">나의적립금현황</a></li>
                            <li class=""><a href="">수익금신청</a></li>
                            <li class="on"><a href="">홍보이미지</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>

        <div class="container">

            <section class="main-sec">
                <figure><img src="http://img.go.co.kr/proceeds/main_img.png" alt="홍보하면현금5000원씩지급"></figure>
            </section>

            <!-- 2017-05-22 -->
            <div class="mileage">
                <p class="m-title">홍보 이미지</p>
                <div class="cont">
                    <div class="left">
                        <div class="recommend">
                            <div class="code">
                                <div>
                                    <p>김지영님의 <span>추천인 코드!</span></p>
                                    <!--추천인코드번호-->
                                    <input type="text" />
                                </div>
                                <a href="#"><img src="http://img.go.co.kr/proceeds/code_copy.gif" alt="추천인 코드 복사" /></a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="right">
                        <p class="blt-txt">5,000P 지급 인트로</p>
                        <div class="box-cont">
                            <div class="copy-code">
								&lt;style&gt;
								.recommendItr, .recommendItr * {margin: 0; padding: 0;}
								.recommendItr {position: relative; width: 320px; height: 570px; box-sizing: border-box; border: 1px solid #dedede;}
								.recommendItr &gt; img {position: absolute; top: 0; left: 0; width: 100%;}
								.recommendItr &gt; p {position: absolute; display: block; width: 254px; text-align: center; left: 33px; line-height: 1;}
								.recommendItr .rc-th {bottom: 148px; text-align: center; font-size: 16px; font-weight: 800; font-family: "Nanum Gothic", sans-serif;}
								.recommendItr .rc-th .rc-txt {color: #db3713;}
								.recommendItr .rc-code {bottom: 103px; width: 254px; margin: 0 auto; font-size: 30px; letter-spacing: 4px; text-transform: uppercase; font-family: Arial, sans-serif;}
								&lt;/style&gt;
								&lt;div class="recommendItr"&gt;
								&lt;img src="http://img.go.co.kr/proceeds/codeCopyItr.jpg" alt="5000지급인트로"&gt;
								&lt;p class="rc-th"&gt;&lt;span class="rc-name"&gt;김지영님의&lt;/span&gt; &lt;span class="rc-txt"&gt;추천인 코드!&lt;/span&gt;&lt;/p&gt;
								&lt;p class="rc-code"&gt;A123456&lt;/p&gt;
								&lt;/div&gt;
                            </div>
                            <div class="code-btn">
                                <a href="#" class="copy">코드복사</a>
                                <!--<a href="#" class="view">미리보기</a>-->
                            </div>
                        </div>
                        <div class="banner_recommend">
                            <div class="code">
                                <!--추천인코드번호-->
                                <input type="text" />
                            </div>
                        </div>
                        <p class="blt-txt">5,000P 지급 인트로 배너형</p>
                        <div class="box-cont">
                            <div class="copy-code">
								&lt;style&gt;
								.recommendBn, .recommendBn * {margin: 0; padding: 0;}
								.recommendBn {position: relative; width: 320px; height: 127px; box-sizing: border-box; border: 1px solid #dedede;}
								.recommendBn &gt; img {position: absolute; top: 0; left: 0; width: 100%;}
								.recommendBn &gt; p {position: absolute; display: block; width: 254px; text-align: center; left: 83px; line-height: 1;}
								.recommendBn .rc-code {bottom: 12px; width: 214px; margin: 0 auto; font-size: 30px; letter-spacing: 4px; text-transform: uppercase; font-family: Arial, sans-serif;}
								&lt;/style&gt;
								&lt;div class="recommendBn"&gt;
								&lt;img src="http://img.go.co.kr/proceeds/codeCopyBn.jpg" alt="5000지급인트로배너"&gt;
								&lt;p class="rc-code"&gt;A123456&lt;/p&gt;
								&lt;/div&gt;
                            </div>
                            <div class="code-btn">
                                <a href="#" class="copy">코드복사</a>
                                <!--<a href="#" class="view">미리보기</a>-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btm-guide">
                    <p class="blt-txt">추천인 홍보문구 안내</p>
                    <div class="box-cont">
                        <div class="copy-code">
                            국내최대 할인숙박 예약 &ldquo;고코투어&rdquo;를 추천합니다!
                            <br> 고코투어 앱 설치하고 추천인코드입력하면5천원 할인쿠폰을 드려요
                            <br> [추천인 코드 : <span class="rec-code">추천인코드번호</span>]
                            <br> 추천인 안내페이지http://추천인랜딩url 고코투어 다운로드 http://다운로드url
                        </div>
                        <div class="code-btn">
                            <a href="#" class="copy">문구복사</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 2017-05-22 -->

            <!-- 2017-05-22 -->
            <link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/footer.css" />
            <style type="text/css">
                .f-area {
                    line-height: 1.5;
                }
                
                .f-area .f-top .policy a {
                    font-size: 14px;
                }
                
                .f-area .f-top .family-site {
                    font-size: 12px;
                }
                
                .f-area .f-bottom .address p {
                    font-size: 13px;
                }
                
                .f-area .f-bottom .address p strong {
                    font-weight: bold;
                }
                
                .f-area .f-bottom .address p a img {
                    vertical-align: middle;
                }
            </style>
            <div id="Footer" style="clear:both">
                <div class="f-area">
                    <div class="f-top">
                        <div class="policy">
                            <a href="javascript:utils.pop_open('http://www.go.co.kr/home/policy/join_policy_pop.php', 'join_policy', '')" title="이용약관">이용약관</a> &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;
                            <a href="javascript:utils.pop_open('http://www.go.co.kr/home/policy/privacy_pop.php', 'privacy_policy', '')" title="개인정보처리방침"><b><font color="white">개인정보처리방침</font></b></a> &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;
                            <a href="http://www.go.co.kr/home/brd/?dd=QxsoVg==" title="광고/입점/제휴문의">광고/입점/제휴문의</a> &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;
                            <a href="http://www.go.co.kr/home/customer/" title="고객센터">고객센터</a> &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;
                            <a href="javascript:util.on('#mailing_pop_wrap')"><img src="http://img.go.co.kr/icon_mail.jpg" alt="메일" /> <span class="mail">매주 최저가/특가 상품 소식받기!</span></a>
                        </div>
                        <div class="family-site">
                            <span>패밀리사이트&nbsp;▲</span>
                            <ul class="site">
                                <li>
                                    <div class="fam_btn"><a href="http://www.go.co.kr" target="_blank">고코투어</a></div>
                                </li>
                                <li>
                                    <div class="fam_btn"><a href="http://www.tournspa.co.kr" target="_blank">투어앤스파</a></div>
                                </li>
                                <li>
                                    <div class="fam_btn"><a href="http://www.tourgosu.co.kr" target="_blank">투어고수</a></div>
                                </li>
                                <li>
                                    <div class="fam_btn"><a href="http://www.todaygo.co.kr" target="_blank">투데이고</a></div>
                                </li>
                                <li>
                                    <div class="fam_btn"><a href="http://www.allgotour.co.kr" target="_blank">올고투어</a></div>
                                </li>
                                <li>
                                    <div class="fam_btn"><a href="http://www.todotour.co.kr" target="_blank">투두투어</a></div>
                                </li>
                                <li>
                                    <div class="fam_btn"><a href="http://www.toursoon.co.kr" target="_blank">투어순</a></div>
                                </li>
                                <li>
                                    <div class="fam_btn"><a href="http://www.hyutour.co.kr" target="_blank">휴투어</a></div>
                                </li>
                                <li>
                                    <div class="fam_btn"><a href="http://www.didimtour.co.kr" target="_blank">디딤투어</a></div>
                                </li>
                                <li>
                                    <div class="fam_btn"><a href="http://www.trip25.co.kr" target="_blank">트립25</a></div>
                                </li>
                                <li>
                                    <div class="fam_btn"><a href="http://www.oudigo.co.kr" target="_blank">어디고</a></div>
                                </li>
                                <li>
                                    <div class="fam_btn"><a href="http://www.borogogo.co.kr" target="_blank">바로고고</a></div>
                                </li>
                                <li>
                                    <div class="fam_btn"><a href="http://www.watour.co.kr" target="_blank">와투어</a></div>
                                </li>
                                <li>
                                    <div class="fam_btn"><a href="http://www.tourgirl.co.kr" target="_blank">투어걸</a></div>
                                </li>
                                <li>
                                    <div class="fam_btn"><a href="http://www.sinnatour.co.kr" target="_blank">신나투어</a></div>
                                </li>
                                <li>
                                    <div class="fam_btn"><a href="http://www.mitour.co.kr" target="_blank">미투어</a></div>
                                </li>
                                <li>
                                    <div class="fam_btn"><a href="http://www.dagaja.co.kr" target="_blank">다가자</a></div>
                                </li>
                                <li>
                                    <div class="fam_btn"><a href="http://www.tripgogo.co.kr" target="_blank">고고트립</a></div>
                                </li>
                                <li>
                                    <div class="fam_btn"><a href="http://www.hotplan.co.kr" target="_blank">핫플랜</a></div>
                                </li>
                                <li>
                                    <div class="fam_btn"><a href="http://www.gleetour.co.kr" target="_blank">글리투어</a></div>
                                </li>
                                <li>
                                    <div class="fam_btn"><a href="http://www.shinetour.co.kr" target="_blank">샤인투어</a></div>
                                </li>
                                <li>
                                    <div class="fam_btn"><a href="http://www.ebiznetworks.co.kr" target="_blank">이비즈네트웍스</a></div>
                                </li>
                            </ul>
                        </div>
                        <script type="text/javascript">
                            $('.family-site > span').click(function () {
                                $(this).next().toggle();
                            });
                        </script>
                    </div>
                    <div class="f-bottom">
                        <div class="f_logo"><img src="http://img.go.co.kr/f_logo.gif?ver=20170522150134" alt=""></div>
                        <div class="address">
                            <p>
                                <strong>(주)바로네트웍스</strong>
                                <br />
                                <span>
							대표이사 : 전병권<br />
							주소 : 서울특별시 강남구 테헤란로82길 15, 3층(대치동, 디아이타워)<br />
							사업자등록번호 : 215-87-85373<br />
							통신판매업 : 제2017-서울강남-00561호<br />
							여행업등록번호 : 제2017-07호<br />
							여행영업보증서 : 국내여행 제100-000-2015 0144 5816호<br/>
							국외여행업등록번호 : 제2017호-26호
						</span>
                                <a href="http://www.ftc.go.kr/info/bizinfo/communicationViewPopup.jsp?wrkr_no=2158785373" target="_blank"><img src="http://img.go.co.kr/btn_copyinfo_gray.gif" /></a>
                            </p>
                            <p>
                                <strong>(주)가자닷컴투어</strong>
                                <br />
                                <span>
							대표이사 : 김영환<br />
							주소 : 서울특별시 강남구 테헤란로82길 15, 13층(대치동, 디아이타워)<br />
							사업자등록번호 : 220-88-92970 <br />
							통신판매업 : 제2014-서울강남-03546호
							<a href="http://www.ftc.go.kr/info/bizinfo/communicationViewPopup.jsp?wrkr_no=2208892970" target="_blank"><img src="http://img.go.co.kr/btn_copyinfo_gray.gif" /></a><br />
							여행업등록번호 : 제2015-02호
						</span>
                            </p>
                            <p class="copy">copyright 2015 by GO.CO.KR co., all rights reserved.</p>
                        </div>
                        <ul class="customer">
                            <li class="f_call">
                                <p>고객상담 및 빠른객실문의</p>
                                <strong>1666-1243</strong>
                            </li>
                            <li class="f_mail">
                                <p>E-mail 문의</p>
                                <a href="mailto:help@go.co.kr"><strong>help@go.co.kr</strong></a>
                            </li>
                        </ul>
                        <div class="four-list">
                            <img src="http://img.go.co.kr/f_icon01.gif" border="0" alt="랭키닷컴1위" />
                            <a href="javascript:util.regist_pop('registration02')"><img src="http://img.go.co.kr/f_icon02.gif" border="0" alt="관광업등록증" /></a>
                            <a href="javascript:util.regist_pop('registration01')"><img src="http://img.go.co.kr/f_icon03.gif" border="0" alt="서울보증보험" /></a>
                            <img src="http://img.go.co.kr/f_icon04.gif" border="0" alt="신용카드결제" />
                            <img src="http://img.go.co.kr/f_icon05.gif" border="0" alt="휴대폰결제" />
                            <script language="JavaScript">
                                function onopen() {
                                    var site_com = "2158785373";
                                    var url = "http://www.ftc.go.kr/info/bizinfo/communicationViewPopup.jsp?wrkr_no=" + site_com;
                                    window.open(url, "communicationViewPopup", "width=750, height=700;");
                                }
                            </script>
                            <img src="http://img.go.co.kr/f_icon06.gif?ver=20150511122719" alt="공정거래위원회" onclick="onopen();" style="cursor:pointer" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- // 2017-05-22 -->
        </div>
        <!-- 2017-05-22 -->
        <style type="text/css">

        </style>
        <div class="quick">
            <a href="#"><img src="http://img.go.co.kr/proceeds/quick_banner.gif" alt="" /></a>
        </div>
        <!-- // 2017-05-22 -->
    </div>
</body>

</html>