&lt;style&gt;
	.recommendBn, .recommendBn * {margin: 0; padding: 0;}
	.recommendBn {position: relative; width: 320px; height: 127px; box-sizing: border-box; border: 1px solid #dedede;}
	.recommendBn img {position: absolute; top: 0; left: 0; width: 100%;}
	.recommendBn p {position: absolute; display: block; width: 254px; text-align: center; left: 83px; line-height: 1;}
	.recommendBn .rc-code {bottom: 12px; width: 214px; margin: 0 auto; font-size: 30px; letter-spacing: 4px; text-transform: uppercase; font-family: Arial, sans-serif;}
&lt;/style&gt;
&lt;div class="recommendBn"&gt;
	&lt;img src="http://img.go.co.kr/proceeds/codeCopyBn.jpg" alt="5000지급인트로배너"&gt;
	&lt;p class="rc-code"&gt;A123456&lt;/p&gt;
&lt;/div&gt;