&lt;style&gt;
	.recommendItr, .recommendItr * {margin: 0; padding: 0;}
	.recommendItr {position: relative; width: 320px; height: 570px; box-sizing: border-box; border: 1px solid #dedede;}
	.recommendItr img {position: absolute; top: 0; left: 0; width: 100%;}
	.recommendItr p {position: absolute; display: block; width: 254px; text-align: center; left: 33px; line-height: 1;}
	.recommendItr .rc-th {bottom: 148px; text-align: center; font-size: 16px; font-weight: 800; font-family: "Nanum Gothic", sans-serif;}
	.recommendItr .rc-th .rc-txt {color: #db3713;}
.recommendItr .rc-code {bottom: 103px; width: 254px; margin: 0 auto; font-size: 30px; letter-spacing: 4px; text-transform: uppercase; font-family: Arial, sans-serif;}
&lt;/style&gt;
&lt;div class="recommendItr"&gt;
	&lt;img src="http://img.go.co.kr/proceeds/codeCopyItr.jpg" alt="5000지급인트로"&gt;
	&lt;p class="rc-th"&gt;&lt;span class="rc-name"&gt;김지영님의&lt;/span&gt; &lt;span class="rc-txt"&gt;추천인 코드!&lt;/span&gt;&lt;/p&gt;
	&lt;p class="rc-code"&gt;A123456&lt;/p&gt;
&lt;/div&gt;