<html lang="ko"><head>
<meta charset="UTF-8">
<title> 국내외여행, 호텔, 편션, 리조트, 콘도 최저가할인예약 GO.CO.KR </title>

<meta http-equiv="Cache-Control" content="No-Cache">
<meta http-equiv="Pragma" content="No-Cache">
<meta http-equiv="expire" content="-1">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0">
<meta name="format-detection" content="telephone=no, address=no, email=no">
<!-- 폰트어썸 CDN -->
<link href="https://opensource.keycdn.com/fontawesome/4.6.3/font-awesome.min.css" rel="stylesheet">
<!-- jquery라이브러리 -->
<style src="http://code.jquery.com/jquery-1.11.2.min.js"></style>
<link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/mobile_layout_event.css?ver=20170512142806">
</head>
<body><div class="wrap_information">
	<img src="http://img.go.co.kr/event/20170522_hyundaisoo-freeticket/landing_m.jpg" style="width:100%">
	<div class="request_btn">
		<a class="ticket" href="http://m.go.co.kr/home/landing/ocean_event_tributary.php?gubun=13579_event">숙박상품권<br><span>신청하기</span></a>
		<a class="mobile" href="http://m.go.co.kr/home/landing/ocean_event_reserve.php?gubun=13579_event">모바일로 실시간<br><span>예약하기</span></a>
		<a class="callcenter" href="tel:0262553155">예약실 전화연결
		<br>
		<span class="s1">전화량많아지연예정</span>
		<br><span>02-6255-3155<br>02-6255-3156</span></a>
	</div>
</div>

</body></html>