@charset "utf-8";

/* 오션투유리조트 가로 사이즈 20170612 이동석 */
#gnb2 ul {margin: auto; width: 1320px !important; text-align: center; height: 47px;}

/* FAQ 해더 색상 */
/* .faqWrap .faq-main,
.faqWrap {border-color: #946fc7 !important;}
.faqWrap .ul1 > li .d2:before,
.faqWrap .ul1 > li .d1.on .s-tit:after,
.faqWrap h2 {background: #946fc7!important;}
.faqWrap .ul1 > li .d1:hover,
.faqWrap .ul1 > li .d1.on {color: #946fc7!important;} */
