<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8" />
	<title> 국내외여행, 호텔, 편션, 리조트, 콘도 최저가할인예약 GO.CO.KR </title>

	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0" />
	<!--숫자인식,메일주소,지도상의 주소링크 막기-->
	<meta name="format-detection" content="telephone=no, address=no, email=no" />
	<link rel="stylesheet" href="http://static.go.co.kr/css/swiper.min.css?ver=20170804092500" type="text/css" />
	<link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css">

	<link rel="stylesheet" href="http://static.go.co.kr/css/moblie_reset.css?ver=20170804092500" type="text/css" />
	<link rel="stylesheet" href="http://static.go.co.kr/css/mobile_layout3.css?ver=20170804092500" type="text/css" />

	<!-- 모든사이트 통합 css -->
	<link rel="stylesheet" href="http://static.go.co.kr/css/totalmobile.css" type="text/css" />
<!--	<link rel="stylesheet" href="../../../src/css/totalmobile.css" type="text/css" />-->



	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>




</head>

<body>

	<div id="wrapper" data-role="page">

	</div>
			
	<div class="layer-pop-bg pop-oc2-bg">
		<div class="pop-oc2 pop-template">
			<h2>오션투유리조트 만실 안내<a href="javascript: void(0)" class="clsBtn" onclick="$(this).closest('.pop-oc2-bg').hide();"></a></h2>
			<p class="nth-1">
				현재 고객님이 선택하신 일자에는<br>
				리조트 객실이 만실입니다.<br>
				<span class="colr-1">속초인근 다른 객실을 추천 받으시겠습니까?</span>
			</p>
			<p class="p-area-btn"><a href="http://m.go.co.kr/home/main/?dd=RB8pTQFKN1A0&simple_loca=L5&simple_sub_loca=%EA%B0%95%EB%A6%89/%EC%86%8D%EC%B4%88/%EC%96%91%EC%96%91/%EA%B3%A0%EC%84%B1&simple=on
">예</a><a href="#" onclick="$(this).closest('.pop-oc2-bg').hide();">아니오</a></p>
		</div>
	</div>

</body>

</html>