<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8" />
	<title>정선 메이힐스리조트</title>

	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0" />
	<!--숫자인식,메일주소,지도상의 주소링크 막기-->
	<meta name="format-detection" content="telephone=no, address=no, email=no" />
	<link rel="stylesheet" href="http://static.go.co.kr/css/swiper.min.css" type="text/css" />
	<link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css">

	<link rel="stylesheet" href="http://static.hotelgangneung.kr/css/moblie_reset.css" type="text/css">
	<link rel="stylesheet" href="http://static.hotelgangneung.kr/css/mobile_layout3.css" type="text/css">

	<!-- 모든사이트 통합 css -->
	<!--<link rel="stylesheet" href="http://static.go.co.kr/css/totalmobile.css" type="text/css" />-->
	<link rel="stylesheet" href="../../../src/css/totalmobile.css" type="text/css" />

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

</head>

<body>

	<div id="wrapper" data-role="page">
		<div id="scroll_box">
			
		</div>
	</div>

			

</body>

</html>
