@charset "utf-8";
@import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css");

/* 초기화 */
.rn-schBox input[type=text] {
	-webkit-appearance: none; -moz-appearance: none; appearance: none; border: none; outline: none;
}

/* 아이콘 */
.c-ic {position: relative; display: inline-block; vertical-align: middle; background: url(http://img.go.co.kr/renew/rnSprImg.png) no-repeat left center;}
.c-ic.i-mag {width: 24px; height: 23px; background-position: 0 0;}
.c-ic.i-comp {width: 18px; height: 18px; background-position: -40px 0;}
.c-ic.i-blChk {width: 12px; height: 9px; background-position: -80px 0;}
.c-ic.i-rDnArr {width: 10px; height: 16px; background-position: -120px 0;}
.c-ic.i-mapv, .c-ic.i-dArr, .c-ic.i-alg {height: 21px;}
.c-ic.i-mapv {width: 20px; background-position: 0 -30px;}
.c-ic.i-dArr {width: 16px; background-position: -40px -30px;}
.c-ic.i-alg {width: 18px; background-position: -80px -30px;}
.c-ic.i-gCal, .c-ic.i-gSpot, .c-ic.i-rArr, .c-ic.i-yChk {width: 32px; height: 32px;}
.c-ic.i-gCal {background-position: 0 -60px;}
.c-ic.i-gSpot {background-position: -40px -60px;}
.c-ic.i-rArr {width: 28px; background-position: -80px -60px;}
.c-ic.i-yChk {width: 14px; background-position: -120px -60px;}


/* 공통 css */
.bsLs, .bsLs * {box-sizing: border-box; letter-spacing: -0.5px;}
.mgl, .mg- {position: relative; display: inline-block; vertical-align: middle;}
.ftfm-nt {font-family: "Noto Sans KR", "Nanum Gothic", sans-serif;}

/* 공통 박스너비 시작 */
.rn-container {width: 1002px; margin: 0 auto;}

/* 푸터 */
.footer {position: relative; width: 100%; background: #eee;}
.footer .mgl {margin: 0 10px; width: 1px; height: 15px; background: #878686; top: -1px;}
.footer .f-top {width: 100%; border-bottom: 1px solid #dcdcdc; height: 65px; padding-top: 24px;}
.footer .f-policy a, .footer .cm-s, .footer .busInf {color: #595858; font-size: 14px;}
.footer .cm-s {width: 1002px; margin: 0 auto; text-align: center;}
.footer .f-area {padding: 24px 0 15px; line-height: 1.6;}
.footer address .mgl {margin: 0 6px;}
.footer address strong {font-size: 18px;}
.footer .busInf {position: relative; display: inline-block; font-size: 13px; padding: 0px 5px; border: 1px solid #646464; margin-left: 10px;}
.footer .busInf span {position: relative; top: -2px;font-family: "Nanum Gothic", sans-serif; font-size: 10px; font-weight: 700; margin-left: 5px;}
.footer .f-certImg {margin-top: 10px;}
.footer small.cm-s {display: block; margin-top: 10px; color: #a9a7a7;}


/* 달력 색상수정 */
.sltCal-sec h3, .sltCal-sec .btn-a {background: #e95791;}

#top2, #headerWrap, #gnbWrap, #fix-nav, .mainBox02_wrapper, #Footer {min-width: 1002px; font-family: "Noto Sans KR", "Nanum Gothic", sans-serif;}

#top2 .link .mgl {position: relative; color: #888787; margin: 0 5px; top: -3px;}
#top2 .link a {font-size: 13px; line-height: 1.2; color: #888787;}
#top2 .link a:hover {color: #e95791;}

#headerWrap {width: 100%;}
#headerWrap .header {top: 30px; width: 1002px; margin: 0 auto;}
#headerWrap .header .logo {float: none; width: auto; margin-top: 0; display: inline-block;}
#headerWrap .header .logo img {position: relative; top: 6px;}
#headerWrap .header .menu {position: absolute; margin-top: 0; top: 12px; right: 0;}
#headerWrap .header .menu .mgl {position: relative; color: #888787; margin: 0 5px; top: -3px;}
#headerWrap .header .menu a {font-size: 15px; font-weight: 400;}

/*#headerWrap .header #AutosearchBox .Searching p a:hover {float:left; display:block; background:#FAF4C0; padding-left:10px; width:250px; height:25px; color:#4b4b4c; letter-spacing:-0.3px}
#overlay { position: absolute; top: 0; left: 0; z-index: 450; width: 100%; height: 100%; background-color: #464646; opacity: 0.8 }*/


#gnbWrap, #mainBox02_wrapper #mainBox02 .mainTicket .photo {background: #fff;}

#gnbWrap {border-top: 1px solid #dedcdd;}
#gnbWrap .gnb > li > a {width: 306.5px; color: #000; font-weight: 500;}
#gnbWrap .gnb > li > a > span {display: block; margin: 0 auto; width: 20px; height: 4px; background: #000; margin-top: 3px;}
#gnbWrap .gnb > li > a > span:first-child {margin-top: 13px;}
#gnbWrap .gnb > li > a:hover, #gnbWrap .gnb .all > a:hover {background: #f4f4f4;}
#gnbWrap .gnb .line {background: #dedcdd;}
#gnbWrap .gnb .subMenu, #gnbWrap .gnb #gnb_sub_globalTotal {border-top: 1px solid #dedcdd; background: #fff;}


#mainBox02_wrapper {padding: 40px 0 0 0; font-family: "Noto Sans KR", "Nanum Gothic", sans-serif;}
#mainBox02_wrapper #mainBox02 .mainTicket .photo .d-fig {display: block; width: 187px; height: 187px; margin: 0 auto; overflow: hidden; border-radius: 50%; color: #000;}
#mainBox02_wrapper #mainBox02 .mainTicket .photo .d-fig img {position: relative; left: -26.5px;}
#mainBox02_wrapper #mainBox02 .mainTicket .photo a
, #mainBox02_wrapper #mainBox02 .mainTicket .photo .price {color: #000;}
#mainBox02_wrapper #mainBox02 .mainTicket .photo .price
, #mainBox02_wrapper #mainBox02 .mainTicket .photo .name {font-weight: 500;}

#mainBox02_wrapper #mainBox02 .localRecommend .titleLocal h3
, #mainBox02_wrapper #mainBox02 .mainTicket .title h3 {font-size: 28px; color: #000; font-weight: 400;}
#mainBox02_wrapper #mainBox02 .localRecommend, #mainBox02_wrapper #mainBox02 .mainTicket {margin-bottom: 50px;}
#mainBox02_wrapper #mainBox02 .localRecommend .titleLocal .local {position: relative;}
#mainBox02_wrapper #mainBox02 .localRecommend .titleLocal .local > li > a {color: #595858; font-weight: 400; }
#mainBox02_wrapper #mainBox02 .localRecommend .titleLocal .local > li > a:before {position: relative; content: ""; display: inline-block; width: 1px; height: 13px; background: #d0cfce; top: 2px; margin: 0 6px 0 -6px;}
#mainBox02_wrapper #mainBox02 .localRecommend .titleLocal .local > li:first-child > a:before {display: none;}
#mainBox02_wrapper #mainBox02 .localRecommend .titleLocal .local > li > a:hover
, #mainBox02_wrapper #mainBox02 .localRecommend .titleLocal .local .on {background: none; color: #e95791;}
#mainBox02_wrapper #mainBox02 .localRecommend .titleLocal {border-bottom: 0;}

#mainBox02_wrapper #mainBox02 .localRecommend .titleLocal .local .sGnbArea2 {width: 100%; border-color: #e95791; padding: 4px 0;}
#mainBox02_wrapper #mainBox02 .localRecommend .titleLocal .local .sGnbArea2 ul li a {display: block; text-align: left; padding-left: 14px; box-sizing: border-box; width: 94px; font-size: 14px;}
#mainBox02_wrapper #mainBox02 .localRecommend .titleLocal .local .sGnbArea2 ul li a:hover {background: #fff; color: #e95791;}




#mainBox02_wrapper #mainBox02 .localRecommend .photo .txtBox {border: none;}
#mainBox02_wrapper #mainBox02 .localRecommend .photo .txtBox .price {color: #e95791;}
#mainBox02_wrapper #mainBox02 .localRecommend .photo .txtBox .localName {font-weight: 400;}


.local_list ol.bjqs-markers {width:125px;top:15px}
.local_list .bjqs-prev {position:absolute;top:80px;left:15px;bottom:0;right:0;height:51px; width:28px}
.local_list .bjqs-next {position:absolute;top:80px;right:15px;bottom:0;height:51px; width:28px}

#pack_list ol.bjqs-markers {width:50px}
#pack_list ol.bjqs-markers li a{display:inline-block;text-indent:-9999px;color:#ffffff;font-weight:bold;width:11px; height:11px; margin-left:5px;background:url(http://img.go.co.kr/btndot.png) 0 0 no-repeat;}
ol.bjqs-markers li.active-marker a
, ol.bjqs-markers li a:hover
, #pack_list ol.bjqs-markers li.active-marker a
, #pack_list ol.bjqs-markers li a:hover { width: 11px; height: 11px; border-radius: 50%; background: #e95791;}


.mainBox02_wrapper .mainBox02 {width: 100%; margin-top: 10px;}
.mainBox02_wrapper .mainBox02 .themeRoom {width: 1002px;}
.mainBox02_wrapper .mainBox02 .themeRoom ul {width: 1264px; margin-left: -131px; margin-top: 35px;}
.mainBox02_wrapper .mainBox02 .themeRoom h3 {font-size: 24px;}
.mainBox02_wrapper .mainBox02 .themeRoom li {position: relative; width: 196px; height: 196px; overflow: hidden; margin-left: 16px; border-right: 0;}
.mainBox02_wrapper .mainBox02 .themeRoom li:first-child {margin-left: 0;}
.mainBox02_wrapper .mainBox02 .themeRoom li a {width: 100% !important; height: 100% !important; background-position: center !important; padding: 0 !important; background-size: cover !important; border-radius: 50%;}
.mainBox02_wrapper .mainBox02 .themeRoom .title {text-align: center; color: #fff; font-family: "Noto Sans KR", "Nanum Gothic", sans-serif; font-weight: 500; line-height: 1.4; position: relative; margin-bottom: 0; top: 70px;}


.mainBox02_wrapper .mainBox02 .localRecommend_global {width: 100%;}
.mainBox02_wrapper .mainBox02 .localRecommend_global .titleLocal {border-bottom: none; padding-bottom: 10px;}
.mainBox02_wrapper .mainBox02 .localRecommend_global .titleLocal h3 {color: #000; font-size: 24px; float: left; font-weight: 500;}
.mainBox02_wrapper .mainBox02 .localRecommend_global .titleLocal .local {width: auto; box-sizing: border-box; float: left; margin-left: 160px;}
.mainBox02_wrapper .mainBox02 .localRecommend_global .titleLocal .local > li {position: relative; width: auto; height: auto;
box-sizing: border-box; margin: 0 15px;}
.mainBox02_wrapper .mainBox02 .localRecommend_global .titleLocal .local > li:first-chidl {border-left: none;}
.mainBox02_wrapper .mainBox02 .localRecommend_global .titleLocal .local > li > a {width: 100%; height: 100%; background: none; display: block; color: #888787; font-size: 16px; font-weight: 400;}
.mainBox02_wrapper .mainBox02 .localRecommend_global .titleLocal .local > li > a:hover
, .mainBox02_wrapper .mainBox02 .localRecommend_global .titleLocal .local .on2 a
, .mainBox02_wrapper .mainBox02 .localRecommend_global .titleLocal .local .on {color: #e95791; background: none;}

.mainBox02_wrapper .mainBox02 .localRecommend_global .titleLocal .local .sGnbArea2 {width: 540px; left: -8px; border-color: #e95791; top: 40px; padding: 12px 0;}
.mainBox02_wrapper .mainBox02 .localRecommend_global .titleLocal .local .sGnbArea2 ul li a {width: 108px; box-sizing: border-box; padding-left: 20px; text-align: left; height: auto; line-height: 25px; font-size: 14px; color: #888787;}
.mainBox02_wrapper .mainBox02 .localRecommend_global .titleLocal .local .sGnbArea2 ul li a:hover {background: none; color: #e95791;}
.mainBox02_wrapper .mainBox02 .localRecommend_global .titleLocal .btn a {position: relative; float: right; display: block; width: 72px; height: 23px; color: #888787; border: 1px solid #999; text-align: center; border-radius: 12px; line-height: 23px; top: 8px;}
.mainBox02_wrapper .mainBox02 .localRecommend_global .titleLocal .btn a:hover {border-color: #e95791; color: #e95791;}

.mainBox02_wrapper .mainBox02 .localRecommend_global .list .photo {width: 1002px;}
.mainBox02_wrapper .mainBox02 .localRecommend_global .list .photo .m_l20 {margin-left: 27px;}
/*#mainBox02_wrapper #mainBox02 .localRecommend_global .list .photo li {border: 1px solid #d3d3d3;}*/
.mainBox02_wrapper .mainBox02 .localRecommend_global .list .photo li {width: 230px; border-color: #fff;}
.mainBox02_wrapper .mainBox02 .localRecommend_global .list .photo li:hover {border-color: #e95791;}
.mainBox02_wrapper .mainBox02 .localRecommend_global .list .photo li table {width: 228px;}

.mainBox02_wrapper .mainBox02 .localRecommend_global .list .photo p {font-weight: 500; font-size: 16px;}
.mainBox02_wrapper .mainBox02 .localRecommend_global .list .photo p:first-child {margin-top: 5px;}
.mainBox02_wrapper .mainBox02 .localRecommend_global .list .photo .price {color: #e563a4; font-weight: 16; font-weight: 500;}


.faq-cus-box {position: relative; width: 1002px; margin: 80px auto 60px; border: 1px solid #dcdcdc; box-sizing: border-box;}
.faq-cus-box .d1 {padding: 22px 20px; border-bottom: 1px solid #dcdcdc;}
.faq-cus-box .d1 .p0 {display: inline-block; color: #1fa0d5; font-size: 22px; font-weight: 700;}
.faq-cus-box .d1 .p1 {font-size: 14px;margin-top: 5px; color: #595858;}
.faq-cus-box .d1 .p1 .borB {display: inline-block; border-bottom: 2px solid #c1c1c1; line-height: 1.3;}
.faq-cus-box .d2 > div {float: left; position: relative; padding: 20px; height: 254px;}
.faq-cus-box .d2 > div > .p0 {color: #383431; font-size: 17px; font-weight: 800;}
.faq-cus-box .d2 .d2-1 {width: 500px;}
.faq-cus-box .d2 .d2-2 {width: 500px; border-left: 1px solid #dcdcdc;}
.faq-cus-box .d2 .more-a {display: inline-block; font-size: 13px; color: #595858; font-weight: 400; float: right;}
.faq-cus-box .d2 > .d2-2 > .p0 .s1 {color: #1fa0d5;}
.faq-cus-box .d2 .d2-1 .ul1 {margin-top: 20px;}
.faq-cus-box .d2 .d2-1 .ul1 > li {float: left; width: 33.33%; border-left: 1px dashed #cfcdcd;}
.faq-cus-box .d2 .d2-1 .ul1 > li.borLN {border-left: none;}
.faq-cus-box .d2 .d2-1 .ul1 > li.borB {border-bottom: 1px dashed #cfcdcd;}
.faq-cus-box .d2 .d2-1 .ul1 > li a {display: block; width: 100%; text-align: center; height: 86px; padding-top: 15px;}
.faq-cus-box .d2 .d2-1 .ul1 > li a > span {display: block; margin-top: 5px; font-weight: 700; color: #7d7c7c;}
.faq-cus-box .d2 .d2-2 .ul1 {border: 1px solid #dcdcdc; position: relative; margin-top: 20px;}
.faq-cus-box .d2 .d2-2 .ul1 > li {float: left; position: relative; width: 25%; border-left: 1px solid #dcdcdc;}
.faq-cus-box .d2 .d2-2 .ul1 > li:first-child {border-left: 0;}
.faq-cus-box .d2 .d2-2 .ul1 > li a {display: block; width: 100%; text-align: center; height: 33px; color: #595858; line-height: 33px;}
.faq-cus-box .d2 .d2-2 .ul1 > li a:hover
, .faq-cus-box .d2 .d2-2 .ul1 > li.on a {background: #1fa0d5; color: #fff;}
.faq-cus-box .d2 .d2-2 .ul2 {padding: 12px 20px; border: 1px solid #dcdcdc; margin-top: -1px;}
.faq-cus-box .d2 .d2-2 .ul2 > li a {position: relative; display: block; color: #595858; padding-left: 18px; line-height: 28px; font-size: 14px;}
.faq-cus-box .d2 .d2-2 .ul2 > li a:hover {color: #1fa0d5;}
.faq-cus-box .d2 .d2-2 .ul2 > li a:before {content: 'Q.'; color: #1fa0d5; font-weight: 700; position: absolute; left: 0; top: 0;}


/* 리뉴얼 대문 */
.rn-mdBox {position: relative; width: 100%; height: 320px; background: url(http://img.borogogo.co.kr/renew/maindoor_bg.jpg) center;}
.rn-mdBox .rn-schBox {position: absolute; width: 1002px; left: 50%; margin-left: -500px; top: 123px;}
.rn-mdBox .rn-schBox > div {position: relative; float: left; background: #fff; height: 80px; margin-left: 2px; padding: 12px 0 0 17px; cursor: pointer;}
.rn-mdBox .rn-schBox > div .p0 {color: #595858; font-size: 16px;}
.rn-mdBox .rn-schBox > div .p1 {color: #000; font-size: 20px;}
.rn-mdBox .rn-schBox > div .p1 input {font-size: 20px; font-family: "Noto Sans KR", "Nanum Gothic", sans-serif;}
.rn-mdBox .rn-schBox .cm-s {background: #fff url(http://img.borogogo.co.kr/renew/i_dArr.png) no-repeat;
background-position: right 10px bottom 34px;}
.ie8 .rn-mdBox .rn-schBox .cm-s {background-position: 140px center;}
.rn-mdBox .rn-schBox .d1 {width: 320px; margin-left: 0;}
.rn-mdBox .rn-schBox .d2 {width: 180px;}
.rn-mdBox .rn-schBox .d3, .rn-mdBox .rn-schBox .d4 {width: 164px;}
.rn-mdBox .rn-schBox .d3 {}
.rn-mdBox .rn-schBox .d4 {}
.rn-mdBox .rn-schBox .d5 {width: 165px; padding: 0;}
.rn-mdBox .rn-schBox .d5 button {width: 100%; height: 100%; border: none; background: #e14d88; color: #fff; font-size: 20px; cursor: pointer;}
.rn-mdBox .rn-schBox .d5 button:hover {background: #e95791;}
.rn-mdBox .rn-schBox input[type=text]::-webkit-input-placeholder {color: #c2c2c2;}
.rn-mdBox .rn-schBox input[type=text]::-moz-placeholder {color: #c2c2c2;}
.rn-mdBox .rn-schBox input[type=text]:-ms-input-placeholder {color: #c2c2c2;}
.rn-mdBox .rn-schBox input[type=text]:-moz-placeholder {color: #c2c2c2;}
/*.rn-mdBox .rn-schBox .ul1 {position: absolute; width: 100%; left: 0; top: 84px; background: #fff; border: 1px solid #dcdcdc; border-top: 2px solid #e95791; overflow:auto; height: 150px;}*/
.rgOption {
	/*opacity: 0;
	visibility: hidden;*/
	position: absolute;
	z-index: 1;
	top: 84px;
	left: 0;
	width: 100%;
	background: #fff;
	border: 1px solid #dcdcdc; border-top: 2px solid #e95791;
	height: 186px;
	overflow: hidden;
}
/*.rgOption.on {opacity: 0; visibility: visible;}*/
.lt-ie10 .rgOption {overflow-y: auto; display: none;}
.rgScroller {
	position: absolute;
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 100%;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}
.rn-mdBox .rn-schBox .ul1 > li {}
.rn-mdBox .rn-schBox .ul1 > li a {display: block; font-size: 15px; padding: 3px 0 3px 17px;}
.rn-mdBox .rn-schBox .ul1 > li a:hover {color: #e95791;}


/* 픽토그램 나의문의 */
.pic-mySec {position: relative; margin-top: 76px; padding: 56px 0; border-top: 1px solid #dcdcdc;}
.pic-mySec .ul1 {width: 1002px; margin: 0 auto;}
.pic-mySec .ul1 > li {float: left;}
.pic-mySec .ul1 > li a {display: block; width: 167px; text-align: center;}
.pic-mySec .ul1 > li a span {display: block; font-size: 16px; color: #7d7c7c; margin-top: 15px; font-weight: 500;}

