@charset "utf-8";
@import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css");
@import url(http://cdn.rawgit.com/hiun/NanumSquare/master/nanumsquare.css);

body {font-family: 'Nanum Gothic', '나눔고딕', 'NanumGothicWeb', '맑은 고딕', 'Malgun Gothic', '돋움', Dotum, sans-serif; font-size:13px; color:#000; line-height:1.5; letter-spacing:0.1px; }
a:link, a:visited {text-decoration:none; color:#000}
a:hover, a:active {text-decoration:none; color:#000}
input,select,option,textarea, table {font-family: 'Nanum Gothic', '나눔고딕', 'NanumGothicWeb', '맑은 고딕', 'Malgun Gothic', '돋움', Dotum, sans-serif; font-size:12px; color:#000}



/* 도표 추가 20170410 */
.tit_box {position: relative; width: 100%; /* margin: 0 auto; margin-left: 25px; */ height: 48px; padding-top: 8px; background: #ff7a2d;}
.tit_box > span {position:relative; top: 3px; color: #fff;}
.tit_box .t1 {font-size: 22px; margin-left: 140px;/* margin-left: 230px; */ font-weight: 800; margin-right: 10px; font-family: "Malgun Gothic"; letter-spacing: -0.5px;}
.tit_box > label {margin-right: 5px; display: inline-block; height: 34px; cursor: pointer;}
.tit_box #s1 {height: 30px; width: 230px; border:1px solid #ec671a; border-right: none; font-size: 15px; font-weight: 600; text-indent: 10px; line-height: 2.1em;}
.tit_box .i1 {display: inline-block; width: 32px; background: #fff; }
.tit_box .i1 img {position: relative; left: 2px;}
.tit_box .t2 {letter-spacing: -1px; font-size: 15px;}

.tit_box #cal_wrap2 {opacity: 0; visibility: hidden; position: absolute; top: 39px; left: 295px; box-sizing: border-box; border: 1px solid #ec671a; z-index: 11; width: 385px; /* height: 412px; */ box-shadow: 2px 4px 1px 2px rgba(0,0,0,0.196); transition: all 0.5s;}
.tit_box #cal_wrap2.on {opacity: 1; visibility: visible;}
.tit_box #cal_wrap2 .clsBtn {position: absolute; display: block; bottom: 20px; right: 6px; background: #ff7a2d; width: 36px; height: 19px; font-size: 12px; color: #fff; text-align: center;}

/* 선택 상품 */
.slt_wrap {display: table; position: relative; width: 100%; height: auto; /* margin: 0 auto;  margin-left: 25px; */ margin-top: 15px; border:none; background: #F5F5F5; box-sizing: border-box;}
.slt_wrap > div {display: table-cell; vertical-align: top;}
.slt_tit {width: 100px; height: 100%; text-align: left; font-size: 18px; padding: 20px 0 20px 20px; font-weight: 600; border:1px solid #ccc; border-right: 0;}
.slt_tit, .sc_h {color: #333;}

.slt_contents {width: 540px; background: #fff; border-left: 1px solid #ccc; border-right: 1px solid #ccc; padding: 20px 0 12px; border-top:1px solid #ccc; border-bottom:1px solid #ccc;}
.slt_contents div {float:left;}
.sc_h {width: auto; padding-left: 12px; text-align: left; margin-right: 10px; font-weight: 400; font-size: 15px; letter-spacing: -1px; line-height: 1.6em;}
.sc_m {width: 433px; font-size: 15px;}
.sc_m li {border-top: 1px dashed #ccc; padding: 8px 0; text-align: left; color: #333;}
.sc_m li:first-child {border: none; padding: 0 0 8px;}
.sc_m .fc1 {color: #ff2122; font-weight: 600;}

/* 패키지 아이콘 */
.fare_table .f_td .pak_icon, .day_table .f_td .pak_icon {display: inline-block; background: #9C0ED6; color: #fff; font-size: 12px; padding: 0px 6px 1px; font-weight: 400; margin-left: 3px;}

.slt_pay {width: 272px; padding: 20px; letter-spacing: -1px; border:1px solid #000; box-shadow: 0 3px 3px;}
.slt_pay .nth1 {text-align: right; padding-bottom: 5px; border-bottom: 3px solid #b5b5b5; font-size: 18px;}
.slt_pay .nth1 .fl {float: left; position: relative;top: 12px; font-weight: 600; color: #333;}
.slt_pay .nth1 .fc1 {color: #ff2122; font-size: 30px; font-weight: 800;}
.slt_pay .nth1 .fc1 .sm {margin-left: 2px; font-size: 16px;}
.slt_pay .nth2 {text-align: right; color: #666; font-size: 16px; padding: 5px 0px;}
.slt_pay .nth2 .fc1 {color: #222; margin-right: 5px; font-weight: 600;}
.slt_pay .nth2 > a {margin-left: 5px;}
.slt_pay .nth3 {display: inline-block; margin-top: 5px; text-align: center; line-height: 2.4em; width: 100%; height: 50px; background: #CA2F00; color: #fff; font-size: 24px; font-weight: 600; letter-spacing: 0; font-size: 21px;}
.slt_pay .nth3 span {position: relative; font-size: 17px; top: -2px; margin-left: 15px;}

/*최종 결제금액 박스 그림자*/
.fare_table .fc1 {margin-left:0; color: #ff2122; display: inline-block; width: 46%; text-align: left; letter-spacing: -0.5px; margin-right: 2px;}


/* 안내 및 유의사항 */
.ntc_wrap {display: table; position: relative; width: 100%; height: auto; /* margin: 0 auto;  margin-left: 25px; */ margin-top: 15px; border: 1px solid #ccc; color: #333; box-sizing: border-box;}
.ntc_wrap > div {display: table-cell; text-align: left;}
.ntc_tit {width: 100px; font-size: 18px; padding: 15px 0 15px 20px; background: #f5f5f5; font-weight: 600; letter-spacing: -0.5px;}
.ntc_contents {border-left: 1px solid #ccc; padding: 15px 0 15px 17px; font-size: 16px;}

/* 날짜 셀렉트박스 클릭시 */
.fare_sectioin #cal_wrap2 {position: absolute; width: 385px; border: 1px solid #afb6bc; border-right: none; z-index: 11; width: 384px;}
.fare_sectioin #cal_wrap2 .cal_section {padding-bottom: 20px; min-height: auto;}
.fare_sectioin #cal_wrap2 .cal_section .step_01 .btn_close {position: relative; top: -3px;}
.slg {margin-bottom: 12px;}

/* 테이블 */
.fare_table {position: relative; width: 100%; display: table; /* margin-left: 25px; */}
.fare_table ul {display: table-row;}
.fare_table ul li {display: table-cell; vertical-align: middle;}
#fare_wrapper {width: 100%;}

.fare_table .f_th > li{height: 50px; text-align: center; background: #5E5E5E; color: #fff; font-size: 18px; font-weight: 600; border-left: 1px solid #343434;}
.fare_table .f_th > li:first-child {border-left: none;}
.fare_table .c1 {width: 270px;}
.fare_table .c2 {width: 296px;}
.fare_table .c3 {width: 163px;}
.fare_table .c5 {width: 79px;}
.fare_table .c4 {width: 100px;}

.fare_table .f_td {cursor: pointer;}
.fare_table .f_td .pkg_tit{font-size:24px;}
.fare_table .f_td > li:after {content: ""; display: block; clear:both;}
.fare_table .f_td > li {/* height: 80px; */	border-left: 1px solid #e5e5e5; border-bottom: 1px solid #B5B5B5; letter-spacing: -1px; color: #666; text-align: left;}
.fare_table .f_td li.c4 {border-right: 1px solid #e5e5e5;}
.fare_table .f_td.on li {background: #FFF2E9;}

.fare_table .f_td li.c2, .fare_table .f_td li.c3, .fare_table .f_td li.c4, .fare_table .f_td li.c5  {vertical-align: center;}

.fare_table .f_td .c1 {padding-left: 10px; font-size: 15px; font-weight: 600;	color: #202020;}
.fare_table .f_td .c2 div, .fare_table .f_td .c3 div, .fare_table .f_td .c4 div, .fare_table .f_td .c5 div {min-height: 34px; overflow: auto; padding: 10px; line-height: normal;}
.fare_table .f_td .c2 div,
.fare_table .f_td .c3 div,
.fare_table .f_td .c4 div,
.fare_table .f_td .c5 div
{border-top: 1px solid #e5e5e5;}
.fare_table .f_td .c2 div:first-child,
.fare_table .f_td .c3 div:first-child,
.fare_table .f_td .c4 div:first-child,
.fare_table .f_td .c5 div:first-child
{border-top: none;}
.fare_table .f_td .c2 p, .fare_table .f_td .c5 p {position: relative; font-weight: 600; font-size: 16px; line-height: 1.4em;}
.fare_table .f_td .c2 p, .fare_table .c3 p, .fare_table .c4 p {top: 6px;}

.fare_table .f_td .p1 {/* padding-left: 10px; */ width: 285px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
.fare_table .f_td .p2 {top: 4px; border: 1px solid #bbb; background: #fff; font-weight: 800; width: 66px; margin: 0 auto;}
.fare_table .f_td .in1 {width: 32px; height: 24px; font-size: 13px; text-align: center; line-height: 1.7em; border:none; border-left: 1px solid #bbb; border-right: 1px solid #bbb; font-weight: 800; color: #999;}
.fare_table .f_td.on .in1 {color: #202020;}
.fare_table .f_td .p2 a {position: relative; top: 2px; display: inline-block; width: 16px;height: 24px;font-size: 14px; text-align: center; cursor: pointer;}

.fare_table .c3 p, .fare_table .c4 p {font-size: 15px; position: relative; letter-spacing: 0; font-weight: 600;}
.fare_table .c4 p {text-align: right; padding-left: 0px;}
.fare_table .c3 del {display: inline-block; width: 41%; margin-right: 10px; text-align: right; font-size: 14px; letter-spacing: -0.5px;}
.fare_table .c3 .a_r {/* margin: 0 8px 0 5px; */ letter-spacing: 0; display: inline-block; width: 4%; text-align: center;}
.fare_table .fc1 {}
.fare_table .f_td.on .fc2 {color: #ff2122;}

/* 고코투어 로고 */
#rsv_wrapper .slg {float: right; margin-top: -60px;}

/* 20170417 객실안내 _이동석 */
.introduce_product {position: relative;}
.product_text {width: 100%; overflow: hidden; background-color: #f5f5f5;}
.product_text .tit {float: left; width: 465px; background-color: #373737; padding: 20px 0 20px 20px; color: #ffba01; font-weight: bolder; font-size:18px;
}
.product_text .sub {float: right; padding: 23px 23px 23px 0; color: #393939; font-weight: bolder; font-size:15px;}
.product_text .tit_m {width: 100%; background-color: #373737; padding: 15px 20px; color: #ffba01; font-weight: bolder;}
.product_text .sub_m {padding: 15px 20px; color: #393939; font-weight: bolder;}
.product_picture {background-color: #ececec; padding: 20px 6px; text-align: left; position: relative; overflow: hidden;}
.product_picture .wrap_img {width: 476px; height: 300px; overflow: hidden; display: inline-block; padding-top:3px; margin: 0 3px;}
.product_picture img {height:100%;}
.product_picture_m {width: 100%; background-color: #ececec; padding: 15px 20px; text-align: center;}
.product_picture_m .wrap_img {width: 100%; height: 100%;}

/* 20170510 상세 공지사항_이동석 */
#detail_noticeBox2 {margin-bottom:30px; width:950px; padding:15px; background:#c5c5c5; border-radius:10px; text-align:left; letter-spacing:-0.3px}
#detail_noticeBox2 .box h3 {font-size:18px; color:#565656; font-weight:800}
#detail_noticeBox2 .box {margin:auto; width:100%; padding:10px 20px; box-sizing:border-box; border-radius:15px; background:#fff; color:#5f5f5f; text-align:left; font-size:13px}
#detail_noticeBox2 .box .tit {color:#f72222; font-weight:600; line-height:2; font-size:14px}
#detail_noticeBox2 .box .link a {color:#157ef4; font-weight:600; text-decoration:underline; line-height:1.6; font-size:16px}
#detail_noticeBox2 .box .text {color:#5f5f5f; line-height:1.4}
#detail_noticeBox2 .box .blank {display:block; height:10px}
#detail_noticeBox2 .box .underline {text-decoration:underline; font-weight:600}
#detail_noticeBox2 .box .underline_bgY {text-decoration:underline; font-weight:600; background:#fdf460}
#detail_noticeBox2 .box .bgY {background:#fdf460}
#detail_noticeBox2 .line {margin-bottom:15px; width:100%; height:1px; background:#c5c5c5}

/* 20170510 시설안내_이동석 */
.introduce{margin-top:40px; float:left}
.introduce h3{text-align:left; font-size:17px; font-weight:bold;}
.int_location {width:980px; margin-top:20px}
.int_location tr{border-bottom:1px solid #fff; height:65px}
.int_location th{width:20%; border-right:1px solid #fff; background-color:#ececec; text-align:center; font-weight:bold}
.int_location th.on{background-color:#ff7a2d !important;}
.int_location td{width:100%; text-align:center;}
.int_img tr{text-align:center;}
.int_img tr td{border:1px solid #ececec; border-top:0px; text-align:center; padding-top:30px;}

/*요금표 UI변경_170531_혜준*/
#fare_section {padding-top: 10px;}
.nb-open-btn > a {left: 420px;}
/* 메인페이지 패키지 이미지 추가_170620_혜준 */
.infomation_pkg {margin-bottom: 80px;}

/* 결제페이지 상품내역 왼쪽정렬 */
#reserLeft .left_goods_list {text-align:left;}