@charset "utf-8";
//믹스인
@mixin position($type: relative, $t: null, $l: null, $b: null, $r: null){
	position: $type;
	top: $t;
	left: $l;
	bottom: $b;
	right: $r;
}
@mixin position-tl($type: relative, $t: null, $l: null){
	position: $type;
	top: $t;
	left: $l;
}
@mixin position-tr($type: relative, $t: null, $r: null){
	position: $type;
	top: $t;
	right: $r;
}
@mixin center($type: absolute, $t: 50%, $mt: null, $l: 50%, $ml: null){
	position: $type;
	top: $t;
	margin-top: $mt;
	left: $l;
	margin-left: $ml;
}
@mixin size($w: null, $h: null, $l: null, $ta: null, $fz: null, $cr: null, $bg: null){
	width: $w;
	height: $h;
	line-height: $l;
	text-align: $ta;
	font-size: $fz;
	color: $cr;
	background: $bg;
}
@mixin bor($w: 1px, $c: #dcdcdc, $s: solid){
	border: $w $c $s;
}
@mixin bor-lr($w: 1px, $c: #dcdcdc, $s: solid){
	border-left: $w $c $s;
	border-right: $w $c $s;
}
@mixin bs($bs: border-box){
	box-sizing: $bs;
}