@charset "utf-8";
@import "parts/mixins";

/*컨테이너*/
%border-tb {border: 1px solid #dfdfdf; border-right: 0; border-left: 0;}

.container {
	position: relative;
	padding: 6px 0 0px 0;
	background: #ededed;
}
/*코드 및 수익금*/
.codeMoney-sec {
	.code-money {
		@extend %border-tb;
		background: #fff;
		> li {
			float: left;
			width: 50%;
			padding: 4px 0 7px;
			&.nth-2 {
				border-left: 1px solid #d9d9d9;
			}
			p {
				position: relative;
				padding: 6px 5px 0px 33px;
				font-size: 13px;
				line-height: 15px;
				@media (max-width:320px){
					font-size: 12px;
				}
				.icon {
					@include position-tl(relative, 4px);
					display: inline-block;
					background: url(http://img.go.co.kr/proceeds/m/icon.png) no-repeat;
					background-size: 200px;
				}
				.i-user {
					@include position-tl(absolute, 6px, 16px);
					@include size(16px, 16px);
					background-position: -25px 0;
				}
				.i-coin {
					@include position-tl(absolute, 6px, 11px);
					@include size(22px, 17px);
					background-position: -51px 0;
				}
				.btn-a {
					display: inline-block;
					font-size: 12px;
					color: #fff;
					background: #a4a4a4;
					padding: 3px 6px;
					height: 19px;
					border-radius: 19px;
					@media (max-width:320px){
						font-size: 11px;
					}
				}
			}
			.type-2 {
				padding-left: 34px;
				line-height: 13px;
			}
			&.nth-2 p.type-2 {
				padding-left: 14px;
			}
		}
	}
}
/*메인이미지*/
.main-sec {
	.main-img {
		display: block;
		@extend %border-tb;
		margin: 6px 0 6px 0;
		img {display: block;}
	}
}
/*랭킹차트*/
.rank-sec {
	position: relative;
	margin: 10px 10px 14px;
	padding: 50px 0;
	background: #fff;
	@include border();

	.top-bg, .bottom-bg {
		position: absolute;
		width: 100%;
		height: 37.5px;
		> span {
			display: block;
			@include position-tl(absolute, 0);
			&.left, &.right {
				display: inline-block;
				@include size(33px, 37.5px);
				background: url(http://img.go.co.kr/proceeds/m/rank_bg_sprites.jpg) no-repeat;
				background-size: 66px;
			}
			&.left {
				left: 0;
			}
			&.right {
				right: 0;
			}
			&.center {
				width: 100%; height: 1px;
				@include border(1px, #EDDDBD, solid);
			}
		}
	}
	.top-bg {
		top: 0;
		> span {
			&.right {
				background-position: -33px 0;
			}
			&.center {
				top: 10px;
			}
		}
	}
	.bottom-bg {
		bottom: 0;
		> span {
			&.left {
				background-position: 0px -37.5px;
			}
			&.right {
				background-position: -33px -37.5px;
			}
			&.center {
				top: 26px;
			}
		}
	}

	.friend-outer {
		margin: -16px 9px -18px;
		@include bor-lr(2px, #F8E8B6);
		padding: 0 10px;
	}

	%extend_1 {
		position: relative;
		width: 29px;
		height: auto;
		left: -5px;
	}
	//@extend-elements
	//original selectors
	//.contents01 .fr-low.nth-1 .fr-cell.nth-1 img, #container .contents01 .fr-low.nth-2 .fr-cell.nth-1 img, .contents01 .fr-low.nth-3 .fr-cell.nth-1 img
	.friend-rankbox {
		position: relative;
		> h3 {
			position: relative;
			float: left;
			font-size: 15px;
			font-weight: 600;
			color: #2f2f2f;
		}
		.fr-rankbox {
			position: relative;
			float: right;
			li {
				position: relative;
				display: inline-block;
				height: 18px;
				a {
					padding: 1px 10px;
					font-size: 12px;
					line-height: 15px;
					text-align: center;
					display: block;
					width: 100%; height: 100%;
					@include border(1px, #c4c4c4);
					border-radius: 3px;
				}
				&.on a {
					border-color: #f97319;
					color: #f97319;
					background: #fef0e6;
				}
			}
		}

	}
	.friend-rank {
		position: relative;
		margin-top: 8px;
		//Instead of the line below you could use @include box-sizing($bs)
		box-sizing: border-box;
	}
	.fr-low {
		position: relative;
		border-bottom: 1px solid #dfd1b6;
		background: #fff;
		&:after {
			content: "";
			display: block;
			clear: both;
		}
		&.nth-1 {
			z-index: 3;
			background: #feefd2;
		}
		&.nth-2 {
			z-index: 2;
		}
		&.nth-3 {
			z-index: 0;
		}
		&.nth-1, &.nth-2, &.nth-3 {
			.fr-cell.nth-1 {
				background: none;
			}
		}
		.fr-cell {
			position: relative;
			float: left;
			height: 24px;
			font-weight: 600;
			letter-spacing: -1px;
			line-height: 24px;
			color: #343434;
			font-size: 13px;
			&.nth-1 {
				width: 37px;
				text-align: center;
				color: #fff;
				background: url(http://img.go.co.kr/landing//20170320//ranking/graynumber.png) no-repeat -7px 5px;
				background-size: 42px;
				font-size: 11px;
				line-height: 25px;
				text-indent: -10px;
				img {
					position: relative;
					top: -2px;
					width: 22px;
				}
			}
			&.nth-2 {
				width: 52%;
				@media (max-device-width: 320px){
					width: 45%;
				}
				overflow: hidden;
				text-overflow: ellipsis;
			}
			&.nth-3 {
				display: none;
				width: 1px;
				background-color: #b4b4b4;
				font-weight: 400;
				top: 10px;
				height: 15px;
			}
			&.nth-4 {
				float: right;
				width: 100px;
				text-align: right;
				right: 10px;
			}
		}
	}
}
/*적립금 지급 안내*/
.step-sec {
	background: #fff;
	padding: 0 12px;
	h3 {
		position: relative;
		font-size: 14px;
		font-weight: 600;
		color: #2f2f2f;
		padding-top: 15px;
	}
	.step-img {padding: 15px 0 20px;}
}


