@charset "utf-8";

.c-blue {color: #0051af;}

/* 디오션워터파크 디오션리조트배너 추가 170605 이현우 */
.bn_theocean {display:none; position:fixed; left:50%; top:100px; margin-left:75px;}
.bn_theocean a {position:absolute; left:50%; top:120px; margin-left:-82px;}

/* 여수해상케이블카 랜딩페이지 170705 이현우 */
#submn_wrap {background-color:#fff !important;}
.new_yeosu .top_area {background-color:#f3f3f3; padding:20px 0 30px; border-bottom:1px solid #d1d1d1;}
.new_yeosu .top_area .inner {width:1000px; margin:0 auto; height:376px; background:url('http://img.yeosucablecar.co.kr/new_yeosu_visual.jpg') no-repeat 0 0; position:relative;}
.new_yeosu .top_area .inner .top_title {margin-top:12px; background:url('http://img.yeosucablecar.co.kr/new_yeosu_title_bg.png') repeat 0 0; display:inline-block; padding:10px 20px; color:#fff; text-align:center; font-weight:bold; font-size:18px; line-height:1.3;}
.new_yeosu .top_area .inner .top_title p {font-size:40px;}
.new_yeosu .top_area .inner .link {position:absolute; right:0; width:216px; text-align:center;}
.new_yeosu .top_area .inner .go_btn01 {top:-2px; width:218px; height:192px; background:url('http://img.yeosucablecar.co.kr/new_yeosu_gobtn01_bg.png') no-repeat 0 0;}
.new_yeosu .top_area .inner .go_btn02 {top:187px; height:189px; background:url('http://img.yeosucablecar.co.kr/new_yeosu_gobtn02_bg.png') no-repeat 0 0;}
.new_yeosu .top_area .inner .link .go_btn {display:inline-block; margin-top:10px; width:177px; height:41px; line-height:41px; font-size:17px; font-weight:bold;}
.new_yeosu .top_area .inner .go_btn01 .go_btn {background-color:#ff9917; color:#fff;}
.new_yeosu .top_area .inner .go_btn02 .go_btn {background-color:#fff; color:#0b4b82;}
.new_yeosu .top_area .inner .link .o_txt {display:block; margin-top:30px; font-size:24px; color:#ff9917; font-weight:bold;}
.new_yeosu .top_area .inner .link .o_txt span {color:#232323;}
.new_yeosu .top_area .inner .link .t_txt {color:#232323; font-size:18px; line-height:1.3;}
.new_yeosu .top_area .inner .link .w_txt {margin-top:45px; color:#fff; font-size:19px; font-weight:bold;}
.new_yeosu .top_area .inner .link .w_txt span {font-size:20px; font-weight:bold;}
.new_yeosu .top_area .inner .link .w_txt span em {color:#fedd00; font-weight:bold;}
.new_yeosu .mid_area {padding:30px 0 130px;}
.new_yeosu .mid_area .inner {width:1000px; margin:0 auto;}
.new_yeosu .mid_area .inner .title_banner {padding:20px 10px; background-color:#05467d; border:1px solid #e2e2e2; color:#fff; text-align:center; margin:50px 0 25px;}
.new_yeosu .mid_area .inner .title_banner.mtn {margin-top:0;}
.new_yeosu .mid_area .inner .title_banner strong {font-size:22px; vertical-align:middle; font-weight:bold;}
.new_yeosu .mid_area .inner .title_banner span {vertical-align:middle; font-size:15px;}
.new_yeosu .mid_area .inner .item_list {overflow:hidden; margin-right:-20px;}
.new_yeosu .mid_area .inner .item_list > li {float:left; width:306px; height:334px; padding:7px 7px 10px 7px; margin:0 20px 20px 0; text-align:center; letter-spacing:-1px; background:url('http://img.yeosucablecar.co.kr/new_yeosu_item_list_bg.jpg') no-repeat 0 0;}
.new_yeosu .mid_area .inner .item_list > li img {width:304px; height:219px;}
.new_yeosu .mid_area .inner .item_list > li p {color:#181818; font-weight:bold; font-size:20px;}
.new_yeosu .mid_area .inner .item_list > li p.line1 {margin-top:25px;}
.new_yeosu .mid_area .inner .item_list > li p.line2 {margin-top:10px;}
.new_yeosu .mid_area .inner .item_list > li .prc {margin-top:6px;}
.new_yeosu .mid_area .inner .item_list > li .prc em {color:#ff2400; font-weight:bold; font-size:27px; margin-left:10px;}
.new_yeosu .mid_area .inner .item_list > li .prc .num {font-size:22px; font-weight:bold; color:#939393; text-decoration:line-through;}
.new_yeosu .mid_area .inner .item_list > li .prc .txt {font-size:22px; font-weight:bold; color:#181818;}