<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title>3만원 쿠폰팩 이벤트</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0" />
	
	<link rel="stylesheet" href="http://static.go.co.kr/css/moblie_reset.css">
	<link rel="stylesheet" href="http://static.go.co.kr/css/mobile_layout3.css">
	<link rel="stylesheet" href="http://static.go.co.kr/css/totalmobile.css">
	<link rel="stylesheet" href="http://static.go.co.kr/css/mobile_event.css">
	
	<link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css">
	
	
</head>
<body>
	<h1 class="hidden">3만원 쿠폰팩 이벤트</h1>
	<div id="event-wrap" class="evt30000">
		<section class="evt-content">
			<img src="http://img.go.co.kr/mobile/landing/171031_30000event/eventImg_01.jpg" alt="3만원 쿠폰팩 쏜다">
		</section>
		
		<div class="fail-recomm">
			<img class="i-spot" src="http://img.go.co.kr/mobile/landing/171031_30000event/i_spot.png" alt="지역">
			제주 서귀포시 근처 <span class="s1">숙소 추천</span>
		</div>
	</div>
	
</body>
</html>