<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title> 국내외여행, 호텔, 편션, 리조트, 콘도 최저가할인예약 GO.CO.KR </title>

	<meta http-equiv="Cache-Control" content="No-Cache">
	<meta http-equiv="Pragma" content="No-Cache">
	<meta http-equiv="expire" content="-1">

	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0">
	<!--숫자인식,메일주소,지도상의 주소링크 막기-->
	<meta name="format-detection" content="telephone=no, address=no, email=no">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script type="text/javascript" src="http://static.go.co.kr/js/common_ver2.js?ver=20170809165103"></script>
	<script>
		var base_url = "go.co.kr";
		var burl = "go.co.kr";
	</script>
	<script type="text/javascript" src="http://static.go.co.kr/js/all_common.js?ver=20170809165103"></script>
	<!-- 검색시 달력에서 이용 -->
	<link rel="stylesheet" href="http://static.go.co.kr/css/jquery-ui.css">
	<script type="text/javascript" src="http://static.go.co.kr/js/jquery_ui.js"></script>
	<!-- 달력 한글화 -->
	<script type="text/javascript" src="http://static.go.co.kr/js/datepicker_ko.js"></script>
	<script type="text/javascript" src="http://static.go.co.kr/js/jquery.number.min.js"></script>
	<style src="http://code.jquery.com/jquery-1.11.2.min.js"></style>
	<!-- <link rel="stylesheet" type="text/css" href="../../../src/css/mobile_layout3.css">
	<link rel="stylesheet" type="text/css" href="../../../src/css/totalmobile.css"> -->
	<link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/mobile_layout3.css">
	<link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/totalmobile.css">

	<style>
		.oc2reserv-wrap .slt-box.type02 {border-radius: 0; height: 32px; background: #fff; 
/*
			-webkit-appearance: none;
			-moz-appearance: : none;
			appearance: : none;
*/
		}
	</style>
</head>

<body>
	<div id="scroll_box">
		<div id="top_box">
			<div id="headTitle"><span class="back"><a href="javascript:history.back();"><img src="http://img.go.co.kr/mobile/btn_back.png" height="17" alt="뒤로"></a></span>오션투유 예약하기</div>
		</div>		
		
		
		<div class="clr"></div>
		<div class="oc2reserv-wrap">
			<div class="row type01">
				<span class="p-lbl type01">이름</span>
				<input type="text" class="in-comm type01 bg01" placeholder="이름입력">
			</div>
			<div class="row type01">
				<span class="p-lbl type01">연락처</span>
				<input type="text" class="in-comm type02 bg01" placeholder="010">
				<span class="i-">-</span>
				<input type="text" class="in-comm type02 bg01">
				<span class="i-">-</span>
				<input type="text" class="in-comm type02 bg01">
			</div>
			<div class="row type01">
				<span class="p-lbl type01">이메일</span>
				<input type="text" class="in-comm type01 bg01" placeholder="이메일입력">
			</div>
			<div class="row type01">
				<span class="p-lbl">예약일자(체크인/아웃, 박수)</span>
				<div class="row type02">
					<input type="text" class="in-comm type03 bg02" placeholder="체크인 날짜선택">
					<select name="" id="" class="slt-box type01">
						<option value="1">1박</option>
						<option value="2">2박</option>
						<option value="3">3박</option>
					</select>
					
					<div class="sltCal-sec type2 clr">

						<div class="cal-inner">
							<p class="p-1"><a href="" class="prev-a">◀</a><em>2017년 9월</em><a href="" class="next-a">▶</a></p>
							<table class="cal-tb">
								<colgroup>
									<col style="width:55px">
									<col style="width:55px">
									<col style="width:55px">
									<col style="width:55px">
									<col style="width:55px">
									<col style="width:55px">
									<col style="width:55px">
								</colgroup>
								<thead>
									<tr>
										<th>일</th>
										<th>월</th>
										<th>화</th>
										<th>수</th>
										<th>목</th>
										<th>금</th>
										<th>토</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="off sun"><div>28</div></td>
										<td class="off"><div>29</div></td>
										<td class="off"><div>30</div></td>
										<td class="off"><div>31</div></td>
										<td><div>1</div></td>
										<td><div>2</div></td>
										<td class="sat"><div>3</div></td>
									</tr>
									<tr>
										<td class="sun"><div>4</div></td>
										<td><div>5</div></td>
										<td><div>6</div></td>
										<td><div>7</div></td>
										<td><div>8</div></td>
										<td><div>9</div></td>
										<td class="sat"><div>10</div></td>
									</tr>
									<tr>
										<td class="sun"><div>11</div></td>
										<td><div>12</div></td>
										<td><div>13</div></td>
										<td><div>14</div></td>
										<td><div>15</div></td>
										<td><div>16</div></td>
										<td class="sat"><div>17</div></td>
									</tr>
									<tr>
										<td class="sun"><div>18</div></td>
										<td><div>19</div></td>
										<td><div>20</div></td>
										<td><div>21</div></td>
										<td><div>22</div></td>
										<td><div>23</div></td>
										<td class="sat"><div>24</div></td>
									</tr>
									<tr>
										<td class="sun"><div>25</div></td>
										<td class="chkIn"><div>26<img src="http://img.go.co.kr/i_chkIn.png" alt="체크인" class="i-chkIn"></div></td>
										<td><div>27</div></td>
										<td><div>28</div></td>
										<td><div>29</div></td>
										<td><div>30</div></td>
										<td class="off"><div>1</div></td>
									</tr>
									<tr>
										<td class="off"><div>2</div></td>
										<td class="off"><div>3</div></td>
										<td class="off"><div>4</div></td>
										<td class="off"><div>5</div></td>
										<td class="off"><div>6</div></td>
										<td class="off"><div>7</div></td>
										<td class="off"><div>8</div></td>
									</tr>
								</tbody>
							</table>
						</div>

					</div>
				</div>
				<div class="row type03">
					<input type="text" class="in-comm type03 bg03" placeholder="박수 선택시 표기">
				</div>
			</div>
			<div class="row type01">
				<span class="p-lbl">객실타입/수</span>
				<div class="row type02">
					<select name="" id="" class="slt-box type02">
						<option value="">마운틴뷰 콘도 리노베이션</option>
						<option value=""></option>
						<option value=""></option>
					</select>
					<select name="" id="" class="slt-box type01">
						<option value="1">1객실</option>
						<option value="2">2객실</option>
						<option value="3">3객실</option>
					</select>
				</div>
			</div>
			<div class="row type01">
				<span class="p-lbl">인원</span>
				<div class="row type02">
					<select name="" id="" class="slt-box type02">
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
					</select>
				</div>
			</div>
			<div class="row type01">
				<span class="p-lbl">안내사항</span>
			</div>
			<div class="row type03 txt-box">
				<p class="p1">무료숙박권의 사용기간은 2017년 11월 30일까지입니다.</p>
				<p class="p1">무료숙박권은 평일 및 주말 공휴일 사용 가능합니다.</p>
				<p class="p1">경품지급에 따른 제세공과금 및 봉사료 39,000원을 부담하셔야 합니다.</p>
				<p class="p1">4인기준 최대 7인까지 투숙가능하며 4인기준인원 초과시 36개월 이상 1인당 1만원 현장에서 추가 결제하셔야 합니다.</p>
				<p class="p1">2박이상을 원하실경우 1박당 39,000원 추가 지불로 이용가능합니다.</p>
				<p class="p1">지인과 동반시 3객실까지 객실당 39,000원 추가 요금 지불로 이용가능합니다.</p>
				<p class="p1">예약후 취소는 5일이내 가능하며, 취소시 제세공과금 및 봉사료는 고코투어 적립금으로 전환되며, 타 상품 구매시 계속 이용 가능합니다.</p>
			</div>
			<div class="row"></div>
			<div class="row"></div>
			<div class="row"></div>
			<div class="row"></div>
			<div class="row"></div>
		
			
			<a href="" class="btn-a">결제하기</a>
		</div>
		
	</div>
	
	
</body>
<whale translate="no"></whale>

</html>