<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title> 국내외여행, 호텔, 편션, 리조트, 콘도 최저가할인예약 GO.CO.KR </title>

	<meta http-equiv="Cache-Control" content="No-Cache">
	<meta http-equiv="Pragma" content="No-Cache">
	<meta http-equiv="expire" content="-1">

	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0">
	<!--숫자인식,메일주소,지도상의 주소링크 막기-->
	<meta name="format-detection" content="telephone=no, address=no, email=no">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script type="text/javascript" src="http://static.go.co.kr/js/common_ver2.js?ver=20170809165103"></script>
	<script>
		var base_url = "go.co.kr";
		var burl = "go.co.kr";
	</script>
	<link rel="stylesheet" href="http://static.go.co.kr/css/moblie_reset.css" type="text/css">
	<script type="text/javascript" src="http://static.go.co.kr/js/all_common.js?ver=20170809165103"></script>
	<!--- 검색시 달력에서 이용 ---->
	<link rel="stylesheet" href="http://static.go.co.kr/css/jquery-ui.css">
	<script type="text/javascript" src="http://static.go.co.kr/js/jquery_ui.js"></script>
	<!--- 달력 한글화 --->
	<script type="text/javascript" src="http://static.go.co.kr/js/datepicker_ko.js"></script>
	<script type="text/javascript" src="http://static.go.co.kr/js/jquery.number.min.js"></script>
	<style src="http://code.jquery.com/jquery-1.11.2.min.js"></style>
	<!--<link rel="stylesheet" type="text/css" href="../../../src/css/mobile_layout3.css">
	<link rel="stylesheet" type="text/css" href="../../../src/css/totalmobile.css">-->
	<link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/mobile_layout3.css">
	<link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/totalmobile.css">
	<!--무시-->
	<style>
		#bottomMenu2 {bottom: 0;}
	</style>

</head>

<body>
	<div id="wrapper">
		<div id="scroll_box">
			<div id="top_box" style="position:fixed;top:0px;z-index:9999;width:100%;background:#ffffff">
				<!--- 서브페이지 상단 -->
				<div id="headTitle_box">
					<div id="headTitle">
						<span class="back"><a href="javascript:history.back(-1);"><img src="http://img.go.co.kr/mobile/btn_back.png" height="17" alt="뒤로"></a></span>최근 본 시설
						<!--변경내용170918-->
						<a class="all-del" href="#">전체 삭제</a>
					</div>
				</div>
			</div>
			<div id="top_box_bottom" style="height: 46px;"></div>
			
			<!--변경내용170918 -->
			<div id="search_list" class="type02">
				<table>
					<tbody>
						<tr class="line">
							<td class="photo">
								<div>
									<a href="/home/view/?p_no=HE93&amp;sub_sdate=2017-09-18&amp;sub_edate=2017-09-19" class="lowest_price"><img width="105" height="93" src="http://cache.go.co.kr/media/220/file.go.co.kr/tour/img3/1503649557_main1.jpg" onerror="this.src='http://img.go.co.kr/noimg.jpg'"></a>
								</div>
							</td>
							<td class="info">
								<div>
									<a href="/home/view/?p_no=HE93&amp;sub_sdate=2017-09-18&amp;sub_edate=2017-09-19">
										<p class="p0">리조트/콘도</p>
										<p class="title">★오션투유리조트 속초설악비치 호텔앤콘도 </p>
										<p class="text">강원 고성군 죽왕면 삼포리 243-13</p>
									</a>
								</div>
							</td>
						</tr>
						<tr class="line">
							<td class="photo">
								<div>
									<a href="/home/view/?p_no=HE93&amp;sub_sdate=2017-09-18&amp;sub_edate=2017-09-19" class="lowest_price"><img width="105" height="93" src="http://cache.go.co.kr/media/220/file.go.co.kr/tour/img3/1500965935_main1.jpg" onerror="this.src='http://img.go.co.kr/noimg.jpg'"></a>
								</div>
							</td>
							<td class="info">
								<div>
									<a href="/home/view/?p_no=HE93&amp;sub_sdate=2017-09-18&amp;sub_edate=2017-09-19">
										<p class="p0">호텔 특2급</p>
										<p class="title">신라스테이 광화문</p>
										<p class="text">서울 종로구 수송동 51-8</p>
									</a>
								</div>
							</td>
						</tr>
						<tr class="line">
							<td class="photo">
								<div>
									<a href="/home/view/?p_no=HE93&amp;sub_sdate=2017-09-18&amp;sub_edate=2017-09-19" class="lowest_price"><img width="105" height="93" src="http://cache.go.co.kr/media/220/file.go.co.kr/tour/img3/1497255954_main1.jpeg" onerror="this.src='http://img.go.co.kr/noimg.jpg'"></a>
								</div>
							</td>
							<td class="info">
								<div>
									<a href="/home/view/?p_no=HE93&amp;sub_sdate=2017-09-18&amp;sub_edate=2017-09-19">
										<p class="p0">리조트/콘도</p>
										<p class="title">W지우리조트 (남이섬풀빌라)</p>
										<p class="text">경기 가평군 가평읍 달전리 159-3</p>
									</a>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			
		</div>
		
		<div class="btmLogo" id="btmLogo"></div>
		
		
		<div id="bottomMenu2" class="hide_div default">
			<span class="btn"><a href="javascript:history.back();"><img src="http://img.go.co.kr/mobile/mnB_201605/mnBottom_prev.png" alt="이전" width="50" height="50"></a></span>
			<span class="btn"><a href="http://m.go.co.kr/home/map/?dd=RB8wfDNf"><img src="http://img.go.co.kr/mobile/mnB_201605/mnBottom_map.png" alt="내주변" width="50" height="50"></a></span>
			<span class="btn"><a href="http://m.go.co.kr/home/main/"><img src="http://img.go.co.kr/mobile/mnB_201605/mnBottom_home.png" alt="홈" width="50" height="50"></a></span>
			<span class="btn"><a href="http://m.go.co.kr/home/member/?dd=Sws5TzdVKg=="><img src="http://img.go.co.kr/mobile/mnB_201605/mnBottom_mybooking.png" alt="나의예약" width="50" height="50"></a></span>
			<!---<span class="btn"><a href="http://m.go.co.kr/home/search/?dd=TRs0QjdKAVAlH1pKFg=="><img src="http://img.go.co.kr/mobile/mnB_201605/mnBottom_search.png" alt="국내검색" width="50" height="50"></a></span>--->
			<span class="btn"><a id="rightmenu" href="#"><img src="http://img.go.co.kr/mobile/mnB_201605/mnBottom_myinfo.png" alt="myinfo" width="50" height="50"></a></span>

		</div>
	</div>
	
	
</body>
<whale translate="no"></whale>

</html>