<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title> 국내외여행, 호텔, 편션, 리조트, 콘도 최저가할인예약 GO.CO.KR </title>

	<meta http-equiv="Cache-Control" content="No-Cache">
	<meta http-equiv="Pragma" content="No-Cache">
	<meta http-equiv="expire" content="-1">

	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0">
	<!--숫자인식,메일주소,지도상의 주소링크 막기-->
	<meta name="format-detection" content="telephone=no, address=no, email=no">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script type="text/javascript" src="http://static.go.co.kr/js/common_ver2.js?ver=20170809165103"></script>
	<script>
		var base_url = "go.co.kr";
		var burl = "go.co.kr";
	</script>
	<link rel="stylesheet" href="http://static.go.co.kr/css/moblie_reset.css" type="text/css">
	<script type="text/javascript" src="http://static.go.co.kr/js/all_common.js?ver=20170809165103"></script>
	<!--- 검색시 달력에서 이용 ---->
	<link rel="stylesheet" href="http://static.go.co.kr/css/jquery-ui.css">
	<script type="text/javascript" src="http://static.go.co.kr/js/jquery_ui.js"></script>
	<!--- 달력 한글화 --->
	<script type="text/javascript" src="http://static.go.co.kr/js/datepicker_ko.js"></script>
	<script type="text/javascript" src="http://static.go.co.kr/js/jquery.number.min.js"></script>
	<style src="http://code.jquery.com/jquery-1.11.2.min.js"></style>
	<!--<link rel="stylesheet" type="text/css" href="../../../src/css/mobile_layout3.css">
	<link rel="stylesheet" type="text/css" href="../../../src/css/totalmobile.css">-->
	<link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/mobile_layout3.css">
	<link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/totalmobile.css">
	<!--무시-->
	<style>
		/*#bottomMenu2 {bottom: 0;}*/
	</style>


</head>

<body>
	<div id="wrapper">
		<div id="scroll_box">
			<div id="top_box" style="position:fixed;top:0px;z-index:9999;width:100%;background:#ffffff">
				<!--- 서브페이지 상단 -->
				<div id="headTitle_box">
					<div id="headTitle">
						<span class="back"><a href="javascript:history.back(-1);"><img src="http://img.go.co.kr/mobile/btn_back.png" height="17" alt="뒤로"></a></span>
						고객센터
					</div>
				</div>
			</div>
			<div id="top_box_bottom" style="height: 46px;"></div>
			
			<!--변경내용170918 -->
			<div class="cusCenter-sec">
				<section class="q-cs">
					<img class="i-care" src="http://img.go.co.kr/mobile/i_care.png" alt="느낌표"><strong>전화보다 빠른 상담</strong>
					<p class="p1">
						상담 문의가 많아 전화 연결이 어렵습니다.<br>
						<span class="s0">자주 묻는 질문을 먼저 확인</span>하시고, 보다 구체적인 문의는<br>
						1:1문의 게시판을 이용하시면 직원이 빠르게 답변해드립니다.
					</p>
				</section>
				
				<section class="faqSec">
				
					<div class="d1 clr">
						<strong>자주 묻는 질문</strong>
						<a class="a-qna" href="#"><img class="i-qna" src="http://img.go.co.kr/mobile/i_qna.png" alt="문의내역">나의 문의내역</a>
					</div>
				
					<ul class="tab-ul clr">
						<li class="on"><a href="#">예약/이용</a></li>
						<li><a href="#">결제/환불</a></li>
						<li><a href="#">예약변경/취소</a></li>
						<li><a href="#">기타문의</a></li>
					</ul>
				
					<script>
						$(function() {
							$("#bbs tr[class*=bbs_]").on('click', function() {
								var originSrc = "http://img.go.co.kr/mobile/btn_arrow_right.png";
								var onSrc = "http://img.go.co.kr/mobile/btn_arrow_bottom.jpg";
								$(this).find('img').toggleClass('on');
								
								$(this).find('img').attr('src', originSrc);
								$(this).find('img.on').attr('src', onSrc);
							});
						});
					</script>
					<table id="bbs">
						<colgroup>
							<col width="100%">
						</colgroup>
						<tbody>
							<tr id="dreview_sub0" class="bbs_531">
								<td height="52" onclick="navigate.move_h('dreview_sub0','id','90');mb.show_cont_mobile('dreview_cont0', '531', 'mobile_faq')">
									<p class="title">예약확정은 언제 되나요?</p><img src="http://img.go.co.kr/mobile/btn_arrow_right.png" class="bbs_arrow">
								</td>
							</tr>
							<tr>
								<td class="review_body">
									<div class="review_text" id="dreview_cont0" style="display:none;line-height:1.7">
										<p>
											<strong>국내최대&nbsp;숙박할인예약&nbsp;GO.CO.kr&nbsp;고코투어&nbsp;입니다.&nbsp;</strong></p>
										<p>
											&nbsp;</p>
										<p>
											고코투어는&nbsp;실시간&nbsp;예약확정을&nbsp;원칙으로&nbsp;하며,</p>
										<p>
											이를 위해 각&nbsp;숙박시설에서&nbsp;저희 사이트에&nbsp;자신의 객실현황을&nbsp;등록하는&nbsp;형태로&nbsp;운영되고&nbsp;있습니다.&nbsp;</p>
										<p>
											<br> &nbsp;
										</p>
										<p>
											하지만, 일부&nbsp;숙박시설이&nbsp;운영방식에&nbsp;미숙하여&nbsp;</p>
										<p>
											숙박&nbsp;마감&nbsp;되었음에도&nbsp;불구하고 마감처리를&nbsp;하지&nbsp;않거나,</p>
										<p>
											정보를 갱신하지&nbsp;않아,&nbsp;중복 및 초과예약이&nbsp;발생하여</p>
										<p>
											고객님들을 불편하게 하는 일이&nbsp;발생하고&nbsp;있습니다.&nbsp;</p>
										<p>
											<br> &nbsp;
										</p>
										<p>
											판매 형태가 잘 정리 된&nbsp;대형 숙박시설&nbsp;판매자분들은</p>
										<p>
											고코투어를 통해 원활하게 객실을 판매하고 있으시지만,</p>
										<p>
											&nbsp;</p>
										<p>
											일부 소규모숙박시설, 펜션 등의&nbsp;사업주분들께서는</p>
										<p>
											잘&nbsp;대응하지&nbsp;못하여&nbsp;예약확정이&nbsp;늦어지거나,&nbsp;</p>
										<p>
											다수의&nbsp;사이트에&nbsp;동시&nbsp;판매&nbsp;하고&nbsp;있는&nbsp;등의&nbsp;이유로</p>
										<p>
											초과예약이&nbsp;접수&nbsp;되고있는 경우가 발생하고 있습니다.</p>
										<p>
											&nbsp;</p>
										<p>
											이렇게 갑자기 판매하려는 객실이 없어진 경우,</p>
										<p>
											당사에서는 어쩔 수 없이 객실마감에&nbsp;따른&nbsp;</p>
										<p>
											취소 및 환불&nbsp;처리를 할 수 밖에 없는 실정이며,</p>
										<p>
											이 과정에서 불가피하게 고객님들에게, 양해를 구해야 하는 상황이 발생하게 됩니다.</p>
										<p>
											<br> &nbsp;
										</p>
										<p>
											고코투어는&nbsp;이러한&nbsp;업계의&nbsp;환경에서&nbsp;</p>
										<p>
											고객님들께&nbsp;보다&nbsp;빠른&nbsp;예약진행&nbsp;및&nbsp;확정을&nbsp;위해</p>
										<p>
											아래와&nbsp;같은&nbsp;원칙을&nbsp;가지고&nbsp;운영하고 있습니다.&nbsp;</p>
										<p>
											&nbsp;</p>
										<p>
											&nbsp;</p>
										<p>
											<strong>평일(월/화/수/목/금)<br>
												&nbsp;<br>
												<strong>**현지상황에 따라 18시 이후 접수건에 대해서는 익일 처리 되는 경우 발생될 수 있습니다.</strong></strong><br> &nbsp;
										</p>
										<p>
											00시&nbsp;~&nbsp;09시&nbsp;까지의&nbsp;주문 건</p>
										<p>
											&nbsp; &nbsp;☞ [전담인력&nbsp;배치] 09시&nbsp;부터&nbsp;순차적으로&nbsp;처리</p>
										<p>
											09시&nbsp;~&nbsp;21시&nbsp;까지의&nbsp;주문 건&nbsp;</p>
										<p>
											&nbsp; &nbsp;☞ [전담인력&nbsp;배치] 10분에서 최대 3시간 소요&nbsp;</p>
										<p>
											22시&nbsp;~&nbsp;24시&nbsp;까지 당일예약시</p>
										<p>
											&nbsp;&nbsp;☞ 실시간 예약확정</p>
										<p>
											&nbsp;</p>
										<p>
											<strong><strong>주말(토/일)&nbsp;- 당일예약만가능<br>
												- 주말은 당일 예약우선시 진행되며 당일 이외의 예약건은 월요일 이후 처리됩니다.</strong></strong>
										</p>
										<p>
											00시&nbsp;~&nbsp;09시&nbsp;까지의&nbsp;주문건</p>
										<p>
											&nbsp; &nbsp;☞ [전담인력&nbsp;배치] 09시&nbsp;부터&nbsp;순차적으로&nbsp;처리</p>
										<p>
											09시&nbsp;~&nbsp;16시&nbsp;까지의&nbsp;주문건</p>
										<p>
											&nbsp; &nbsp;☞ [전담인력&nbsp;배치] 20분에서 최대3시간&nbsp;소요&nbsp;</p>
										<p>
											16시&nbsp;~&nbsp;24시&nbsp;까지 당일예약시&nbsp;</p>
										<p>
											&nbsp;&nbsp;☞&nbsp;실시간 예약확정</p>
										<p>
											&nbsp;</p>
										<p>
											당사는 인력 충원 및 현지시설 직원 파견, 서비스 개선 등</p>
										<p>
											더 좋은 서비스를 제공하고자 노력하고 있습니다.</p>
										<p>
											&nbsp;</p>
										<p>
											고객&nbsp;여러분의&nbsp;큰&nbsp;사랑으로</p>
										<p>
											더 많은고객분들께서 고코투어를 이용해 주셨고</p>
										<p>
											국내여행사 부문 1위(랭키닷컴) 여행사가 되었습니다.</p>
										<p>
											&nbsp;</p>
										<p>
											이에 당사도 고객님들의 성원에 부응하고자</p>
										<p>
											내부적으로 40여명의 고객센터 전문 상담원을 배치해</p>
										<p>
											고객상담을 진행하고 있지만 일부 시간대에는 여전히 전화 통화가 어려운 현실에 양해를 구합니다.</p>
										<p>
											&nbsp;</p>
										<p>
											이러한 경우 "1:1 문의”를 통해</p>
										<p>
											연락처/이메일과 예약내역 및 원하는 질문을 남겨주시면,</p>
										<p>
											최대 1시간 이내에 저희가 연락 드리겠습니다.</p>
										<div>
											&nbsp;</div>
										<p>
											고객 여러분들께</p>
										<p>
											더 많은 숙박시설을 보다 저렴한 가격으로 제공하는 것이</p>
										<p>
											당사의 유일한 목표입니다.</p>
										<p>
											&nbsp;</p>
										<p>
											당사 뿐만 아니라 다른 대형 여행사들도</p>
										<p>
											고객님의 전화를 잘 못 받는다는 변명은 않겠습니다.</p>
										<p>
											&nbsp;</p>
										<p>
											지금 다소 부족할 수 있겠지만 현재의 성장통을 극복하고</p>
										<p>
											고객님들에게 더 다가갈 수 있도록 애쓰고 있으니</p>
										<p>
											지켜봐 주셨으면 합니다.</p>
										<p>
											&nbsp;</p>
										<p>
											진심으로 고객님께</p>
										<p>
											“고코투어는&nbsp;전화&nbsp;정말&nbsp;잘&nbsp;받아”,&nbsp;</p>
										<p>
											“정말&nbsp;친절해”&nbsp;라는칭찬의 말씀을&nbsp;듣고 싶습니다.</p>
										<p>
											&nbsp;</p>
										<p>
											그럴 수&nbsp;있도록&nbsp;더욱&nbsp;더&nbsp;노력하겠습니다.<br> &nbsp;
										</p>
										<p>
											감사합니다.</p>



									</div>
								</td>
							</tr>

							<tr id="dreview_sub1" class="bbs_535">
								<td height="52" onclick="navigate.move_h('dreview_sub1','id','90');mb.show_cont_mobile('dreview_cont1', '535', 'mobile_faq')">
									<p class="title">주문은 취소인데, 환불은 언제 되나요?</p><img src="http://img.go.co.kr/mobile/btn_arrow_right.png" class="bbs_arrow">
								</td>
							</tr>
							<tr>
								<td class="review_body">
									<div class="review_text" id="dreview_cont1" style="display:none;line-height:1.7">
										<p>
											&nbsp;</p>
										<p>
											고객님의 주문이 취소된 경우,</p>
										<p>
											고코투어는 실시간으로</p>
										<p>
											결제 취소 요청 및 환불 절차를 진행을 하고 있습니다.</p>
										<p>
											&nbsp;</p>
										<p>
											다만,</p>
										<p>
											결제 방법에 따라 PG사, 카드사, 은행에서</p>
										<p>
											업무처리 하는 일정이 있어</p>
										<p>
											실제 취소되기 까지는 일정 시간이 소요됩니다.</p>
										<p>
											&nbsp;</p>
										<p>
											&nbsp;</p>
										<p>
											<span style="color: rgb(255, 0, 0);"><strong>[</strong><strong>카드결제 취소]</strong></span></p>
										<p>
											&nbsp;</p>
										<p>
											■ 결제 당일에 주문이 취소된 경우</p>
										<p>
											&nbsp; &nbsp; ☞ 주문 취소와 함께 카드 승인이 취소 됩니다.</p>
										<p>
											&nbsp;</p>
										<p>
											■ 결제 당일을 제외한 주문이 취소된 경우</p>
										<p>
											&nbsp; &nbsp;☞ 고코투어에서는 취소안내와 함께,</p>
										<p>
											&nbsp; &nbsp; &nbsp; &nbsp; 고객님의 결제취소를 즉시 PG사로 요청합니다.</p>
										<p>
											&nbsp; &nbsp;☞ PG사에서 카드사로 취소내역을 안내하지만,</p>
										<p>
											&nbsp; &nbsp; &nbsp; &nbsp; 카드사의 취소 정책으로 시간이 소요될 수 있습니다.</p>
										<p>
											&nbsp; &nbsp;☞ 보다 명확한 확인일 필요한 경우,</p>
										<p>
											&nbsp; &nbsp; &nbsp; &nbsp;카드사로 문의 하시면, 취소내역을 확인 가능 합니다.</p>
										<p>
											&nbsp; &nbsp;☞&nbsp;<a href="https://www.inicis.com/payment_view"><span style="color: rgb(0, 0, 255);">“카드 취소 여부 확인”</span></a>&nbsp;&nbsp;← 클릭하면 조회 가능</p>
										<p>
											&nbsp;</p>
										<p>
											&nbsp;</p>
										<p>
											<span style="color: rgb(255, 0, 0);"><strong>[휴대폰결제 취소]</strong></span></p>
										<p>
											&nbsp;</p>
										<p>
											■ 휴대폰으로 결제하신 경우,</p>
										<p>
											&nbsp; &nbsp;주문 취소와 함께 휴대폰 결제 승인이 취소 됩니다.</p>
										<p>
											&nbsp;&nbsp; ☞&nbsp;<a href="https://www.billgate.net/search/sc_pay_mobile.jsp"><span style="color: rgb(0, 0, 255);">“휴대폰 취소 여부 확인”</span></a>&nbsp;← 클릭하면 조회 가능</p>
										<p>
											&nbsp;</p>
										<p>
											&nbsp;</p>
										<p>
											<span style="color: rgb(255, 0, 0);"><strong>[</strong><strong>무통장입금(가상계좌) 취소]</strong></span></p>
										<p>
											&nbsp;</p>
										<p>
											■&nbsp;<strong>주문 건이 취소처리가 되면, </strong></p>
										<p>
											<strong>&nbsp; &nbsp;환불 금액 만큼 고객님의 계좌로 환불을 진행합니다.</strong></p>
										<p>
											&nbsp;&nbsp; ☞&nbsp;<span style="color: rgb(255, 0, 0);">고객님이 정확한 계좌를 안내해 주셔야 합니다.</span></p>
										<p>
											&nbsp; &nbsp;☞<span style="color: rgb(255, 0, 0);">&nbsp;정확한 환불을 위해 정해진 시간 진행됩니다.</span></p>
										<p>
											&nbsp; &nbsp; &nbsp; &nbsp; ㄱ.&nbsp;&nbsp; 16시 30분 이전에 환불 계좌 확인 :</p>
										<p>
											&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 취소일 18시부터 순차적 환불 진행</p>
										<p>
											&nbsp; &nbsp; &nbsp; &nbsp; ㄴ.&nbsp;&nbsp; 16시 30분 이후에 환불 계좌 확인 :</p>
										<p>
											&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 다음 영업일 18시부터 순차적 환불 진행 &nbsp;</p>
										<div>
											&nbsp;</div>



									</div>
								</td>
							</tr>

							<tr id="dreview_sub6" class="bbs_523">
								<td height="52">
									<p class="title">체크인 시간은 변경 가능한가요?</p><img src="http://img.go.co.kr/mobile/btn_arrow_bottom.jpg" class="bbs_arrow on">
								</td>
							</tr>
							<tr>
								<td class="review_body">
									<div class="review_text repo_on" id="dreview_cont6" style="line-height:1.7">
										<p>
											&nbsp;</p>
										<p>
											체크인 시간은&nbsp;</p>
										<p>
											고객님을 안정적으로 맞이하기 위해</p>
										<p>
											시설이 각각 정하고 있습니다.</p>
										<p>
											(체크인 시간은 상품 상세페이지에서 확인 가능)</p>
										<p>
											&nbsp;</p>
										<p>
											늦은 체크인은</p>
										<p>
											시설에 방문 시간을 통보하면 되지만,</p>
										<p>
											&nbsp;</p>
										<p>
											이른 체크인일 경우,</p>
										<p>
											시설에 가능 여부를 먼저 확인하셔야 하며,</p>
										<p>
											상황 및 시설규정에 따라</p>
										<p>
											추가비용이 발생될 수 있습니다.</p>
										<p>
											&nbsp;</p>
										<p>
											체크인 관련 구체적인 문의는</p>
										<p>
											고객센터(1666-1243) 또는 1:1 문의하기롤 통해</p>
										<p>
											문의 주시면,</p>
										<p>
											&nbsp;</p>
										<p>
											확인 후 빠르게 답변 드릴 수 있도록 하겠습니다.&nbsp;</p>
										<p>
											&nbsp;</p>
										
										
										<!--변경내용170918 -->
										<a href="#" class="qBtn-a">1:1 문의하기<span class="i-rArr"></span></a>
									</div>
								</td>
							</tr>
							
							<tr id="dreview_sub2" class="bbs_567">
								<td height="52" onclick="navigate.move_h('dreview_sub2','id','90');mb.show_cont_mobile('dreview_cont2', '567', 'mobile_faq')">
									<p class="title">검색결과 등 광고에서 본 가격이 왜 최종 구매해야 할 가격과 다른가요?</p><img src="http://img.go.co.kr/mobile/btn_arrow_right.png" class="bbs_arrow">
								</td>
							</tr>
							<tr>
								<td class="review_body">
									<div class="review_text" id="dreview_cont2" style="display:none;line-height:1.7">
										<div>
											<div>
												<p>
													고객님이 처음 보신 가격과 구매가격은,</p>
												<p>
													일정 차이가 있을 수있습니다.</p>
												<p>
													&nbsp;</p>
												<p>
													전반적으로 할인된 가격으로 구매할 수 있고,</p>
												<p>
													일부상품의 경우 가격이 인상 될 수있습니다.</p>
												<p>
													&nbsp;</p>
												<p>
													고코투어는 여행 오픈마켓으로</p>
												<p>
													시설이 직접 가격을 등록 수정하며,</p>
												<p>
													요금은 주중/주말, 성수기/비수기, 특가세일 등 일년 365일 변하고 있습니다.</p>
												<p>
													&nbsp;</p>
												<p>
													여러 포털 사이트에서 보여지는 상품 가격은,</p>
												<p>
													요금 수정시 마다 빠르게 바꾸려 노력하고 있지만,</p>
												<p>
													매번 실시간 반영에 어려움이 있고,</p>
												<p>
													시설의 성향에 따라 세금과 봉사료의 별도 계산, 인원추가 및 조식,</p>
												<p>
													추가서비스 이용, 옵션 선택 가격변화 등도 있기 때문에</p>
												<p>
													항상 정확한 가격이 안내 될 수 없음을 이해해 주셨으면 합니다.</p>
												<p>
													&nbsp;</p>
												<p>
													아울러 고코투어는</p>
												<p>
													앱으로 구매시의 발생되는 이벤트와 특가상품</p>
												<p>
													얼리버드상품, 땡처리 상품, 깜작이벤트, 구매시 적립금 지급,</p>
												<p>
													친구 추천시 적립급 지급, &nbsp;등</p>
												<p>
													&nbsp;</p>
												<p>
													이벤트를 통해서</p>
												<p>
													다른 여행사에서 엄두도 못 낼 가격으로 구매 가능하게 기획되어 있으니, 이벤트 참여를 통해서 싸고, 즐거운 여행을 다녀오시기 바랍니다.</p>
											</div>
										</div>
										<p>
											&nbsp;</p>



									</div>
								</td>
							</tr>

							<tr id="dreview_sub3" class="bbs_568">
								<td height="52" onclick="navigate.move_h('dreview_sub3','id','90');mb.show_cont_mobile('dreview_cont3', '568', 'mobile_faq')">
									<p class="title">광고하는것 보고 왔는데 해당상품이 판매중이지 않네요?</p><img src="http://img.go.co.kr/mobile/btn_arrow_right.png" class="bbs_arrow">
								</td>
							</tr>
							<tr>
								<td class="review_body">
									<div class="review_text" id="dreview_cont3" style="display:none;line-height:1.7">
										<div>
											&nbsp;</div>
										<div>
											- 저희 고코투어는 이용권, 숙박시설 등의 수만개의 시설을 다루고있습니다.&nbsp;</div>
										<div>
											여러시설들 중, 숙박시설의 만실 또는 고객님께서 원하시는 날짜의 인원제한으로&nbsp;</div>
										<div>
											한시적으로 시설판매가 중단되는 경우가 있습니다.&nbsp;</div>
										<div>
											이럴 경우 판매가 잠시 중단되어 구매가 어려울수 있으며, 고객센터로 문의 바랍니다.</div>



									</div>
								</td>
							</tr>

							<tr id="dreview_sub4" class="bbs_557">
								<td height="52" onclick="navigate.move_h('dreview_sub4','id','90');mb.show_cont_mobile('dreview_cont4', '557', 'mobile_faq')">
									<p class="title">고객센터 전화연결이 안됩니다.</p><img src="http://img.go.co.kr/mobile/btn_arrow_right.png" class="bbs_arrow">
								</td>
							</tr>
							<tr>
								<td class="review_body">
									<div class="review_text" id="dreview_cont4" style="display:none;line-height:1.7">
										<p>
											국내최대 숙박할인예약 GO.CO.kr 고코투어 입니다.</p>
										<p>
											&nbsp;</p>
										<p>
											고객센터는 모든 고객님과 통화상담을 진행하려 하지만,</p>
										<p>
											&nbsp;</p>
										<p>
											여행업 특성상</p>
										<p>
											예약주문건 발생시에</p>
										<p>
											&nbsp;</p>
										<p>
											고객님의 주문건 확인에 대한 통화.</p>
										<p>
											시설로의 확정 진행에 대한 통화.</p>
										<p>
											고객님께 확정 안내 및 취소 안내에 대한 통화.</p>
										<p>
											마감 취소시의 고객님께 다른 시설로의 안내. 기타 등등.</p>
										<p>
											전화로 처리해야 할 업무가 많습니다.</p>
										<p>
											&nbsp;</p>
										<p>
											40여명의 고객센터 전문 상담원을 배치하였지만</p>
										<p>
											일부 시간대에는 여전히 전화 통화가 어려운 현실에 양해를 구합니다.</p>
										<p>
											&nbsp;</p>
										<p>
											이러한 경우 "1:1 문의”를 통해</p>
										<p>
											연락처/이메일과 예약내역 및 원하는 질문을 남겨주시면,</p>
										<p>
											최대 1시간 이내에 저희가 연락 드리겠습니다.</p>
										<p>
											&nbsp;</p>
										<p>
											감사합니다.</p>



									</div>
								</td>
							</tr>

							<tr id="dreview_sub5" class="bbs_564">
								<td height="52" onclick="navigate.move_h('dreview_sub5','id','90');mb.show_cont_mobile('dreview_cont5', '564', 'mobile_faq')">
									<p class="title">고코투어 믿을 만한 회사인가요?</p><img src="http://img.go.co.kr/mobile/btn_arrow_right.png" class="bbs_arrow">
								</td>
							</tr>
							<tr>
								<td class="review_body">
									<div class="review_text" id="dreview_cont5" style="display:none;line-height:1.7">
										<div>
											국내최대 숙박할인예약 고코투어 입니다.&nbsp;</div>
										<div>
											&nbsp;</div>
										<div>
											"고코투어"는</div>
										<div>
											다양한 시설들이, 자신의 상품을 등록 및 판매하는</div>
										<div>
											여행전문 오픈마켓 이고,</div>
										<div>
											&nbsp;</div>
										<div>
											고객님들이 만족하실 만한, 상품과 가격을 만들기 위해&nbsp;</div>
										<div>
											입점된 시설 한 곳 한 곳과&nbsp;</div>
										<div>
											&nbsp;</div>
										<div>
											어제도...</div>
										<div>
											그리고 오늘도,</div>
										<div>
											기획하며 회의를 하고 있는 여행사 입니다.&nbsp;</div>
										<div>
											&nbsp;</div>
										<div>
											하지만, 일부 고객님들은 아직도 이런 걱정을 합니다.</div>
										<div>
											&nbsp;</div>
										<div>
											"고코투어 브랜드, 너무 낮설지 않나요?"</div>
										<div>
											"믿을만한 회사인가요?"</div>
										<div>
											"너무 싼 것 아닌가요?"</div>
										<div>
											&nbsp;</div>
										<div>
											네. 맞습니다.</div>
										<div>
											고객님의 그런 마음 충분히 이해합니다.</div>
										<div>
											&nbsp;</div>
										<div>
											고코투어는&nbsp;</div>
										<div>
											유명 연예인을 모델로,</div>
										<div>
											텔레비전과 인터넷에 무작정 광고를 하는 여행사가 아니니,</div>
										<div>
											고객님에게는 아직 친숙하지 않을 수 있습니다.</div>
										<div>
											&nbsp;</div>
										<div>
											하지만,&nbsp;</div>
										<div>
											사업초기부터&nbsp;</div>
										<div>
											"고객님의 모든 여행을 즐겁게" 라는 신념으로</div>
										<div>
											좋은 시설만, 그리고 좋은 가격의 상품들만 제공해 오고 있고,</div>
										<div>
											&nbsp;</div>
										<div>
											이런 노력을 고객님들이 이해해주셔서</div>
										<div>
											현재는 국내여행사 1위(랭키닷컴 기준) 여행사가 되었습니다.</div>
										<div>
											&nbsp;</div>
										<div>
											※ 랭키닷컴은 국내 인터넷 사용자의 방문 빈도를 체크하여,</div>
										<div>
											&nbsp; &nbsp; 각 사업별로 순위를 정해주는 회사입니다.&nbsp;</div>
										<div>
											&nbsp;</div>
										<div>
											&nbsp;</div>
										<div>
											인지도 측면에서 아직은 부족하지만,</div>
										<div>
											고코투어는 다음과 같은 안전장치가 준비되어 있으니,</div>
										<div>
											다른 여행사에서 구매하는 것 보다</div>
										<div>
											저렴하고 즐거운 여햄을 다녀오셨으면 합니다.</div>
										<div>
											&nbsp;</div>
										<div>
											1. 랭키닷컴 1위의 국내여행사 입니다.</div>
										<div>
											&nbsp;</div>
										<div>
											2. 관광사업등록이 되어 있는 회사입니다.</div>
										<div>
											&nbsp;</div>
										<div>
											3. 서울 보증보험에서, 고객님의 결제건을 보증합니다.</div>
										<div>
											&nbsp;</div>
										<div>
											4. 에스크로 안전결제를 통해, 고객님의 결제를 보호합니다.&nbsp;</div>
										<div>
											&nbsp;</div>
										<div>
											5. 결제는 고코투어 자체결제가 아닌 PG사를 통한 결제이고,</div>
										<div>
											&nbsp; &nbsp; 문제 발생 시 모든 결제는 차단됩니다.</div>
										<div>
											&nbsp;</div>
										<div>
											6. 일 200,000명의 고객님이 서비스를 이용하고 있습니다.</div>
										<div>
											&nbsp;</div>
										<div>
											타 여행사처럼 유명 연예인을 모델로</div>
										<div>
											텔레비젼과 인터넷에서 광고하면&nbsp;</div>
										<div>
											고코투어 역시 고객님께 빠르게 다가갈 수 있을 겁니다.</div>
										<div>
											&nbsp;</div>
										<div>
											하지만,</div>
										<div>
											그 비싼 광고 비용은 결과적으로 누가 부담할까요?</div>
										<div>
											그 비용을 고객님께 할인으로 돌려 드린다면,</div>
										<div>
											고객님은 더 만족하지 않을까요?</div>
										<div>
											&nbsp;</div>
										<div>
											고코투어는&nbsp;</div>
										<div>
											그냥 멋내기 광고가 아닌 고객만족이 최우선 입니다.</div>
										<div>
											&nbsp;</div>
										<div>
											사랑하는 고객님</div>
										<div>
											더 열심하 하겠습니다.</div>
										<div>
											그리고 더 노력하게습니다.</div>
										<div>
											&nbsp;</div>
										<div>
											모든 고객님들께 "고코투어 괜찮아" 라는</div>
										<div>
											이야기를 들을 때 까지 더 열심히 하겠습니다.</div>
										<div>
											&nbsp;</div>



									</div>
								</td>
							</tr>

							<tr id="dreview_sub7" class="bbs_516">
								<td height="52" onclick="navigate.move_h('dreview_sub7','id','90');mb.show_cont_mobile('dreview_cont7', '516', 'mobile_faq')">
									<p class="title">연락처를 잘못기재해서 예약문자를 못받았습니다.</p><img src="http://img.go.co.kr/mobile/btn_arrow_right.png" class="bbs_arrow">
								</td>
							</tr>
							<tr>
								<td class="review_body">
									<div class="review_text" id="dreview_cont7" style="display:none;line-height:1.7">
										<p>
											&nbsp;</p>
										<p>
											연락처를 잘못 입력하여 예약번호를 못받으셨을 경우,</p>
										<p>
											&nbsp;</p>
										<p>
											홈페이지 &gt; 마이페이지 &gt; 나의 예약여부 확인 에서</p>
										<p>
											&nbsp;</p>
										<p>
											바우처출력 시 문자와 같은 효력을 지니며,</p>
										<p>
											&nbsp;</p>
										<p>
											고객센터 및&nbsp; 1:1문의로&nbsp;</p>
										<p>
											전화번호 수정 및 재전송 요청해 주시면</p>
										<p>
											&nbsp;</p>
										<p>
											전문 상담사가 &nbsp;</p>
										<p>
											다시 한번 예약번호를 전송해 드리겠습니다.</p>
										<p>
											&nbsp;</p>
										<p>
											&nbsp;</p>



									</div>
								</td>
							</tr>

							<tr id="dreview_sub8" class="bbs_505">
								<td height="52" onclick="navigate.move_h('dreview_sub8','id','90');mb.show_cont_mobile('dreview_cont8', '505', 'mobile_faq')">
									<p class="title">인원을 추가할 수 있나요?</p><img src="http://img.go.co.kr/mobile/btn_arrow_right.png" class="bbs_arrow">
								</td>
							</tr>
							<tr>
								<td class="review_body">
									<div class="review_text" id="dreview_cont8" style="display:none;line-height:1.7">
										<p>
											숙박하고자하는 숙박시설의 상세페이지를</p>
										<p>
											확인해보시면, 각 객실별로</p>
										<p>
											[기준인원] 과 [최대인원] 이 있습니다.</p>
										<p>
											&nbsp;</p>
										<p>
											[기준인원]은 해당 객실에 입실하기에</p>
										<p>
											문제가없는 인원의 수 입니다.</p>
										<p>
											&nbsp;</p>
										<p>
											[기준인원] 보다 추가하여 입실을</p>
										<p>
											원하시는 경우, 인원추가비용을 부담하셔야합니다.</p>
										<p>
											&nbsp;</p>
										<p>
											단, 인원추가비용을 내더라도</p>
										<p>
											[최대인원]보다 더 많은 인원은 투숙이</p>
										<p>
											불가하기때문에, 이점 유의 바랍니다.</p>
										<p>
											&nbsp;</p>
										<p>
											하지만 모든 숙박시설과 객실에 따라</p>
										<p>
											상이한 부분이 있으므로,&nbsp;</p>
										<p>
											&nbsp;</p>
										<p>
											더정확하고 자세한 답변은</p>
										<p>
											숙박시설에 직접 문의하시는것이 명확하며</p>
										<p>
											빠르게 확인이 가능합니다</p>



									</div>
								</td>
							</tr>

							<tr id="dreview_sub9" class="bbs_558">
								<td height="52" onclick="navigate.move_h('dreview_sub9','id','90');mb.show_cont_mobile('dreview_cont9', '558', 'mobile_faq')">
									<p class="title">당일 예약확정은 언제 되나요?</p><img src="http://img.go.co.kr/mobile/btn_arrow_right.png" class="bbs_arrow">
								</td>
							</tr>
							<tr>
								<td class="review_body">
									<div class="review_text" id="dreview_cont9" style="display:none;line-height:1.7">
										<p>
											<strong>국내최대&nbsp;숙박할인예약&nbsp;GO.CO.kr&nbsp;고코투어&nbsp;입니다.&nbsp;</strong></p>
										<p>
											&nbsp;</p>
										<p>
											“고코투어”는&nbsp;실시간&nbsp;예약확정을&nbsp;원칙으로&nbsp;하며,</p>
										<p>
											이를 위해 각&nbsp;숙박시설에서&nbsp;저희 사이트에&nbsp;자신의 객실현황을&nbsp;등록하는&nbsp;형태로&nbsp;운영되고&nbsp;있습니다.&nbsp;</p>
										<p>
											<br> &nbsp;
										</p>
										<p>
											하지만, 일부&nbsp;숙박시설이&nbsp;운영방식에&nbsp;미숙하여&nbsp;</p>
										<p>
											숙박&nbsp;마감&nbsp;되었음에도&nbsp;불구하고 마감처리를&nbsp;하지&nbsp;않거나,</p>
										<p>
											정보를 갱신하지&nbsp;않아,&nbsp;중복 및 초과예약이&nbsp;발생하여</p>
										<p>
											고객님들을 불편하게 하는 일이&nbsp;발생하고&nbsp;있습니다.&nbsp;</p>
										<p>
											<br> &nbsp;
										</p>
										<p>
											판매 형태가 잘 정리 된&nbsp;대형 숙박시설&nbsp;판매자분들은</p>
										<p>
											고코투어를 통해 원활하게 객실을 판매하고 있으시지만,</p>
										<p>
											&nbsp;</p>
										<p>
											일부 소규모숙박시설, 펜션 등의&nbsp;사업주분들께서는</p>
										<p>
											잘&nbsp;대응하지&nbsp;못하여&nbsp;예약확정이&nbsp;늦어지거나,&nbsp;</p>
										<p>
											다수의&nbsp;사이트에&nbsp;동시&nbsp;판매&nbsp;하고&nbsp;있는&nbsp;등의&nbsp;이유로</p>
										<p>
											초과예약이&nbsp;접수&nbsp;되고있는 경우가 발생하고 있습니다.</p>
										<p>
											&nbsp;</p>
										<p>
											이렇게 갑자기 판매하려는 객실이 없어진 경우,</p>
										<p>
											당사에서는 어쩔 수 없이 객실마감에&nbsp;따른&nbsp;</p>
										<p>
											취소 및 환불&nbsp;처리를 할 수 밖에 없는 실정이며,</p>
										<p>
											이 과정에서 불가피하게 고객님들에게, 양해를 구해야 하는 상황이 발생하게 됩니다.</p>
										<p>
											<br> &nbsp;
										</p>
										<p>
											고코투어는&nbsp;이러한&nbsp;업계의&nbsp;환경에서&nbsp;</p>
										<p>
											고객님들께&nbsp;보다&nbsp;빠른&nbsp;예약진행&nbsp;및&nbsp;확정을&nbsp;위해</p>
										<p>
											아래와&nbsp;같은&nbsp;원칙을&nbsp;가지고&nbsp;운영하고 있습니다.&nbsp;</p>
										<p>
											&nbsp;</p>
										<p>
											<br>
											<strong>평일(월/화/수/목/금)&nbsp; </strong></p>
										<p>
											23시&nbsp;~&nbsp;09시30분 까지의&nbsp;주문 건</p>
										<p>
											&nbsp; &nbsp;☞ [전담인력&nbsp;배치] 09시30분 부터&nbsp;순차적으로&nbsp;처리</p>
										<p>
											09시30분 ~&nbsp;23시&nbsp;까지의&nbsp;주문 건&nbsp;</p>
										<p>
											&nbsp; &nbsp;☞ [전담인력&nbsp;배치] 약 30분에서 60분 소요&nbsp;</p>
										<p>
											&nbsp;</p>
										<p>
											<strong>주말(토/일)</strong></p>
										<p>
											23시&nbsp;~&nbsp;09시30분 까지의&nbsp;주문건</p>
										<p>
											&nbsp; &nbsp;☞ [전담인력&nbsp;배치] 09시30분 부터&nbsp;순차적으로&nbsp;처리</p>
										<p>
											09시30분 ~ 23시&nbsp;까지의&nbsp;주문건</p>
										<p>
											&nbsp; &nbsp;☞ [전담인력&nbsp;배치] 약 30분에서&nbsp;1시간&nbsp;소요&nbsp;</p>
										<p>
											&nbsp;</p>
										<p>
											당사는 인력 충원 및 현지시설 직원 파견, 서비스 개선 등</p>
										<p>
											더 좋은 서비스를 제공하고자 노력하고 있습니다.</p>
										<p>
											&nbsp;</p>
										<p>
											고객&nbsp;여러분의&nbsp;큰&nbsp;사랑으로</p>
										<p>
											더 많은고객분들께서 고코투어를 이용해 주셨고</p>
										<p>
											국내여행사 부문 1위(랭키닷컴) 여행사가 되었습니다.</p>
										<p>
											&nbsp;</p>
										<p>
											이에 당사도 고객님들의 성원에 부응하고자</p>
										<p>
											내부적으로 40여명의 고객센터 전문 상담원을 배치해</p>
										<p>
											고객상담을 진행하고 있지만 일부 시간대에는 여전히 전화 통화가 어려운 현실에 양해를 구합니다.</p>
										<p>
											&nbsp;</p>
										<p>
											이러한 경우 "1:1 문의”를 통해</p>
										<p>
											연락처/이메일과 예약내역 및 원하는 질문을 남겨주시면,</p>
										<p>
											최대 1시간 이내에 저희가 연락 드리겠습니다.</p>
										<div>
											&nbsp;</div>
										<p>
											고객 여러분들께</p>
										<p>
											더 많은 숙박시설을 보다 저렴한 가격으로 제공하는 것이</p>
										<p>
											당사의 유일한 목표입니다.</p>
										<p>
											&nbsp;</p>
										<p>
											당사 뿐만 아니라 다른 대형 여행사들도</p>
										<p>
											고객님의 전화를 잘 못 받는다는 변명은 않겠습니다.</p>
										<p>
											&nbsp;</p>
										<p>
											지금 다소 부족할 수 있겠지만 현재의 성장통을 극복하고</p>
										<p>
											고객님들에게 더 다가갈 수 있도록 애쓰고 있으니</p>
										<p>
											지켜봐 주셨으면 합니다.</p>
										<p>
											&nbsp;</p>
										<p>
											진심으로 고객님께</p>
										<p>
											“고코투어는&nbsp;전화&nbsp;정말&nbsp;잘&nbsp;받아”,&nbsp;</p>
										<p>
											“정말&nbsp;친절해”&nbsp;라는칭찬의 말씀을&nbsp;듣고 싶습니다.</p>
										<p>
											&nbsp;</p>
										<p>
											그럴 수&nbsp;있도록&nbsp;더욱&nbsp;더&nbsp;노력하겠습니다.<br> &nbsp;
										</p>
										<p>
											감사합니다.</p>



									</div>
								</td>
							</tr>

						</tbody>
					</table>					
				
				</section>
			
				<div class="btn-area"><a href="" class="btn-a">더보기(10/33)</a><span class="d-arr"></span></div>
				
				<section class="cusCall-sec type02">
					<div class="mainSec">
						<p class="p1">고코투어 고객센터</p>
						<p class="p2">1666-1243</p>
						<p class="p3">주중 09:30 ~ 18:00</p>
						<p class="p3">주말/공휴일 09:30 ~ 17:00</p>
					</div>
				</section>
			</div>
			
			
			
		</div>
		
		
		<div id="bottomMenu2" class="hide_div default">
			<span class="btn"><a href="javascript:history.back();"><img src="http://img.go.co.kr/mobile/mnB_201605/mnBottom_prev.png" alt="이전" width="50" height="50"></a></span>
			<span class="btn"><a href="http://m.go.co.kr/home/map/?dd=RB8wfDNf"><img src="http://img.go.co.kr/mobile/mnB_201605/mnBottom_map.png" alt="내주변" width="50" height="50"></a></span>
			<span class="btn"><a href="http://m.go.co.kr/home/main/"><img src="http://img.go.co.kr/mobile/mnB_201605/mnBottom_home.png" alt="홈" width="50" height="50"></a></span>
			<span class="btn"><a href="http://m.go.co.kr/home/member/?dd=Sws5TzdVKg=="><img src="http://img.go.co.kr/mobile/mnB_201605/mnBottom_mybooking.png" alt="나의예약" width="50" height="50"></a></span>
			<!---<span class="btn"><a href="http://m.go.co.kr/home/search/?dd=TRs0QjdKAVAlH1pKFg=="><img src="http://img.go.co.kr/mobile/mnB_201605/mnBottom_search.png" alt="국내검색" width="50" height="50"></a></span>--->
			<span class="btn"><a id="rightmenu" href="#"><img src="http://img.go.co.kr/mobile/mnB_201605/mnBottom_myinfo.png" alt="myinfo" width="50" height="50"></a></span>

		</div>
	</div>
	
	
</body>
<whale translate="no"></whale>

</html>