<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title> 국내외여행, 호텔, 편션, 리조트, 콘도 최저가할인예약 GO.CO.KR </title>

	<meta http-equiv="Cache-Control" content="No-Cache">
	<meta http-equiv="Pragma" content="No-Cache">
	<meta http-equiv="expire" content="-1">

	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0">
	<!--숫자인식,메일주소,지도상의 주소링크 막기-->
	<meta name="format-detection" content="telephone=no, address=no, email=no">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script type="text/javascript" src="http://static.go.co.kr/js/common_ver2.js?ver=20170809165103"></script>
	<script>
		var base_url = "go.co.kr";
		var burl = "go.co.kr";
	</script>
	<link rel="stylesheet" href="http://static.go.co.kr/css/moblie_reset.css" type="text/css">
	<script type="text/javascript" src="http://static.go.co.kr/js/all_common.js?ver=20170809165103"></script>
	<!--- 검색시 달력에서 이용 ---->
	<link rel="stylesheet" href="http://static.go.co.kr/css/jquery-ui.css">
	<script type="text/javascript" src="http://static.go.co.kr/js/jquery_ui.js"></script>
	<!--- 달력 한글화 --->
	<script type="text/javascript" src="http://static.go.co.kr/js/datepicker_ko.js"></script>
	<script type="text/javascript" src="http://static.go.co.kr/js/jquery.number.min.js"></script>
	<style src="http://code.jquery.com/jquery-1.11.2.min.js"></style>
	<!--<link rel="stylesheet" type="text/css" href="../../../src/css/mobile_layout3.css">
	<link rel="stylesheet" type="text/css" href="../../../src/css/totalmobile.css">-->
	<link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/mobile_layout3.css">
	<link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/totalmobile.css">

</head>

<body>
	<div id="scroll_box">
		<div id="top_box" style="position:fixed;top:0px;z-index:9999;width:100%;background:#ffffff">
			<!--- 서브페이지 상단 -->
			<div id="headTitle_box">
				<div id="headTitle">
					<span class="back"><a href="javascript:history.back(-1);"><img src="http://img.go.co.kr/mobile/btn_back.png" height="17" alt="뒤로"></a></span>할인쿠폰
				</div>
			</div>
		</div>	
		<div id="top_box_bottom" style="height: 46px;"></div>
		
		
		<div id="my_coupon">
			<!-- 추가내용 -->	
			<div class="clr"></div>
			<div class="saleCoupon-wrap">

				<div class="gcCoupon type01">
					<div class="cont">
						<strong>신규 가입 쿠폰</strong>
						<p class="p0">2,000<span>원</span></p>
						<p class="p1">
							2017.09.01 ~ 2017.09.30<br>
							80,000원 이상구매시
						</p>
					</div>

					<div class="lgBox">
						<img src="http://img.go.co.kr/gcLogo_w.png" alt="고코투어" class="lgImg">
					</div>

					<div class="won-box">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
				</div>

				<div class="gcCoupon type01">
					<div class="cont">
						<strong>앱 설치 첫 구매 쿠폰</strong>
						<p class="p0">2,000<span>원</span></p>
						<p class="p1">
							2017.09.01 ~ 2017.09.30<br>
							80,000원 이상구매시
						</p>
					</div>


					<div class="lgBox">
						<span class="i-type">앱전용</span>
						<img src="http://img.go.co.kr/gcLogo_w.png" alt="고코투어" class="lgImg">
					</div>

					<div class="won-box">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
				</div>

				<div class="gcCoupon type02">
					<div class="cont">
						<span class="i-type">이용완료</span>
						<strong>친구추천 쿠폰</strong>
						<p class="p0">2,000<span>원</span></p>
						<p class="p1">
							2017.08.01 ~ 2017.08.30<br>
							50,000원 이상구매시
						</p>
					</div>

					<div class="lgBox">
						<span class="i-type">앱/모바일</span>
						<img src="http://img.go.co.kr/gcLogo_w.png" alt="고코투어" class="lgImg">
					</div>

					<div class="won-box">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
				</div>

			</div>
			<!-- End -->
		</div>
		
	</div>
	
	
</body>
<whale translate="no"></whale>

</html>