<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8" />
	<title> 국내외여행, 호텔, 편션, 리조트, 콘도 최저가할인예약 GO.CO.KR </title>

	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0" />
	<!--숫자인식,메일주소,지도상의 주소링크 막기-->
	<meta name="format-detection" content="telephone=no, address=no, email=no" />
	<link rel="stylesheet" href="http://static.go.co.kr/css/swiper.min.css" type="text/css" />
	<link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css">

	<link rel="stylesheet" href="http://static.go.co.kr/css/moblie_reset.css" type="text/css" />
	<link rel="stylesheet" href="http://static.go.co.kr/css/mobile_layout3.css" type="text/css" />

	<!-- 모든사이트 통합 css -->
	<link rel="stylesheet" href="http://static.go.co.kr/css/totalmobile.css" type="text/css" />
<!--	<link rel="stylesheet" href="../../../src/css/totalmobile.css" type="text/css" />-->

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

</head>

<body>

	<div id="wrapper" data-role="page">
		<div id="scroll_box">

			<div id="info_product_w" class="rlist_choice on" style="transition: all 0.5s ease; bottom: 60px; z-index: 111111; height: 458px;">
				<div class="info_product_tit" style="border-top:1px solid #8C8C8C">
					<div class="info_product_tit_txt">객실 선택하기 <span id="room_num" class="room_num">(2개 상품)</span></div>
					<div class="closew">
						<span class="close"><a href="#" id="rlist_close"><img width="28" alt="닫기" src="http://img.go.co.kr/mobile/menu_close.jpg"></a></span>
					</div>
				</div>
				<div class="info_product_list" id="test" style="overflow: hidden; height: 458px; touch-action: none;">
					<div id="rlist_final" class="product_info_w rlist searching" style="height: auto; transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1); transition-duration: 0ms; transform: translate(0px, 0px) translateZ(0px);">
						<ul>
							<li id="room0_li" class="room_li clr ">
								<input type="hidden" name="room0_hidden" id="room0_hidden" value="3345">
								<input type="hidden" name="room0_hiddeninfo" id="room0_hiddeninfo" value="eyJyb29tX25hbWUiOiIyNVx1ZDNjOVx1ZDYxNSIsInJtaW5fbnVtIjoiNCIsInJtYXhfbnVtIjoiNyIsIm5vcm1hbF9wcmljZSI6MTA1MDAwLCJwcmljZSI6NjcyMDAsImZpbmFsX3ByaWNlIjo2NzIwMCwic2hvd19wcmljZSI6NTU1MDAsImRlcG9zaXRfcHJpY2UiOjUwMDAwLCJyb29tX2lkIjoiMzM0NSIsImJlZHR5cGUiOiJcdWNjYjRcdWQwNmNcdWM3NzhcdWMyZGMgXHVkNjA0XHVjOWMwXHViYzMwXHVjODE1IiwiYXZhaWwiOiJZIiwicm9vbWNudF9pbmZvIjpbNjQwMDAsNjcyMDAsNjQwMDAsIjAuMSIsIk4iLCIxMDAiXSwibm9fcGtnIjoiTiJ9">
								<input type="radio" name="sang" class="chk" value="3345" id="room0">
								
								
								<!--180430 변경-->
								<label for="room0" class="room0 clr">
									<div class="info_box clr">
										<div class="product_info_roomm2">
											<span class="product_info_roomtxt2">25평형  </span><br>
										</div>
										<div class="product_info_room2">
											<span class="product_info_roomstxt2">기준 4인 / 최대 7인<br>
											<span class="txt_or2">체크인시 현지배정</span>
											</span>
										</div>
										
										<div class="clr"></div>
										
										<div class="mt-bar"></div>
										<div class="single-prc clr">
											<p class="p-row cf">
												<span class="pull-left">판매가격</span><span class="pull-right">90,000원</span>
											</p>
											<p class="p-row cf">
												<span class="pull-left">봉사료</span><span class="pull-right">10,000원</span>
											</p>
											<p class="p-row cf">
												<span class="pull-left">세금</span><span class="pull-right">10,000원</span>
											</p>
											<p class="p-row cf prc">
												<span class="pull-left">객실단품금액</span><span class="pull-right c-red">110,000원</span>
											</p>
										</div>
										<div class="clr"></div>
									</div>
								</label>
								<div class="clr"></div>
								<!-- // -->
								

								<div class="go_price" onclick="app_sprice();">
									<a href="#" class="clr">
										<img src="http://img.go.co.kr/mobile/pr_icon.png">
										<p class="click">
											<img src="http://img.go.co.kr/mobile/click_icon.png" class="clicon">클릭시 가격이 내려갑니다</p>
										<span class="a_tit">&nbsp;64,200원</span>
									</a>
								</div>
							</li>
							<li id="room1_li" class="room_li clr ">
								<input type="hidden" name="room1_hidden" id="room1_hidden" value="3502">
								<input type="hidden" name="room1_hiddeninfo" id="room1_hiddeninfo" value="eyJyb29tX25hbWUiOiI1MFx1ZDNjOVx1ZDYxNSIsInJtaW5fbnVtIjoiOCIsInJtYXhfbnVtIjoiMTAiLCJub3JtYWxfcHJpY2UiOjEzNjUwMCwicHJpY2UiOjEzNjUwMCwiZmluYWxfcHJpY2UiOjEzNjUwMCwic2hvd19wcmljZSI6MTEyODAwLCJkZXBvc2l0X3ByaWNlIjoxMDAwMDAsInJvb21faWQiOiIzNTAyIiwiYmVkdHlwZSI6Ilx1Y2NiNFx1ZDA2Y1x1Yzc3OFx1YzJkYyBcdWQ2MDRcdWM5YzBcdWJjMzBcdWM4MTUiLCJhdmFpbCI6IlkiLCJyb29tY250X2luZm8iOlsxMzAwMDAsMTM2NTAwLDEzMDAwMCwiMC4xIiwiTiIsIjQiXSwibm9fcGtnIjoiTiJ9">
								<input type="radio" name="sang" class="chk" value="3502" id="room1">
								<label for="room1">
						<div class="info_box">
							<div class="product_info_roomm2">
								<span class="product_info_roomtxt2">50평형  </span><br>
							</div>
							<div class="product_info_room2"><span class="product_info_roomstxt2">기준 8인 / 최대 10인<br><span class="txt_or2">체크인시 현지배정</span>
								</span>
							</div>
							<div class="product_info_price">
								<br>
								<span class="product_discount2">136,500원</span><br>
							</div>
						</div>
						</label>

								<div class="go_price" onclick="app_sprice();">
									<a href="#" class="clr"><img src="http://img.go.co.kr/mobile/pr_icon.png"><p class="click"><img src="http://img.go.co.kr/mobile/click_icon.png" class="clicon">클릭시 가격이 내려갑니다</p><span class="a_tit">&nbsp;128,500원</span></a>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div id="info_product_btn_w" class=" hide_div d_btn_wrap" style="z-index:88888;">
				<!--<div class="d_btn_wrap">
					<a class="a1" href="#" id="rlist_btn_txt">숙박예약</a>
					<a class="a2" href="javascript:pay_submit()">3만원 쿠폰팩 받기</a>
				</div>-->
				<p class="btn_wrap clr"><a id="rlist_btn_txt" class="p_bt2 rlist_btn a1" style="background: rgb(255, 255, 255); z-index: 99999;">객실 선택하기</a><a href="javascript:app_coupon_set()" class="p_bt1">30,000원 쿠폰팩 받기</a></p>
			</div>
		</div>
	</div>



</body>

</html>