<!DOCTYPE html>
<html lang="ko-KR">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0" />
	<title>문서 제목</title>

	<link rel="stylesheet" href="http://static.go.co.kr/css/swiper.min.css?ver=20170201154748" type="text/css"/>
	<link rel="stylesheet" href="http://static.go.co.kr/css/moblie_reset.css?ver=20170201154748" type="text/css"/>
	<link rel="stylesheet" href="http://static.go.co.kr/css/mobile_layout3.css?ver=20170201154748" type="text/css"/> 
  <!--css추가-->
  <link rel="stylesheet" href="http://static.go.co.kr/css/swiper.min.css" type="text/css"/> 
	<!-- <link rel="stylesheet" href="../../src/css/mobile_layout3_tmp.css" type="text/css"> -->
	<!--<link rel="stylesheet" href="http://static.go.co.kr/css/mobile_layout3_tmp.css" type="text/css">-->
  <!--<link rel="stylesheet" href="http://static.go.co.kr/css/m/history/history_m.css">-->
  
  <link rel="stylesheet" href="../../../src/css/m/history/history_m.css">

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  
  <!--js추가-->
  <script src="http://static.go.co.kr/js/swiper.min.js"></script>

  <!--<script src="http://static.go.co.kr/js/m/history/history_m.js"></script>-->
  <script src="../../../../src/js/m/history/history_m.js"></script>
  
</head>
<body>
	<div id="wrapper">
		<div id="scroll_box">
			<div id="top_box" style="position:fixed;top:0px;z-index:9999;width:100%;background:#ffffff">
				<!-- 서브페이지 상단 -->
				<div id="headTitle_box">
					<div id="headTitle">
						<span class="back">
							<a href="http://m.go.co.kr/home/main/"><img src="http://img.go.co.kr/mobile/btn_back.png" height="17" alt="뒤로"></a>
						</span>예약내역
            <a id="h-phone"><img src="http://img.go.co.kr/mobile/history_phone.png" alt="전화문의"></a>
					</div>
				</div>
        <!-- 변경내용 시작 -->
        <div class="clr"></div>
        <div class="history-tab-01 tab-02">
          <ul class="clr">
            <li class=""><a href="./history_02_1.html">예약정보</a></li>
            <li class=""><a href="./history_02_2.html">시설정보</a></li>
            <li class=""><a href="./history_02_3.html">지도</a></li>
            <li class="on"><a href="./history_02_4.html">주변관광지</a></li>
          </ul>
        </div>
        
			</div>

			<div id="top_box_bottom" style="height: 80px;"></div>
			
      <div class="history02-common clr">
        <ul class="name">
          <li><span class="ctgr">리조트/콘도</span><span class="tit">오션투유리조트</span></li>
          <li>강원 고성군 죽왕면 삼포리 243-13 <span class="addr">주소복사</span></li>
        </ul>
			</div>

      <div class="history04-wrap">
        <div class="history04-tab" id="history04-tab">
          <ul>
            <li class=""><a href="./history_02_4_1.html">인근여행지</a></li>
            <li class=""><a href="./history_02_4_2.html">주변지도</a></li>
            <li class=""><a href="./history_02_4_3.html">인근맛집</a></li>
            <li class="on"><a href="./history_02_4_4_2.html">인근숙소</a></li>
          </ul>
        </div> 
           
        <div class="history04-4 h04-4-2 history04-common">
          <ul class="list-box">
            <li class="clr">
              <div class="figure">
                <img src="http://file.go.co.kr/tour/img3/1425629623_main1.jpg">
              </div>
              <div class="con-area">
                <p class="title">히든베이호텔</p>
                <p class="text">전남 여수시 신월동 197-30</p>
                <div class="wra clr">
                  <span class="icon">
                    <img src="http://img.go.co.kr/mobile/icon_hotel.png"> 
                    <img src="http://img.go.co.kr/mobile/icon_grade1.png">
                  </span>
                  <span class="price">
                    <span class="lowprice">147,200원</span>
                  </span>	
                </div>
                <p class="text2">돌산대교 4.45km ㅣ 진남관 4.43km </p>
              </div>
              <a class="link-a" href=""></a>
            </li>
            <li class="clr">
              <div class="figure">
                <img src="http://file.go.co.kr/tour/img3/1425631618_main1.jpg">
              </div>
              <div class="con-area">
                <p class="title">대명 리조트[엔블호텔여수]</p>
                <p class="text">전남 여수시 수정동 332-15</p>
                <div class="wra clr">
                  <span class="icon">
                    <img src="http://img.go.co.kr/mobile/icon_hotel.png"> 
                    <img src="http://img.go.co.kr/mobile/icon_grade1.png">
                  </span>
                  <span class="price">
                    <span class="lowprice">19,000원</span>
                  </span>
                </div>
                <p class="text2">오동도 0.1km ㅣ 자산공원 1.3km</p>
              </div>
              <a class="link-a" href=""></a>
            </li>
            <li class="clr">
              <div class="figure">
                <img src="http://file.go.co.kr/tour/img3/1425543858_1.jpg">
              </div>
              <div class="con-area">
                <p class="title">여수HS관광호텔</p>
                <p class="text">전남 여수시 수정동 215-1</p>
                <div class="wra clr">
                  <span class="icon">
                    <img src="http://img.go.co.kr/mobile/icon_hotel.png"> 
                    <img src="http://img.go.co.kr/mobile/icon_grade1.png">
                  </span>
                  <span class="price">
                    <span class="lowprice">190,000원</span>
                  </span>
                </div>
                <p class="text2">여수세계박람회 1km ㅣ 오동도 1km</p>
              </div>
              <a class="link-a" href=""></a>
            </li>
            <li class="clr">
              <div class="figure">
                <img src="http://file.go.co.kr/tour/img3/1476439261_main1.jpg">
              </div>
              <div class="con-area">
                <p class="title">글로리아펜션</p>
                <p class="text">전남 여수시 화양면 이천리 200-1</p>
                <div class="wra clr">
                  <span class="icon">
                    <img src="http://img.go.co.kr/mobile/icon_pension.png"> 
                  </span>
                  <span class="price">
                    <span class="lowprice">48,000원</span>
                  </span>
                </div>
                <p class="text2">여수선서유적공원 10km ㅣ 여자도 15.5km </p>
              </div>
              <a class="link-a" href=""></a>
            </li>
            <li class="clr">
              <div class="figure">
                <img src="http://file.go.co.kr/tour/img3/1476439261_main1.jpg">
              </div>
              <div class="con-area">
                <p class="title">24게스트하우스</p>
                <p class="text">전남 여수시 공화동 657</p>
                <div class="wra clr">
                  <span class="icon">
                    <img src="http://img.go.co.kr/mobile/icon_guest.png">
                  </span>
                  <span class="price">
                    <span class="lowprice">47,800원</span>
                  </span>
                </div>
                <p class="text2">여수 아쿠아플라넷 부근에 위치</p>
              </div>
              <a class="link-a" href=""></a>
            </li>
          </ul>
          
          <div class="pagenation" id="pagenation">
            <a class="prev" href="">&lt;</a>
            <a class="on" href="">1</a>
            <a href="">2</a>
            <a href="">3</a>
            <a href="">4</a>
            <a href="">5</a>
            <a class="next" href="">&gt;</a>
          </div>
        </div>
      </div>
      
		</div><!--scrollbox 끝-->
    
	</div><!--wrapper 끝-->
	
</body>
</html>