<!DOCTYPE html>
<html lang="ko-KR">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0" />
  <title>문서 제목</title>

  <link rel="stylesheet" href="http://static.go.co.kr/css/swiper.min.css?ver=20170201154748" type="text/css"/>
  <link rel="stylesheet" href="http://static.go.co.kr/css/moblie_reset.css?ver=20170201154748" type="text/css"/>
  <link rel="stylesheet" href="http://static.go.co.kr/css/mobile_layout3.css?ver=20170201154748" type="text/css"/> 
  <!-- <link rel="stylesheet" href="../../src/css/mobile_layout3_tmp.css" type="text/css"> -->
  <!--<link rel="stylesheet" href="http://static.go.co.kr/css/mobile_layout3_tmp.css" type="text/css">-->
  <!--<link rel="stylesheet" href="http://static.go.co.kr/css/m/history/history_m.css">-->
  <link rel="stylesheet" href="../../../src/css/m/history/history_m.css">

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

  <script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

  <script src="http://static.go.co.kr/js/m/history/history_m.js"></script>

</head>
<body>
  <div id="wrapper">
    <div id="scroll_box">
      <div id="top_box" style="position:fixed;top:0px;z-index:9999;width:100%;background:#ffffff">
        <!-- 서브페이지 상단 -->
        <div id="headTitle_box">
          <div id="headTitle">
            <span class="back">
              <a href="http://m.go.co.kr/home/main/"><img src="http://img.go.co.kr/mobile/btn_back.png" height="17" alt="뒤로"></a>
            </span>모바일 입장권 바우처
            <a id="h-phone"><img src="http://img.go.co.kr/mobile/history_phone.png" alt="전화문의"></a>
          </div>
        </div>
        <!-- 변경내용 시작 -->
        <div class="clr"></div>
        <div class="history-tab-01 tab-02">
          <ul class="clr">
            <li class="on"><a href="./history_02_1.html">예약정보</a></li>
            <li class=""><a href="./history_02_2.html">시설정보</a></li>
            <li class=""><a href="./history_02_3.html">지도</a></li>
            <li class=""><a href="./history_02_4.html">주변관광지</a></li>
          </ul>
        </div>

      </div>

      <div id="top_box_bottom" style="height: 80px;"></div>

      <div class="history02-common clr">
        <ul class="name">
          <li><span class="ctgr">리조트/콘도</span><span class="tit">오션투유리조트</span></li>
          <li>강원 고성군 죽왕면 삼포리 243-13 <span class="addr">주소복사</span></li>
        </ul>
      </div>

      <div class="history02-info clr">
        <div class="ticket-ent">
          <div class="t-head">
            <p class="nth-1">TICKET VOUCHER</p>
            <p class="nth-2"><span class="check"></span>반드시 먼저 매표소로 가셔서 티켓을 교환 받으세요!</p>
          </div>
          <div class="t-contents">
            <table>
              <tr class="first"><td class="nth-1">주문번호</td><td class="nth-2">대인1</td></tr>
              <tr><td class="nth-1">유효기간</td><td class="nth-2">2017.04.29~2017.05.31</td></tr>
              <tr><td class="nth-1">상품명</td><td class="nth-2">일반 케빈(바닥 불투명) 왕복권</td></tr>
              <tr class="last"><td class="nth-1">판매처 정보</td><td class="nth-2">고코투어</td></tr>
            </table>
          </div>
          <div class="t-footer">
            <div class="barcode">
              <p class="p1">
                <img src="http://img.go.co.kr/mobile/h_barcode.png" alt="바코드">
              </p>
              <p>8460&nbsp;&nbsp;-&nbsp;&nbsp;8690</p>
            </div>
            <span class="mag"></span>
          </div>
          <a href="" id="btn-barcode"></a>
        </div>
        <!--바코드 팝업-->
        <div class="barcode-pop" id="barcode-pop">
          <div class="box">
            <p class="nth-1">여수해상케이블카 입장권</p>
            <p class="nth-2"></p>
            <p class="nth-3">2013&nbsp;&nbsp;&nbsp;0130&nbsp;&nbsp;&nbsp;9767&nbsp;&nbsp;&nbsp;3035</p>
            <a href="" class="btn-a-cancel"></a>
          </div>
        </div>
        <ul class="form reservation-02">
          <li>예약정보</li>
          <li><div class="d-l">상품타입</div><div class="d-r">일반 캐빈(바닥 불투명)왕복권</div></li>
          <li><div class="d-l">구매매수</div><div class="d-r">대인 1매<br>소인 0매</div></li>
          <li><div class="d-l">이용일</div><div class="d-r c-red">2017.04.28 (금)</div></li>
          <li><div class="d-l">주문번호</div><div class="d-r">go2017042812030243935</div></li>
          <li class="line"><div class="d-l">예약자</div><div class="d-r">김지영</div></li>
          <li><div class="d-l">연락처</div><div class="d-r">010-1234-5678</div></li>
        </ul>
        <div class="ticket-ent tour">
          <div class="t-head">
            <p class="nth-1">INFORMATION</p>
            <p class="nth-2">여행사 정보</p>
          </div>
          <div class="t-footer">
            <table>
              <tr class="first"><td class="nth-1">주문번호</td><td class="nth-2">go123456755</td></tr>
              <tr><td class="nth-1">예약 담당자</td><td class="nth-2">정보라</td></tr>
              <tr><td class="nth-1">담당자 연락처</td><td class="nth-2">1666-1243</td></tr>
              <tr class="last"><td class="nth-1">판매처 정보</td><td class="nth-2">고코투어</td></tr>
            </table>
            <span class="won"></span>
          </div>
        </div>
        <ul class="form note note-voucher">
          <li>사용안내</li>
          <li class="have-dot">
            당일 구매 후 당일 사용이 불가합니다.
          </li>
          <li class="have-dot">
            본 상품은 일반 캐빈용이며, 크리스탈 캐빈은 이용하실 수 없
            습니다.
          </li>
          <li class="have-dot">
            애완견 등 애완동물은 애견가방없이 탑승 불가하며, 반드시 
            가방에 넣어주셔야 탑승이 가능합니다.(단, 장애인 보조견은 
            제외)
          </li>
        </ul>
        <ul class="way">
          <li><img src="http://img.go.co.kr/mobile/notice_icons.jpg" alt="토크"> 이용방법</li>
          <li class="nth-1">매표소 방문(자산 또는 돌산 탑승장)</li>
          <li class="nth-2">모바일 티켓 제시</li>
          <li class="nth-3">지류 탑승권 수령</li>
          <li class="nth-4">케이블카 탑승 시 지류 탑승권 제시 / 탑승</li>
        </ul>


      </div>






    </div>
  </div>
</body>
</html>