<!DOCTYPE html>
<html lang="ko-KR">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0" />
	<title>문서 제목</title>

	<link rel="stylesheet" href="http://static.go.co.kr/css/swiper.min.css?ver=20170201154748" type="text/css"/>
	<link rel="stylesheet" href="http://static.go.co.kr/css/moblie_reset.css?ver=20170201154748" type="text/css"/>
	<link rel="stylesheet" href="http://static.go.co.kr/css/mobile_layout3.css?ver=20170201154748" type="text/css"/> 
  <!--css추가-->
  <link rel="stylesheet" href="http://static.go.co.kr/css/swiper.min.css" type="text/css"/> 
	<!-- <link rel="stylesheet" href="../../src/css/mobile_layout3_tmp.css" type="text/css"> -->
	<!--<link rel="stylesheet" href="http://static.go.co.kr/css/mobile_layout3_tmp.css" type="text/css">-->
  <!--<link rel="stylesheet" href="http://static.go.co.kr/css/m/history/history_m.css">-->
  
  <link rel="stylesheet" href="../../../src/css/m/history/history_m.css">

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  
  <!--js추가-->
  <script src="http://static.go.co.kr/js/swiper.min.js"></script>

  <!--<script src="http://static.go.co.kr/js/m/history/history_m.js"></script>-->
  <script src="../../../../src/js/m/history/history_m.js"></script>
  
</head>
<body>
	<div id="wrapper">
		<div id="scroll_box">
			<div id="top_box" style="position:fixed;top:0px;z-index:9999;width:100%;background:#ffffff">
				<!-- 서브페이지 상단 -->
				<div id="headTitle_box">
					<div id="headTitle">
						<span class="back">
							<a href="http://m.go.co.kr/home/main/"><img src="http://img.go.co.kr/mobile/btn_back.png" height="17" alt="뒤로"></a>
						</span>예약내역
            <a id="h-phone"><img src="http://img.go.co.kr/mobile/history_phone.png" alt="전화문의"></a>
					</div>
				</div>
        <!-- 변경내용 시작 -->
        <div class="clr"></div>
        <div class="history-tab-01 tab-02">
          <ul class="clr">
            <li class=""><a href="./history_02_1.html">예약정보</a></li>
            <li class=""><a href="./history_02_2.html">시설정보</a></li>
            <li class=""><a href="./history_02_3.html">지도</a></li>
            <li class="on"><a href="./history_02_4.html">주변관광지</a></li>
          </ul>
        </div>
        
			</div>

			<div id="top_box_bottom" style="height: 80px;"></div>
			
      <div class="history02-common clr">
        <ul class="name">
          <li><span class="ctgr">리조트/콘도</span><span class="tit">오션투유리조트</span></li>
          <li>강원 고성군 죽왕면 삼포리 243-13 <span class="addr">주소복사</span></li>
        </ul>
			</div>

      <div class="history04-wrap">
        <div class="history04-tab" id="history04-tab">
          <ul>
            <li class=""><a href="./history_02_4_1.html">인근여행지</a></li>
            <li class="on"><a href="./history_02_4_2.html">주변지도</a></li>
            <li class=""><a href="./history_02_4_3.html">인근맛집</a></li>
            <li class=""><a href="./history_02_4_4_1.html">인근입장권</a></li>
          </ul>
        </div> 
           
        <div class="history04-2 history04-common">
          <!--지도 삽입. 임시로 이미지 넣어놈-->                      
          <div class="map-box"><img class="map-img" src="http://img.go.co.kr/mobile/h04_map.jpg" alt="지도"></div>
          <!--spot 터치시-->
          <!--<div class="map-box"><img class="map-img" src="http://img.go.co.kr/mobile/h04_map_touch.jpg" alt="지도"></div>-->
        </div>
      </div>
		</div><!--scrollbox 끝-->
    
	</div><!--wrapper 끝-->
	
</body>
</html>