<!DOCTYPE html>
                             <html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0">
	<title>가자닷컴투어</title>
	
	<link rel="stylesheet" href="http://static.gaza82.co.kr/css/moblie_reset.css" type="text/css">
	<link rel="stylesheet" href="http://static.go.co.kr/css/totalmobile.css" type="text/css">
	
	
	<!--171016가자닷컴투어 리뉴얼Css, 폰트추가-->
	<link rel="stylesheet" href="http://static.go.co.kr/css/jquery.bxslider.css">
	<link rel="stylesheet" href="http://cdn.rawgit.com/hiun/NanumSquare/master/nanumsquare.css">
	<link rel="stylesheet" href="../src/css/renew/init_m.css">
	<!--<link rel="stylesheet" href="http://static.gaza82.co.kr/css/renew/init_m.css">-->
	
	
	<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	
	
	<!--171016 리뉴얼 Js 추가-->
	<script src="http://static.go.co.kr/js/jquery.bxslider.min.js"></script>
	<!--<script src="../src/js/renew/init_m.js"></script>-->
	<!--<script src="http://static.gaza82.co.kr/js/renew/init_m.js"></script>-->
	
	
</head>
<body>

<h1 class="hidden">가자닷컴투어</h1>
<div class="rn-wrapper">
	<div class="rn-mdBox" id="rn-mdBox">
		<img src="http://img.gaza82.co.kr/renew/m/logo.png" alt="가자닷컴" class="logo">
		<div class="md-txt"><img src="http://img.gaza82.co.kr/renew/md_txt.png" alt="어디로떠날까요?"></div>
		<div class="rn-schBox ftfm-sq bsLs clr">
			<h2 class="hidden">숙소검색</h2>

			<div class="d1">
				<p class="p1"><input class="sch-inp" type="text" tabindex="-1" value="도시, 지역, 혹은 호텔명 입력"/><span class="i-sch i-pen"></span></p>
			</div>
			<div class="d2 cm-s" id="rgSelect">
				<p class="p1"><span class="s-txt">숙박유형</span><span class="i-sch i-bad"></span></p>
				<!--<div class="rgOption" id="rgOption">
					<div class="rgScroller">
						<ul class="ul1 ul1-rg">
							<li><a href="#">전체</a></li>
							<li><a href="#">호텔</a></li>
							<li><a href="#">모텔</a></li>
							<li><a href="#">리조트/콘도/레지던스</a></li>
							<li><a href="#">펜션</a></li>
							<li><a href="#">게스트하우스</a></li>
							<li><a href="#">유스호스텔</a></li>
							<li><a href="#">반려동물 동반입실</a></li>
						</ul>
					</div>
				</div>-->
			</div>
			<div class="d3 cm-s">
				<p class="p1"><input class="date-in date-chk" type="text" tabindex="-1" value="체크인 날짜"/><span class="i-sch i-cal"></span></p>
			</div>
			<div class="d4 cm-s" id="dtRgSelect">
				<p class="p1"><input class="date-out date-chk" type="text" tabindex="-1" value="체크아웃 날짜"/><span class="i-sch i-cal"></span></p>
			</div>
			<div class="d5">
				<button type="button"><img src="http://img.gaza82.co.kr/renew/i_mag.png" alt="찾아보기">검색</button>
			</div>
		</div>
		<div class="mg-"></div>
		
		<button class="scrBtn" type="button"></button>
	</div>
</div>
	
	
</body>
</html>