@charset "utf-8";

#footer2 {height:54px; margin-top:0; border-top:1px solid #000; border-bottom:none; background-color:#323232;}
#footer2 .link2 {width:1000px; height:54px; border-bottom:1px solid #505050; line-height:54px;}
#footer2 .link2 a {color:#a3a3a3;}
#footer2 .link2 a:hover {color:#fff}
#footer2 .link2 a:active {font-weight: 400;}
#footer2 .mail {color:#fff; font-size:14px; vertical-align:middle;}
#footer2 .link2 #family_site {top:16px; width:133px}
#footer2 .link2 .fam_btn_m {width:auto; border:1px solid #4c4c4c; background-color:#313131; width: 133px; height: 22px; padding: 0;}
#footer2 .link2 .fam_btn_m a {display: inline-block; width: 100%;height: 100%;}
#footer2 .link2 #family_list {width:133px; border:1px solid #4c4c4c; background-color:#313131;}
#footer2 .link2 #family_list .fam_btn {padding-left: 15px; line-height: 20px;}
#footer4 {padding:30px 0 50px; background-color:#323232;}
#footer4 .wrap {overflow:hidden; position:relative; width:1000px; margin:0 auto;}
#footer4 .wrap .f_logo {float:left;}
#footer4 .wrap .txt {margin-left:40px; padding-top:0;}
#footer4 .wrap .txt p {margin-bottom:10px; font-size:13px;}
#footer4 .wrap .txt p strong {color:#cdcdcd; font-size:15px;}
#footer4 .wrap .txt p a {margin-left:5px; vertical-align:middle;}
#footer4 .wrap .txt p span {color:#a3a3a3; vertical-align:middle;}
#footer4 .wrap .customer {float:right;}
.customer li {width:190px; height:70px; margin-bottom:10px; padding:10px 0 0 84px;}
.customer li.f_call {background:url('http://img.go.co.kr/f_ico_call.gif') no-repeat 20px 15px #414141;}
.customer li.f_mail {background:url('http://img.go.co.kr/f_ico_mail.gif') no-repeat 20px 15px #414141;}
.customer li p {color:#a4a4a4; font-size:14px;}
.customer li strong {color:#a4a4a4;}
.customer li.f_call strong {font-size:38px; line-height:35px; letter-spacing:-4px;}
.customer li.f_mail strong {font-size:28px; line-height:30px; letter-spacing:-2px;}
#footer4 .wrap .icon {float:none; position:absolute; right:0; bottom:0; width:auto; padding-top:0; font-size:0;}
#footer4 .wrap .icon a, #footer4 .wrap .icon img {margin-left:10px;}