#mypage #box .my_banner {background-color:#b0d8dc;}
#mypage #box .my_banner img {height:60px;}

.free_tiket {float:left; width:100%; padding:15px 10px 10px; border-top:1px solid #dedede; background-color:#aed5d9; box-sizing:border-box;}
.free_tiket .title {color:#3d3d3d; font-style:italic; font-weight:bold; font-size:20px; text-align:center;}
.free_tiket .title span {font-size:23px;}
.free_tiket .title span:first-child {color:#135a76;}
.free_tiket .title span:last-child {color:#ff6702;}
.free_tiket .coupon {overflow:hidden; position:relative; margin-top:5px; padding:10px 0; background-color:#fff;}
.free_tiket .coupon .view {position:relative; width:290px; height:90px; margin:0 auto;}
.free_tiket .coupon .view:before {content:''; display:block; position:absolute; right:34px; top:-15px; width:10px; height:10px; border-radius:100%; background-color:#aed5d9;}
.free_tiket .coupon .view:after {content:''; display:block; position:absolute; right:34px; bottom:-15px; width:10px; height:10px; border-radius:100%; background-color:#aed5d9;}
.free_tiket .coupon .view .fin {float:right; padding-left:10px; width:29px; border-left:1px dotted #c9c9c9; text-align:center;}
.free_tiket .coupon .view .fin div {height:83px; padding-top:5px; border:1px solid #d6d6d6; border-radius:2px; line-height:12px;}
.free_tiket .coupon .view .fin div span {display:block; height:49px; margin-top:5px; padding-top:16px; border-top:1px solid #c9c9c9; font-size:12px;}
.free_tiket .coupon .view .fin.on div span {border-color:#fa6b0a; background-color:#fa6b0a; color:#fff;}
.free_tiket .coupon .view .stamp {float:left; width:240px; margin-right:10px;}
.stamp {overflow:hidden;}
.stamp li {float:left; position:relative; width:38px; height:38px; margin:10px 0 0 10px; border:1px solid #d6d6d6; border-radius:2px; color:#919191; font-size:12px; text-align:center; line-height:38px;}
.stamp li:first-child, .stamp li:nth-child(6) {margin-left:0;}
.stamp li:nth-child(1), .stamp li:nth-child(2), .stamp li:nth-child(3), .stamp li:nth-child(4), .stamp li:nth-child(5) {margin-top:0;}
.stamp li:before {content:''; display:block; position:absolute; left:39px; top:50%; width:5px; height:1px; background-color:#d6d6d6;}
.stamp li:after {content:''; display:block; position:absolute; left:45px; top:50%; width:3px; height:3px; margin-top:-1px; border-radius:100%; background-color:#d6d6d6;}
.stamp li:nth-child(5):before, .stamp li:nth-child(10):before, .stamp li:nth-child(5):after, .stamp li:nth-child(10):after {display:none;}
.stamp li div {display:none; position:absolute; left:-1px; top:-1px; width:40px; height:40px; background-color:#fc6d1f; border-radius:2px; line-height:12px;}
.stamp li.on div {display:block;}
.stamp li div:before {content:''; display:block; position:absolute; left:50%; bottom:3px; width:18px; height:15px; margin-left:-9px; background:url('http://img.go.co.kr/mobile/ico_coupon_stamp.png') no-repeat 0 0; background-size:100% 100%;}
.stamp li.on:before, .stamp li.on:after {background-color:#fc6d1f;}
.stamp li div span {display:inline-block; margin-top:5px; padding:1px; border:1px solid #fff; border-radius:2px; color:#fff; font-size:10px;}
.tiket_btn {overflow:hidden; margin-top:15px}
.tiket_btn li {float:left; width:50%; padding-left:5px; text-align:center; box-sizing:border-box;}
.tiket_btn li:first-child {padding-left:0;}
.tiket_btn li a {display:block; height:26px; line-height:26px;}
.tiket_btn li a.btn_view { background-color:#68a0b5;}
.tiket_btn li a.btn_login {background-color:#36839f;}
.tiket_btn a span {position:relative; color:#fff; font-weight:bold; font-size:12px;}
.tiket_btn a span:before {content:''; display:block; position:absolute; right:-20px; top:50%; width:8px; height:8px; margin-top:-4px; border-left:2px solid #fff; border-top:2px solid #fff; transform:rotate(135deg);}
.free_tiket_detail {padding:30px 0 25px; background-color:#b0d8dc; text-align:center;}
.free_tiket_detail .title {margin-bottom:10px; color:#313131; font-style:italic; font-weight:bold; font-size:25px; line-height:35px;}
.free_tiket_detail .title span {font-size:30px;}
.free_tiket_detail .title span i:first-child {color:#135a76;}
.free_tiket_detail .title span i:last-child {color:#ff6702;}
.free_tiket_detail .text {color:#2c2c2c; font-size:14px;}
.free_tiket_detail .text .line {text-decoration:underline;}
.free_tiket_detail .coupon_area {width:280px; margin:15px auto 0; padding:5px; background-color:#135a77;}
.free_tiket_detail .coupon_area .coupon {position:relative; padding:10px; background-color:#fff;}
.free_tiket_detail .coupon_area .coupon:before {content:''; display:block; position:absolute; left:-5px; bottom:65px; width:8px; height:8px; border-radius:100%; background-color:#135a77;}
.free_tiket_detail .coupon_area .coupon:after {content:''; display:block; position:absolute; right:-5px; bottom:65px; width:8px; height:8px; border-radius:100%; background-color:#135a77;}
.free_tiket_detail .coupon_area .coupon .stamp {width:240px; margin:0 auto;}
.free_tiket_detail .coupon_area .coupon .fin {width:240px; margin:10px auto 0; padding-top:10px; border-top:1px dotted #c9c9c9;}
.free_tiket_detail .coupon_area .coupon .fin .fin_wrap {overflow:hidden; position:relative;  border:1px solid #d6d6d6; border-radius:2px; text-align:center;}
.free_tiket_detail .coupon_area .coupon .fin .fin_wrap:before {content:''; display:block; position:absolute; left:83px; top:-2px; width:3px; height:3px; border:1px solid #d6d6d6; border-radius:100%; background-color:#fff;}
.free_tiket_detail .coupon_area .coupon .fin .fin_wrap:after {content:''; display:block; position:absolute; left:83px; bottom:-2px; width:3px; height:3px; border:1px solid #d6d6d6; border-radius:100%; background-color:#fff;}
.free_tiket_detail .coupon_area .coupon .fin .fin_wrap .img {float:left; width:85px; height:46px; line-height:46px;}
.free_tiket_detail .coupon_area .coupon .fin .fin_wrap .img img {vertical-align:middle;}
.free_tiket_detail .coupon_area .coupon .fin .fin_wrap .complete {float:left; width:152px; border-left:1px dashed #d6d6d6; height:46px; color:#5c5c5c; font-size:19px; line-height:46px;}
.free_tiket_detail .coupon_area .coupon .fin.on .fin_wrap .complete {background-color:#fc6d1f; color:#fff;}
.free_tiket_detail .coupon_area .stamp_txt {margin-top:5px; padding:3px 0 5px; border-top:1px solid rgba(255,255,255,.27); color:#cedce2; font-size:12px; line-height:1.2;}
.notice {padding:30px 15px 70px; background-color:#d9d9d9;}
.notice > strong {color:#2b2a2a; font-size:12px;}
.notice .blt_type01 {margin-top:10px;}
.notice .blt_type01 > li {position:relative; padding-left:6px; color:#686767; font-size:12px;}
.notice .blt_type01 > li:before {content:''; display:block; position:absolute; left:0; top:8px; width:3px; height:3px; border-radius:100%; background-color:#686767;}