
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

/*reset*/

*{margin:0;padding:0;font-family:'맑은고딕' 'NanumGothic', 'MalgunGothic', 'Noto Sans KR', sans-serif;}
body {
font-family:font-family:'맑은고딕' 'NanumGothic', 'MalgunGothic', 'Noto Sans KR', sans-serif; }
ul li{list-style:none;}
.clear{clear:both;display:block;content:"";}
.cf:before, .cf:after {content: ""; display: block;}
.cf:after {clear: both;}
.f-bd {font-weight: 700;}

@media screen and (-webkit-min-device-pixel-ratio:1.5){} /* 안드로이드 */


/*==================
스마트폰 기본 세팅 
====================*/
/*smartphones ( portrait )*/
@media all and (max-width:320px){}

/*smartphones ( landscape )*/
@media all and (min-width:321px) and (max-width:360px){}

/*smartphones ( landscape )*/
@media all and (min-width:361px) and (max-width:375px){}

/*smartphones ( landscape )*/
@media all and (min-width:376px) and (max-width:414px){}

/*smartphones ( landscape )*/
@media all and (min-width:415px) and (max-width:480px){}

/*tablet( portrait )*/
@media all and (min-width:481px) and (max-width:533px){}

/*tablet ( portrait )*/
@media all and (min-width:534px) and (max-width:640px){}

/*tablet ( portrait )*/
@media all and (min-width:641px) and (max-width:768px){}

/*tablet ( landscape )*/
@media all and (min-width:769px) and (max-width:1024px){}



/*=================
데스크탑 기본 세팅 
===================*/

#waper{width:100%;margin:0 auto;} 
	
#top_content {
	position: relative;
	width:100%;
	height:150px;
	margin: 0 auto;
	background:#006c8a;
	background-image:url('http://img.go.co.kr/policy_kcp/top_content.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size:320px;

}
#top_content .top_list{padding:5px 0px 0px 30px;}
#top_content .top_list ul {height:auto;overflow:hidden;}
#top_content .top_list ul li{float:left;font-size:15px;margin-right:5px;height:20px;line-height:20px;padding-bottom:3px;color:#fff;}
#top_content .top_list ul li.amount{color:#fffea8;}

#container{width:100%;height:auto;overflow:hidden;background:#f4f4f4;}
#container .payBox{width:90%;background:#fff;border:1px solid #d9d9d9;margin:10px auto;padding:10px;margin-top:10px;}
#container .payBox li {width:100%;height:40px;line-height:40px;vertical-align:left;font-size:14px;bordeR:1px solid #fff;}
.card_choiceBox{width:100%;height:35px;vertical-align:left;font-size:14px;bordeR:1px solid #fff;}
#container .payBox li p{width:25%;float:left;height:35px;text-align:left;color:#333;font-weight:600;}
/*#container .payBox li > .card_choice{width:75%;height:50px;padding-bottom:12px;text-align:left;font-size:18px;bordeR:1px solid red;}*/

	/*셀렉트박스 디자인*/
.selectbox {
	position: relative; 
	float:left;
	width:72%;
	height:35px;
	text-align:left;
	font-size:15px;
	bordeR:1px solid #c8c8c8;
	text-align:left;color:#333;
	font-weight:600;
	z-index: 1;
	} 

.selectbox:before { 
	/* 화살표 대체 */ 
	content: ""; 
	position: absolute; 
	top: 50%; 
	right: 15px; 
	width: 0; 
	height: 0;
	margin-top: -1px;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #333;
	}
.selectbox label {
	position: absolute;
	top: -5px; /* 위치정렬 */
	left: 5px; /* 위치정렬 */ 
	 padding: .1em .5em; /*select의 여백 크기 만큼 */
	color: #999;
	z-index: -1; /* IE8에서 label이 위치한 곳이 클릭되지 않는 것 해결 */
	}

.selectbox select {
	width: 100%;
	height: auto; /* 높이 초기화 */
	line-height: normal; /* line-height 초기화 */
	font-family: inherit; /* 폰트 상속 */
	padding: .2em .5em;  /*여백과 높이 결정 */
	border: 0; opacity: 0; /* 숨기기 */ 
	filter:alpha(opacity=0); /* IE8 숨기기 */
	-webkit-appearance: none; /* 네이티브 외형 감추기 */
	-moz-appearance: none;
	appearance: none;
	font-size:142017-04-24px;
	}



	
	

	
#container .payBox li span{height:35px;font-size:14px;}
#container .payBox li > .card_number input{
	display:inline-block;
	float:left;
	width:15.7%;
	line-height:35px;
	height:35px;
	margin-right:8px;
	text-align:center;
	border:1px solid #c8c8c8;
	}
#container .payBox li > .card_number input:nth-child(4n) { margin-right:0px; }
#container .payBox li > .card_password input{
	display:inline-block;
	float:left;
	width:80px;
	height:35px;
	line-height:35px;
	border:1px solid #c8c8c8;
	}
/*	#container .payBox li > .card_expiration select{
		position:relative;
		width:25%;
		height:48px;
		line-height:48px;
		font-size:18px;
		-webkit-appearance: none;
		-webkit-border-radius: 0;
		text-indent:10px;
		}*/

#container .payBox li > .card_expiration{display:block;float:left;}

	/*셀렉트박스 디자인*/
.selectbox2 {
	position: relative; 
	float:left;
	width:26%;
	height:35px;
	text-align:left;
	font-size:14px;
	bordeR:1px solid #c8c8c8;
	text-align:left;color:#333;
	font-weight:600;
	z-index: 1;
	} 

.selectbox2:before { 
	/* 화살표 대체 */ 
	content: ""; 
	position: absolute; 
	top: 50%; 
	right: 10px; 
	width: 0; 
	height: 0;
	margin-top: -1px;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #333;
	}
.selectbox2 label {
	position: absolute;
	top: -5px; /* 위치정렬 */
	left: 3px; /* 위치정렬 */ 
	padding: .3em .3em; /*select의 여백 크기 만큼 */
	color: #999;
	z-index: -3; /* IE8에서 label이 위치한 곳이 클릭되지 않는 것 해결 */
	}

.selectbox2 select {
	width: 100%;
	height: auto; /* 높이 초기화 */
	line-height: normal; /* line-height 초기화 */
	font-family: inherit; /* 폰트 상속 */
	padding: .0em .5em;  /*여백과 높이 결정 */
	border: 0; opacity: 0; /* 숨기기 */ 
	filter:alpha(opacity=0); /* IE8 숨기기 */
	-webkit-appearance: none; /* 네이티브 외형 감추기 */
	-moz-appearance: none;
	appearance: none;
	font-size:14px;
	}






#container .payBox li > .divide input{width:25px;height:25px;vertical-align:middle;bordeR:1px solid #fff;}
#container .payBox li > .birth input{
	display:inline-block;
	float:left;
	width:70%;
	height:35px;
	line-height:35px;
	margin-bottom:3px;
	bordeR:1px solid #c8c8c8;
	}
#container .payBox li.installment_wraper{position:relative;line-height:30px;padding-bottom:15px;}


/*셀렉트박스 디자인*/

.selectbox3 {
	position: relative; 
	float:left;
	width:73%;
	height:35px;
	text-align:left;
	font-size:14px;
	bordeR:1px solid #c8c8c8;
	text-align:left;color:#333;
	font-weight:600;
	z-index: 1;
	} 

.selectbox3:before { 
	/* 화살표 대체 */ 
	content: ""; 
	position: absolute; 
	top: 50%; 
	right: 15px; 
	width: 0; 
	height: 0;
	margin-top: -1px;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #333;
	}
.selectbox3 label {
	position: absolute;
	top: 0px; /* 위치정렬 */
	left: 5px; /* 위치정렬 */ 
	padding: .3em .3em; /*select의 여백 크기 만큼 */
	color: #999;
	z-index: -5; /* IE8에서 label이 위치한 곳이 클릭되지 않는 것 해결 */
	}

.selectbox3 select {
	width: 100%;
	height: auto; /* 높이 초기화 */
	line-height: normal; /* line-height 초기화 */
	font-family: inherit; /* 폰트 상속 */
	padding: .2em .3em;  /*여백과 높이 결정 */
	border: 0; opacity: 0; /* 숨기기 */ 
	filter:alpha(opacity=0); /* IE8 숨기기 */
	-webkit-appearance: none; /* 네이티브 외형 감추기 */
	-moz-appearance: none;
	appearance: none;
	font-size:14px;
	font-weight:normal;
	}

#container .payBox li  span.red_pontTxt{
	display:block;
	position:absolute;
	bottom:-20px;
	left:85px;
	line-height:20px !important;
	font-size:14px;
	color:#ff0000;		
	}
#container .payment_btn{width:95%;margin:0 auto;}
#container .payment_btn input{
	height:45px;
	font-size:15px;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	text-indent:10px;
	cursor:pointer;
	}
#container .payment_btn input.cancel{width:32%;background:#fff;border:1px solid #c8c8c8;}
#container .payment_btn input.payment{width:64.8%;background:#cc242a;color:#fff;border:none;margin-left:0.5%;}

#container .policy{width:90%;background:#fff;border:1px solid #d9d9d9;margin:15px auto;padding:10px;}
#container .policy .check_btn{
	width:100%;
	height:45px;
	line-height:45px;
	background:#3d484e;
	color:#fff;
	font-size:13px;
	font-weight:600;
	vertical-align:middle;
	}

.checkbox_01{width:25px;height:25px;background:#fff;border:1px solid #ddd;vertical-align:middle;color:#000;margin-left:5px;}
.checkbox_02{width:25px;height:25px;background:#fff;border:1px solid #ddd;vertical-align:middle;color:#000;margin-left:5px;}

.policy_Box{margin-top:15px;}
.checkbox_02{width:25px;height:25px;vertical-align:middle;}

.policy_Box01{position:relative;font-size:13px;}
.policy_Box02{position:relative;font-size:13px;}


/*.policy_Box01 input[type="checkbox"] { 
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip:rect(0,0,0,0); border: 0 
	}
.policy_Box01 input[type="checkbox"] + label {
	display: inline-block;
	position: relative;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	}
.policy_Box01 input[type="checkbox"] + label:before {
	content: ' ';
	display: inline-block;
	width: 21px;
	height: 21px;
	line-height: 21px;
	margin: -2px 8px 0 0;
	text-align: center;
	vertical-align: middle;
	background: #fafafa;
	border: 1px solid #cacece;
	border-radius : 3px;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.05), 
	inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	} 
.policy_Box01 input[type="checkbox"] + label:active:before, 
.policy_Box01 input[type="checkbox"]:checked + label:active:before { 
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), 
	inset 0px 1px 3px rgba(0,0,0,0.1); 
	}
.policy_Box01 input[type="checkbox"]:checked + label:before {
	 content: '\2714'; 
	 color: #333;
	 text-shadow: 1px 1px #fff;
	 background: #e9ecee;
	 border-color: #adb8c0;
	 box-shadow: 0px 1px 2px rgba(0,0,0,0.05),
	 inset 0px -15px 10px -12px rgba(0,0,0,0.05),
	 inset 15px 10px -12px rgba(255,255,255,0.1); 
	 }



.policy_Box02 input[type="checkbox"] { 
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip:rect(0,0,0,0); border: 0 
	}
.policy_Box02 input[type="checkbox"] + label {
	display: inline-block;
	position: relative;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	}
.policy_Box02 input[type="checkbox"] + label:before {
	content: ' ';
	display: inline-block;
	width: 21px;
	height: 21px;
	line-height: 21px;
	margin: -2px 8px 0 0;
	text-align: center;
	vertical-align: middle;
	background: #fafafa;
	border: 1px solid #cacece;
	border-radius : 3px;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.05), 
	inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	} 
.policy_Box02 input[type="checkbox"] + label:active:before, 
.policy_Box02 input[type="checkbox"]:checked + label:active:before { 
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), 
	inset 0px 1px 3px rgba(0,0,0,0.1); 
	}
.policy_Box02 input[type="checkbox"]:checked + label:before { 
	 content: '\2714'; 
	 color: #333;
	 text-shadow: 1px 1px #fff;
	 background: #e9ecee;
	 border-color: #adb8c0;
	 box-shadow: 0px 1px 2px rgba(0,0,0,0.05),
	 inset 0px -15px 10px -12px rgba(0,0,0,0.05),
	 inset 15px 10px -12px rgba(255,255,255,0.1); 
	 }
*/
.textarea01{
	display:block;
	width:95%;
	height:100px;
	margin:0 auto;
	font-size:11px;
	margin-top:20px;
	background:#f8f8f8;
	bordeR:1px solid #d9d9d9;
	}

@media all and (min-width:1025px){}
	@media (min-width: 640px) {
	#waper{width:640px;} 
	#top_content{
		width:100%;
		height:100%;
		position:relative;
		background:#006c8a;
		background-image:url('http://img.go.co.kr/policy_kcp/top_content.jpg');
		background-position:center;
		background-repeat: no-repeat;
		background-size:320px;
	} 
	#top_content .top_list{padding:0px 0px 0px 40px;}
	#top_content .top_list ul {height:auto;overflow:hidden;}
	#top_content .top_list ul li{float:left;font-size:15px;margin-right:5px;line-height:25px;color:#fff;padding-bottom:5px;}
	#top_content .top_list ul li.amount{color:#fffea8;}

	#container{width:640px;height:auto;overflow:hidden;background:#f4f4f4;}
	#container .payBox{width:510px;background:#fff;border:1px solid #d9d9d9;margin:15px auto;padding:30px;}
	#container .payBox li {width:510px;height:40px;line-height:40px;vertical-align:left;font-size:14px;}
	#container .payBox li > .card_choice{width:365px;height:35px;text-align:left;font-size:15px;}



	#container .payBox li input{
		height:35px;
		font-size:15px;
		border:1px solid #c8c8c8;
		}
	#container .payBox li > .card_number input{
		width:80px;
		line-height:30px;
		margin-right:10px;
		margin-bottom:5px;
		border-radius:0;
		-webkit-appearance:none;
		}
	#container .payBox li > .card_password input{width:80px;line-height:35px;}
	#container .payBox li > .card_expiration select{
		width:150px;
		height:35px;
		line-height:35px;
		font-size:16px;
		}
	#container .payBox li > .divide input{width:20px;height:20px;vertical-align:middle;}
	#container .payBox li > .birth input{width:365px;line-height:35px;border-radius:0;-webkit-appearance:none;}
	#container .payBox li.installment_wraper{position:relative;}
	#container .payBox li > .installment{width:365px;height:35px;font-size:15px;}
	#container .payBox li  span.red_pontTxt{
		display:block;
		position:absolute;
		bottom:-20px;
		left:130px;
		line-height:20px !important;
		font-size:14px;
		color:#ff0000;
		
		}

	#container .payment_btn{width:579px;height:45px;margin:0 auto;}
	#container .payment_btn input{
		height:45px;
		font-size:15px;
		-webkit-appearance: none;
		-webkit-border-radius: 0;
		text-indent:10px;
		cursor:pointer;
		}
	#container .payment_btn input.cancel{width:219px;background:#fff;border:1px solid #c8c8c8;margin-right:0px;}
	#container .payment_btn input.payment{width:340px;background:#cc242a;color:#fff;border:none;}
	
	#container .policy{width:510px;background:#fff;border:1px solid #d9d9d9;margin:15px auto;padding:15px;}
	#container .policy .check_btn{
		width:100%;
		height:45px;
		line-height:45px;
		background:#3d484e;
		color:#fff;
		font-size:13px;
		font-weight:600;
		vertical-align:middle;
		}

	.checkbox_01{width:25px;height:25px;background:#fff;border:1px solid #ddd;vertical-align:middle;color:#000;}



	.policy_Box{margin-top:15px;}
	.checkbox_02{width:25px;height:25px;vertical-align:middle;}

	.policy_Box01{position:relative;font-size:13px;}
	.policy_Box02{position:relative;font-size:13px;}


	.policy_Box01 input[type="checkbox"] { 
		position: absolute;
		width: 1px;
		height: 1px;
		padding: 0;
		margin: -1px;
		overflow: hidden;
		clip:rect(0,0,0,0); border: 0 
		}
	.policy_Box01 input[type="checkbox"] + label {
		display: inline-block;
		position: relative;
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		margin-left:5px;
		}
	.policy_Box01 input[type="checkbox"] + label:before {
		content: ' ';
		display: inline-block;
		width: 21px;
		height: 21px;
		line-height: 21px;
		margin: -2px 8px 0 0;
		text-align: center;
		vertical-align: middle;
		background: #fafafa;
		border: 1px solid #cacece;
		border-radius : 3px;
		box-shadow: 0px 1px 2px rgba(0,0,0,0.05), 
		inset 0px -15px 10px -12px rgba(0,0,0,0.05);
		} 
	.policy_Box01 input[type="checkbox"] + label:active:before, 
	.policy_Box01 input[type="checkbox"]:checked + label:active:before { 
		box-shadow: 0 1px 2px rgba(0,0,0,0.05), 
		inset 0px 1px 3px rgba(0,0,0,0.1); 
		}
	.policy_Box01 input[type="checkbox"]:checked + label:before { /*체크했을때*/
		 content: '\2714'; 
		 color: #333;
		 text-shadow: 1px 1px #fff;
		 background: #e9ecee;
		 border-color: #adb8c0;
		 box-shadow: 0px 1px 2px rgba(0,0,0,0.05),
		 inset 0px -15px 10px -12px rgba(0,0,0,0.05),
		 inset 15px 10px -12px rgba(255,255,255,0.1); 
		 }



	.policy_Box02 input[type="checkbox"] { 
		position: absolute;
		width: 1px;
		height: 1px;
		padding: 0;
		margin: -1px;
		overflow: hidden;
		clip:rect(0,0,0,0); border: 0 
		}
	.policy_Box02 input[type="checkbox"] + label {
		display: inline-block;
		position: relative;
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		}
	.policy_Box02 input[type="checkbox"] + label:before {
		content: ' ';
		display: inline-block;
		width: 21px;
		height: 21px;
		line-height: 21px;
		margin: -2px 4px 0 0;
		text-align: center;
		vertical-align: middle;
		background: #fafafa;
		border: 1px solid #cacece;
		border-radius : 3px;
		box-shadow: 0px 1px 2px rgba(0,0,0,0.05), 
		inset 0px -15px 10px -12px rgba(0,0,0,0.05);
		} 
	.policy_Box02 input[type="checkbox"] + label:active:before, 
	.policy_Box02 input[type="checkbox"]:checked + label:active:before { 
		box-shadow: 0 1px 2px rgba(0,0,0,0.05), 
		inset 0px 1px 3px rgba(0,0,0,0.1); 
		}
	.policy_Box02 input[type="checkbox"]:checked + label:before { /*체크했을때*/
		 content: '\2714'; 
		 color: #333;
		 text-shadow: 1px 1px #fff;
		 background: #e9ecee;
		 border-color: #adb8c0;
		 box-shadow: 0px 1px 2px rgba(0,0,0,0.05),
		 inset 0px -15px 10px -12px rgba(0,0,0,0.05),
		 inset 15px 10px -12px rgba(255,255,255,0.1); 
		 }

	.textarea01{
		width:98%;
		height:100px;
		font-size:11px;
		margin:0 auto;
		margin-top:15px;
		background:#f8f8f8;
		bordeR:1px solid #d9d9d9;
		}
	}
@media (max-width: 639px) {
	#waper{width:100%;margin:0 auto;} 
	
	#top_content {
		position: relative;
		width: 100%;
		height: 100%;
		margin: 0 auto;
		background:#006c8a;
		background-image:url('http://img.go.co.kr/policy_kcp/top_content.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: 320px;
		padding:5px 0px;

	}
	#top_content .top_list{padding:0px 0px 0px 15px;}
	#top_content .top_list ul {height:auto;overflow:hidden;}
	#top_content .top_list ul li{float:left;font-size:14px;margin-right:5px;color:#fff;}
	#top_content .top_list ul li.amount{color:#fffea8;}

	#container{width:100%;height:auto;overflow:hidden;background:#f4f4f4;}
	#container .payBox{width:90%;background:#fff;border:1px solid #d9d9d9;margin:10px auto;padding:10px;}
	#container .payBox li {width:100%;line-height:35px;vertical-align:left;font-size:14px;bordeR:1px solid #fff;}
	#container .payBox li > .card_choice{width:76%;height:35px;line-height:35px;text-align:left;font-size:15px;}
	#container .payBox li input{height:35px;font-size:15px;border:1px solid #c8c8c8;}
	#container .payBox li > .card_number input{
		width:15.7%;
		line-height:35px;
		margin-right:8px;
		text-align:center;
		border-radius:0;
		-webkit-appearance:none;
		}
	#container .payBox li > .card_number input:nth-child(4n) { margin-right:0px; }
	#container .payBox li > .card_password input{
		width:80px;
		line-height:35px;
		border-radius:0;
		-webkit-appearance:none;
		}
	#container .payBox li > .card_expiration select{
		position:relative;
		width:25%;
		height:35px;
		line-height:35px;
		font-size:14px;
		-webkit-appearance: none;
		-webkit-border-radius: 0;
		text-indent:10px;
		}

	#container .payBox li > .divide input{width:20px;height:20px;vertical-align:middle;}
	#container .payBox li > .birth input{width:73%;line-height:35px;border-radius:0;-webkit-appearance:none}
	#container .payBox li.installment_wraper{position:relative;line-height:35px;padding-bottom:20px;}
	#container .payBox li > .installment{width:75%;height:35px;font-size:14px;}
	#container .payBox li  span.red_pontTxt{
		display:block;
		position:absolute;
		bottom:-15px;
		left:10px;
		width:100%;
		text-align:center;
		line-height:20px !important;
		font-size:14px;
		}

	#container .payment_btn{width:95%;margin:0 auto;}
	#container .payment_btn input{
		height:45px;
		font-size:15px;
		-webkit-appearance: none;
		-webkit-border-radius: 0;
		text-indent:10px;
		cursor:pointer;
		
		}
	#container .payment_btn input.cancel{width:32%;background:#fff;border:1px solid #c8c8c8;margin-right:0px;margin-left:0;}
	#container .payment_btn input.payment{width:65.2%;background:#cc242a;color:#fff;border:none;}
	#container .policy{width:90%;background:#fff;border:1px solid #d9d9d9;margin:15px auto;padding:10px;}
	#container .policy .check_btn{
		width:100%;
		height:45px;
		line-height:45px;
		background:#3d484e;
		color:#fff;
		font-size:13px;
		font-weight:600;
		vertical-align:middle;
		}

	.checkbox_01{width:25px;height:25px;background:#fff;border:1px solid #ddd;vertical-align:middle;color:#000;}



	.policy_Box{margin-top:15px;}
	.checkbox_02{width:25px;height:25px;vertical-align:middle;}

	.policy_Box01{position:relative;font-size:13px;}
	.policy_Box02{position:relative;font-size:13px;}


	.policy_Box01 input[type="checkbox"] { 
		position: absolute;
		width: 1px;
		height: 1px;
		padding: 0;
		margin: -1px;
		overflow: hidden;
		clip:rect(0,0,0,0); border: 0 
		}
	.policy_Box01 input[type="checkbox"] + label {
		display: inline-block;
		position: relative;
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		margin-left:5px;
		}
	.policy_Box01 input[type="checkbox"] + label:before {
		content: ' ';
		display: inline-block;
		width: 21px;
		height: 21px;
		line-height: 21px;
		margin: -2px 0px 0 0;
		text-align: center;
		vertical-align: middle;
		background: #fafafa;
		border: 1px solid #cacece;
		border-radius : 3px;
		box-shadow: 0px 1px 2px rgba(0,0,0,0.05), 
		inset 0px -15px 10px -12px rgba(0,0,0,0.05);
		} 
	.policy_Box01 input[type="checkbox"] + label:active:before, 
	.policy_Box01 input[type="checkbox"]:checked + label:active:before { 
		box-shadow: 0 1px 2px rgba(0,0,0,0.05), 
		inset 0px 1px 3px rgba(0,0,0,0.1); 
		}
	.policy_Box01 input[type="checkbox"]:checked + label:before { /*체크했을때*/
		 content: '\2714'; 
		 color: #333;
		 text-shadow: 1px 1px #fff;
		 background: #e9ecee;
		 border-color: #adb8c0;
		 box-shadow: 0px 1px 2px rgba(0,0,0,0.05),
		 inset 0px -15px 10px -12px rgba(0,0,0,0.05),
		 inset 15px 10px -12px rgba(255,255,255,0.1); 
		 }



	.policy_Box02 input[type="checkbox"] { 
		position: absolute;
		width: 1px;
		height: 1px;
		padding: 0;
		margin: -1px;
		overflow: hidden;
		clip:rect(0,0,0,0); border: 0 
		}
	.policy_Box02 input[type="checkbox"] + label {
		display: inline-block;
		position: relative;
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		margin-right:5px;
		}
	.policy_Box02 input[type="checkbox"] + label:before {
		content: ' ';
		display: inline-block;
		width: 21px;
		height: 21px;
		line-height: 21px;
		margin: -2px 0px 0px 0px;
		text-align: center;
		vertical-align: middle;
		background: #fafafa;
		border: 1px solid #cacece;
		border-radius : 3px;
		box-shadow: 0px 1px 2px rgba(0,0,0,0.05), 
		inset 0px -15px 10px -12px rgba(0,0,0,0.05);
		} 
	.policy_Box02 input[type="checkbox"] + label:active:before, 
	.policy_Box02 input[type="checkbox"]:checked + label:active:before { 
		box-shadow: 0 1px 2px rgba(0,0,0,0.05), 
		inset 0px 1px 3px rgba(0,0,0,0.1); 
		}
	.policy_Box02 input[type="checkbox"]:checked + label:before { /*체크했을때*/
		 content: '\2714'; 
		 color: #333;
		 text-shadow: 1px 1px #fff;
		 background: #e9ecee;
		 border-color: #adb8c0;
		 box-shadow: 0px 1px 2px rgba(0,0,0,0.05),
		 inset 0px -15px 10px -12px rgba(0,0,0,0.05),
		 inset 15px 10px -12px rgba(255,255,255,0.1); 
		 }

	.textarea01{
		display:block;
		width:95%;
		height:120px;
		margin:0 auto;
		font-size:11px;
		margin-top:10px;
		background:#f8f8f8;
		bordeR:1px solid #d9d9d9;
		border-radius:none;
		-webkit-appearance: none;
		-webkit-border-radius: 0;
		}




	/*셀렉트박스 디자인*/
	.selectbox {
		position: relative; 
		float:left;
		width:73%;
		height:35px;
		text-align:left;
		font-size:15px;
		bordeR:1px solid #c8c8c8;
		text-align:left;color:#333;
		font-weight:600;
		z-index: 1;
		} 

	.selectbox:before { 
		/* 화살표 대체 */ 
		content: ""; 
		position: absolute; 
		top: 50%; 
		right: 15px; 
		width: 0; 
		height: 0;
		margin-top: -1px;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-top: 5px solid #333;
		}
	.selectbox label {
		position: absolute;
		top: 0px; /* 위치정렬 */
		left: 5px; /* 위치정렬 */ 
		 padding: .1em .5em; /*select의 여백 크기 만큼 */
		color: #999;
		z-index: -1; /* IE8에서 label이 위치한 곳이 클릭되지 않는 것 해결 */
		}

	.selectbox select {
		width: 100%;
		height: auto; /* 높이 초기화 */
		line-height: normal; /* line-height 초기화 */
		font-family: inherit; /* 폰트 상속 */
		padding: .2em .5em;  /*여백과 높이 결정 */
		border: 0; opacity: 0; /* 숨기기 */ 
		filter:alpha(opacity=0); /* IE8 숨기기 */
		-webkit-appearance: none; /* 네이티브 외형 감추기 */
		-moz-appearance: none;
		appearance: none;
		font-size:14px;
		}



	/*셀렉트박스 디자인*/
	.selectbox2 {
		position: relative; 
		float:left;
		width:26%;
		height:35px;
		text-align:left;
		font-size:14px;
		bordeR:1px solid #c8c8c8;
		text-align:left;color:#333;
		font-weight:600;
		z-index: 1;
		} 

	.selectbox2:before { 
		/* 화살표 대체 */ 
		content: ""; 
		position: absolute; 
		top: 50%; 
		right: 10px; 
		width: 0; 
		height: 0;
		margin-top: -1px;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-top: 5px solid #333;
		}
	.selectbox2 label {
		position: absolute;
		top: -5px; /* 위치정렬 */
		left: 3px; /* 위치정렬 */ 
		padding: .3em .3em; /*select의 여백 크기 만큼 */
		color: #999;
		z-index: -3; /* IE8에서 label이 위치한 곳이 클릭되지 않는 것 해결 */
		}

	.selectbox2 select {
		width: 100%;
		height: auto; /* 높이 초기화 */
		line-height: normal; /* line-height 초기화 */
		font-family: inherit; /* 폰트 상속 */
		padding: .0em .5em;  /*여백과 높이 결정 */
		border: 0; opacity: 0; /* 숨기기 */ 
		filter:alpha(opacity=0); /* IE8 숨기기 */
		-webkit-appearance: none; /* 네이티브 외형 감추기 */
		-moz-appearance: none;
		appearance: none;
		font-size:14px;
		}
	/*셀렉트박스 디자인*/

	.selectbox3 {
		position: relative; 
		float:left;
		width:73%;
		height:35px;
		text-align:left;
		font-size:14px;
		bordeR:1px solid #c8c8c8;
		text-align:left;color:#333;
		font-weight:600;
		z-index: 1;
		} 

	.selectbox3:before { 
		/* 화살표 대체 */ 
		content: ""; 
		position: absolute; 
		top: 50%; 
		right: 15px; 
		width: 0; 
		height: 0;
		margin-top: -1px;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-top: 5px solid #333;
		}
	.selectbox3 label {
		position: absolute;
		top: 0px; /* 위치정렬 */
		left: 5px; /* 위치정렬 */ 
		padding: .0em .3em; /*select의 여백 크기 만큼 */
		color: #999;
		z-index: -5; /* IE8에서 label이 위치한 곳이 클릭되지 않는 것 해결 */
		}

	.selectbox3 select {
		width: 100%;
		height: auto; /* 높이 초기화 */
		line-height: normal; /* line-height 초기화 */
		font-family: inherit; /* 폰트 상속 */
		padding: .2em .3em;  /*여백과 높이 결정 */
		border: 0; opacity: 0; /* 숨기기 */ 
		filter:alpha(opacity=0); /* IE8 숨기기 */
		-webkit-appearance: none; /* 네이티브 외형 감추기 */
		-moz-appearance: none;
		appearance: none;
		font-size:14px;
		font-weight:normal;
		}
}

/*180208 */
#container {padding-bottom: 30px;}
#container .payBox {box-sizing: border-box; width: 94%;}
#container .payment_btn {width: 94%; margin: 0 auto; font-size: 0;}
#container .payment_btn input.cancel {width: 35%;}
#container .payment_btn input.payment {width: 64%; margin-left: 1%;}


.header, .footer {position: relative; background: #f4f4f4; font-family: "Nanum Gothic", sans-serif;}
.header {}
.header .hdArea, 
.header .pdtInfoArea,
.footer .ftArea {width: 94%; margin: 0 auto;}	
.header .hdArea {padding-top: 10px;}
.header .hdArea .logo {width: 82px;}
.header .hdArea .s-flt-r {position: relative; float: right; top: 2px;}
.header .pdtInfoArea {border: 2px solid #ff0080; border-radius: 4px; background: #5f5f5f; color: #fff; box-sizing: border-box; padding: 10px 14px;; margin-top: 4px;
	background: rgb(68,68,68); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(68,68,68,1) 0%, rgba(84,84,84,1) 20%, rgba(95,95,95,1) 50%, rgba(84,84,84,1) 80%, rgba(68,68,68,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(68,68,68,1) 0%,rgba(84,84,84,1) 20%,rgba(95,95,95,1) 50%,rgba(84,84,84,1) 80%,rgba(68,68,68,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(68,68,68,1) 0%,rgba(84,84,84,1) 20%,rgba(95,95,95,1) 50%,rgba(84,84,84,1) 80%,rgba(68,68,68,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#444444',GradientType=0 ); /* IE6-9 */
}	
.header .pdtInfoArea .infoList > li {line-height: 1.7;}
.header .pdtInfoArea .infoList > li > span {display: inline-block;}
.header .pdtInfoArea .infoList > li .s-tit {width: 100px; font-size: 14px;}
.header .pdtInfoArea .infoList > li .s-txt {font-size: 16px;}
.header .pdtInfoArea .infoList > li:last-child .s-txt {font-size: 14px;}
.footer {padding: 10px 0; border-top: 1px solid #c9c9c9;}
.footer .fLogo {width: 86px; position: absolute; left: 3%;}
.footer address {font-style: normal; color: #666; font-size: 12px; float: right;}
