@charset "utf-8";
@import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css");
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);


body {font-family: 'Nanum Gothic', '나눔고딕', 'NanumGothicWeb', 'Malgun Gothic', '돋움', Dotum, sans-serif; color:#000; line-height:1.5; letter-spacing:0.1px; position: relative; margin:0 auto;}
a {color: inherit;}
input,select,option,textarea {font-family: 'Nanum Gothic', '나눔고딕', 'NanumGothicWeb', 'Malgun Gothic', '돋움', Dotum, sans-serif; color:#000;}
ul,li {list-style: none;}

.hidden {overflow: hidden; font-size:0; width:0; height:0; line-height:0; position:absolute; top: 0; left:-9999px; opacity: 0; filter: alpha(opacity=0);}
.clr:before, .clr:after, .cf:before, .cf:after {content: ""; display: block;}
.clr:after, .cf:after {clear: both;}