@charset "utf-8";
@import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css");
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);


body {font-family: 'Nanum Gothic', '나눔고딕', 'NanumGothicWeb', '맑은 고딕', 'Malgun Gothic', '돋움', Dotum, sans-serif; font-size:13px; color:#000; line-height:1.5; letter-spacing:0.1px; position: relative; max-width:640px; margin:0 auto;}
a:link, a:visited {text-decoration:none; color:#000}
a:hover, a:active {text-decoration:none; color:#000}
input,select,option,textarea {font-family: 'Nanum Gothic', '나눔고딕', 'NanumGothicWeb', '맑은 고딕', 'Malgun Gothic', '돋움', Dotum, sans-serif; font-size:12px; color:#000}
ul,li {list-style: none;}

.hidden {overflow: hidden; font-size:0; width:0; height:0; line-height:0; position:absolute; top: 0; left:-9999px; opacity: 0; filter: alpha(opacity=0);}
.clr:before, .clr:after {content: ""; display: block;}
.clr:after {clear: both;}

/* 랜딩페이지 */
.wrap_information{width:100%; text-align:center;}
.wrap_information .request_btn{position:fixed; bottom:0; padding:8px 0; width:100%; height:72px; background-color:#ffffff; border-top:1px solid #dedede; text-align:center; display:table-cell;}
.wrap_information .request_btn a{display:inline-block; vertical-align:middle; font-weight:bold; line-height:1.2; color:#fff; padding: 15px 3px; height:43px;}
.wrap_information .request_btn a span{display:inline-block;}
.wrap_information .ticket{background-color:#f57c3a; text-align:center;}
.wrap_information .ticket span{display:inline-block; padding: 5px; font-size:17px;}
.wrap_information .mobile{background-color:#23a9db; text-align:center;}
.wrap_information .mobile span{display:inline-block; padding: 5px; font-size:17px;}
.wrap_information .callcenter{background-color:#3a6af5; text-align:center; line-height: 1 !important;}
.wrap_information .callcenter strong{color:#ffe400;}
.wrap_information .callcenter span{display:inline-block;}
.wrap_information .callcenter .s1{color:#fff60c;}

/* 예약하기-모바일 */
.wrap_reservation-mobile{width:100%; height:1024px; background-color:#f2f2f2;}
.wrap_reservation-mobile .title{padding:20px 0; text-align:center; background-color:#f2f2f2; color:#404040; font-size:20px; font-weight:bold; border-bottom:1px solid #dedede;}
.wrap_reservation-mobile .title span{color:#2395ff;}
.wrap_reservation-mobile .contents{padding:13px 16px; text-align:left; background-color:#fff; border-bottom:1px solid #dedede;}
.wrap_reservation-mobile .contents form .labelStyle{text-align:left; font-size:17px; color:#696969; margin-bottom:8px;}
.wrap_reservation-mobile .contents form .inputStyle{margin-bottom:20px;}
.wrap_reservation-mobile .contents form .inputStyle-date {margin-bottom: 20px;}
.wrap_reservation-mobile .contents form .inputStyle-date input{width:47%; border-bottom:1px solid #dedede; font-size:17px; font-weight:bold;}
.wrap_reservation-mobile .contents form input{appearance:none; width:100%; background-color:#fff; border-bottom:1px solid #dedede; font-size:17px; font-weight:bold;}
.wrap_reservation-mobile .contents form input#tel1{width:30%;}
.wrap_reservation-mobile .contents form input#tel2{width:30%;}
.wrap_reservation-mobile .contents form input#tel3{width:30%;}
.wrap_reservation-mobile .contents form input#email1{width:46%;}
.wrap_reservation-mobile .contents form input#email2{width:46%;}
.wrap_reservation-mobile .contents form select{appearance: none; width:100%; background-color:#fff; border-bottom:1px solid #dedede; font-size:17px; font-weight:bold;}
.wrap_reservation-mobile .contents form select option{appearance: none; font-size:17px; font-weight:bold;}
.wrap_reservation-mobile input, textarea, select {appearance: none; width:100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border:0px solid #fff;}
.wrap_reservation-mobile button{appearance: none; position:absolute; left:0; bottom:0; width:100%; height:101px; background-color:#ff6600; color:#fff; font-size:24px; font-weight:bold; border:0px solid #fff;}

/* 예약하기-지류권 */
.wrap_reservation-paper{width:100%; height:1024px; background-color:#f2f2f2;}
.wrap_reservation-paper .title{padding:20px 0; text-align:center; background-color:#f2f2f2; color:#404040; font-size:20px; font-weight:bold; border-bottom:1px solid #dedede;}
.wrap_reservation-paper .title span{color:#2395ff;}
.wrap_reservation-paper .contents{padding:13px 16px; text-align:center; background-color:#fff; border-bottom:1px solid #dedede;}
.wrap_reservation-paper .contents form .labelStyle{text-align:left; font-size:20px; color:#696969; margin-bottom:8px;}
.wrap_reservation-paper .contents form .inputStyle{margin-bottom:20px;}
.wrap_reservation-paper .contents form .inputStyle-date input{width:48.5%; border-bottom:1px solid #dedede; font-size:24px; font-weight:bold;}
.wrap_reservation-paper .contents form input{appearance:none; width:100%; background-color:#fff; border-bottom:1px solid #dedede; font-size:24px; font-weight:bold;}
.wrap_reservation-paper input, textarea, select {appearance: none; width:100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border:0px solid #fff;}
.wrap_reservation-paper button{appearance: none; position:absolute; left:0; bottom:0; width:100%; height:101px; background-color:#ff6600; color:#fff; font-size:32px; font-weight:bold; border:0px solid #fff;}
.wrap_reservation-paper .guide{padding: 15px 20px; text-align:left; font-size:17px; color:#696969; margin-bottom:8px; line-height:1.8;}
.wrap_reservation-paper .notice{width: 250px; height: 20px; height:auto; position: fixed; left: 50%; margin-left:-125px; bottom: 100px; z-index: 9999; background-color: #383838; color: #F0F0F0;  font-family: Calibri; font-size: 15px; padding: 10px; text-align:center; border-radius: 2px; -webkit-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1); -moz-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1); box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);}


/*예약하기 리뉴얼*/
.oc2reserv-wrap {}