@charset "utf-8";

#pn-box {position: absolute; width: 100%; height: 80px; top: 50%; margin-top: -86px; font-family: "Nanum Gothic", sans-serif;}
.pn {display: block; position: relative; width: 100%; text-align: center;}
.page-non-txt {}
.page-non-txt img {}
.pn-home-btn {margin-top: 22px;	}
.pn-home-btn img {}
.pn-logo {position: absolute; bottom: 14px;	}
.pn-logo img {width: 77px;}