.mainBox02_wrapper { float: left; width: 100%; padding: 40px 0; margin: auto; letter-spacing: -0.3px; }

.mainBox02_wrapper .mainBox02 { margin: auto; width: 1002px; }

.mainBox02_wrapper .mainBox02 .localRecommend { float: left; margin-bottom: 70px; width: 676px; }

.mainBox02_wrapper .mainBox02 .localRecommend .titleLocal { position: relative; float: left; width: 676px; border-bottom: 3px solid #6d3916; }

.mainBox02_wrapper .mainBox02 .localRecommend .titleLocal h3 { float: left; padding-bottom: 10px; font-size: 20px; font-weight: 800; color: #383431; letter-spacing: -1px; }

.mainBox02_wrapper .mainBox02 .localRecommend .titleLocal .local { float: right; }

.mainBox02_wrapper .mainBox02 .localRecommend .titleLocal .local > li { float: left; width: 43px; height: 40px; line-height: 39px; text-align: center; background: #fff; color: #595858; font-size: 15px; font-weight: 600; }

.mainBox02_wrapper .mainBox02 .localRecommend .titleLocal .local > li > a { float: left; width: 43px; height: 40px; line-height: 39px; color: #595858; }

.mainBox02_wrapper .mainBox02 .localRecommend .titleLocal .local > li > a:hover { float: left; width: 43px; height: 40px; line-height: 39px; background: #6d3916; color: #fff; }

.mainBox02_wrapper .mainBox02 .localRecommend .titleLocal .local .on { float: left; width: 43px; height: 40px; line-height: 39px; background: #6d3916; color: #fff; }

.mainBox02_wrapper .mainBox02 .localRecommend .titleLocal .local .sGnbArea2 { display: none; position: absolute; top: 40px; z-index: 9; width: 126px; background-color: #fff; border: 1px solid #dadada; }

.mainBox02_wrapper .mainBox02 .localRecommend .titleLocal .local .sGnbArea2 ul li a { float: left; display: block; font-size: 13px; width: 63px; height: 30px; line-height: 30px; font-weight: 400; color: #595858; }

.mainBox02_wrapper .mainBox02 .localRecommend .titleLocal .local .sGnbArea2 ul li a:hover { display: block; background: #dadada; }

.mainBox02_wrapper .mainBox02 .localRecommend .titleLocal .local .on2 .sGnbArea2 { display: block; }

.mainBox02_wrapper .mainBox02 .localRecommend .photo { position: relative; float: left; width: 676px; height: 285px; }

.mainBox02_wrapper .mainBox02 .localRecommend .photo .icon { position: absolute; top: 0; left: 15px; }

.mainBox02_wrapper .mainBox02 .localRecommend .photo .slideBtn { position: absolute; top: 10px; right: 15px; }

.mainBox02_wrapper .mainBox02 .localRecommend .photo .prevBtn { position: absolute; top: 100px; left: 15px; }

.mainBox02_wrapper .mainBox02 .localRecommend .photo .nextBtn { position: absolute; top: 100px; right: 15px; }

.mainBox02_wrapper .mainBox02 .localRecommend .photo .txtBox { position: absolute; bottom: 0; width: 676px; height: 45px; box-sizing: border-box; border: 1px solid #dfdddf; background: #fff; opacity: 0.9; filter: alpha(opacity=88); }

.mainBox02_wrapper .mainBox02 .localRecommend .photo .txtBox .name { padding-left: 10px; font-size: 16px; font-weight: 800; line-height: 40px; }

.mainBox02_wrapper .mainBox02 .localRecommend .photo .txtBox .localName { font-size: 14px; color: #595858; font-weight: 600; }

.mainBox02_wrapper .mainBox02 .localRecommend .photo .txtBox .price { float: right; padding-right: 10px; font-size: 20px; font-weight: 800; color: #fa6b0a; line-height: 40px; }

.mainBox02_wrapper .mainBox02 .localRecommend .photo table a:hover { border: 1px solid #6d3916; }

.mainBox02_wrapper .mainBox02 .localRecommend_global { float: left; width: 1002px; }

.mainBox02_wrapper .mainBox02 .localRecommend_global .titleLocal { position: relative; float: left; width: 1002px; border-bottom: 3px solid #6d3916; }

.mainBox02_wrapper .mainBox02 .localRecommend_global .titleLocal h3 { padding-bottom: 10px; font-size: 20px; font-weight: 800; color: #383431; letter-spacing: -1px; text-align: center; }

.mainBox02_wrapper .mainBox02 .localRecommend_global .titleLocal .local { margin: auto; width: 700px; }

.mainBox02_wrapper .mainBox02 .localRecommend_global .titleLocal .local > li { float: left; width: 100px; height: 40px; line-height: 39px; text-align: center; color: #595858; font-size: 15px; font-weight: 600; }

.mainBox02_wrapper .mainBox02 .localRecommend_global .titleLocal .local > li > a { float: left; width: 100px; height: 40px; line-height: 39px; color: #595858; }

.mainBox02_wrapper .mainBox02 .localRecommend_global .titleLocal .local > li > a:hover { float: left; width: 100px; height: 40px; line-height: 39px; background: #6d3916; color: #fff; }

.mainBox02_wrapper .mainBox02 .localRecommend_global .titleLocal .local .on { float: left; width: 100px; height: 40px; line-height: 39px; background: #6d3916; color: #fff; }

.mainBox02_wrapper .mainBox02 .localRecommend_global .titleLocal .local .sGnbArea2 { display: none; position: absolute; top: 82px; z-index: 9; width: 98px; background-color: #fff; border: 1px solid #6d3916; }

.mainBox02_wrapper .mainBox02 .localRecommend_global .titleLocal .local .sGnbArea2 ul li a { float: left; display: block; font-size: 13px; width: 98px; height: 30px; line-height: 30px; font-weight: 400; color: #595858; }

.mainBox02_wrapper .mainBox02 .localRecommend_global .titleLocal .local .sGnbArea2 ul li a:hover { display: block; background: #dadada; }

.mainBox02_wrapper .mainBox02 .localRecommend_global .titleLocal .local .on2 .sGnbArea2 { display: block; }

.mainBox02_wrapper .mainBox02 .localRecommend_global .list { float: left; padding-bottom: 40px; width: 1002px; }

.mainBox02_wrapper .mainBox02 .localRecommend_global .list .btn { float: left; width: 100%; padding: 10px 0; }

.mainBox02_wrapper .mainBox02 .localRecommend_global .list .btn a { float: right; display: block; margin-right: 25px; width: 72px; height: 23px; background: url(http://img.go.co.kr/btn_mainLocal_more.png) no-repeat; background-position: 100% 0; text-indent: -99999px; }

.mainBox02_wrapper .mainBox02 .localRecommend_global .list .btn a:hover { float: right; display: block; margin-right: 25px; width: 72px; height: 23px; background: url(http://img.go.co.kr/btn_mainLocal_more.png) no-repeat; background-position: 100% 100%; text-indent: -99999px; }

.mainBox02_wrapper .mainBox02 .localRecommend_global .list .photo { clear: both; margin: auto; width: 955px; }

.mainBox02_wrapper .mainBox02 .localRecommend_global .list .photo li { position: relative; float: left; width: 220px; background: #fff; border: 1px solid #d3d3d3; box-sizing: border-box; }

.mainBox02_wrapper .mainBox02 .localRecommend_global .list .photo li:hover { border: 1px solid #ff610a; }

.mainBox02_wrapper .mainBox02 .localRecommend_global .list .photo li .label { position: absolute; right: 5px; top: 5px; }

.mainBox02_wrapper .mainBox02 .localRecommend_global .list .photo .m_l20 { margin-left: 25px; }

.mainBox02_wrapper .mainBox02 .localRecommend_global .list .photo p { padding: 5px; font-weight: 800; font-size: 14px; line-height: 14px; }

.mainBox02_wrapper .mainBox02 .localRecommend_global .list .photo .price { padding: 0 5px 5px; font-weight: 600; color: #f97821; }

.mainBox02_wrapper .mainBox02 .mainLanding { float: right; margin-bottom: 70px; width: 292px; }

.mainBox02_wrapper .mainBox02 .mainLanding .photo { position: relative; width: 292px; height: 285px; }

.mainBox02_wrapper .mainBox02 .mainLanding .photo .txtBox { position: absolute; bottom: 0; width: 292px; height: 45px; text-align: center; line-height: 40px; box-sizing: border-box; border: 1px solid #dfdddf; background: #fff; opacity: 0.9; filter: alpha(opacity=88); }

.mainBox02_wrapper .mainBox02 .mainTicket { float: right; margin-bottom: 70px; width: 292px; }

.mainBox02_wrapper .mainBox02 .mainTicket .title { float: left; width: 292px; }

.mainBox02_wrapper .mainBox02 .mainTicket .title h3 { float: left; padding-bottom: 10px; font-size: 20px; font-weight: 800; color: #383431; letter-spacing: -1px; }

.mainBox02_wrapper .mainBox02 .mainTicket .title .slideBtn { float: right; }

.mainBox02_wrapper .mainBox02 .mainTicket .photo { position: relative; float: left; padding-top: 25px; width: 292px; height: 263px; background: #f97821; text-align: center; }

.mainBox02_wrapper .mainBox02 .mainTicket .photo a { color: #fff; }

.mainBox02_wrapper .mainBox02 .mainTicket .photo .name { padding-top: 10px; line-height: 20px; font-size: 14px; font-weight: 800; }

.mainBox02_wrapper .mainBox02 .mainTicket .photo .price { color: #fff; font-size: 22px; font-weight: 800; }

.mainBox02_wrapper .mainBox02 .themeRoom { float: left; margin-bottom: 70px; width: 1002px; }

.mainBox02_wrapper .mainBox02 .themeRoom h3 { padding-bottom: 10px; font-size: 20px; font-weight: 800; color: #383431; letter-spacing: -1px; text-align: center; }

.mainBox02_wrapper .mainBox02 .themeRoom ul { float: left; width: 1002px; }

.mainBox02_wrapper .mainBox02 .themeRoom li { float: left; width: 166px; height: 167px; font-size: 14px; border-right: 1px solid #f4f3f3; }

.mainBox02_wrapper .mainBox02 .themeRoom li a:hover { color: #fffd6c; }

.mainBox02_wrapper .mainBox02 .themeRoom .title { float: left; width: 100%; margin-bottom: 10px; font-size: 19px; font-weight: 800; line-height: 22px; letter-spacing: -1px; }

.mainBox02_wrapper .mainBox02 .themeRoom .jeju a { display: block; box-sizing: border-box; padding: 15px; width: 166px; height: 167px; color: #fff; background: url(http://img.go.co.kr/mainTheme_jeju.jpg) no-repeat; }

.mainBox02_wrapper .mainBox02 .themeRoom .guest a { display: block; box-sizing: border-box; padding: 15px; width: 166px; height: 167px; color: #ffe5ae; background: url(http://img.go.co.kr/mainTheme_guest.jpg) no-repeat; }

.mainBox02_wrapper .mainBox02 .themeRoom .asan a { display: block; box-sizing: border-box; padding: 15px; width: 166px; height: 167px; color: #d1f8ff; background: url(http://img.go.co.kr/mainTheme_asan.jpg) no-repeat; }

.mainBox02_wrapper .mainBox02 .themeRoom .busan a { display: block; box-sizing: border-box; padding: 15px; width: 166px; height: 167px; color: #fff; background: url(http://img.go.co.kr/mainTheme_busan.jpg) no-repeat; }

.mainBox02_wrapper .mainBox02 .themeRoom .mt a { display: block; box-sizing: border-box; padding: 15px; width: 166px; height: 167px; color: #fedddd; background: url(http://img.go.co.kr/mainTheme_mt.jpg) no-repeat; }

.mainBox02_wrapper .mainBox02 .themeRoom .pension a { display: block; box-sizing: border-box; padding: 15px; width: 166px; height: 167px; color: #f2fec7; background: url(http://img.go.co.kr/mainTheme_pension.jpg) no-repeat; }