/* 썸네일 로고 170428 이현우 */
#info_img_wrpa .thumbnail_logo {position:absolute; left:10px; top:46px; z-index:1;}
#info_img_wrpa .thumbnail_logo .thumbnail_logo_img {width:61px; height:27px;}
#info_img .thumbnail_logo {position:absolute; left:10px; top:6px; z-index:1;}
#info_img .thumbnail_logo .thumbnail_logo_img {width:61px; height:27px;}

/* 객실 선택하기 - 패키지 상품 없을때 */
.info_product_list .info_product_list_fail {text-align:center;}
.info_product_list .info_product_list_fail p {padding-top:75px; font-weight:bold; color:#000;}
.info_product_list .info_product_list_fail p strong {font-size:18px;}
.info_product_list .info_product_list_fail p strong span {color:#e02a03;}
.info_product_list .info_product_list_btm_btn {position:absolute; left:10px; right:10px; bottom:10px;}
.info_product_list .info_product_list_btm_btn a {display:block; height:40px; margin-top:5px; border-radius:3px; color:#fff; font-weight:600; text-align:center; line-height:40px; box-sizing:border-box;}
.info_product_list .info_product_list_btm_btn a:first-child {margin-top:0; background-color:#e02a03;}
.info_product_list .info_product_list_btm_btn a:last-child {background-color:#f95c24;}