@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

.pull-left {float: left;}
.pull-right {float: right;}

/* 썸네일 로고 170428 이현우 */
#imgview_box .thumbnail_logo {position:absolute; left:15px; top:55px; width:80px !important; height:39px !important;}
/* 상세페이지 테이블 패딩조정 */
.fare_table .f_td .c3 div {padding: 10px 0;}
/* 고코웹 상세페이지 폰트컬러 수정_170515_혜준 */
#daySearch .input,
#rsv_sang #rsv_s_tab .rsv_s_tabHead,
#contents #rsv_s_list td,
#rsv_sang #rsv_s_list_box2 #rsv_s_list tr.select,
#cal_wrap2 .cal_section,
#cal_wrap2 .cal_section .calendar th,
#cal_wrap2 .cal_day2,
.fare_table .f_td > li,
.slt_pay .nth2,
#noRoom {color: #313131;}
#main5 .info_local {width: 369px;}
/* 13579이벤트_혜준 */
#event_bn_right {top: -4px; z-index: 6;}
/* 숙박이벤트_170519_혜준 */
.event-wrapper {position: fixed; width: 100%; height: 100%; background: url(http://img.go.co.kr/black_rgba58.png) repeat; z-index: 10;}
.event-box {position: absolute; width: 349px; left: 50%; margin-left: -174.5px; top: 50%; margin-top: -247.5px;}
.event-box > p {background: #000; color: #fff; line-height: 2em; font-size: 13px;}
.event-box > p > input {margin: 0 5px;}
.event-box > p > label {cursor: pointer;}
.event-box > p > span {float: right; margin-right: 6px; color: #999; cursor: pointer;}
/* 온라인최저가보장 아이콘 추가 170526 이현우 */
#list_etc_goods2 .photo .lowest_price {position:relative;}
#list_etc_goods2 .photo .lowest_price .img_lowest_price {position:absolute; right:10px; top:10px;}
#list_etc_goods2 .photo .lowest_price .img_lowest_price img {width:50px !important; height:50px !important;}
.lowest_price {position:relative;}
.lowest_price .img_lowest_price {width:50px !important; height:50px !important; position:absolute; right:10px; top:10px}
#search_result .wrap .lowest_price {width:238px; height:153px;}
#search_result .wrap .lowest_price .img_lowest_price {right:auto; left:10px;}
.lowest_price_wrap {position:absolute; right:130px; top:50%; -webkit-transform:translateY(-50%); transform:translateY(-50%);}
#room_result .lowest_price_wrap .lowest_price_icon {width:60px; height:21px; background-color:#fff203; font-weight: bold; font-size:11px;  line-height: 21px;}
#room_result .lowest_price_wrap .dis_icon_dt {position:static; margin-top:2px; font-size: 12px;}

/* 고코 요금표 수정_170529_혜준 */
.fare_table .c3 del {width: 42%; margin-right: 10px;}
.fare_table .fc1 {width: 43%; text-align: right; margin-right: 2px; margin-left: 0;}
.fare_table .f_td .c2 p, .fare_table .f_td .c5 p {float: none; margin: 0 auto;}

/* 결제 부분 수정_170529_혜준 */
/* #wrapper #reser_enter {height: 866px;} */
#wrapper #reser_enter {margin-bottom: 25px;}
#wrapper #reser_enter .input {margin-top: 10px; padding-bottom: 20px;}
#reser_check, #reser_enter {margin-top: 0;}
#reser_enter .input .input_t .p_10 {font-size: 13px;}
#reser_check .receipt .p_l_20 {padding-top: 5px;}
#reser_enter .input .input_t {font-size: 14px;}
#wrapper #reser_enter .input .input_t .comment {width: 476px; padding-top: 5px;}
#reser_enter .input .input_t .comment p {margin-bottom: 0; line-height: 1.6em;}
#cardFree {margin-top: 15px;}

/* 인기순 라인 정렬_170531_혜준 */
#subNavi {margin: -5px 0 10px;}
#subNavi .title {line-height: 1.1em;}
#subNavi .link {margin-top: -19px;}

/* 오션투유이벤트 지류권 170531 이현우 */
.culture_wrap {float:right; width:740px; margin:30px 0; border:1px solid #dedede;}
.culture_wrap .culture_area {padding:25px 25px 0;}
.culture_wrap .culture_area .top_txt {display:block; padding-bottom:10px; border-bottom:1px solid #000; color:#000; font-size:24px;}
.culture_wrap .culture_area .culture_view {margin-top:60px;}
.culture_wrap .culture_area .culture_view table {width:100%;}
.culture_wrap .culture_area .culture_view table tbody tr th {padding:10px 10px 10px 15px; border-bottom:1px solid #e6e6e6; background-color:#f5f5f5; font-size:18px; text-align:left;}
.culture_wrap .culture_area .culture_view table tbody tr td {padding:10px; border-bottom:1px solid #e6e6e6; font-size:14px;}
.culture_wrap .culture_area .culture_view table tbody tr:first-child th {border-top:1px solid #e6e6e6;}
.culture_wrap .culture_area .culture_view table tbody tr:first-child td {border-top:1px solid #e6e6e6;}
.culture_wrap .culture_area .culture_view table tbody tr td input[type="text"], .culture_wrap .culture_area .culture_view table tbody tr td input[type="password"] {height:40px; padding:10px; font-size:14px;
box-sizing:border-box;}
.culture_wrap .culture_area .culture_btn {margin-top:25px; text-align:center;}
.culture_wrap .culture_area .culture_btn a {display:inline-block; width:220px; height:54px; background-color:#ff6600; color:#fff; font-weight:bold; font-size:18px; line-height:54px;}
.culture_wrap .culture_foot {margin-top:35px; padding:25px 30px; background-color:#f5f5f5;}
.culture_wrap .culture_foot .foot_title {font-size:18px;}
.culture_wrap .culture_foot .foot_txt {margin-top:10px;}
.culture_wrap .culture_layer_wrap {position:fixed; left:0; right:0; top:0; bottom:0; z-index:9999; background:url('http://img.go.co.kr/culture_layer_bg.png') repeat 0 0; font-size:0; text-align:center;}
.culture_wrap .culture_layer_wrap:after {content:''; display:inline-block; height:100%; vertical-align:middle;}
.culture_wrap .culture_layer_wrap .culture_layer_area {display:inline-block; width:620px; background-color:#fff; font-size:14px; vertical-align:middle;}
.culture_wrap .culture_layer_wrap .culture_layer_area .culture_layer_area_top {position:relative; padding:0 20px; background-color:#323232;}
.culture_wrap .culture_layer_wrap .culture_layer_area .culture_layer_area_top p {padding:15px 0; color:#fff; font-weight:bold; font-size:24px; text-align:left;}
.culture_wrap .culture_layer_wrap .culture_layer_area .culture_layer_area_top .culture_layer_close {position:absolute; right:20px; top:50%; margin-top:-13px;}
.culture_wrap .culture_layer_wrap .culture_layer_area .culture_layer_area_cont {padding-top:25px;}
.culture_wrap .culture_layer_wrap .culture_layer_area .culture_layer_area_cont table {width:440px; margin:0 auto; table-layout:fixed;}
.culture_wrap .culture_layer_wrap .culture_layer_area .culture_layer_area_cont table tbody tr th {padding:10px 0; font-size:15px; text-align:left; vertical-align:middle;}
.culture_wrap .culture_layer_wrap .culture_layer_area .culture_layer_area_cont table tbody tr td {padding:5px 0; font-size:12px; text-align:left;}
.culture_wrap .culture_layer_wrap .culture_layer_area .culture_layer_area_cont table tbody tr td input[type="text"], .culture_wrap .culture_layer_wrap .culture_layer_area .culture_layer_area_cont table tbody tr td input[type="password"] {height:30px; padding:0 5px; font-size:12px; box-sizing:border-box;}
.culture_wrap .culture_layer_wrap .culture_layer_area .culture_layer_area_cont table tbody tr td select {height:30px; padding:0 5px; font-size:12px; box-sizing:border-box;}
.culture_wrap .culture_layer_wrap .culture_layer_area .culture_layer_area_cont .culture_layer_area_btn {margin-top:10px; text-align:center;}
.culture_wrap .culture_layer_wrap .culture_layer_area .culture_layer_area_cont .culture_layer_area_btn a {display:inline-block; width:300px; height:54px; background-color:#ff6600; color:#fff; font-weight:bold; font-size:20px; line-height:54px;}
.culture_wrap .culture_layer_wrap .culture_layer_area .culture_layer_area_foot {margin-top:20px; padding:20px; background-color:#f0f0f0; text-align:left;}
.culture_wrap .culture_layer_wrap .culture_layer_area .culture_layer_area_foot .foot_title {font-size:18px;}
.culture_wrap .culture_layer_wrap .culture_layer_area .culture_layer_area_foot .foot_txt {margin-top:10px; font-size:13px;}
.culture_wrap .culture_area .culture_view .tit {font-size:20px; color:#6a2d00; padding-bottom:10px;}
.culture_wrap .culture_area .culture_view .culture_coupon {overflow:hidden;}
.culture_wrap .culture_area .culture_view .culture_coupon .left {float:left; width:420px;}
.culture_wrap .culture_area .culture_view .culture_coupon .right {float:right;}

/* 고코 요금표 UI 리뉴얼_170601_혜준 */
/*요금표 UI변경_170531_혜준*/
/* 안내 및 유의사항 */
.ntc_wrap {display: table; position: relative; width: 100%; height: auto; /* margin: 0 auto;  margin-left: 25px; */ margin-top: 10px; border: 1px solid #ccc; color: #333; box-sizing: border-box;}
.ntc_wrap > div {display: table-cell; text-align: left;}
.ntc_tit {width: 100px; font-size: 18px; padding: 15px 0 15px 20px; background: #f5f5f5; font-weight: 600; letter-spacing: -0.5px;}
.ntc_contents {border-left: 1px solid #ccc; padding: 15px 0 15px 17px; font-size: 16px;}
.clr:before, .clr:after {content: ""; display: block;}
.clr:after {clear: both;}
#fare_section .c-red {color: #ff2122;}
#fare_section .c-yellow {color: #ff0;}
.f-bd {font-weight: 600;}
.title-1 {position: relative; border-top: 3px solid #6c6c6c; border-right: 1px solid #ccc; border-left: 1px solid #ccc; height: 56px; margin-top: 10px;}
.title-1 .tit-h2 {font-size: 22px; text-align: center; line-height: 2.6em; color: #000;}
.title-1 .slt-bgc, .title-1 select {
    position: absolute; right: 22px; top: 16px; width: 174px; height: 27px;
}
.title-1 .slt-bgc {background-color: #fdf6e2;}
.title-1 select {
    text-indent: 6px;
    appearance: none; -webkit-appearance: none; -ms-appearance: none; -o-appearance: none; -moz-appearance: none;
    background: url(http://img.yeosucablecar.co.kr/slt_bg.jpg) no-repeat right top;
    border: 1px solid #a7a7a7; font-size: 16px; color: #222; font-weight: 600;
}
.title-1 select option {font-size: 15px;}
#fare_wrapper table {position: relative; width: 100%;}
#fare_wrapper table th, #fare_wrapper table td {position: relative; border-collapse: collapse; border: 1px solid #ddd; box-sizing: border-box; letter-spacing: -1px; line-height: 1.4em;}
#fare_wrapper thead th {text-align: center; height: 50px; border: 1px solid #5e5e5e; border-right-color: #333; background: #5e5e5e; color: #fff;
    font-size: 18px; font-weight: 600;
}
#fare_wrapper thead th .banner_lowest_price {position: relative; top: -1px; margin-left: 8px;}
#fare_wrapper thead th.last {border-right-color: #5e5e5e;}
#fare_wrapper tbody td {height: 50px; text-align: center; font-size: 17px; font-weight: 600; color: #202020; text-align: center;}
#fare_wrapper tbody tr td.on {background: #fff2e9;}
/*#fare_wrapper tbody td.ctgr {text-align: left;}*/
/*#fare_wrapper tbody td.total {text-align: right;}*/
#fare_wrapper tbody tr.division td, #fare_wrapper tbody td.division {border-bottom: 1px solid #333;}
#fare_wrapper tbody .prc-sale {font-size: 15px;}
#fare_wrapper tbody .gt {position: relative; left: 2px; display: inline-block; width: 5%;}
#fare_wrapper tbody s, #fare_wrapper tbody .prc {position: relative; display: inline-block; width: 41%;}
#fare_wrapper tbody s {text-align: right; float: left;}
#fare_wrapper tbody .prc {text-align: right;}
#fare_wrapper tbody .quan {position: relative; width: 68px; height: 26px; margin: 0 auto; border: 1px solid #bbb; background: #fff;
	-webkit-user-select: none; /* Chrome, Opera, Safari */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}
#fare_wrapper tbody .quan input.inp {width: 32px; height: 100%; text-align: center; font-size: 13px; line-height: 1.7em; border: none; border-left: 1px solid #bbb; border-right: 1px solid #bbb; font-weight: 800; color: #999; background-color: transparent; position: relative; top: -1px;}
#fare_wrapper tbody .quan input.inp.on, #fare_wrapper tbody td.on .quan input.inp {color: #202020;}
#fare_wrapper tbody .quan > span {position: relative; top: 0px; display: inline-block; width: 16px; height: 100%; font-size: 14px; text-align: center; cursor: pointer; line-height: 1.9em;}
#fare_wrapper tbody .quan > .s-l {float: left; left: 1px;}
#fare_wrapper tbody .quan > .s-r {float: right; right: 0px;}
#fare_wrapper tbody .total span.on {color: #ff2122;}

#fare_wrapper table.gender {}
#fare_wrapper table.gender td {height: 42px;}
#fare_wrapper tbody tr.division td, #fare_wrapper tbody td.division,
#fare_wrapper table.gender tbody tr.division td, #fare_wrapper table.gender tbody td.division {border-bottom: 2px solid #000; height: 0; padding: 0;}
#fare_wrapper table.gender tbody s, #fare_wrapper table.gender tbody .prc {position: relative; display: inline-block; width: 40%;}
#fare_wrapper table.gender tbody s {margin-left: -5px; left: 3px;}
#fare_wrapper table.gender tbody .prc {width: 38.5%;}

#fare_section .pay-box {position: relative; margin-top: -1px; width: 100%; height: 80px; border: 1px solid #a9a9a9; background: #fff8d5; box-sizing: border-box; text-align: right; padding-right: 20px; letter-spacing: -0.5px;}
#fare_section .pay-box > p {display: inline-block; vertical-align: middle;  color: #302e2b; font-family: "Noto Sans KR", "Nanum Gothic"; text-align: left; padding-top: 14px;}
/*#fare_section .pay-box > .nth1 {font-size: 18px; width: 30%; padding-left: 25px;}
#fare_section .pay-box > .nth1 img {position: relative; top: -2px;}
#fare_section .pay-box > .nth1 .f-bd {font-weight: 500; margin-left: 5px;}*/
#fare_section .pay-box > .nth2 {color: #000; font-size: 23px; text-align: right; padding-right: 15px;}
#fare_section .pay-box > .nth2 s {position: relative; top: 2px; color: #323232;}
#fare_section .pay-box > .nth2 .sm {font-weight: 400;}
#fare_section .pay-box > .nth2 .f-bd.s1 {margin-right: 20px; font-weight: 400; font-size: 24px;}
#fare_section .pay-box > .nth2 .c-red {font-size: 32px; font-family: "Malgun Gothic", "Nanum Gothic"; line-height: 0em; margin-left: 7px;}
#fare_section .pay-box > .nth2 .c-red .f-bd {position: relative; top: 3px;}
#fare_section .pay-box > .nth2 .c-red .sm {font-size: 27px; font-weight: 400;}
#fare_section .pay-box > .nth3 a {color: #fff; display: block; width: 280px; height: 50px; font-size: 21px; background: #c00600; text-align: center; line-height: 2.4em;}
#fare_section .pay-box > .nth3 a .gt {font-family: "Nanum Gothic"; position: relative; font-size: 17px; top: -3px; margin-left: 14px;}

#fare_section .notice-box {position: relative; margin-top: 10px; width: 100%; border-collapse: collapse; color: #181818;}
#fare_section .notice-box {position: fixed; margin-top: 0; width: 954px; border-collapse: collapse; color: #181818;
    bottom: 0; z-index: 10; box-sizing: border-box; bottom: -500px;}
#fare_section .notice-box tr {/*display: table-row;*/}
#fare_section .notice-box thead, #fare_section .notice-box tbody {position: relative;}
#fare_section .notice-box thead {background: #f5f5f5;}
#fare_section .notice-box tbody {background: #fff;}
#fare_section .notice-box th, #fare_section .notice-box td {/*border: 1px solid #ccc;*/}
#fare_section .notice-box td {/*display: table-cell;*/ position: relative; vertical-align: middle; letter-spacing: -1px; text-align: left; word-break: keep-all;}

#fare_section .notice-box tr.thead .th {font-size: 18px; font-weight: 600; height: 50px; text-align: center;}
#fare_section .notice-box tr.thead .th.nth-1 {/*width: 237px; border-left-color: #ff7a2d; border-top-color: #ff7a2d;*/}
#fare_section .notice-box tr.thead .th.nth-2 {/*width: 278px; border-top-color: #ff7a2d;*/}
#fare_section .notice-box tr.thead .th.nth-3 {/*width: 466px; border-right-color: #ff7a2d; border-top-color: #ff7a2d;*/}
#fare_section .notice-box tr.tbody .td {font-size: 17px; line-height: 1.5em; padding: 20px 0;}
#fare_section .notice-box tr.tbody .td.nth-1, #fare_section .notice-box tr.tbody .td.nth-2 {padding-left: 20px;}
#fare_section .notice-box tr.tbody .td.nth-1 {/*border-left-color: #ff7a2d;*/}
#fare_section .notice-box tr.tbody .td.nth-2 {}
#fare_section .notice-box tr.tbody .td.nth-3 {/* padding-left: 50px; */ padding-left: 25px; /*border-right-color: #ff7a2d;*/}
#fare_section .notice-box tr.thead .th.nth-3, #fare_section .notice-box ul.tbody .td.nth-3 {color: #db3300;}
#fare_section .notice-box tr.tbody .td .dot {position: relative; padding-left: 10px;}
#fare_section .notice-box tr.tbody .td .dot:before {position: absolute; top: -1px; left: 0; content: "·"; font-size: 30px;}

#fare_section .notice-box tr.sun {top: 0px; width: 100%; height: 1px; position: absolute;}
#fare_section .notice-box tr.sun th {position: absolute; padding: 0; line-height: 0; font-size: 0; top: 0px; height: 1px; background: #ff7a2d; width: 100%; border: 0;}
#fare_section .notice-box tr .bor-l, #fare_section .notice-box tr .bor-r {position: absolute; padding: 0; border: none; width: 1px; height: 100%; background: #ff7a2d;}
#fare_section .notice-box tr .bor-l {left: 0;}
#fare_section .notice-box tr .bor-r {right: 0;}

.nb-open-btn {position: absolute; top: -29px; left: 409px; border: none;}
.nb-open-btn a {position: absolute; top: -4px; width: 140px; height: 32px; left: -2px; font-size: 16px; text-align: center; border: 1px solid #ff7a2d;
    font-family: "Noto Sans KR", "Nanum Gothic"; line-height: 1.9em; font-weight: 500; background: #ff7a2d; border-bottom-color: #ff7a2d;}
.nb-open-btn a.on {background: #fff; color: #181818; border-bottom-color: #ccc;}

.nb-open-btn a i {position: relative; display: inline-block; width: 20px; height: 20px; overflow: hidden; top: 4px; left: 8px;}

.nb-open-btn a i img {position: relative; left: -60px; width: 80px;}
.nb-open-btn a.on i img {left: -40px;}

.nb-open-btn a i.bt {top: 9px; left: 8px;}
.nb-open-btn a i.bt img {left: 0; width: 17px;}

.nb-open-btn a span {color: #fff;}
.nb-open-btn a.on span {display: none;}
.nb-open-btn a.on:before {content: "창 내리기";}

#fare_section .q-wrap {display: table; position: relative; width: 100%; height: auto; margin-top: 10px; border: 1px solid #ccc; color: #333; box-sizing: border-box;}
#fare_section .q-wrap > div {display: table-cell; text-align: left;}
#fare_section .q-tit {width: 100px; font-size: 18px; padding: 15px 0 15px 20px; background: #f5f5f5; font-weight: 600; letter-spacing: -0.5px;}
#fare_section .q-contents {border-left: 1px solid #ccc; font-size: 16px;}
#fare_section .q-contents li {padding: 16px 20px; border-top: 1px solid #ccc;}
#fare_section .q-contents li:first-child {border-top: 0;}
#fare_section .q-contents li p {line-height: 1.3em; margin-top: 8px;}
#fare_section .q-contents li p:first-child {margin-top: 0;}
#fare_section .q-contents li:first-child p:first-child {top: -1px;}
#fare_section .q-contents li .q-p, #fare_section .q-contents li .a-p {position: relative; padding-left: 25px;}
#fare_section .q-contents li .q-p:before, #fare_section .q-contents li .a-p:before {content: ""; position: absolute; display: inline-block;; top: 2px; left: 0; width: 20px; height: 20px;
    background: url(http://img.yeosucablecar.co.kr/bg_q.png) no-repeat;}
#fare_section .q-contents li .q-p:before {background-position: 0 0;}
#fare_section .q-contents li .a-p:before {background-position: 0 -30px;}
#fare_section .q-contents li.tit {background: #f5f5f5; font-weight: 600; font-size: 17px;}
#fare_section .q-contents li:first-child.tit {padding-top: 18px;}
/* 상세페이지폰트조절 */
#rsv_sang, #contents_mn2 .box_ov,
#info_box1, #info_box2, #info_box3, #info_box4,
#info_box5, #info_box6, #info_box7, #info_box8 {font-size: 15px;}
/* 1:문의하기_170601_혜준 */
#wrapper #membership p {line-height: 1.9;}
#wrapper #membership .qna_notice {margin-top: 10px;}
/* 예약내역 레이어팝업_170602_혜준 */
.clearHere {position: relative; text-align: center; margin-top: 25px;}
.clearHere > a {display: inline-block; width: 556px; height: 50px; background-color: #585858; border-radius: 3px; font-size: 17px; color: #fff; font-weight: 600; line-height: 2.9em;}
.clearHere .c-yellow {color: #fff600;}
.clearHere .gt {position: relative; top: -2px; left: 45px;font-size: 12px; font-family: "Nanum Gothic"; font-weight: 400;}
.layer-pop-bg {position: fixed; z-index: 11; top: 0; left: 0; width: 100%; height: 100%; background: url(http://img.go.co.kr/black_rgba58.png) repeat;}
#r-lookup {position: fixed; z-index: 6; width: 430px; height: 272px; top: 50%; margin-top: -136px; left: 50%; margin-left: -215px; background: #f1f1f1; box-sizing: border-box; border: 2px solid #ff610a;  border-radius: 2px;}
#r-lookup * {letter-spacing: -0.5px; color: #303030;}
#r-lookup h2 {height: 62px; font-size: 22px; color: #fff; font-weight: 700; text-align: center; line-height: 2.8em; background: #ff610a; font-family: "Nanum Gothic", sans-serif; letter-spacing: 0;}
#r-lookup .clsBtn {position: absolute; right: 20px;	top: 16px;	 display: inline-block; width: 22px; height: 22px;
	background: url("http://img.go.co.kr/x_btn.png") no-repeat;
}
#r-lookup > p {font-size: 19px; line-height: 1.5em; text-align: center; margin-top: 20px; box-sizing: border-box; padding: 0 20px;}
#r-lookup > p.nth-1 {}
#r-lookup > p.nth-2 {}
#r-lookup > p.nth-2 input{-webkit-appearance: none; border: none; border-radius: 0; width: 100px; height: 47px; background: #fff; border: 1px solid #d6d6d6; font-size: 19px; text-align: center;
    color: #000;}
#r-lookup > p.nth-2 span {display: inline-block; background: #bbb; height: 1px; width: 10px; margin: 0 4px; position: relative; top: -5px;}
#r-lookup > p.nth-3 {}
#r-lookup > p.nth-3 a {display: inline-block; width: 128px; height: 40px; border-radius: 4px; border: 1px solid #d6d6d6; color: #403a3a; font-weight: 600; line-height: 2.2em;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #eeeeee 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#eeeeee 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ffffff 0%,#eeeeee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
}
#r-lookup > p.nth-3 a:first-child {background: #ff610a; color: #fff; margin-right: 20px;}

#r-confirm {position: fixed; z-index: 6; width: 430px; min-height: 356px; padding-bottom: 36px; top: 50%; margin-top: -200px; left: 50%; margin-left: -215px; background: #f1f1f1; box-sizing: border-box; border: 2px solid #ff610a; border-radius: 2px;}
#r-confirm * {letter-spacing: -0.5px; color: #303030;}
#r-confirm h2 {height: 62px; font-size: 22px; color: #fff; font-weight: 700; text-align: center; line-height: 2.8em; background: #ff610a; font-family: "Nanum Gothic", sans-serif; letter-spacing: 0;}
#r-confirm .clsBtn {position: absolute; right: 20px;	top: 16px;	 display: inline-block; width: 22px; height: 22px;
    background: url("http://img.go.co.kr/x_btn.png") no-repeat;
}
#r-confirm > p.nth-1 {font-size: 19px; line-height: 1.5em; text-align: center; margin-top: 20px; box-sizing: border-box;}
#r-confirm > div.inner-box {width: 380px; min-height: 224px; margin: 0 auto; margin-top: 20px; border: 1px solid #d6d6d6; box-sizing: border-box; background: #fff; padding: 0 12px;}
#r-confirm > div > p {font-size: 22px; line-height: 1.5em; text-align: center; box-sizing: border-box;}
#r-confirm > div > p.nth-1 {margin-top: 15px;}
#r-confirm > div > p.nth-2 {margin-top: 20px; padding: 12px; border-top: 1px solid #d6d6d6;}
#r-confirm > div > p.nth-2 > a {display: block; margin: 0px auto; width: 100%; height: 58px; border-radius: 4px; background: #ff610a; color: #fff; line-height: 3em; font-size: 20px; font-weight: 600;}
/* 기본테이블 클래스_170608_혜준 */
.tb-default {border-collapse: collapse; margin-top: 5px;}
.tb-default th, .tb-default td {border: 1px solid #c8c8c8; padding: 3px 0; text-align: center;}
.tb-default th {background: #e4e3e3;}
/*패키지 UI변경 20170613_혜준*/
#fix-nav {position: relative; clear: both; top: 0; z-index: 10; width: 100%;}
#fix-nav * {box-sizing: border-box;}
#fix-nav .nav-bar {height: 96px; padding-top: 20px; background: #e6e6e6; border-bottom: 1px solid #dcdcdc;}
#fix-nav .nav {position: relative; margin: 0 auto; width: 1002px;/* width: 1135px; */ font-size: 0;}
#fix-nav .nav > * {display: inline-block; vertical-align: middle;}
#fix-nav .nav h2 {position: absolute; left: -130px; top: 6px;}
#fix-nav .nav h2 a {display: block; width: 112px; height: 47px; background: url(http://img.go.co.kr/fix_nav_sprBg2.png) no-repeat 0 0;}
#fix-nav .nav h3 {margin-right: 10px; width: 161px; height: 51px; background: url(http://img.go.co.kr/fix_nav_sprBg2.png) no-repeat -140px 0;}
#fix-nav .nav .inp {margin-left: 10px; margin-top: -6px;}
#fix-nav .nav .inp > span {position: relative; top: -1px;display: block; color: #787878; font-size: 13px;}
#fix-nav .nav .inp > .chkIn, #fix-nav .nav .inp > select {border: none; padding-left: 10px; font-size: 15px; /* height: 38px; */ height: 45px; border: 1px solid #7d7d7d;}
#fix-nav .nav .inp > select option {font-size: 15px;}
#fix-nav .nav .inp > .chkIn {
    appearance: none; -webkit-appearance: none; -moz-appearance: none; -ms-appearance: none;
    width: 174px;/* width: 144px; */
    background: #fff url(http://img.go.co.kr/i-cal.jpg) no-repeat right 0;
}
#fix-nav .nav .inp > select {
    appearance: none; -webkit-appearance: none; -moz-appearance: none; -ms-appearance: none;
    background: #fff url(http://img.go.co.kr/i-down-arrow.png) no-repeat right 15px;
}
#fix-nav .nav .inp > select::-ms-expand {display: none;}
/* #fix-nav .nav .inp > select.global {width: 110px; background-position: 85px;} */
#fix-nav .nav .inp > select.global, #fix-nav .nav .inp > select.city {width: 130px; background-position: 105px;}
#fix-nav .nav .inp > select.number {width: 80px; background-position: 55px;}
#fix-nav .nav .more-a, #fix-nav .nav .search-a {position: absolute; height: 58px; font-size: 18px; color: #fff; text-align: center; line-height: 3.1em;}
#fix-nav .nav .more-a:active, #fix-nav .nav .search-a:active {font-weight: 400;}
#fix-nav .nav .more-a {right: 170px; width: 128px; background: #9c9c9c; /* margin-left: 20px; */}
#fix-nav .nav .more-a:before {position: absolute; content: ""; bottom: -14px; left: 57px; width: 1px; border: 8px solid transparent; border-top-color: #9c9c9c;}
#fix-nav .nav .more-a .i-plus {display: inline-block; position: relative; top: 4px; margin-right: 4px; width: 20px; height: 20px; background: url(http://img.go.co.kr/fix_nav_sprBg.png) no-repeat -440px 0;}
#fix-nav .nav .more-a.on .i-plus {background: url(http://img.go.co.kr/fix_nav_sprBg.png) no-repeat -480px 0;}
#fix-nav .nav .search-a {right: 0; width: 160px; background: #344570;/* background: #fa6b0a; */ margin-left: 10px;}
#fix-nav .nav .search-a .i-search {display: inline-block; position: relative; top: 5px; margin-right: 6px; width: 21px; height: 22px; background: url(http://img.go.co.kr/fix_nav_sprBg.png) no-repeat -520px 0;}

#fix-nav .nb-drop-bar {display: none; height: 39px; padding-top: 5px; background: #efefef; border-bottom: 1px solid #d9d9d9;}
#fix-nav .nb-drop-bar.on {display: block;}
#fix-nav .nb-drop-bar .nb-outer {position: relative; margin: 0 auto; width: 1002px;/* width: 1115px; */}
#fix-nav .nb-drop {position: relative; float: right; width: 100%;/* width: 1007px; */ font-size: 0;}
#fix-nav .nb-drop > * {display: inline-block; vertical-align: middle; color: #fff;}
#fix-nav .nb-drop h4 {position: relative; min-width: 88px; height: 26px; padding: 0 6px; font-size: 14px; color: #fff; text-align: center; line-height: 1.8em; background: #9d8676; font-weight: 400; letter-spacing: -1px; margin-right: 10px;}
#fix-nav .nb-drop .nb-drInp {
    outline: 0;
    appearance: none; -webkit-appearance: none; -moz-appearance: none; -ms-appearance: none;
    border: none; width: 14px; height: 14px; background: #fff; margin-left: 10px;
    border: 1px solid #b4b4b4;
}
#fix-nav .nb-drop .nb-drInp:checked {background: #fff url(http://img.go.co.kr/fix_nav_sprBg.png) no-repeat -560px 2px;}
#fix-nav .nb-drop label {
    user-select: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none;
    font-size: 13px; color: #787878; margin-left: 5px; cursor: pointer;
}
#fix-nav .nb-drop #nb-all + label, #fix-nav .nb-drop #nb-ticket + label {position: relative; margin-right: 18px;}
#fix-nav .nb-drop #nb-all + label:before, #fix-nav .nb-drop #nb-ticket + label:before {position: absolute; content: ""; height: 18px; width: 1px; top: 1px; right: -15px; background: #646464;}
/*#fix-nav .nb-drop #nb-all + label:after, #fix-nav .nb-drop #nb-ticket + label:after {position: absolute; content: ""; height: 23px; width: 1px; top: -1px; right: -10px; background: #646464;}*/

#fix-nav .nb-drop #nb-all + label {color: #fa6b0a;}
#fix-nav .nb-drop #nb-occupied + label, #fix-nav .nb-drop #nb-confirm + label {color: #344570;}
#fix-nav .nb-drop .i-close {position: relative; width: 16px; float: right; top: 5px; cursor: pointer;}

.backDrop-bg {position: fixed; z-index: 11; top: 0; left: 0; width: 100%; height: 100%; background: url(http://img.go.co.kr/black_rgba58.png) repeat;}

.sltCheck-sec {position: absolute; left: 50%; margin-left: -357px; top: 160px; background-color: #fff; min-width: 368px; max-width: 714px; min-height: 440px; letter-spacing: -0.5px; box-sizing: border-box;
z-index: 12;}
.sltCheck-sec h3 {text-align: center; color: #fff; font-size: 20px; background: #ff7a2d; line-height: 3em; font-weight: 400; height: 58px;}
.sltCheck-sec h3 .i-close {position: absolute; top: 16px; right: 18px; float: right; cursor: pointer;}
.sltCheck-sec .pc-outer {padding: 15px;}
.sltCheck-sec .part-common {float: left; margin: 5px; width: 326px; min-height: 156px; padding-top: 10px; border: 1px solid #bcbcbc; width: 298px; padding: 6px 16px 0;}
.sltCheck-sec .part-common h4 {position: relative; font-size: 18px; font-weight: 400; padding-bottom: 5px;}
.sltCheck-sec .part-common h4:after {position: absolute; bottom: 0; left: -3px; content: ""; display: block; width: 304px; height: 1px; background: #000;}
.sltCheck-sec .part-common p {position: relative; border-top: 1px dashed #b0b0b0; font-size: 15px; line-height: 1.5em; padding-top: 5px; margin-top: 5px;}
.sltCheck-sec .part-common h4 + p {border-top: none; margin-top: 2px;}
.sltCheck-sec .part-common .pull-left {display: inline-block;}
.sltCheck-sec .part-common .pull-left:first-child {display: inline-block; width: 74px; min-height: 10px;}
.sltCheck-sec .part-common .absol {position: absolute; top: 6px;}
.sltCheck-sec .part-3 {position: relative; margin-top: -1px; width: 100%; height: 80px; border-top: 1px solid #caba9c; background: #fff8d5; box-sizing: border-box; letter-spacing: -0.5px; padding-right: 20px; text-align: right;}
.sltCheck-sec .part-3 > p {display: inline-block; vertical-align: middle;  color: #302e2b; font-family: "Noto Sans KR", "Nanum Gothic"; text-align: left;
    padding-top: 14px;}
.sltCheck-sec .part-3 > .nth2 {color: #000; font-size: 21px; text-align: right; padding-right: 15px;}
.sltCheck-sec .part-3 > .nth2 s, #rsv_s_list .pay-box > .nth2 .c-red {font-family: "Arial", "Malgun Gothic", "Nanum Gothic";}
.sltCheck-sec .part-3 > .nth2 s {position: relative; top: 2px; color: #323232; font-size: 25px;}
.sltCheck-sec .part-3 > .nth2 s > span {position: relative; top: -2px;font-family: "Nanum Gothic"; font-size: 20px;}
.sltCheck-sec .part-3 > .nth2 .sm {font-weight: 400;}
.sltCheck-sec .part-3 > .nth2 .f-bd.s1 {position: absolute; top: 10px; left: 30px; margin-right: 3px; font-weight: 400; font-size: 24px; color: #000;}
.sltCheck-sec .part-3 > .nth2 .ps {position: absolute; top: 44px; left: 20px; color: #313131; font-size: 12px; font-family: "Dotun", "Gulim"; margin-right: 16px;}
.sltCheck-sec .part-3 > .nth2 .c-red {font-size: 36px; font-family: "Arial", "Malgun Gothic", "Nanum Gothic"; line-height: 0em; margin-left: 7px; color: #ff1200;}
.sltCheck-sec .part-3 > .nth2 .c-red .f-bd {position: relative; top: 3px;}
.sltCheck-sec .part-3 > .nth2 .c-red .sm {font-size: 27px; font-weight: 400; font-family: "Nanum Gothic";}
.sltCheck-sec .part-3 > .nth3 a {color: #fff; display: block; width: 215px; height: 50px; font-size: 21px; background: #c00600; text-align: center; line-height: 2.4em;}
.sltCheck-sec .part-3 > .nth3 a .gt {font-family: "Nanum Gothic"; position: relative; font-size: 13px; top: -4px; margin-left: 10px; font-weight: 600;}
/*170619_패키지선택 개선_혜준*/
.sltCal-sec {position: absolute; left: 50%; margin-left: -414px; top: 50%; margin-top: -275px; background-color: #fff; width: 828px; min-height: 550px; letter-spacing: -0.5px; z-index: 11;}
.sltCal-sec .cal-inner {width: 414px; float: left;}
.sltCal-sec h3 {text-align: center; color: #fff; font-size: 20px; background: #ff7a2d; line-height: 3em; font-weight: 400; height: 58px;}
.sltCal-sec h3 .i-close {position: absolute; top: 16px; right: 18px; float: right; cursor: pointer;}
.sltCal-sec p.p-1 {position: relative; text-align: center; padding: 7px 18px 6px; font-size: 21px; font-family: "Noto Sans KR", "Nanum Gothic";}
.sltCal-sec p.p-1 em {position: relative; margin-left: 10px; top: -1px; font: normal 600 24px "Arial", sans-serif; color: #000; vertical-align: middle;}
.sltCal-sec p.p-1 a {position: relative; display: inline-block; width: 11px; height: 17px; top: 4px; /* top: 7px; */ background: url("http://img.go.co.kr/cal_sprBg.png") no-repeat 0 0;}
.sltCal-sec p.p-1 .prev-a {float: left;}
.sltCal-sec p.p-1 .next-a {float: right; background-position: -20px 0;}

.sltCal-sec .cal-inner {}
.sltCal-sec .cal-tb {position: relative; width: 393px; border-collapse: collapse; margin: 0 auto;}
.sltCal-sec .cal-tb th, .sltCal-sec .cal-tb td {width: 55px; border: 1px solid #e6e6e6; font-size: 15px; color: #000; text-align: center; line-height: 1.3em;}
.sltCal-sec .cal-tb th {background: #282828; padding: 6px 0; color: #fff; border: 1px solid #141414;}
.sltCal-sec .cal-tb td {position: relative; font-family: "Arial", sans-serif; height: 55px; vertical-align: top;}
.sltCal-sec .cal-tb td > div {padding-top: 2px; height: 100%;}
.sltCal-sec .cal-tb td.off > div {color: #969696; background: #f0f0f0;}
.sltCal-sec .cal-tb td.chkIn, .sltCal-sec .cal-tb td.chkOut {position: relative; color: #fff; z-index: 1;}
.sltCal-sec .cal-tb td.chkIn img, .sltCal-sec .cal-tb td.chkOut img {display: block; margin: 0 auto;}
.sltCal-sec .cal-tb td.ing > div {position: relative; background: #e5f4ff;}
.sltCal-sec .cal-tb td.chkIn > div {background: #e33e3e;}
.sltCal-sec .cal-tb td.chkOut > div {background: #39c9ba;}
.sltCal-sec .cal-tb td.chkIn:before, .sltCal-sec .cal-tb td.chkOut:before,
.sltCal-sec .cal-tb td.ing:before {content: ""; display: block; position: absolute; top: -1px; left: -1px; width: 100%; height: 55px;}
.sltCal-sec .cal-tb td.chkIn:before {border: 1px solid #b52b2b;}
.sltCal-sec .cal-tb td.chkOut:before {border: 1px solid #329288;}
.sltCal-sec .cal-tb td.ing:before {border: 1px solid #D1EAFD;}
.sltCal-sec .cal-tb td .prc {position: absolute; bottom: 0; font-size:11px; display: block; width: 100%; text-align: center; color: #0056a4;}
.sltCal-sec .cal-tb td.off .prc {color: #969696;}
.sltCal-sec .cal-tb td.chkIn .prc, .sltCal-sec .cal-tb td.chkOut .prc {color: #fff;}
.sltCal-sec .btn-a {clear: both; display: block; margin: 20px auto 0; width: 172px; height: 42px; color: #fff; font-size: 18px; background: #ff7a2d; text-align: center; line-height: 40px;}

#rsv_s_list #pdtSlt-wrapper {position: relative;}

#rsv_s_list .pay-box {position: relative; margin-top: -1px; width: 100%; height: 80px; border: 1px solid #000; background: #fff8d5; box-sizing: border-box; letter-spacing: -0.5px; text-align: right; padding-right: 20px;}
#rsv_s_list .pay-box > p {display: inline-block; vertical-align: middle;  color: #302e2b; font-family: "Noto Sans KR", "Nanum Gothic"; text-align: left;
    padding-top: 14px;}
#rsv_s_list .pay-box > .nth2 {color: #000; font-size: 21px; text-align: right; padding-right: 15px;}
#rsv_s_list .pay-box > .nth2 s, #rsv_s_list .pay-box > .nth2 .c-red {font-family: "Arial", "Malgun Gothic", "Nanum Gothic";}
#rsv_s_list .pay-box > .nth2 s {position: relative; top: 2px; color: #323232; font-size: 25px;}
#rsv_s_list .pay-box > .nth2 s > span {position: relative; top: -2px;font-family: "Nanum Gothic"; font-size: 20px;}
#rsv_s_list .pay-box > .nth2 .sm {font-weight: 400;}
#rsv_s_list .pay-box > .nth2 .f-bd.s1 {margin-right: 3px; font-weight: 400; font-size: 24px; color: #000;}
#rsv_s_list .pay-box > .nth2 .ps {color: #313131; font-size: 12px; font-family: "Dotun", "Gulim"; margin-right: 16px;}
#rsv_s_list .pay-box > .nth2 .c-red {font-size: 36px; font-family: "Arial", "Malgun Gothic", "Nanum Gothic"; line-height: 0em; margin-left: 7px; color: #ff1200;}
#rsv_s_list .pay-box > .nth2 .c-red .f-bd {position: relative; top: 3px;}
#rsv_s_list .pay-box > .nth2 .c-red .sm {font-size: 27px; font-weight: 400; font-family: "Nanum Gothic";}
#rsv_s_list .pay-box > .nth3 a {color: #fff; display: block; width: 235px; height: 50px; font-size: 21px; background: #c00600; text-align: center; line-height: 2.4em;}
#rsv_s_list .pay-box > .nth3 a .gt {font-family: "Nanum Gothic"; position: relative; font-size: 13px; top: -4px; margin-left: 10px; font-weight: 600;}

.pdtSlt-sec {display: table; position: relative; width: 100%; font-family: "Nanum Gothic", sans-serif; letter-spacing: -0.5px; box-sizing: border-box;
    background: #fff; color: #000;}
.pdtSlt-sec > div {display: table-cell; border: 1px solid #000; border-collapse: collapse;}
.pdtSlt-sec > div.part-1 {width: 33%;}
.pdtSlt-sec > div.part-2 {width: 34%;}
.pdtSlt-sec > div.part-3 {width: 34%;}
.pdtSlt-sec > div > * {text-align: left;}
.pdtSlt-sec > div h2 {font-size: 17px; color: #fff; font-weight: 400; padding-top: 9px; padding-bottom: 9px; padding-left: 15px;}
.pdtSlt-sec > div h2 > span {position: relative; top: 1px; vertical-align: middle;}
.pdtSlt-sec > div h2 > .f-arial {font-family: "Arial", sans-serif; font-size: 20px; margin-right: 6px;}
.pdtSlt-sec > div ul li {position: relative;}

.pdtSlt-sec .part-1 h2 {background: #ff7a2d;}
.pdtSlt-sec .part-1 h3 {position: relative; background: #f5f5f5; font-size: 18px; color: #000; box-sizing: border-box;
    padding: 10px 10px 10px 77px; line-height: 1.3em; font-weight: 400; border-bottom: 1px solid #bcbcbc; /* margin-bottom: 5px; */}
.pdtSlt-sec .part-1 h3 span.tt {position: absolute; display: inline-block; width: 58px; height: 17px;
    left: 15px; top: 13px;
    background: url(http://img.go.co.kr/fix_nav_sprBg2.png) no-repeat -340px 0;
}
.pdtSlt-sec .part-1 .dep-1 {padding: 5px 0;}
.pdtSlt-sec .part-1 .dep-1 > li {font-size: 0; padding-top: 5px; padding-bottom: 5px;}
.pdtSlt-sec .part-1 .dep-1 > li > * {display: inline-block; vertical-align: middle;}
.pdtSlt-sec .part-1 .dep-1 > li.mg {width: 296px; margin: 15px auto 5px; border-top: 1px dashed #bcbcbc;}
.pdtSlt-sec .part-1 .dep-1 > li .label {font-size: 15px; width: 66px; color: #000000; font-weight: 400; padding: 0; text-align: left;}
.pdtSlt-sec .part-1 .dep-1 > li select {padding: 3px 6px 4px; font-size: 15px; border-radius: 0; border:1px solid #bcbcbc;}
.pdtSlt-sec .part-1 .dep-1 > li select option {font-size: 15px;}
.pdtSlt-sec .part-1 .dep-1 > li select.type-1 {width: 131px;}
.pdtSlt-sec .part-1 .dep-1 > li select.type-2 {width: 80px;}
.pdtSlt-sec .part-1 .dep-1 > li select.type-2 {width: 80px;}
.pdtSlt-sec .part-1 .dep-1 > li select.type-3 {width: 70px;}
.pdtSlt-sec .part-1 .dep-1 > li .pl-10 {padding-left: 10px;}
.pdtSlt-sec .part-1 .dep-1 > li .pl-15 {padding-left: 15px;}
.pdtSlt-sec .part-1 .dep-1 > li .ml-10 {margin-left: 10px;}
.pdtSlt-sec .part-1 .dep-1 > li .mr-10 {margin-right: 10px;}

.pdtSlt-sec input[type="checkbox"] {appearance: none; -webkit-appearance: none; -moz-appearance: none; -ms-appearance: none;
    display: inline-block; position: relative; top: -1px;
    border: 1px solid #a5a5a5; width: 15px; height: 15px; border-radius: 0; outline: 0;
    background: #fff; margin-right: 5px; margin-left: 15px;
}
.pdtSlt-sec input[type="checkbox"]:checked {background: #fff url("http://img.go.co.kr/chk_bg.png") no-repeat 1px 2px;}
.pdtSlt-sec .part-2 h2 {background: #ec5700;}
.pdtSlt-sec .part-2 .dep-1 > li {line-height: 1.2em; padding: 7px 0 7px;}
.pdtSlt-sec .part-2 .dep-1 > li .label {user-select: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none;
    display: inline-block; position: relative; width: 271px; vertical-align: top; font-size: 15px; color: #000; word-break: break-all;
    cursor: pointer; padding: 0; padding-right: 15px; text-align: left;
}
.pdtSlt-sec .part-2 .dep-1 > li.on {background: #3a4351;}
.pdtSlt-sec .part-2 .dep-1 > li.on > .label {color: #fff;}

.pdtSlt-sec .part-2 ul.slt-drop {display: none; background: #f2f2f2; margin-top: 7px; margin-bottom: -7px;}
.pdtSlt-sec .part-2 ul.slt-drop.on {display: block;}
.pdtSlt-sec .part-2 ul.slt-drop > li {padding: 0px 15px 15px 35px;}
.pdtSlt-sec .part-2 ul.slt-drop > li:first-child {padding-top: 15px;}
.pdtSlt-sec .part-2 ul.slt-drop > li .label {width: auto;}
.pdtSlt-sec .part-2 ul.slt-drop > li s, .pdtSlt-sec .part-2 ul.slt-drop > li .c-red {float: right;}
.pdtSlt-sec .part-2 ul.slt-drop > li s {font-size: 12px; color: #313131; margin-right: 5px;}
.pdtSlt-sec .part-2 ul.slt-drop > li .c-red {font-size: 15px; color: #ff4445; font-weight: 600;}

.pdtSlt-sec .part-3 {padding-bottom: 4px;}
.pdtSlt-sec .part-3 > h2 {background: #bf2d00;}
.pdtSlt-sec .part-3 > h2 .i-close {float: right; position: relative; right: 12px; top: 5px; width: 20px; cursor: pointer;}
.pdtSlt-sec .part-3 > div.itm {position: relative; padding: 9px 15px; font-size: 0;}
.pdtSlt-sec .part-3 > div.mg {width: 94%; height: 1px; margin: 8px auto; background: #bcbcbc;}
.pdtSlt-sec .part-3 > div.itm p.p-1 {margin-bottom: 8px; line-height: 1.2em; font-size: 15px; padding-right: 120px;}
.pdtSlt-sec .part-3 > div.itm p.p-1 a {position: absolute; top: 9px;}
.pdtSlt-sec .part-3 > div.itm p.p-1 a:first-child {right: 15px;}
.pdtSlt-sec .part-3 > div.itm p.p-1 a.useInf {right: 75px;}
.pdtSlt-sec .part-3 > div.itm p.p-1 img {position: relative; top: -1px; float: right;}
.pdtSlt-sec .part-3 .ul-1 {border-top: 1px solid #b0b0b0; border-bottom: 1px solid #b0b0b0; background: #f2f2f2; padding: 4px 0 9px;}
.pdtSlt-sec .part-3 .ul-1 li {padding: 6px 15px;}
.pdtSlt-sec .part-3 .ul-1 li > * {display: inline-block; vertical-align: middle;}
.pdtSlt-sec .part-3 .ul-1 li .label {position: relative;  top: 3px;font-size: 15px; font-weight: 600;}
.pdtSlt-sec .part-3 .ul-1 li .label.type-1 {width: 82px;}
.pdtSlt-sec .part-3 .ul-1 li .label.type-2 {width: 180px;}
/*.pdtSlt-sec .part-3 .ul-1 li .label:before {content: ""; position: relative; top: -1px; vertical-align: middle; margin-right: 5px; display: inline-block; width: 3px; height: 3px; background: #b0b0b0;}*/
.pdtSlt-sec .part-3 .ul-1 li select {position: relative; float: right; padding: 3px 6px 4px; font-size: 15px; border-radius: 0; border:1px solid #bcbcbc; width: 168px; max-height: 32px;}
.pdtSlt-sec .part-3 .ul-1 li option {font-size: 15px; padding: 4px 6px;}

.pdtSlt-sec .part-3 .ul-1 li .quan {-webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
    position: relative; width: 70px; height: 24px; margin: 0 auto; border: 1px solid #bbb; background: #fff; box-sizing: border-box;
    float: right; top: 3px;
}
.pdtSlt-sec .part-3 .ul-1 li .quan input.inp {width: 32px; height: 24px; text-align: center; font-size: 13px; line-height: 1.7em; border: none; border-left: 1px solid #bbb; border-right: 1px solid #bbb; font-weight: 800; color: #999; background-color: transparent; position: relative; top: -1px;}
.pdtSlt-sec .part-3 .ul-1 li .quan input.inp.on, .pdtSlt-sec .part-3 .ul-1 li td.on .quan input.inp {color: #202020;}
.pdtSlt-sec .part-3 .ul-1 li .quan > span {position: relative; top: 0px; display: inline-block; width: 16px; height: 100%; font-size: 14px; text-align: center; cursor: pointer; line-height: 1.7em;}
.pdtSlt-sec .part-3 .ul-1 li .quan > .s-l {float: left;}
.pdtSlt-sec .part-3 .ul-1 li .quan > .s-r {float: right; right: 2px;}

.pdtSlt-sec .part-3 .ul-2 {display: none; position: absolute; top: 0; right: 15px; width: 330px; margin-top: 16px; background: #fff; z-index: 5;
    padding: 10px 12px; border: 1px solid #000; box-shadow: 3px 4px rgba(0,0,0, .18);}
.pdtSlt-sec .part-3 .ul-2.on {display: block;}
.pdtSlt-sec .part-3 .ul-2:after {content: ""; display: block; position: absolute; width: 17px; height: 15px; bottom: -15px; right: 75px;
    background: url(http://img.go.co.kr/i_trangle.png) no-repeat;
}
.pdtSlt-sec .part-3 .ul-2 li {font-size: 15px; line-height: 1.5em;}
.pdtSlt-sec .part-3 .ul-2 li.th {color: #000; font-weight: 600;}
.pdtSlt-sec .part-3 .ul-2 li.td {position: relative; color: #323232; padding-left: 10px; letter-spacing: -1px; word-break: keep-all;}
.pdtSlt-sec .part-3 .ul-2 li.td:before {position: absolute; content: "-"; left: 0;}
/* 계좌페이지 패딩 줄임_170619_혜준 */
#wrapper #reser_enter .input .input_t li {padding-right: 13px;}

/* 예약내역조회수정 170626 이현우 */
#wrapper #membership .member_info_t td {padding:20px 0;}
#wrapper #membership .member_info_t td .member_info_t_payment {margin-top:5px;}
#wrapper #membership .member_info_t td .member_info_t_payment .member_info_t_payment_btn {display:inline-block; padding:2px 5px; background-color:#ff6833; color:#fff; font-size:12px;}
#wrapper #membership .member_info_t td .member_info_t_chk {-webkit-appearance:none; -moz-appearance:none; appearance:none; width:0; height:0; overflow:hidden;}
#wrapper #membership .member_info_t td .member_info_t_chkbox {display:inline-block; position:relative; width:16px; height:14px; background:url('http://img.go.co.kr/member_info_t_chk_off.gif') no-repeat 0 0; vertical-align:middle;}
#wrapper #membership .member_info_t td .member_info_t_chkbox.on {background:url('http://img.go.co.kr/member_info_t_chk_on.gif') no-repeat 0 0;}
#wrapper #membership .member_info_t td .orange {color:#ff610a;}
#wrapper #membership .member_info_t td .sml_gray_txt {color:#b0b0b0; font-weight:normal; font-size:11px;}
#wrapper #membership .member_info_t td .member_info_t_fail {position:relative; width:556px; padding:15px 10px; background-color:#2ba78d; border-radius:3px; color:#fff; margin:15px auto 0; font-size:16px;}
#wrapper #membership .member_info_t td .member_info_t_fail:before {content:''; display:block; position:absolute; right:25px; top:50%; width:8px; height:14px; margin-top:-7px; background:url('http://img.go.co.kr/member_info_t_arrow.gif') no-repeat 0 0;}
#wrapper #membership .member_info_t td .member_info_t_fail em {color:#fffc01;}

/* 상품 최저가 안내 레이어팝업 위치 수정 170626 이현우 */
#rsv_wrapper #rsv_sang {position:relative;}
#rsv_wrapper #discount_pop {top:29px !important; right:auto !important; left:-92px;}
#rsv_wrapper #discount_pop {position:absolute; top:195px; right:-30px; width:275px; text-align:left; line-height:2}
#rsv_wrapper #discount_pop .tit {float:left; padding-top:10px; padding-left:10px; width:265px; height:25px; color:#fff; font-weight:600; background:url(http://img.go.co.kr/discount_bg.png) no-repeat}
#rsv_wrapper #discount_pop .text {float:left; padding:10px; width:253px; color:#3a3a3a; font-size:12px; line-height:1.5; background:#fff; border-left:1px solid #3a3a3a; border-right:1px solid #3a3a3a; border-bottom:1px solid #3a3a3a}
#rsv_wrapper #discount_pop .text span {color:#ec5700; font-weight:600}
#rsv_wrapper {position:relative; text-align:left; z-index: 10;}
#rsv_wrapper span.big {font-size:22px;font-weight:600;letter-spacing:-1.5px;color:#3a3a3a}
#rsv_wrapper span.go {font-size:30px;font-weight:600;letter-spacing:-1.5px;color:#ff7a2d}

/* 예약내역_170626_현우 */
#membership .member_rsv_complete {position:fixed; left:0; top:0; right:0; bottom:0; text-align:center; font-size:0; background:url('http://img.go.co.kr/modal_bg.png') repeat 0 0;}
#membership .member_rsv_complete:after {content:''; display:inline-block; height:100%; vertical-align:middle;}
#membership .member_rsv_complete .modal_area {display:inline-block; width:600px; border:3px solid #ff610a; border-radius:3px; background-color:#fff; vertical-align:middle; text-align:left;}
#membership .member_rsv_complete .modal_area.type2 {width:758px; border:1px solid #7f8082; border-radius:0;}
#membership .member_rsv_complete .modal_area .top {position:relative; border-bottom:2px solid #f2f2f2;}
#membership .member_rsv_complete .modal_area .top strong {display:block; padding:15px; border-bottom:1px solid #c5c5c5; font-size:16px; color:#181818;}
#membership .member_rsv_complete .modal_area .top .modal_close {position:absolute; right:20px; top:50%; margin-top:-9px;}
#membership .member_rsv_complete .modal_area.type2 .top {border-bottom:0; background-color:#7e8186;}
#membership .member_rsv_complete .modal_area.type2 .top strong {padding:10px 10px 10px 47px; color:#fff; background:url('http://img.go.co.kr/modal_bullet.gif') no-repeat 30px 50%;}
#membership .member_rsv_complete .modal_area.type2 .top .modal_close {margin-top:-11px;}
#membership .member_rsv_complete .modal_area .mid {padding:20px 25px 35px;}
#membership .member_rsv_complete .modal_area .mid .com_txt {text-align:center;}
#membership .member_rsv_complete .modal_area .mid .com_txt > strong {font-size:18px; color:#ff6108;}
#membership .member_rsv_complete .modal_area .mid .com_txt p {font-size:16px; color:#272727;}
#membership .member_rsv_complete .modal_area .mid .com_txt .refund {font-size:18px !important;}
#membership .member_rsv_complete .modal_area .mid .com_txt .sign {width:340px; margin:10px auto 0; height:90px; border:1px solid #aaa; font-size:14px; color:#a7a7a7; line-height:90px;}
#membership .member_rsv_complete .modal_area .mid .bank_data {width:100%; margin-top:20px; border-bottom:1px solid #c5c5c5;}
#membership .member_rsv_complete .modal_area .mid .bank_data tr th {background-color:#f7f7f7; font-size:16px; padding:5px 10px; color:#090909; text-align:center; border-top:1px solid #c5c5c5; font-weight:bold;}
#membership .member_rsv_complete .modal_area .mid .bank_data tr td {border-left:1px solid #c5c5c5; border-top:1px solid #c5c5c5; font-size:14px; padding:5px 10px;}
#membership .member_rsv_complete .modal_area .mid .bank_data tr td input[type="text"], #membership .member_rsv_complete .modal_area .mid .bank_data tr td input[type="password"], #membership .member_rsv_complete .modal_area .mid .bank_data tr td select {box-sizing:border-box; height:30px; padding:5px;}
#membership .member_rsv_complete .modal_area .modal_bullet {line-height:1.5; color:#e44f49; font-size:14px; padding-left:20px; background:url('http://img.go.co.kr/modal_mark.gif') no-repeat 0 3px; margin-top:10px;}
#membership .member_rsv_complete .modal_area .mid .com_txt .modal_bullet {display:inline-block;}
#membership .member_rsv_complete .modal_area .mid .go_qna {margin-top:20px;}
#membership .member_rsv_complete .modal_area .mid .go_qna a {display:block; position:relative; background-color:#636363; padding:10px; font-size:16px; color:#fff; border-radius:3px; text-align:center;}
#membership .member_rsv_complete .modal_area .mid .go_qna a:before {content:''; display:block; position:absolute; width:7px; height:12px; right:21px; top:50%; margin-top:-7px; background:url('http://img.go.co.kr/modal_arrow01.gif') no-repeat 0 0;}
#membership .member_rsv_complete .modal_area .mid .go_qna a span {color:#fff701;}
#membership .member_rsv_complete .modal_area .mid .modal_btn {margin-top:25px; text-align:center;}
#membership .member_rsv_complete .modal_area.type2 .mid .modal_btn {margin-top:15px;}
#membership .member_rsv_complete .modal_area .mid .modal_btn > a {display:inline-block; border-radius:3px; width:84px; height:36px; line-height:36px; color:#fff; font-size:14px; vertical-align:middle; margin:0 8px;}
#membership .member_rsv_complete .modal_area .mid .modal_btn .complete {background-color:#fb610b;}
#membership .member_rsv_complete .modal_area .mid .modal_btn .refund01 {box-sizing:border-box; width:220px; height:54px; line-height:54px; font-size:18px; font-weight:bold; background-color:#fc6009; position:relative; margin:0 20px;}
#membership .member_rsv_complete .modal_area .mid .modal_btn .refund02 {box-sizing:border-box; width:220px; height:54px; line-height:54px; background-color:#fff; border:1px solid #fb6109; color:#fb6109; font-size:18px; font-weight:bold; position:relative; margin:0 20px;}
#membership .member_rsv_complete .modal_area .mid .modal_btn .refund01:before {content:''; display:block; position:absolute; right:18px; top:50%; width:8px; height:13px; background:url('http://img.go.co.kr/modal_arrow02.gif') no-repeat 0 0; margin-top:-6px;}
#membership .member_rsv_complete .modal_area .mid .modal_btn .refund02:before {content:''; display:block; position:absolute; right:18px; top:50%; width:8px; height:13px; background:url('http://img.go.co.kr/modal_arrow03.gif') no-repeat 0 0; margin-top:-6px;}
#membership .member_rsv_complete .modal_area .mid .modal_btn .chk {background-color:#e05244;}
#membership .member_rsv_complete .modal_area .mid .modal_btn .no {background-color:#fdfdfd; color:#333; border:1px solid #d6d6d6;}
#membership .member_rsv_complete .modal_area .mid .cancel_wrap {margin-top:15px; padding:20px 0 10px; border-top:1px solid #c5c5c5; border-bottom:1px solid #c5c5c5;}
#membership .member_rsv_complete .modal_area .mid .cancel_wrap .cancel_data {width:100%; margin-top:15px;}
#membership .member_rsv_complete .modal_area .mid .cancel_wrap .cancel_data:first-child {margin-top:0;}
#membership .member_rsv_complete .modal_area .mid .cancel_wrap .cancel_data tr th {border-top:1px solid #c5c5c5; background-color:#f5f5f5; color:#090909; font-size:16px; padding:5px 10px; text-align:center; font-weight:bold; border-left:1px solid #c5c5c5;}
#membership .member_rsv_complete .modal_area .mid .cancel_wrap .cancel_data tr th:first-child {border-left:0;}
#membership .member_rsv_complete .modal_area .mid .cancel_wrap .cancel_data tr td {border-top:1px solid #c5c5c5; font-size:14px; padding:5px 10px; text-align:center; border-left:1px solid #c5c5c5; border-bottom:1px solid #c5c5c5;}
#membership .member_rsv_complete .modal_area .mid .cancel_wrap .cancel_data tr td:first-child {border-left:0;}
#membership .member_rsv_complete .modal_area .mid .cancel_wrap .notice_txt {padding:5px 30px 0; font-size:14px; color:#e44f49; line-height:1.5;}

/* 상세페이지 상품 타이틀_170626_혜준 */
#wrapper #contents .contents_tit2 > span:first-child {width: 640px; float: left;}

/* 상품 구매페이지 요금정보 수정 170623 이현우 */
#rsv_s_tab .rsv_s_tabHead .max_discount {position:relative; display:inline-block;}
#rsv_s_tab .rsv_s_tabHead .max_discount > a {display:inline-block; padding:3px 5px; background-color:#cd2814; color:#fff; font-weight:; font-size:12px;}
#rsv_s_tab .rsv_s_tabHead .max_discount > a span {color:#ffef03;}
#rsv_s_tab .rsv_s_tabHead .max_discount > img {position:absolute; left:50%; top:-29px; margin-left:-35px;}