@charset "utf-8";


/* 헤더 */
.m_header {position: absolute; width: 100%; left: 0; top: 15px; padding: 0 3%; box-sizing: border-box;}
.m_header .logo {width:73px; height:15px; margin:0 auto; padding-top:15px;} 
.m_header .logo img {width:100%;} 

.m_header .header_left_bt {width:70px; height:25px; float:right; border-radius: 20px; background: #fff;}
.m_header .header_left_bt span {color: #ff699b; padding-left:15px; line-height: 25px; cursor: pointer; font-size:14px;}

.m_header .all_menu {width:40px; height:30px; position:absolute; border:none; background: none;}
.m_header .all_menu span {display: block; height:4px; width: 28px; color: #000; background: #000; margin:4px auto 0; cursor: pointer;}
.m_header .all_menu span:first-child {margin-top: 0;}

/* 푸터 */
.footer {position: relative; width: 100%; background: #323232;}
#FOoter.footer .f-area {padding: 20px 0 40px;}
.footer .mg-l {position: relative; top: -1px;color: #fff !important; vertical-align: middle;}
.footer .cm-s {font-size: 12px; color: #fff; text-align: center; word-break: keep-all; display: block;}
.footer address + .p-1 {margin-top: 20px;}
#Footer.footer .f-area address p strong {color: #fff; display: inline-block; padding-bottom: 10px;}
#Footer.footer .f-area address p {margin-top: 0; padding-top: 10px; color: #fff; text-align: center; word-break: keep-all;}

/*메인검색*/
#sub_search {float: none; padding: 50px 0; background: url(http://img.didimtour.co.kr/renew/m/bg_main.jpg) no-repeat top left; background-size: cover; height: 400px;}

/* 상세페이지 */



/* 캘린더 수정 */

#info_product_btn_w .info_product_btn {background: #ff6699;}
#calender_number_w { height:80px; border-top:none;}
.calender_ch_w {border:none; width:100%;}
.calender_ch_w .calender_ch_checkin {border-right:none;}
.calender_ch_w .date {color: #ff6699; padding-left:20px;}
.calender_ch_day_o {border:none; background: #f4f4f6; width:50px; height:30px; line-height: 30px; text-align: center;}

/* 상단이미지 로고 삭제 */
.thumbnail_logo img {display: none;}

/* 상단상품이미지 텍스트 정렬 */
#info_img_wrpa .img_txt {bottom:20px;}
/*  상단 이미지 아이콘 */
#info_img_wrpa .de_share_icon {margin-right:0; vertical-align: middle;}
#info_img_wrpa .de_ch_icon {width:7%;}
#info_img_wrpa .de_share_icon {width:11%;}
#info_img_wrpa .pay_back_icon {margin-left:22px;}
#info_img_wrpa .pay_back_icon {width}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev,.swiper-button-prev, .swiper-container-rtl .swiper-button-next {display: none;}

/* 상단타이틀 */
.top_title_wrap {width:100%;position:relative; top:10px; left:20px;}
.top_title_wrap .top_title_txt { padding-bottom:30px;}
.top_title_wrap .top_title_txt span {font-size:20px; color:#000; font-weight: 700;}
.top_title_wrap .top_title_txt p {font-size:16px; margin-top:5px; font-weight: normal; color:#000; letter-spacing: -2;}

/* 상단 타이틀탭 */

.top_main {width:100%; height:50px; position:relative;}
.top_main .main_title {text-align: center;}
.top_main .main_title span {font-size:18px; font-weight: 700; color: #000; line-height:50px;}

.top_main .main_title .top_pr {float:left; margin-left:20px; margin-top:10px; }
.top_main .main_title .top_lv {float:right; margin-right:20px; margin-top:10px; }

/* 배너이미지 추가 */

#room_w .room_tx_w .room_tx_in2 {margin-top:20px;}

#room_w .room_tx_w .room_tx_in {border: none; border-top:10px solid #f6f6f6}
#location_w {border-top: 10px solid #f6f6f6;}

/* 부대시설 아이콘 */

#room_w .room_tx_w .room_tx_in .establishment_wrap .establishment_list > li > div { padding:0 20px 0 20px; vertical-align: middle;}
#room_w .room_tx_w .room_tx_in .establishment_wrap .establishment_list > li > div img {vertical-align: middle;}

/* 배너추가*/
.bn_wr {width:100%; background: #f6f6f6; }
.bn_bg span {color:#fff; line-height:40px;}
.bn_bg .right {padding-right:10px; position:absolute; right:10px;}
.bn_bg .cp {font-style:italic;}
.bn_bg {width:95%; position:relative; height:40px; background: url(http://img.borogogo.co.kr/mobile/171019_renew/r_banner.png) no-repeat; margin:0 auto; text-indent: 10px; font-size:13px;}


#info_img {cursor: pointer; height: 90px; overflow: hidden; float: none;}
