/* 앱 메인_170711_혜준 */
#head #allmenu > .tab-bar > span {background: #1546af;}
#head #logo2 a > img {top: 6px; width: 106px;}
#menu .on {border-color: #1546af;}
#menu .on a, #menu a:hover, #menu a:active {color: #1546af;}
.c-theme {color: #1546af !important;}