@charset "utf-8";

/* 공통 */
#Wrapper.wrap {padding-bottom:60px; background-color:#ececec;}
.section .area {margin:0 10px; padding:10px 0; border-top:1px solid #c2c2c2;}
.section .area:first-child {border-top:0;}
.section .area .box {margin-top:10px; background-color:#fff;}
.section .area .box:first-child {margin-top:0;}
.section .area .notice > p {position:relative; padding:12px 35px 12px 6px;}
.section .area .notice > p:before {content:''; display:block; position:absolute; right:12px; top:50%; width:8px; height:8px; margin-top:-7px; border-top:1px solid #292929; border-left:1px solid #292929; font-size:14px; -webkit-transform:rotate(-135deg); transform:rotate(-135deg);}
.section .area .notice > p.on:before {margin-top:-1px; -webkit-transform:rotate(45deg); transform:rotate(45deg);}
.section .area .notice > div {display:none; padding:6px 6px 12px; border-top:1px solid #c5c5c5;}
.section .area .notice > p.on + div {display:block;}

/* 폼요소 */
.txt_box {height:23px; padding-left:5px; border:1px solid #d5d5d5; box-sizing:border-box;}

/* 불릿텍스트 */
.blt_type01 > li {position:relative; margin-top:5px; padding-left:6px;}
.blt_type01 > li:first-child {margin-top:0;}
.blt_type01 > li:before {content:''; display:block; position:absolute; left:0; top:6px; width:2px; height:2px; border-radius:100%; background-color:#000;}
.blt_type02 > li {position:relative; margin-top:5px; padding-left:15px;}
.blt_type02 > li:first-child {margin-top:0;}
.blt_type02 > li:before {content:''; display:block; position:absolute; left:0; top:4px; width:9px; height:7px;}
.blt_type03 > li {position:relative; margin-top:5px; padding-left:15px;}
.blt_type03 > li:first-child {margin-top:0;}
.blt_type03 > li:before {content:''; display:block; position:absolute; left:0; top:4px; width:9px; height:7px; background:url('http://img.cablecar.go.co.kr/ico_chk02.png') no-repeat 0 0; background-size:100% 100%;}

/* button */
.btn_area {margin:10px 0 0;}
.btn {display:inline-block; width:100%; height:43px; border-radius:2px; color:#fff; font-weight:bold; font-size:15px; text-align:center; line-height:43px;}

/* 테이블 */
.board_write {}
.board_write tbody tr th {padding:5px 0 5px 10px; font-size:13px; text-align:left; vertical-align:middle;}
.board_write tbody tr td {padding:5px 10px 5px 0; color:#000; vertical-align:middle;}
.board_write tbody tr th label {display:block;}
.board_list {}
.board_list tbody tr th {padding:5px 0 5px 10px; font-size:13px; text-align:left; vertical-align:middle;}
.board_list tbody tr td {padding:5px 10px 5px 0; font-weight:bold; text-align:right; vertical-align:middle;}
.board_list tfoot tr {border-top:1px solid #cecece;}
.board_list tfoot tr th {padding:10px 0 10px 10px; font-size:13px; text-align:left;}
.board_list tfoot tr td {padding:10px 10px 10px 0; font-weight:bold; text-align:right;}
.board_view {}
.board_view tbody tr th {padding:10px 0 10px 10px; border-top:1px solid #dedede; font-size:13px; text-align:left; vertical-align:top;}
.board_view tbody tr td {padding:10px 10px 10px 0; border-top:1px solid #dedede; color:#000; vertical-align:top;}
.board_view tbody tr:first-child th, .board_view tbody tr:first-child td {border-top:0;}

/* 레이어팝업 */
.layer_pop {display:none; position:fixed; left:0; top:0; right:0; bottom:0; z-index:9999; background-color:rgba(0,0,0,.5);}
.layer_pop .pop_area {position:absolute; left:15px; right:15px; top:50%; padding:10px; border:1px solid #e5e5e5; background-color:#fff; text-align:center; -webkit-transform:translateY(-50%); transform:translateY(-50%);}
.layer_pop .pop_area .pop_tit {display:inline-block; margin-bottom:10px; color:#000; font-size:18px;}
.layer_pop .pop_area .pop_close {position:absolute; right:0; top:0; width:40px; height:40px; background:url('http://img.cablecar.go.co.kr/btn_close.png') no-repeat 50% 50%; background-size:14px 14px; text-indent:-9999px;}

/* 하단 퀵메뉴 */
.quick {overflow:hidden; position:fixed; left:0; bottom:0; z-index:900; width:100%; height:42px; padding-top:8px; border-top:1px solid #dedede; background-color:#fff;}
.quick li {float:left; width:25%; padding-top:22px; text-align:center;}
.quick li.prev {background:url('http://img.cablecar.go.co.kr/ico_quick01.gif') no-repeat 50% 0; background-size:10px 17px;}
.quick li.home {background:url('http://img.cablecar.go.co.kr/ico_quick02.gif') no-repeat 50% 0; background-size:19px 16px;}
.quick li.list {background:url('http://img.cablecar.go.co.kr/ico_quick03.gif') no-repeat 50% 0; background-size:19px 19px;}
.quick li.login {background:url('http://img.cablecar.go.co.kr/ico_quick04.gif') no-repeat 50% 0; background-size:18px 18px;}
.quick li a {font-weight:bold; color:#6f6f6f;}

/* 하단 위로가기 버튼 */
.move_top {display:none; position:fixed; right:15px; bottom:60px;}
.move_top a {display:inline-block; width:47px; height:47px;}

/* 달력 */
.datepic.on:after {content:''; position:fixed; left:0; right:0; top:0; bottom:0; z-index:200; background-color:rgba(0,0,0,.7);}
.datepic .date_area {display:table; width:100%; padding:8px 15px; box-sizing:border-box;}
.datepic .date_area > strong, .datepic .date_area > p {display:table-cell; vertical-align:middle;}
.datepic .date_area > strong {width:82px; color:#fff;}
.datepic .date_area > p {position:relative; height:30px; padding-left:5px; border-radius:1px; background-color:#fff; color:#000; line-height:30px;}
.datepic .date_area > p:before {content:''; display:block; position:absolute; right:7px; top:50%; width:12px; height:7px; margin-top:-4px; background:url('http://img.cablecar.go.co.kr/ico_arrow_down.png') no-repeat 0 0; background-size:100% 100%;}
.datepic .calendar {position:fixed; left:0; bottom:0; z-index:1000; width:100%; padding:10px 0; background-color:#fff; text-align:center;}
.datepic .calendar .top_txt {color:#010101; font-weight:bold; font-size:13px;}
.datepic .calendar .btn_close {position:absolute; right:0; top:0; width:35px; height:35px; background:url('http://img.cablecar.go.co.kr/btn_close.png') no-repeat 50% 50%; background-size:12px 12px; text-indent:-9999px;}
.datepic .calendar .month {position:relative; margin-top:15px; padding:10px 0; border-top:1px solid #d2d2d2;}
.datepic .calendar .month span {color:#191919; font-weight:bold; font-size:14px;}
.datepic .calendar .month button {position:absolute; top:50%; width:35px; height:35px; margin-top:-18px; text-indent:-9999px;}
.datepic .calendar .month button.prev {left:0; background:url('http://img.cablecar.go.co.kr/btn_prev.png') no-repeat 50% 50%; background-size:8px 14px;}
.datepic .calendar .month button.next {right:0; background:url('http://img.cablecar.go.co.kr/btn_next.png') no-repeat 50% 50%; background-size:8px 14px;}
.datepic .calendar table {border-bottom:1px solid #d2d2d2;}
.datepic .calendar table thead tr th {padding:7px 0; border-top:1px solid #d2d2d2; border-bottom:1px solid #d2d2d2; color:#000;}
.datepic .calendar table tbody tr td {padding:2.5px; color:#000; font-weight:bold;}
.datepic .calendar table tbody tr:first-child td {padding-top:5px;}
.datepic .calendar table tbody tr td span {display:block; height:35px; padding-top:8px; color:#000;}
.datepic .calendar table tbody tr td.selected span {color:#b3b3b3;}
.datepic .calendar table tbody tr td.week span {color:#ca0a0a;}
.datepic .calendar table tbody tr td.select span {position:relative; color:#fff;}
.datepic .calendar table tbody tr td.select span:before {content:'이용중'; display:block; position:absolute; left:0; bottom:6px; width:100%; text-align:center; font-size:11px;}
.datepic .calendar .btn_area {margin:10px 10px 0;}

/* header */
header {position:relative; z-index:100; height:41px; border-bottom:1px solid #c8c8c8; background-color:#fafafa;}
header.main {height:38px; background-color:#fff;}
header.main h1.logo {position:absolute; left:13px; top:50%; text-indent:-9999px;}
header.main .buy_list {display:block; position:absolute; right:13px; top:50%; height:15px; margin-top:-15px; padding-top:16px; background:url('http://img.cablecar.go.co.kr/ico_buy.gif') no-repeat 50% 1px; background-size:19px 12px; color:#5c5c5c;}
header.sub h1 {position:absolute; left:50%; top:50%; font-size:14px; -webkit-transform:translate(-50%,-50%); transform:translate(-50%,-50%);}
header.sub a {display:block; position:absolute; width:41px; height:41px; top:0; text-indent:-9999px;}
header.sub a.btn_back {left:0; background:url('http://img.cablecar.go.co.kr/btn_back.png') no-repeat 50% 50%; background-size:14px 14px;}
header.sub a.btn_close {right:0; background:url('http://img.cablecar.go.co.kr/btn_close.png') no-repeat 50% 50%; background-size:14px 14px;}

/* footer */
footer {padding:10px; border-top:1px solid #c5c5c5; border-bottom:1px solid #c5c5c5; background-color:#ececec; text-align:center;}
footer a {position:relative; color:#7f7f7f; font-weight:bold; font-size:14px;}
footer a:before {content:''; display:block; position:absolute; left:-15px; top:50%; width:12px; height:12px; margin-top:-6px; background:url('http://img.cablecar.go.co.kr/ico_call.png') no-repeat 0 0; background-size:100% 100%;}
