<!doctype html>
<html lang=ko>
<head>
<meta charset="UTF-8">
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width" />
<title>디오션 워터파크</title>
<link rel="stylesheet" href="http://static.cablecar.go.co.kr/css/reset.css" />
<link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css" />
<link rel="stylesheet" href="http://static.cablecar.go.co.kr/css/swiper.min.css" />
<link rel="stylesheet" href="http://static.cablecar.go.co.kr/css/common.css" />
<link rel="stylesheet" href="http://static.cablecar.go.co.kr/css/main.css" />
<link rel="stylesheet" href="../src/css/theocean.css" />
<script type="text/javascript" src="http://static.cablecar.go.co.kr/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="http://static.cablecar.go.co.kr/js/swiper.min.js"></script>
<script type="text/javascript" src="http://static.cablecar.go.co.kr/js/common.js"></script>
</head>
<body>
	<div id="Wrapper" class="wrap">
		<header class="main">
			<h1 class="logo">디오션 워터파크</h1>
			<a href="#" class="buy_list">구매내역</a>
		</header>
		<div class="main_banner swiper-container">
			<ul class="swiper-wrapper">
				<li class="swiper-slide"><img src="../src/img/main_banner01.jpg" alt="" /></li>
				<li class="swiper-slide"><img src="../src/img/main_banner01.jpg" alt="" /></li>
				<li class="swiper-slide"><img src="../src/img/main_banner01.jpg" alt="" /></li>
			</ul>
			<div class="swiper-button-prev"></div>
			<div class="swiper-button-next"></div>
		</div>
		<script type="text/javascript">
			var mySwiper = new Swiper('.main_banner', {
				prevButton : '.swiper-button-prev',
				nextButton : '.swiper-button-next'
			});
		</script>
		<div class="datepic">
			<div class="date_area">
				<strong>이용일자 선택</strong>
				<p>2017.04.06(목)</p>
			</div>
			<div class="calendar" style="display:none;">
				<span class="top_txt">이용일 선택</span>
				<div class="month">
					<span>2017.04</span>
					 <button class="prev">이전 달</button>
					 <button class="next">다음 달</button>
				</div>
				<table>
					<caption>달력</caption>
					<colgroup>
						<col style="width:14.3%;"/>
						<col style="width:14.3%;"/>
						<col style="width:14.3%;"/>
						<col style="width:14.3%;"/>
						<col style="width:14.3%;"/>

						</address>
						<col style="width:14.3%;"/>
						<col style="width:*;"/>
					</colgroup>
					<thead>
						<tr>
							<th scope="col">일</th>
							<th scope="col">월</th>
							<th scope="col">화</th>
							<th scope="col">수</th>
							<th scope="col">목</th>
							<th scope="col">금</th>
							<th scope="col">토</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="selected"><span>26</span></td>
							<td class="selected"><span>27</span></td>
							<td class="selected"><span>28</span></td>
							<td class="selected"><span>29</span></td>
							<td class="selected"><span>30</span></td>
							<td class="selected"><span>31</span></td>
							<td class="selected"><span>1</span></td>
						</tr>
						<tr>
							<td class="selected"><span>2</span></td>
							<td class="selected"><span>3</span></td>
							<td class="selected"><span>4</span></td>
							<td class="selected"><span>5</span></td>
							<td class="selected"><span>6</span></td>
							<td class="selected"><span>7</span></td>
							<td class="selected"><span>8</span></td>
						</tr>
						<tr>
							<td class="selected"><span>9</span></td>
							<td><span>10</span></td>
							<td><span>11</span></td>
							<td><span>12</span></td>
							<td><span>13</span></td>
							<td class="select"><span>14</span></td>
							<td><span>15</span></td>
						</tr>
						<tr>
							<td class="week"><span>16</span></td>
							<td><span>17</span></td>
							<td><span>18</span></td>
							<td><span>19</span></td>
							<td><span>20</span></td>
							<td><span>21</span></td>
							<td><span>22</span></td>
						</tr>
						<tr>
							<td class="week"><span>23</span></td>
							<td><span>24</span></td>
							<td><span>25</span></td>
							<td><span>26</span></td>
							<td><span>27</span></td>
							<td><span>28</span></td>
							<td><span>29</span></td>
						</tr>
						<tr>
							<td class="week"><span>30</span></td>
							<td class="selected"><span>1</span></td>
							<td class="selected"><span>2</span></td>
							<td class="selected"><span>3</span></td>
							<td class="selected"><span>4</span></td>
							<td class="selected"><span>5</span></td>
							<td class="selected"><span>6</span></td>
						</tr>
					</tbody>
				</table>
				<div class="btn_area">
					<a href="#" class="btn btn_type01">이용일 선택완료</a>
				</div>
				<a href="#" class="btn_close">닫기</a>
			</div>
		</div>
		<div class="section">
			<p class="accordion">
				<span>펼쳐보기</span>
			</p>
			<div class="area">
				<div class="box item">
					<div class="tiket">
						<p>워터파크 종일권 대인</p>
					</div>
					<div class="option">
						<ul class="blt_type01">
							<li>2017.04.11 ~ 2017.05.31</li>
							<li><span class="discount">50,000</span> <strong>41,300</strong>원</li>
						</ul>
						<div class="count">
							<button>-</button>
							<span>0</span>
							<button>+</button>
						</div>
						<span class="price">0원</span>
					</div>
				</div>
				<div class="box item">
					<div class="tiket">
						<p>워터파크 종일권 대인</p>
					</div>
					<div class="option">
						<ul class="blt_type01">
							<li>2017.04.11 ~ 2017.05.31</li>
							<li><span class="discount">50,000</span> <strong>41,300</strong>원</li>
						</ul>
						<div class="count">
							<button>-</button>
							<span>0</span>
							<button>+</button>
						</div>
						<span class="price">0원</span>
					</div>
				</div>
				<div class="box item">
					<div class="tiket">
						<p>워터파크 종일권 대인</p>
					</div>
					<div class="option">
						<ul class="blt_type01">
							<li>2017.04.11 ~ 2017.05.31</li>
							<li><span class="discount">50,000</span> <strong>41,300</strong>원</li>
						</ul>
						<div class="count">
							<button>-</button>
							<span>0</span>
							<button>+</button>
						</div>
						<span class="price">0원</span>
					</div>
				</div>
				<div class="box item">
					<div class="tiket">
						<p>워터파크 종일권 대인</p>
					</div>
					<div class="option">
						<ul class="blt_type01">
							<li>2017.04.11 ~ 2017.05.31</li>
							<li><span class="discount">50,000</span> <strong>41,300</strong>원</li>
						</ul>
						<div class="count">
							<button>-</button>
							<span>0</span>
							<button>+</button>
						</div>
						<span class="price">0원</span>
					</div>
				</div>
				<div class="box item">
					<div class="tiket">
						<p>워터파크 종일권 대인</p>
					</div>
					<div class="option">
						<ul class="blt_type01">
							<li>2017.04.11 ~ 2017.05.31</li>
							<li><span class="discount">50,000</span> <strong>41,300</strong>원</li>
						</ul>
						<div class="count">
							<button>-</button>
							<span>0</span>
							<button>+</button>
						</div>
						<span class="price">0원</span>
					</div>
				</div>
				<div class="box item">
					<div class="tiket">
						<p>워터파크 종일권 대인</p>
					</div>
					<div class="option">
						<ul class="blt_type01">
							<li>2017.04.11 ~ 2017.05.31</li>
							<li><span class="discount">50,000</span> <strong>41,300</strong>원</li>
						</ul>
						<div class="count">
							<button>-</button>
							<span>0</span>
							<button>+</button>
						</div>
						<span class="price">0원</span>
					</div>
				</div>
			</div>
			<div class="area">
				<div class="box intro">
					<div class="group">
						<img src="../src/img/img_theocean01.jpg" alt="디오션워터파크 사진" />
						<p>
							아름다운 다도해의 바라보며 즐기는 워터파크<br>
							누구도 상상하지 못했던 <strong>스릴넘치는 다양한<br>
							시설의 디오션 워터파크</strong>를 즐기세요
						</p>
					</div>
					<p class="view_point"><strong>Check Point</strong></p>
					<div class="group">
						<img src="../src/img/img_theocean02.jpg" alt="디오션워터파크 사진" />
						<p>
							누구도 상상하지 못한 세계최초 2회전 트윈허리케인 얼리 텐더룸부터 물속에서 즐기는 워터폴러코스터까지!<br>
							새로운 스릴을 느껴보세요
						</p>
					</div>
					<div class="group">
						<img src="../src/img/img_theocean03.jpg" alt="디오션워터파크 사진" />
						<p>
							다양한 물놀이 시설부터 유아 전용 풀까지,<br>
							온가족이 함께 즐기는 워터파크!
						</p>
					</div>
					<div class="group">
						<img src="../src/img/img_theocean04.jpg" alt="디오션워터파크 사진" />
						<p>
							바다 위의 사우나에서 여수의 일출을 바라볼 수 있는<br>
							황산염 천연 암반수 스파 사우나
						</p>
					</div>
				</div>
				<div class="box guide">
					<p class="guide_txt"><strong>디오션 워터파크 시설 안내</strong></p>
					<ul class="guide_list">
						<li class="parking">POOL</li>
						<li class="food">놀이시설</li>
						<li class="fastfood">스파</li>
						<li class="cafe">키즈존</li>
						<li class="market">선베드존</li>
					</ul>
				</div>
				<div class="box contact">
					<div class="map">
						<div>
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3278.9440169103914!2d127.64114395100363!3d34.73180548896289!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x356dde00d07ea45d%3A0x858eef6305528dce!2z7KCE652864Ko64-EIOyXrOyImOyLnCDshoztmLjrj5kg7IKwOTk!5e0!3m2!1sko!2skr!4v1492677310965" frameborder="0" allowfullscreen style="width:100%; height:100%;"></iframe>
						</div>
					</div>
					<div class="address">
						<p>전라남도 여수시 소호동 산99</p>
						<button class="copy">주소복사</button>
					</div>
				</div>
			</div>
		</div>
		<ul class="info">
			<li>
				<p class="info_tit">입장권 사용방법</p>
				<ul class="blt_type03">
					<li>상품 구매</li>
					<li>구매내역에서 바코드 보기 확인</li>
					<li>이용당일 매표소에서 모바일 티켓(바코드) 제시후 입장</li>
					<li>디오션 워터파크 이용</li>
				</ul>
				<p class="etc">본 상품은 당일 구매 후 당일 이용 불가한 상품입니다.</p>
			</li>
			<li>
				<p class="info_tit">기본 정보</p>
				<ul class="info_list">
					<li>
						<span>이용시간</span>
						<p>
							워터파크 09:00 ~ 16:00<br>
							실 내 10:00 ~ 18:00<br>
							사우나 06:00 ~ 20:00
						</p>
					</li>
					<li>
						<span>무료입장</span>
						<p>36개월 미만 유아(의료보험증등 증빙서류 지참시)</p>
					</li>
					<li>
						<span>운영일자</span>
						<p>쿨시즌(실내오픈) 4.29 ~ 5.7, 5.13 ~ 14, 5.20 ~ 21, 5.27 ~ 28 /15일간</p>
					</li>
					<li>
						<span>특이사항</span>
						<p>스파 사우나 정기 휴무일 5.8(월), 5.22(월)</p>
					</li>
				</ul>
			</li>
			<li>
				<p class="info_tit">이용안내</p>
				<ul class="blt_type01">
					<li>사우나 이용 가능합니다.</li>
					<li>성수기 및 주말에는 많은 고객님들로 인해 입장제한, 또는 입장대기시간이 발생할수 있으니 유의하시기 바랍니다.</li>
					<li>본 상품은 디오션리조트에서 자체 진행하는 이벤트,프로모션 등과 중복 적용되지 않는 별도의 상품이오니 착오 없으시길 바랍니다.</li>
					<li>렌탈 품목 및 요금,이용방법 등 자세한 내용은 홈페이지 참고 부탁드립니다.(<a href="http://theoceanresort.co.kr" title="새 창 열림" target="_blank">http://theoceanresort.co.kr</a>)</li>
					<li>수영복,수영모(야구모자 가능) 필히 착용하셔야 합니다.</li>
				</ul>
			</li>
			<li>
				<p class="info_tit">유의사항</p>
				<ul class="blt_type01">
					<li>놀이기종에따라 복장제한이 있을 수 있습니다.</li>
					<li>쾌적한 환경유지를 위하여 음식물,돗자리,애완동물,유모차 반입 및 출입을 금지하고있습니다.</li>
					<li>생수 및 유아용 분유는 반입가능합니다.</li>
					<li>입장시 게이트에서 반입확인(가방확인 등)을 실시하고 있으니 이점 고객님의 넓은 양해 바랍니다</li>
					<li>금지품목에 대해서는 보관소에서 보관 후 나오실때 찾아가실 수 있습니다.</li>
					<li>실내 워터파크 이용시간은 물놀이 후 락커 및 사우나 이용을 포함한 시간입니다.</li>
					<li>락커키 분실시에는 분실료가 부가됩니다.</li>
					<li>다른이용객의 안전 및 놀이시설 이용에 불편을 끼치는 행위(과도한 문신노출, 파도풀,유수풀내 대형 개인튜브 사용, 부착물이나 염색이 짙은 의류 및 악세사리등) 는 엄격히 제한됩니다.</li>
					<li>기상이변에 따라 일부시설 제한될 수 있습니다.</li>
				</ul>
			</li>
		</ul>
		<div class="section">
			<div class="area">
				<div class="box notice">
					<p><strong>입장권 환불안내</strong></p>
					<div>
						<ul class="blt_type01">
							<li>취소/환불의 경우  고객센터를 통해서만 가능하며 운영시간 내 접수된 건에 한해서만 처리 가능합니다.</li>
							<li>취소/ 환불 요청시 사용여부 확인 후 환불 가능합니다.</li>
							<li>이용기간 이후 취소 및 환불 불가합니다.</li>
							<li>사용하신 티켓은 취소, 환불이 불가합니다.</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<footer>
			<a href="tel:1666-1243">고객센터 1666-1243</a>
			<p>운영시간 : 10시 ~ 18시(점심 12시 ~ 1시)</p>
		</footer>
		<div class="btn_buy">
			<a href="#" class="btn btn_type01">구매하기</a>
		</div>
		<ul class="quick">
			<li class="prev"><a href="#">이전</a></li>
			<li class="home"><a href="#">홈</a></li>
			<li class="list"><a href="#">예약내역</a></li>
			<li class="login"><a href="#">로그인</a></li>
		</ul>
		<div class="move_top">
			<a href="#"><img src="http://img.cablecar.go.co.kr/ico_move_top.png" alt="위로 가기" /></a>
		</div>
	</div>
</body>
</html>
