<!doctype html>
<html lang=ko>
<head>
<meta charset="UTF-8">
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width" />
<title>여수해상케이블카</title>
<link rel="stylesheet" href="http://static.cablecar.go.co.kr/css/reset.css" />
<link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css" />
<link rel="stylesheet" href="http://static.cablecar.go.co.kr/css/swiper.min.css" />
<link rel="stylesheet" href="http://static.cablecar.go.co.kr/css/common.css" />
<link rel="stylesheet" href="http://static.cablecar.go.co.kr/css/main.css" />
<link rel="stylesheet" href="http://static.cablecar.go.co.kr/css/yeosu.css" />
<script type="text/javascript" src="http://static.cablecar.go.co.kr/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="http://static.cablecar.go.co.kr/js/swiper.min.js"></script>
<script type="text/javascript" src="http://static.cablecar.go.co.kr/js/common.js"></script>
</head>
<body>
	<div id="Wrapper" class="wrap">
		<header class="main">
			<h1 class="logo">여수해상케이블카</h1>
			<a href="#" class="buy_list">구매내역</a>
		</header>
		<div class="main_banner swiper-container">
			<ul class="swiper-wrapper">
				<li class="swiper-slide"><img src="http://img.cablecar.go.co.kr/main_banner01.jpg" alt="여수 해상케이블카 섬과 육지를 연결하는 환상적인 전망의 해상케이블카" /></li>
				<li class="swiper-slide"><img src="http://img.cablecar.go.co.kr/main_banner01.jpg" alt="여수 해상케이블카 섬과 육지를 연결하는 환상적인 전망의 해상케이블카" /></li>
				<li class="swiper-slide"><img src="http://img.cablecar.go.co.kr/main_banner01.jpg" alt="여수 해상케이블카 섬과 육지를 연결하는 환상적인 전망의 해상케이블카" /></li>
			</ul>
			<div class="swiper-button-prev"></div>
			<div class="swiper-button-next"></div>
		</div>
		<script type="text/javascript">
			var mySwiper = new Swiper('.main_banner', {
				prevButton : '.swiper-button-prev',
				nextButton : '.swiper-button-next'
			});
		</script>
		<div class="datepic">
			<div class="date_area">
				<strong>이용일자 선택</strong>
				<p>2017.04.06(목)</p>
			</div>
			<div class="calendar" style="display:none;">
				<span class="top_txt">이용일 선택</span>
				<div class="month">
					<span>2017.04</span>
					 <button class="prev">이전 달</button>
					 <button class="next">다음 달</button>
				</div>
				<table>
					<caption>달력</caption>
					<colgroup>
						<col style="width:14.3%;"/>
						<col style="width:14.3%;"/>
						<col style="width:14.3%;"/>
						<col style="width:14.3%;"/>
						<col style="width:14.3%;"/>
						<col style="width:14.3%;"/>
						<col style="width:*;"/>
					</colgroup>
					<thead>
						<tr>
							<th scope="col">일</th>
							<th scope="col">월</th>
							<th scope="col">화</th>
							<th scope="col">수</th>
							<th scope="col">목</th>
							<th scope="col">금</th>
							<th scope="col">토</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="selected"><span>26</span></td>
							<td class="selected"><span>27</span></td>
							<td class="selected"><span>28</span></td>
							<td class="selected"><span>29</span></td>
							<td class="selected"><span>30</span></td>
							<td class="selected"><span>31</span></td>
							<td class="selected"><span>1</span></td>
						</tr>
						<tr>
							<td class="selected"><span>2</span></td>
							<td class="selected"><span>3</span></td>
							<td class="selected"><span>4</span></td>
							<td class="selected"><span>5</span></td>
							<td class="selected"><span>6</span></td>
							<td class="selected"><span>7</span></td>
							<td class="selected"><span>8</span></td>
						</tr>
						<tr>
							<td class="selected"><span>9</span></td>
							<td><span>10</span></td>
							<td><span>11</span></td>
							<td><span>12</span></td>
							<td><span>13</span></td>
							<td class="select"><span>14</span></td>
							<td><span>15</span></td>
						</tr>
						<tr>
							<td class="week"><span>16</span></td>
							<td><span>17</span></td>
							<td><span>18</span></td>
							<td><span>19</span></td>
							<td><span>20</span></td>
							<td><span>21</span></td>
							<td><span>22</span></td>
						</tr>
						<tr>
							<td class="week"><span>23</span></td>
							<td><span>24</span></td>
							<td><span>25</span></td>
							<td><span>26</span></td>
							<td><span>27</span></td>
							<td><span>28</span></td>
							<td><span>29</span></td>
						</tr>
						<tr>
							<td class="week"><span>30</span></td>
							<td class="selected"><span>1</span></td>
							<td class="selected"><span>2</span></td>
							<td class="selected"><span>3</span></td>
							<td class="selected"><span>4</span></td>
							<td class="selected"><span>5</span></td>
							<td class="selected"><span>6</span></td>
						</tr>
					</tbody>
				</table>
				<div class="btn_area">
					<a href="#" class="btn btn_type01">이용일 선택완료</a>
				</div>
				<a href="#" class="btn_close">닫기</a>
			</div>
		</div>
		<div class="section">
			<p class="accordion">
				<span>펼쳐보기</span>
			</p>
			<div class="area">
				<div class="box item">
					<div class="tiket">
						<p>일반 캐빈(바닥 불투명) 왕복권 대인</p>
					</div>
					<div class="option">
						<ul class="blt_type01">
							<li>2017.03.01 ~ 2017.04.30</li>
							<li><span class="discount">13,000</span> <strong>12,500</strong>원</li>
						</ul>
						<div class="count">
							<button>-</button>
							<span>0</span>
							<button>+</button>
						</div>
						<span class="price">0원</span>
					</div>
				</div>
				<div class="box item">
					<div class="tiket">
						<p>일반 캐빈(바닥 불투명) 왕복권 대인</p>
					</div>
					<div class="option">
						<ul class="blt_type01">
							<li>2017.03.01 ~ 2017.04.30</li>
							<li><span class="discount">13,000</span> <strong>12,500</strong>원</li>
						</ul>
						<div class="count">
							<button>-</button>
							<span>0</span>
							<button>+</button>
						</div>
						<span class="price">0원</span>
					</div>
				</div>
				<div class="box item">
					<div class="tiket">
						<p>일반 캐빈(바닥 불투명) 왕복권 대인</p>
					</div>
					<div class="option">
						<ul class="blt_type01">
							<li>2017.03.01 ~ 2017.04.30</li>
							<li><span class="discount">13,000</span> <strong>12,500</strong>원</li>
						</ul>
						<div class="count">
							<button>-</button>
							<span>0</span>
							<button>+</button>
						</div>
						<span class="price">0원</span>
					</div>
				</div>
				<div class="box item">
					<div class="tiket">
						<p>일반 캐빈(바닥 불투명) 왕복권 대인</p>
					</div>
					<div class="option">
						<ul class="blt_type01">
							<li>2017.03.01 ~ 2017.04.30</li>
							<li><span class="discount">13,000</span> <strong>12,500</strong>원</li>
						</ul>
						<div class="count">
							<button>-</button>
							<span>0</span>
							<button>+</button>
						</div>
						<span class="price">0원</span>
					</div>
				</div>
				<div class="box item">
					<div class="tiket">
						<p>일반 캐빈(바닥 불투명) 왕복권 대인</p>
					</div>
					<div class="option">
						<ul class="blt_type01">
							<li>2017.03.01 ~ 2017.04.30</li>
							<li><span class="discount">13,000</span> <strong>12,500</strong>원</li>
						</ul>
						<div class="count">
							<button>-</button>
							<span>0</span>
							<button>+</button>
						</div>
						<span class="price">0원</span>
					</div>
				</div>
				<div class="box item">
					<div class="tiket">
						<p>일반 캐빈(바닥 불투명) 왕복권 대인</p>
					</div>
					<div class="option">
						<ul class="blt_type01">
							<li>2017.03.01 ~ 2017.04.30</li>
							<li><span class="discount">13,000</span> <strong>12,500</strong>원</li>
						</ul>
						<div class="count">
							<button>-</button>
							<span>0</span>
							<button>+</button>
						</div>
						<span class="price">0원</span>
					</div>
				</div>
			</div>
			<div class="area">
				<div class="box intro">
					<div class="group">
						<img src="http://img.cablecar.go.co.kr/img_yeosucable01.jpg" alt="여수해상케이블카 사진" />
						<p>
							<strong>국내 최초의 해상 케이블카</strong><br>
							바다위를 통화하여 돌산(섬)과 자산공원(육지)를<br>
							연결하는 국내 최초의 해상케이블카 입니다.<br>
							환상적인 뷰를 직접 확인해보세요.<br>
						</p>
					</div>
					<div class="group">
						<img src="http://img.cablecar.go.co.kr/img_yeosucable02.jpg" alt="크리스탈 캐빈 사진" />
						<p>
							<strong>여수해상케이블카가 자랑하는 크리스탈 캐빈은</strong><br>
							바닥을 강화유리로 만들어 짜릿한 스릴감과 함께, 아름다운<br>
							바다를 발밑에 두고 즐길 수 있는 특별한 캐빈입니다.
						</p>
					</div>
					<p class="view_point"><strong>View Point</strong></p>
					<div class="group">
						<img src="http://img.cablecar.go.co.kr/img_yeosucable03.jpg" alt="해야정류장(자산공원) 사진" />
						<p>
							<strong>해야정류장</strong>(자산공원) : 여수 신항을 중심으로 엑스포와<br>
							다도해의 탁트인 전망, 여수 밤바다 관망
						</p>
					</div>
					<div class="group">
						<img src="http://img.cablecar.go.co.kr/img_yeosucable04.jpg" alt="놀아정류장(돌상공원) 사진" />
						<p>
							<strong>해야정류장</strong>(자산공원) : 여수 신항을 중심으로 엑스포와<br>
							다도해의 탁트인 전망, 여수 밤바다 관망
						</p>
					</div>
				</div>
				<div class="box guide">
					<p class="guide_txt"><strong>편의시설 안내</strong></p>
					<ul class="guide_list">
						<li class="parking">주차타워</li>
						<li class="food">식당</li>
						<li class="fastfood">패스트푸드</li>
						<li class="cafe">카페</li>
						<li class="market">편의점</li>
					</ul>
				</div>
				<div class="box contact">
					<div class="map">
						<div>
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3278.993255315517!2d127.73937795100358!3d34.73056438902954!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x356dd920e8b2a773%3A0xf3a9228fd778a463!2z7Jes7IiY7ZW07IOB7LyA7J2067iU7Lm0!5e0!3m2!1sko!2skr!4v1492146170205" frameborder="0" allowfullscreen style="width:100%; height:100%;"></iframe>
						</div>
					</div>
					<div class="address">
						<p>전라남도 여수시 돌산읍 돌산로 3600-1</p>
						<button class="copy">주소복사</button>
					</div>
				</div>
			</div>
		</div>
		<ul class="info">
			<li>
				<p class="info_tit">입장권 사용방법</p>
				<ul class="blt_type02">
					<li>상품 구매</li>
					<li>모바일티켓 수신 (일일 2회)</li>
					<li>이용당일 매표소에서 모바일티켓 제시후 탑승권 수령</li>
					<li>여수해상케이블카 이용</li>
				</ul>
			</li>
			<li>
				<p class="info_tit">기본 정보</p>
				<ul class="info_list">
					<li>
						<span>이용시간</span>
						<p>
							오전 9시 ~ 오후 10 시<br>
							(매표소 마감시간 : ~ 오후 9시 30분
						</p>
					</li>
					<li>
						<span>이용기준</span>
						<p>
							대인 : 만 13세 이상 (중학생 이상)<br>
							소인 : 36개월이상 ~ 만 12세 이하 (초등학생 이하/의료보험증 등 신분증 필수)<br >
							36개월 미만 유아는 무료 (의료보험증등 신분확인서 필수)
						</p>
					</li>
					<li>
						<span>탑승안내</span>
						<p>
							<strong>편도권 :</strong> 놀아정류장(돌산공원), 해야정류장(자산공원) 탑승장 중 1곳에서 편도탑승이 가능합니다.<br>
							<strong>왕복권 :</strong> 놀아정류장 및 해야정류장을 순서에 상관없이 왕복 탑승이 가능합니다.<br>
							왕복권 이용시 편도 이용 후 반드시 하차, 하차 후 재 탑승 필수<br>
							왕복권 이용시 편도 이용 후 재 탑승은 당일만 가능(당일 편도 이용 후 다음날 편도이용 불가)
						</p>
					</li>
				</ul>
			</li>
			<li>
				<p class="info_tit">여수 케이블카 소개</p>
				<ul class="info_list">
					<li>
						<span>형식</span>
						<p>자동순환식 모노 곤돌라</p>
					</li>
					<li>
						<span>운행거리</span>
						<p>편도 1.5km (왕복 3Km)</p>
					</li>
					<li>
						<span>운행속도</span>
						<p>최대 5m/s</p>
					</li>
					<li>
						<span>수송능력</span>
						<p>시간당 최대 2,000명</p>
					</li>
					<li>
						<span>운행</span>
						<p>
							일반 캐빈 - 8인승 총 40대 상시 운행.<br>
							크리스탈 캐빈 - 5인승 총 10대 상시 운행.<br>
							크리스탈 캐빈은 바닥이 투명한 크리스탈 유리바닥으로 여수 바다를 발 밑으로 감상가능
						</p>
					</li>
					<li>
						<span>특이사항</span>
						<p>
							73개국 8,000개 이상의 케이블카를 제작한 전 세계적으로 유명한 프랑스 포마社가 제작설계한 제품으로 디자인과 안정성이 탁월<br>
							갑작스러운 천재지변에 대처하기 위한 전력 시스템 및 비상동력원을 상시 모니터링하여 안전에 만전을 기함
						</p>
					</li>
				</ul>
			</li>
			<li>
				<p class="info_tit">확인사항</p>
				<ul class="blt_type01">
					<li>강풍 및 우천등 기상상황에 따라 케이블카가 미운행 될 수 있습니다.</li>
					<li>
						미운행시 티켓은 100% 환불해 드리며, 기상상황이 안좋을때는 미리 현장문의 후 이용하시기를 바랍니다.<br>
						(세트권은 세트 할인 된 요금이므로 부분 환불시는 환불금액이 정상가격 또는 단품가격보다 적을 수 있습니다.)
					</li>
					<li>애완견등 애완동물은 애견가방 없이 탑승 불가하며, 반드시 가방에 넣어 주셔야 탑승가능합니다. (장애인 보조견은 제외)</li>
					<li>유모차, 휠체어는 크리스탈 케이블카내 탑승불가입니다.</li>
					<li>음식물 반입금지, 혐오 또는 냄새로 인하여 다른 승객에게 불쾌감을 줄 우려가 있는 물품은 휴대가 금지됩니다.</li>
					<li>
						매표 마감시간은 오후 9시 30분 입니다.<br>
						(운행시간 및 매표시간은 현장 상황에 따라 변경 될 수 있습니다.)
					</li>
				</ul>
			</li>
			<li>
				<p class="info_tit">주차안내</p>
				<ul class="blt_type01">
					<li>주차는 놀아정류장(돌산공원내) 주차장을 이용해주시기 바랍니다.</li>
					<li>주차공간이 부족할 경우 돌산공원 공영주차장을 이용하시기 바랍니다.</li>
					<li>돌산공원 주차장(내비게이션 &apos;돌산공원&apos; 검색)</li>
					<li>오동도 전용 주차장(내비게이션 &apos;오동도&apos; 검색)</li>
				</ul>
			</li>
		</ul>
		<div class="section">
			<div class="area">
				<div class="box notice">
					<p><strong>입장권 환불안내</strong></p>
					<div>
						<ul class="blt_type01">
							<li>구매일 포함 7일이내 취소 및 환불 가능</li>
							<li>구매일 포함 7일이내에도 일부사용 시 취소 및 환불 불가</li>
							<li>
								금요일(공휴일 전일) 15시부터 일요일(공휴일)까지는 취소/환불 처리 불가<br>
								(위의 기간에 취소 요청시 다음 영업일 근무시간 기준으로 위약금 및 취소/환불 규정이 적용됩니다.)
							</li>
							<li>이용기간 이후 취소 및 환불 불가</li>
							<li>취소는 구매채널 구매내역에서 취소신청 or 반품요청</li>
							<li>딜 진행중 고객이 임의로 취소/환불 불가(업체확인 후 처리)</li>
							<li>취소/환불 요청시 모바일티켓 사용여부 확인후 처리(2~3일 소요)</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<footer>
			<a href="tel:1666-1243">고객센터 1666-1243</a>
			<p>운영시간 : 10시 ~ 18시(점심 12시 ~ 1시)</p>
		</footer>
		<div class="btn_buy">
			<a href="#" class="btn btn_type01">구매하기</a>
		</div>
		<ul class="quick">
			<li class="prev"><a href="#">이전</a></li>
			<li class="home"><a href="#">홈</a></li>
			<li class="list"><a href="#">예약내역</a></li>
			<li class="login"><a href="#">로그인</a></li>
		</ul>
		<div class="move_top">
			<a href="#"><img src="http://img.cablecar.go.co.kr/ico_move_top.png" alt="위로 가기" /></a>
		</div>
	</div>
</body>
</html>