
<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<title> 국내외여행, 호텔, 편션, 리조트, 콘도 최저가할인예약 GO.CO.KR </title>
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0" />
<!--숫자인식,메일주소,지도상의 주소링크 막기-->
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<!--북마크 추가시 바탕화면에서 볼수있는 아이콘 이미지(png저장)-->
<link rel="apple-touch-icon" href="http://img.go.co.kr/mobile/icon.png" /> 
<link rel="stylesheet" href="http://static.go.co.kr/css/swiper.min.css?ver=20170130135557" type="text/css"/>
<link rel="stylesheet" href="http://static.go.co.kr/css/moblie_reset.css?ver=20170130135557" type="text/css"/>
<!-- <link rel="stylesheet" href="http://static.go.co.kr/css/mobile_layout3.css?ver=20170130135557" type="text/css"/> -->
<link rel="stylesheet" href="../../src/css/mobile_layout3_tmp.css" type="text/css"/>
<!-- <link rel="stylesheet" href="http://static.go.co.kr/css/mobile_layout3.css" type="text/css"/> -->
<!-- <meta http-equiv="Cache-Control" content="no-cache" /> -->
<meta name="robots" content="NOINDEX, NOFOLLOW, NOARCHIVE" />
<meta name="author" content="GO.CO.KR"/>
<meta name="description" content=" 고코 GO.CO.KR"/>
<meta name="keywords" content=" 고코 GO.CO.KR"/>
<meta name="classification" content="고코 GO.CO.KR"/>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
<!-- <script src="http://static.go.co.kr/js/index_app.js"></script> -->
<!-- <script src="../js/index_app.js"></script> -->


<script language='javascript'>document.title = '모바일 고코투어';</script>
</head>

<!--- 리스트페이지에서 쓸 스크립트-->
<script type="text/javascript" src="http://static.go.co.kr/js/swiper.min.js?ver=20170130135557" ></script>
<!--- 리스트페이지에서 쓸 스크립트-->

<script type="text/javascript" src="http://static.go.co.kr/js/jquery.number.min.js"></script>


<body style="background: #666;">
	
	<!-- 로그인 전 팝업  -->
	<!-- 실제 이미지 경로
	<img src="http://img.go.co.kr/mobile/fr_event_pop01.jpg" alt="적립금받기배너">
	 -->
	<div class="fr_box">
	
		<div class="event_row">
			<div class="fr_event_pop">
				<a href="http://app.go.co.kr/home/member/?dd=RREnSjA=">
					<img src="http://img.go.co.kr/mobile/fr_event_pop01.jpg" alt="적립금받기배너">
				</a>
			
				<div class="close">
					<p class="close7 clr">
						<label for="fr_pop" class="txt">7일간 보지 않기</label>
						<input name="fr_pop" type="checkbox" id="fr_pop" class="check1"> 
						<a href="#" class="clsBtn">닫 기</a>
					</p>
				</div>
			</div>
		</div>
	
	</div>
	
	<!-- 로그인 후 팝업 -->
	<!-- 실제 이미지 경로
	<img src="http://img.go.co.kr/mobile/fr_event_pop02.jpg" alt="할인쿠폰받기배너">
	 -->
	<!-- <div class="fr_box">
	
		<div class="event_row">
			<div class="fr_event_pop">
				<a href="#">
					<img src="http://img.go.co.kr/mobile/fr_event_pop02.jpg" alt="할인쿠폰받기배너">
				</a>
			
				<div class="close">
					<p class="close7 clr">
						<label for="fr_pop02" class="clsBtn">닫 기</label>
						<input name="fr_pop02" type="checkbox" id="fr_pop02" class="check1"> 
						<a href="http://app.go.co.kr/home/member/?dd=RREnSjA=" class="txt">자세히 보기</a>
					</p>
				</div>
			</div>
		</div>
	
	</div> -->





</body>
</html>

