<!DOCTYPE html>
<html lang="ko-KR">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0" />
	<title>문서 제목</title>

	<link rel="stylesheet" href="http://static.go.co.kr/css/swiper.min.css?ver=20170201154748" type="text/css"/>
	<link rel="stylesheet" href="http://static.go.co.kr/css/moblie_reset.css?ver=20170201154748" type="text/css"/>
	<!-- <link rel="stylesheet" href="http://static.go.co.kr/css/mobile_layout3.css?ver=20170201154748" type="text/css"/> -->
	<!-- <link rel="stylesheet" href="../../src/css/mobile_layout3_tmp.css" type="text/css"> -->
	<link rel="stylesheet" href="http://static.go.co.kr/css/mobile_layout3_tmp.css" type="text/css">

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

	<script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

	<style>
		/* 예약내역 버튼 추가_170419_강혜준 */
		#reserve_list dl dd p.list_title {width: 93%;}
		#reserve_list dl dd {position: relative; width: 200px}
		#reserve_list p.step img {vertical-align: middle;}
		#reserve_list .reserv-btn-wrap {margin-top: 3px; margin-left: 10px;}
		#reserve_list .reserv-btn-wrap .reserv-btn {display: inline-block; padding: 1px 5px 2px; font-size: 12px; margin-bottom: 5px;}
		#reserve_list .reserv-btn-wrap .reserv-btn.nth-1 {color: #FD600C; border: 1px solid #FD600C;}
		#reserve_list .reserv-btn-wrap .reserv-btn.nth-2 {margin-left: 5px; color: #000; border: 1px solid #000;}
		#reserve_list dl dd .reserve_dtail_go {right: -30px;}
	</style>

</head>
<body>
	<div id="wrapper">
		<div id="scroll_box">

			<div id="reserve_list">


				<dl>
					<dt><a href="http://m.go.co.kr/home/member/?dd=Sws5TzdVKnw2F01e&amp;payid=RgohcGwWbxRwShkeT3ITaxZpEnhKGx4="><img src="http://cache.go.co.kr/media/220/file.go.co.kr/tour/img3/1477199718_main1.jpg" onerror="this.src='http://img.go.co.kr/noimg.jpg'" width="120" height="90"></a></dt>
					<dd>
						<a href="http://m.go.co.kr/home/member/?dd=Sws5TzdVKnw2F01e&amp;payid=RgohcGwWbxRwShkeT3ITaxZpEnhKGx4=">
							<p class="list_title" style="margin-left:10px">토요코인부산역2</p>
							<p class="list_text" style="margin-left:10px">
								부산 중구 대창동1가 22-4<br>
								2017.05.06 (토)~2017.05.07 (일)
							</p>
						</a><p class="step" style="margin-left:10px"><img src="http://img.go.co.kr/mobile/reser_now03.jpg" alt="결제완료" height="15"> 예약확정</p>
						<img src="http://img.go.co.kr/mobile/btn_reserve_view.jpg" width="18" class="reserve_dtail_go" onclick="location.href='http://m.go.co.kr/home/member/?dd=Sws5TzdVKnw2F01e&amp;payid=RgohcGwWbxRwShkeT3ITaxZpEnhKGx4='">
						<p class="reserv-btn-wrap">
							<a href="" class="reserv-btn nth-1">모바일 바우처</a><a href="" class="reserv-btn nth-2">이용후기 작성</a>
						</p>
					</dd>
				</dl>

				<dl>
					<dt><a href="http://m.go.co.kr/home/member/?dd=Sws5TzdVKnw2F01e&amp;payid=RgohcGwWbxRwShkeT3ASbBVpEnVOHBo="><img src="http://cache.go.co.kr/media/220/file.go.co.kr/tour/img3/1477190872_main1.jpg" onerror="this.src='http://img.go.co.kr/noimg.jpg'" width="120" height="90"></a></dt>
					<dd>
						<a href="http://m.go.co.kr/home/member/?dd=Sws5TzdVKnw2F01e&amp;payid=RgohcGwWbxRwShkeT3ASbBVpEnVOHBo=">
							<p class="list_title" style="margin-left:10px">토요코인대전</p>
							<p class="list_text" style="margin-left:10px">
								대전 서구 둔산동 922<br>
								2017.06.10 (토)~2017.06.11 (일)
							</p>
						</a><p class="step" style="margin-left:10px"><img src="http://img.go.co.kr/mobile/reser_now03.jpg" alt="결제완료" height="15"> 결제완료</p>
						<img src="http://img.go.co.kr/mobile/btn_reserve_view.jpg" width="18" class="reserve_dtail_go" onclick="location.href='http://m.go.co.kr/home/member/?dd=Sws5TzdVKnw2F01e&amp;payid=RgohcGwWbxRwShkeT3ASbBVpEnVOHBo='">
					</dd>
				</dl>

				<dl>
					<dt><a href="http://m.go.co.kr/home/member/?dd=Sws5TzdVKnw2F01e&amp;payid=RgohcGwWbxRwShkeT3ATaRJpEnZIEB0="><img src="http://cache.go.co.kr/media/220/file.go.co.kr/tour/img3/1477199718_main1.jpg" onerror="this.src='http://img.go.co.kr/noimg.jpg'" width="120" height="90"></a></dt>
					<dd>
						<a href="http://m.go.co.kr/home/member/?dd=Sws5TzdVKnw2F01e&amp;payid=RgohcGwWbxRwShkeT3ATaRJpEnZIEB0=">
							<p class="list_title" style="margin-left:10px">토요코인부산역2</p>
							<p class="list_text" style="margin-left:10px">
								부산 중구 대창동1가 22-4<br>
								2017.06.03 (토)~2017.06.04 (일)
							</p>
						</a><p class="step" style="margin-left:10px"><img src="http://img.go.co.kr/mobile/reser_now03.jpg" alt="결제완료" height="15"> 결제완료</p>
						<img src="http://img.go.co.kr/mobile/btn_reserve_view.jpg" width="18" class="reserve_dtail_go" onclick="location.href='http://m.go.co.kr/home/member/?dd=Sws5TzdVKnw2F01e&amp;payid=RgohcGwWbxRwShkeT3ATaRJpEnZIEB0='">
					</dd>
				</dl>

				<dl>
					<dt><a href="http://m.go.co.kr/home/member/?dd=Sws5TzdVKnw2F01e&amp;payid=Rgohd2wWbxRwShkeT3ATaxJqEnBIEB4="><img src="http://cache.go.co.kr/media/220/file.go.co.kr/tour/img3/1477190872_main1.jpg" onerror="this.src='http://img.go.co.kr/noimg.jpg'" width="120" height="90"></a></dt>
					<dd>
						<a href="http://m.go.co.kr/home/member/?dd=Sws5TzdVKnw2F01e&amp;payid=Rgohd2wWbxRwShkeT3ATaxJqEnBIEB4=">
							<p class="list_title" style="margin-left:10px">토요코인대전</p>
							<p class="list_text" style="margin-left:10px">
								대전 서구 둔산동 922<br>
								2017.05.27 (토)~2017.05.28 (일)
							</p>
						</a><p class="step" style="margin-left:10px"><img src="http://img.go.co.kr/mobile/reser_now03.jpg" alt="결제완료" height="15"> 결제완료</p>
						<img src="http://img.go.co.kr/mobile/btn_reserve_view.jpg" width="18" class="reserve_dtail_go" onclick="location.href='http://m.go.co.kr/home/member/?dd=Sws5TzdVKnw2F01e&amp;payid=Rgohd2wWbxRwShkeT3ATaxJqEnBIEB4='">
					</dd>
				</dl>

				<dl>
					<dt><a href="http://m.go.co.kr/home/member/?dd=Sws5TzdVKnw2F01e&amp;payid=RgohbGwWbxRwShkeT3QTbxdoEXFNGx0="><img src="http://cache.go.co.kr/media/220/file.go.co.kr/tour/img3/1477199718_main1.jpg" onerror="this.src='http://img.go.co.kr/noimg.jpg'" width="120" height="90"></a></dt>
					<dd>
						<a href="http://m.go.co.kr/home/member/?dd=Sws5TzdVKnw2F01e&amp;payid=RgohbGwWbxRwShkeT3QTbxdoEXFNGx0=">
							<p class="list_title" style="margin-left:10px">토요코인부산역2</p>
							<p class="list_text" style="margin-left:10px">
								부산 중구 대창동1가 22-4<br>
								2017.06.24 (토)~2017.06.25 (일)
							</p>
						</a><p class="step" style="margin-left:10px"><img src="http://img.go.co.kr/mobile/reser_now03.jpg" alt="결제완료" height="15"> 결제완료</p>
						<img src="http://img.go.co.kr/mobile/btn_reserve_view.jpg" width="18" class="reserve_dtail_go" onclick="location.href='http://m.go.co.kr/home/member/?dd=Sws5TzdVKnw2F01e&amp;payid=RgohbGwWbxRwShkeT3QTbxdoEXFNGx0='">
					</dd>
				</dl><input type="hidden" name="cnt5" value="5">
			</div>	
		</div>
	</div>
</body>
</html>