<!DOCTYPE html>
<html lang="ko-KR">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0" />
<title> 국내외여행, 호텔, 편션, 리조트, 콘도 최저가할인예약 GO.CO.KR </title>
<link rel="stylesheet" href="http://static.go.co.kr/css/swiper.min.css" type="text/css"/>
<link rel="stylesheet" href="http://static.go.co.kr/css/moblie_reset.css" type="text/css"/>
<!-- <link rel="stylesheet" href="http://static.go.co.kr/css/mobile_layout3.css?ver=20170130135557" type="text/css"/> -->
<link rel="stylesheet" href="../../src/css/mobile_layout3_tmp.css" type="text/css"/>
<!-- <link rel="stylesheet" href="http://static.go.co.kr/css/mobile_layout3.css" type="text/css"/> -->
<!-- <meta http-equiv="Cache-Control" content="no-cache" /> -->

<link href="https://opensource.keycdn.com/fontawesome/4.6.3/font-awesome.min.css" rel="stylesheet"/>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
<script src="http://static.go.co.kr/js/admission_ticket_app.js"></script>


<!--- 리스트페이지에서 쓸 스크립트-->
<script type="text/javascript" src="http://static.go.co.kr/js/swiper.min.js?ver=20170130135557" ></script>
<!--- 리스트페이지에서 쓸 스크립트-->

<script type="text/javascript" src="http://static.go.co.kr/js/jquery.number.min.js"></script>

</head>
<body>
	
<div id="scroll_box">


	<div id="top_box" style="position:fixed;top:0px;z-index:9999;width:100%;background:#ffffff">
		<!-- 텍스트변경 -->
		<div id="headTitle"><span class="back"><a href="javascript:history.go(-3)"><img src="http://img.go.co.kr/mobile/btn_back.png" width="47" height="15" alt="뒤로"></a></span>주문/결제하기</div>
	</div>

	<section id="admission-pay">
		<ul class="adm-pay-wrapper">
			<li class="division">1.상품정보</li>
			<li class="adm-contents item-info clr">
				<div><img src="http://file.go.co.kr/mobile/thumbnail_view/s_1484893834_in3.jpg"></div>
				<div>
					<p class="ft">휘닉스스노우파트 리프트권</p>
					<p class="fc-orange">&#8226;02.28/휘닉스 스노우파크 단일권(오전) 08:30~12:30</p>
					<p class="fc-orange">&#8226;02.28/단일권(야간) 12:30~16:30</p>
				</div>
			</li>
			<li class="division">2.입장권 정보 (최대 5장 구매가능) <span class="fr">※인원을 선택해주세요</span></li>
			<li class="adm-contents adm-info">
				<div>
					<span class="adm-mt">휘닉스스노우파크 리프트권 단일권(오전)+성인</span>
					<div class="dropdown">
	          <button type="button" class="btn" data-toggle="drop-down">1매<i class="fa fa-caret-down" aria-hidden="true"></i></button>
	          <ul class="dropdown-menu">
	            <li><a href="#">1매</a></li>
	            <li><a href="#">2매</a></li>
	            <li><a href="#">3매</a></li>
	            <li><a href="#">4매</a></li>
	            <li><a href="#">5매</a></li>
	          </ul>
	        </div>
				</div>
			</li>
			<li class="division">3.이용자 정보 <span class="fr">※체크인하는분의 이름과 연락처를 입력해주세요</span></li>
			<li class="adm-contents">
				
			</li>
			<li class="division">4.할인/결제정보</li>
			<li class="adm-contents"></li>
			<li class="adm-total-price"><span class="fl">총 결제금액(VAT포함)</span><span class="fr">100,000원</span></li>
		</ul>
	</section>

	


</div>

</body>
</html>

