<!DOCTYPE html>
<html lang="ko-KR">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0" />
<title> 국내외여행, 호텔, 편션, 리조트, 콘도 최저가할인예약 GO.CO.KR </title>
<link rel="stylesheet" href="http://static.go.co.kr/css/swiper.min.css" type="text/css"/>
<link rel="stylesheet" href="http://static.go.co.kr/css/moblie_reset.css" type="text/css"/>
<!-- <link rel="stylesheet" href="http://static.go.co.kr/css/mobile_layout3.css?ver=20170130135557" type="text/css"/> -->
<link rel="stylesheet" href="../../src/css/mobile_layout3_tmp.css" type="text/css"/>
<!-- <link rel="stylesheet" href="http://static.go.co.kr/css/mobile_layout3.css" type="text/css"/> -->
<!-- <meta http-equiv="Cache-Control" content="no-cache" /> -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
<script src="http://static.go.co.kr/js/admission_ticket_app.js"></script>

<!--- 리스트페이지에서 쓸 스크립트-->
<script type="text/javascript" src="http://static.go.co.kr/js/swiper.min.js?ver=20170130135557" ></script>
<!--- 리스트페이지에서 쓸 스크립트-->

<script type="text/javascript" src="http://static.go.co.kr/js/jquery.number.min.js"></script>

<style>
.list_btn_wrap {position: relative; width: 100%; background: #f4f2f3;}
.list_btn_wrap a {display: block; text-align: center; width: 96%; margin:0 auto; height: 54px; background: #f95c25; color: #fff; font-size: 19px; font-weight: 600; font-family: "NanumGothic", sans-serif; line-height: 2.8em; border-radius: 4px;}
.list_btn_wrap {position: fixed; bottom: 0;}
</style>

</head>
<body>
	
<div id="tickets-list-bg">
	<section id="tickets-list">
		<div class="cls-box"><a  href=""></a></div>
		<div class="tl-wrap">
			<h2>휘닉스 스노우파크 리프트권</h2>
			<h3>상품 선택하기<span>(1개상품)</span></h3>
			<!-- 상품아이템 리스트 시작 -->
			<div class="tl-outer">
				<ul class="tl-items">
					<li class="tl-name">
						<h4>단일권(오전) 08:30~12:30</h4>
					</li>
					<li>
						<div class="item-number clr">
							<span class="h-ctgr">&#8226; 성인(중학생 이상~)</span>
							<p class="number-box clr">
								<a href="" class="nb-left">&#45;</a>
								<input type="text" class="nb-txt" value="성인 1">
								<a href="" class="nb-right">&#43;</a>
							</p>
						</div>
						<div class="item-price">40,000원</div>
					</li>
					<li>
						<div class="item-number clr">
							<span class="h-ctgr">&#8226; 소인(36개월~초등학생)</span>
							<p class="number-box clr">
								<a href="" class="nb-left">&#45;</a>
								<input type="text" class="nb-txt" value="소인 1">
								<a href="" class="nb-right">&#43;</a>
							</p>
						</div>
						<div class="item-price">20,000원</div>
					</li>
				</ul>
			</div>
			<!-- 상품 리스트 최대 높이 적용 테스트 -->
			<!-- <div class="tl-outer">
				<ul class="tl-items">
					<li class="tl-name">
						<h4>단일권(오전) 08:30~12:30</h4>
					</li>
					<li>
						<div class="item-number clr">
							<span class="h-ctgr">&#8226; 성인(중학생 이상~)</span>
							<p class="number-box clr">
								<a href="" class="nb-left">&#45;</a>
								<input type="text" class="nb-txt" value="성인 1">
								<a href="" class="nb-right">&#43;</a>
							</p>
						</div>
						<div class="item-price">40,000원</div>
					</li>
					<li>
						<div class="item-number clr">
							<span class="h-ctgr">&#8226; 소인(36개월~초등학생)</span>
							<p class="number-box clr">
								<a href="" class="nb-left">&#45;</a>
								<input type="text" class="nb-txt" value="소인 1">
								<a href="" class="nb-right">&#43;</a>
							</p>
						</div>
						<div class="item-price">20,000원</div>
					</li>
				</ul>
			</div>
			<div class="tl-outer">
				<ul class="tl-items">
					<li class="tl-name">
						<h4>단일권(오전) 08:30~12:30</h4>
					</li>
					<li>
						<div class="item-number clr">
							<span class="h-ctgr">&#8226; 성인(중학생 이상~)</span>
							<p class="number-box clr">
								<a href="" class="nb-left">&#45;</a>
								<input type="text" class="nb-txt" value="성인 1">
								<a href="" class="nb-right">&#43;</a>
							</p>
						</div>
						<div class="item-price">40,000원</div>
					</li>
					<li>
						<div class="item-number clr">
							<span class="h-ctgr">&#8226; 소인(36개월~초등학생)</span>
							<p class="number-box clr">
								<a href="" class="nb-left">&#45;</a>
								<input type="text" class="nb-txt" value="소인 1">
								<a href="" class="nb-right">&#43;</a>
							</p>
						</div>
						<div class="item-price">20,000원</div>
					</li>
				</ul>
			</div>
			<div class="tl-outer">
				<ul class="tl-items">
					<li class="tl-name">
						<h4>단일권(오전) 08:30~12:30</h4>
					</li>
					<li>
						<div class="item-number clr">
							<span class="h-ctgr">&#8226; 성인(중학생 이상~)</span>
							<p class="number-box clr">
								<a href="" class="nb-left">&#45;</a>
								<input type="text" class="nb-txt" value="성인 1">
								<a href="" class="nb-right">&#43;</a>
							</p>
						</div>
						<div class="item-price">40,000원</div>
					</li>
					<li>
						<div class="item-number clr">
							<span class="h-ctgr">&#8226; 소인(36개월~초등학생)</span>
							<p class="number-box clr">
								<a href="" class="nb-left">&#45;</a>
								<input type="text" class="nb-txt" value="소인 1">
								<a href="" class="nb-right">&#43;</a>
							</p>
						</div>
						<div class="item-price">20,000원</div>
					</li>
				</ul>
			</div> -->
			<!-- 상품아이템 끝 -->

		</div>
	</section>
</div>
<div class="list_btn_wrap"><a href="#">총 결제 금액 (140,000원)</a></div>
</body>
</html>

